In [1]:
import sys
import os
from pprint import pprint
sys.path.append(os.path.abspath("../../../"))
import warnings
warnings.filterwarnings('ignore')
from IPython.display import display, HTML
from IPython.display import Markdown
import ipywidgets as iw
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf

In [2]:
import usure.common.logging as usurelogging
from usure.config import config
from usure.classification.infrastructure import (
     BasicSentenceCleaner 
    ,FileLabeledCommentsDao
    ,FileWordVectorsRep)
from usure.classification.core import SvmLab, ClassifierInput, LabReport
from usure.classification.infrastructure import FileModelDao
import usure.classification.ui.utils as ui

Using TensorFlow backend.

In [3]:
%%javascript
IPython.OutputArea.prototype._should_scroll = lines => false

In [4]:
pd.set_option('colheader_justify', 'left')
pd.set_option('display.max_colwidth', 200)

In [5]:
cleaner = BasicSentenceCleaner(config.assets)
comments_dao = FileLabeledCommentsDao(config.classification, cleaner)
wv_rep = FileWordVectorsRep(config.embeddings)
model_dao = FileModelDao(config.models)
comments = comments_dao.get("intertass-CR-train-tagged.xml")

In [6]:
def classification_lab_report(word_vector_no, word_vector_name, lab):
    display(Markdown(f'## {word_vector_no}. Creating models with embeddings: {word_vector_name}'))
    lab_report = lab.train_by_stratifiedkfold(folds=10)
    return lab_report

def model_architecture_summary(lab_report):
    display(Markdown(f'### Mean Accuracies and losses'))
    display(lab_report.summary)
    display(Markdown(f'### Accuracies and losses by Stratified KFold (folds with balanced class distributions)'))
    model_reports_df = ui.model_reports_to_DataFrame(lab_report.model_reports)
    display(model_reports_df) 
    
def show_statistics_by_model(word_vector_no, word_vector_name, lab_report):
    """Shows statistics by models created by every folds"""
    display(Markdown(f'## {word_vector_no}. {word_vector_name}'))
    for fold_no, model_report in enumerate(lab_report.model_reports):
        display(Markdown(f'### Fold number: {fold_no+1}. Name: {model_report.name}'))
        ui.plot_learning_curves_if_epoches(model_report)
        display(Markdown(f'### Training'))
        print(model_report.training.classification_report)
        confu_mtx = model_report.training.confusion_matrix
        display(confu_mtx)
        display(Markdown(f'### Validation'))
        print(model_report.validation.classification_report)
        confu_mtx = model_report.validation.confusion_matrix
        display(confu_mtx)

In [7]:
#%matplotlib notebook
display(Markdown(f'# Support Vector Machine'))
word_vectors = wv_rep.get_all()
word_vector_names = []
lab_reports = []
#word_vectors = [word_vectors.__next__()] #comment!!!!!
for i, word_vector in enumerate(word_vectors):    
    lab = SvmLab(ClassifierInput(comments, word_vector), model_dao)
    lab_report = classification_lab_report(i+1, word_vector.name, lab)
    model_architecture_summary(lab_report)
    word_vector_names.append(word_vector.name)
    lab_reports.append(lab_report)
    
for i, word_vector_name in enumerate(word_vector_names): 
    lab_report = lab_reports[i]
    show_statistics_by_model(i+1, word_vector_name, lab_report)

# Support Vector Machine

## 1. Creating models with embeddings: CorpusFBCR2013.txt.usu.bw.kvs

### Mean Accuracies and losses

   tra_acc_mean  val_acc_mean  tra_acc_stdev  val_acc_stdev
0  0.882501      0.402498      0.000546       0.011378

### Accuracies and losses by Stratified KFold (folds with balanced class distributions)

  model name                         train_acc  train_loss  val_acc   val_loss
0  f35ec38febca42acad320bdf27a9f879  0.883008   1.971054    0.414634  1.271860
1  86b2027a473b4a07865c5fe2aa5ba937  0.883171   1.722321    0.382716  1.312116
2  adbb53f409714830b10873d4d2f9df00  0.883171   2.709884    0.407407  1.320930
3  fb6f94555bc144b8ab9d03e794938b3a  0.883171   2.538642    0.407407  1.302506
4  66c965d8dc0d46de88c05224b95dbdb2  0.881944   1.285825    0.387500  1.301852
5  2162111d932e4d95bac48e3a2fc461ba  0.882108   1.647871    0.392405  1.299050
6  f8820d0431c645ec9bd066001075a9d9  0.882108   1.558917    0.417722  1.262025
7  1bc25bc021994059aeba2b1032c04f39  0.882108   1.227342    0.405063  1.280462
8  50d0c52506e94480b8ed79c16200207d  0.882108   1.070847    0.405063  1.279162
9  63a3b2d750934f01baddf6ca57e7a921  0.882108   0.727978    0.405063  1.278975

## 2. Creating models with embeddings: CorpusFBCR2013.txt.usu.sw.kvs

### Mean Accuracies and losses

   tra_acc_mean  val_acc_mean  tra_acc_stdev  val_acc_stdev
0  0.882501      0.402497      0.000546       0.011475

### Accuracies and losses by Stratified KFold (folds with balanced class distributions)

  model name                         train_acc  train_loss  val_acc   val_loss
0  8164ef803e56484489c17857ed5f9d17  0.883008   2.732668    0.402439  1.329580
1  8f072454043d4a94898fe72903a553b6  0.883171   1.125347    0.395062  1.296860
2  ebc08e524e8240b68059295832ae00cf  0.883171   2.362406    0.395062  1.306755
3  1d43f43381a54d7c85641fd61a4420e5  0.883171   2.455497    0.407407  1.301634
4  21fdd094848d449f8d1770869f79e7e9  0.881944   1.149300    0.425000  1.245760
5  a045135cc3474f4e9562b0d36e73c128  0.882108   1.662789    0.392405  1.312580
6  646c984edb3c490899f5153d504d4d43  0.882108   0.651747    0.392405  1.297498
7  6b24d351a9014c3893edfa52363244fa  0.882108   0.995648    0.405063  1.281383
8  3a22825a847d444dbf51fdefd34a24c4  0.882108   0.791798    0.392405  1.297514
9  d177747544324924b46a514fa2b05fdb  0.882108   1.554656    0.417722  1.263147

## 3. Creating models with embeddings: tweets.txt.usu.bw.kvs

### Mean Accuracies and losses

   tra_acc_mean  val_acc_mean  tra_acc_stdev  val_acc_stdev
0  0.882501      0.40256       0.000546       0.013596

### Accuracies and losses by Stratified KFold (folds with balanced class distributions)

  model name                         train_acc  train_loss  val_acc   val_loss
0  ceb2e95a40bc4a3d872061d21f4f28e5  0.883008   1.600024    0.414634  1.273552
1  4cd9d009331b45258f3134ca0527f240  0.883171   1.741728    0.382716  1.312064
2  aa700fd96a4c48f4be3f86e768f40e97  0.883171   1.277178    0.395062  1.304950
3  988049429d824051bdd850a92fc7bbfb  0.883171   1.745214    0.382716  1.312141
4  9739ef218c4040a88dc5e4cd79fcee9e  0.881944   1.479429    0.412500  1.276006
5  92fb06af96b14bf3a472c879941ef822  0.882108   1.508110    0.417722  1.267946
6  68c8282811fb4b2a9ac5856b8511d751  0.882108   1.107159    0.392405  1.297431
7  4ff5bda2b22c48848dde4145feda1b1d  0.882108   1.660873    0.417722  1.266594
8  1c53537ade9644e7a0b85deb4771af63  0.882108   0.954693    0.405063  1.279808
9  fc8feb6f273f4cc19c4bd509396c2da9  0.882108   1.075154    0.405063  1.278884

## 4. Creating models with embeddings: tweets.txt.usu.sw.kvs

### Mean Accuracies and losses

   tra_acc_mean  val_acc_mean  tra_acc_stdev  val_acc_stdev
0  0.882501      0.402467      0.000546       0.015545

### Accuracies and losses by Stratified KFold (folds with balanced class distributions)

  model name                         train_acc  train_loss  val_acc   val_loss
0  f7599acea88f4fc1882944e7a9c2fe10  0.883008   1.510770    0.414634  1.274644
1  4d7bfb27c5364f53b797e581f9a5b6a6  0.883171   2.372369    0.407407  1.297023
2  0a81b1af827848c780a62a3d61d5a963  0.883171   1.578643    0.419753  1.261637
3  8d7165b21aae47ccbf34d04413a9091d  0.883171   2.711358    0.382716  1.338694
4  1ce63a6b7f56421bb0de4a5d67a64923  0.881944   1.246655    0.387500  1.309047
5  46f5148a838948608411e3104b0c6126  0.882108   1.403681    0.392405  1.302462
6  c385be1c873d48fdb69ea13864c2a4cd  0.882108   1.398218    0.430380  1.243136
7  0768b446b57e4de08593f15e4fe4fd1d  0.882108   1.058480    0.392405  1.297442
8  f4912bdba94d4ee5bd290034fc4c3fd6  0.882108   1.715527    0.405063  1.278546
9  c1131dfc5e55406cab8f4a72de858db7  0.882108   2.713047    0.392405  1.313040

## 5. Creating models with embeddings: SBW-vectors-300-min5.bin

### Mean Accuracies and losses

   tra_acc_mean  val_acc_mean  tra_acc_stdev  val_acc_stdev
0  0.882501      0.402467      0.000546       0.013195

### Accuracies and losses by Stratified KFold (folds with balanced class distributions)

  model name                         train_acc  train_loss  val_acc   val_loss
0  44628b2e341444d08d90b647c1fd9aca  0.883008   1.268651    0.414634  1.273330
1  4fc44d2aa70047ebb95789a565239270  0.883171   1.689808    0.395062  1.294381
2  8c871bf932c34e1495ebfa313477d279  0.883171   1.174340    0.407407  1.282024
3  086b189d7a694461882aa044bc09a00a  0.883171   1.104606    0.395062  1.293980
4  2241cfd1f5e7436fa2dbb669dc27fb99  0.881944   0.865832    0.412500  1.263925
5  61e946ee193249c49e628a1d196daeb4  0.882108   2.177575    0.392405  1.313127
6  71d0b774dec0451995bcb512bfa0d659  0.882108   1.073855    0.392405  1.297900
7  d09ffe1dc0f84d1199b2ea93071c4cd5  0.882108   2.298721    0.430380  1.272857
8  b19bf81826e54942a9b1a6f70f2ea0b7  0.882108   1.501458    0.392405  1.297456
9  c375e04fdf7546eba9a4eef8c8ca3360  0.882108   1.138001    0.392405  1.308650

## 1. CorpusFBCR2013.txt.usu.bw.kvs

### Fold number: 1. Name: f35ec38febca42acad320bdf27a9f879

### Training

              precision    recall  f1-score   support

           N       0.77      1.00      0.87       279
         NEU       0.00      0.00      0.00        84
        NONE       0.99      1.00      1.00       148
           P       1.00      1.00      1.00       207

   micro avg       0.88      0.88      0.88       718
   macro avg       0.69      0.75      0.72       718
weighted avg       0.79      0.88      0.83       718

           N    NEU  NONE  P
Pred/True
N          279  0      0     0
NEU         83  0      1     0
NONE         0  0    148     0
P            0  0      0   207

### Validation

              precision    recall  f1-score   support

           N       0.40      1.00      0.57        32
         NEU       0.00      0.00      0.00        10
        NONE       1.00      0.12      0.21        17
           P       0.00      0.00      0.00        23

   micro avg       0.41      0.41      0.41        82
   macro avg       0.35      0.28      0.20        82
weighted avg       0.36      0.41      0.27        82

           N   NEU  NONE  P
Pred/True
N          32  0    0     0
NEU        10  0    0     0
NONE       15  0    2     0
P          23  0    0     0

### Fold number: 2. Name: 86b2027a473b4a07865c5fe2aa5ba937

### Training

              precision    recall  f1-score   support

           N       0.77      1.00      0.87       280
         NEU       0.00      0.00      0.00        84
        NONE       0.99      1.00      1.00       148
           P       1.00      1.00      1.00       207

   micro avg       0.88      0.88      0.88       719
   macro avg       0.69      0.75      0.72       719
weighted avg       0.79      0.88      0.83       719

           N    NEU  NONE  P
Pred/True
N          280  0      0     0
NEU         83  0      1     0
NONE         0  0    148     0
P            0  0      0   207

### Validation

              precision    recall  f1-score   support

           N       0.38      1.00      0.55        31
         NEU       0.00      0.00      0.00        10
        NONE       0.00      0.00      0.00        17
           P       0.00      0.00      0.00        23

   micro avg       0.38      0.38      0.38        81
   macro avg       0.10      0.25      0.14        81
weighted avg       0.15      0.38      0.21        81

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU        10  0    0     0
NONE       17  0    0     0
P          23  0    0     0

### Fold number: 3. Name: adbb53f409714830b10873d4d2f9df00

### Training

              precision    recall  f1-score   support

           N       0.77      1.00      0.87       280
         NEU       0.00      0.00      0.00        84
        NONE       0.99      1.00      1.00       148
           P       1.00      1.00      1.00       207

   micro avg       0.88      0.88      0.88       719
   macro avg       0.69      0.75      0.72       719
weighted avg       0.79      0.88      0.83       719

           N    NEU  NONE  P
Pred/True
N          280  0      0     0
NEU         83  0      1     0
NONE         0  0    148     0
P            0  0      0   207

### Validation

              precision    recall  f1-score   support

           N       0.39      1.00      0.56        31
         NEU       0.00      0.00      0.00        10
        NONE       1.00      0.12      0.21        17
           P       0.00      0.00      0.00        23

   micro avg       0.41      0.41      0.41        81
   macro avg       0.35      0.28      0.19        81
weighted avg       0.36      0.41      0.26        81

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU        10  0    0     0
NONE       15  0    2     0
P          23  0    0     0

### Fold number: 4. Name: fb6f94555bc144b8ab9d03e794938b3a

### Training

              precision    recall  f1-score   support

           N       0.77      1.00      0.87       280
         NEU       0.00      0.00      0.00        84
        NONE       0.99      1.00      1.00       148
           P       1.00      1.00      1.00       207

   micro avg       0.88      0.88      0.88       719
   macro avg       0.69      0.75      0.72       719
weighted avg       0.79      0.88      0.83       719

           N    NEU  NONE  P
Pred/True
N          280  0      0     0
NEU         83  0      1     0
NONE         0  0    148     0
P            0  0      0   207

### Validation

              precision    recall  f1-score   support

           N       0.39      1.00      0.56        31
         NEU       0.00      0.00      0.00        10
        NONE       1.00      0.12      0.21        17
           P       0.00      0.00      0.00        23

   micro avg       0.41      0.41      0.41        81
   macro avg       0.35      0.28      0.19        81
weighted avg       0.36      0.41      0.26        81

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU        10  0    0     0
NONE       15  0    2     0
P          23  0    0     0

### Fold number: 5. Name: 66c965d8dc0d46de88c05224b95dbdb2

### Training

              precision    recall  f1-score   support

           N       0.77      1.00      0.87       280
         NEU       0.00      0.00      0.00        85
        NONE       0.99      1.00      1.00       148
           P       1.00      1.00      1.00       207

   micro avg       0.88      0.88      0.88       720
   macro avg       0.69      0.75      0.72       720
weighted avg       0.79      0.88      0.83       720

           N    NEU  NONE  P
Pred/True
N          280  0      0     0
NEU         84  0      1     0
NONE         0  0    148     0
P            0  0      0   207

### Validation

              precision    recall  f1-score   support

           N       0.39      1.00      0.56        31
         NEU       0.00      0.00      0.00         9
        NONE       0.00      0.00      0.00        17
           P       0.00      0.00      0.00        23

   micro avg       0.39      0.39      0.39        80
   macro avg       0.10      0.25      0.14        80
weighted avg       0.15      0.39      0.22        80

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU         9  0    0     0
NONE       17  0    0     0
P          23  0    0     0

### Fold number: 6. Name: 2162111d932e4d95bac48e3a2fc461ba

### Training

              precision    recall  f1-score   support

           N       0.77      1.00      0.87       280
         NEU       0.00      0.00      0.00        85
        NONE       1.00      1.00      1.00       149
           P       1.00      1.00      1.00       207

   micro avg       0.88      0.88      0.88       721
   macro avg       0.69      0.75      0.72       721
weighted avg       0.79      0.88      0.83       721

           N    NEU  NONE  P
Pred/True
N          280  0      0     0
NEU         85  0      0     0
NONE         0  0    149     0
P            0  0      0   207

### Validation

              precision    recall  f1-score   support

           N       0.40      1.00      0.57        31
         NEU       0.00      0.00      0.00         9
        NONE       0.00      0.00      0.00        16
           P       0.00      0.00      0.00        23

   micro avg       0.39      0.39      0.39        79
   macro avg       0.10      0.25      0.14        79
weighted avg       0.16      0.39      0.22        79

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU         8  0    1     0
NONE       16  0    0     0
P          23  0    0     0

### Fold number: 7. Name: f8820d0431c645ec9bd066001075a9d9

### Training

              precision    recall  f1-score   support

           N       0.77      1.00      0.87       280
         NEU       0.00      0.00      0.00        85
        NONE       0.99      1.00      1.00       149
           P       1.00      1.00      1.00       207

   micro avg       0.88      0.88      0.88       721
   macro avg       0.69      0.75      0.72       721
weighted avg       0.79      0.88      0.83       721

           N    NEU  NONE  P
Pred/True
N          280  0      0     0
NEU         84  0      1     0
NONE         0  0    149     0
P            0  0      0   207

### Validation

              precision    recall  f1-score   support

           N       0.40      1.00      0.57        31
         NEU       0.00      0.00      0.00         9
        NONE       1.00      0.12      0.22        16
           P       0.00      0.00      0.00        23

   micro avg       0.42      0.42      0.42        79
   macro avg       0.35      0.28      0.20        79
weighted avg       0.36      0.42      0.27        79

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU         9  0    0     0
NONE       14  0    2     0
P          23  0    0     0

### Fold number: 8. Name: 1bc25bc021994059aeba2b1032c04f39

### Training

              precision    recall  f1-score   support

           N       0.77      1.00      0.87       280
         NEU       0.00      0.00      0.00        85
        NONE       0.99      1.00      1.00       149
           P       1.00      1.00      1.00       207

   micro avg       0.88      0.88      0.88       721
   macro avg       0.69      0.75      0.72       721
weighted avg       0.79      0.88      0.83       721

           N    NEU  NONE  P
Pred/True
N          280  0      0     0
NEU         84  0      1     0
NONE         0  0    149     0
P            0  0      0   207

### Validation

              precision    recall  f1-score   support

           N       0.40      1.00      0.57        31
         NEU       0.00      0.00      0.00         9
        NONE       1.00      0.06      0.12        16
           P       0.00      0.00      0.00        23

   micro avg       0.41      0.41      0.41        79
   macro avg       0.35      0.27      0.17        79
weighted avg       0.36      0.41      0.25        79

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU         9  0    0     0
NONE       15  0    1     0
P          23  0    0     0

### Fold number: 9. Name: 50d0c52506e94480b8ed79c16200207d

### Training

              precision    recall  f1-score   support

           N       0.77      1.00      0.87       280
         NEU       0.00      0.00      0.00        85
        NONE       0.99      1.00      1.00       149
           P       1.00      1.00      1.00       207

   micro avg       0.88      0.88      0.88       721
   macro avg       0.69      0.75      0.72       721
weighted avg       0.79      0.88      0.83       721

           N    NEU  NONE  P
Pred/True
N          280  0      0     0
NEU         84  0      1     0
NONE         0  0    149     0
P            0  0      0   207

### Validation

              precision    recall  f1-score   support

           N       0.40      1.00      0.57        31
         NEU       0.00      0.00      0.00         9
        NONE       1.00      0.06      0.12        16
           P       0.00      0.00      0.00        23

   micro avg       0.41      0.41      0.41        79
   macro avg       0.35      0.27      0.17        79
weighted avg       0.36      0.41      0.25        79

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU         9  0    0     0
NONE       15  0    1     0
P          23  0    0     0

### Fold number: 10. Name: 63a3b2d750934f01baddf6ca57e7a921

### Training

              precision    recall  f1-score   support

           N       0.77      1.00      0.87       280
         NEU       0.00      0.00      0.00        85
        NONE       0.99      1.00      1.00       149
           P       1.00      1.00      1.00       207

   micro avg       0.88      0.88      0.88       721
   macro avg       0.69      0.75      0.72       721
weighted avg       0.79      0.88      0.83       721

           N    NEU  NONE  P
Pred/True
N          280  0      0     0
NEU         84  0      1     0
NONE         0  0    149     0
P            0  0      0   207

### Validation

              precision    recall  f1-score   support

           N       0.40      1.00      0.57        31
         NEU       0.00      0.00      0.00         9
        NONE       1.00      0.06      0.12        16
           P       0.00      0.00      0.00        23

   micro avg       0.41      0.41      0.41        79
   macro avg       0.35      0.27      0.17        79
weighted avg       0.36      0.41      0.25        79

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU         9  0    0     0
NONE       15  0    1     0
P          23  0    0     0

## 2. CorpusFBCR2013.txt.usu.sw.kvs

### Fold number: 1. Name: 8164ef803e56484489c17857ed5f9d17

### Training

              precision    recall  f1-score   support

           N       0.77      1.00      0.87       279
         NEU       0.00      0.00      0.00        84
        NONE       0.99      1.00      1.00       148
           P       1.00      1.00      1.00       207

   micro avg       0.88      0.88      0.88       718
   macro avg       0.69      0.75      0.72       718
weighted avg       0.79      0.88      0.83       718

           N    NEU  NONE  P
Pred/True
N          279  0      0     0
NEU         83  0      1     0
NONE         0  0    148     0
P            0  0      0   207

### Validation

              precision    recall  f1-score   support

           N       0.40      1.00      0.57        32
         NEU       0.00      0.00      0.00        10
        NONE       1.00      0.06      0.11        17
           P       0.00      0.00      0.00        23

   micro avg       0.40      0.40      0.40        82
   macro avg       0.35      0.26      0.17        82
weighted avg       0.36      0.40      0.24        82

           N   NEU  NONE  P
Pred/True
N          32  0    0     0
NEU        10  0    0     0
NONE       16  0    1     0
P          23  0    0     0

### Fold number: 2. Name: 8f072454043d4a94898fe72903a553b6

### Training

              precision    recall  f1-score   support

           N       0.77      1.00      0.87       280
         NEU       0.00      0.00      0.00        84
        NONE       0.99      1.00      1.00       148
           P       1.00      1.00      1.00       207

   micro avg       0.88      0.88      0.88       719
   macro avg       0.69      0.75      0.72       719
weighted avg       0.79      0.88      0.83       719

           N    NEU  NONE  P
Pred/True
N          280  0      0     0
NEU         83  0      1     0
NONE         0  0    148     0
P            0  0      0   207

### Validation

              precision    recall  f1-score   support

           N       0.39      1.00      0.56        31
         NEU       0.00      0.00      0.00        10
        NONE       1.00      0.06      0.11        17
           P       0.00      0.00      0.00        23

   micro avg       0.40      0.40      0.40        81
   macro avg       0.35      0.26      0.17        81
weighted avg       0.36      0.40      0.24        81

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU        10  0    0     0
NONE       16  0    1     0
P          23  0    0     0

### Fold number: 3. Name: ebc08e524e8240b68059295832ae00cf

### Training

              precision    recall  f1-score   support

           N       0.77      1.00      0.87       280
         NEU       0.00      0.00      0.00        84
        NONE       0.99      1.00      1.00       148
           P       1.00      1.00      1.00       207

   micro avg       0.88      0.88      0.88       719
   macro avg       0.69      0.75      0.72       719
weighted avg       0.79      0.88      0.83       719

           N    NEU  NONE  P
Pred/True
N          280  0      0     0
NEU         83  0      1     0
NONE         0  0    148     0
P            0  0      0   207

### Validation

              precision    recall  f1-score   support

           N       0.39      1.00      0.56        31
         NEU       0.00      0.00      0.00        10
        NONE       1.00      0.06      0.11        17
           P       0.00      0.00      0.00        23

   micro avg       0.40      0.40      0.40        81
   macro avg       0.35      0.26      0.17        81
weighted avg       0.36      0.40      0.24        81

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU        10  0    0     0
NONE       16  0    1     0
P          23  0    0     0

### Fold number: 4. Name: 1d43f43381a54d7c85641fd61a4420e5

### Training

              precision    recall  f1-score   support

           N       0.77      1.00      0.87       280
         NEU       0.00      0.00      0.00        84
        NONE       0.99      1.00      1.00       148
           P       1.00      1.00      1.00       207

   micro avg       0.88      0.88      0.88       719
   macro avg       0.69      0.75      0.72       719
weighted avg       0.79      0.88      0.83       719

           N    NEU  NONE  P
Pred/True
N          280  0      0     0
NEU         83  0      1     0
NONE         0  0    148     0
P            0  0      0   207

### Validation

              precision    recall  f1-score   support

           N       0.39      1.00      0.56        31
         NEU       0.00      0.00      0.00        10
        NONE       1.00      0.12      0.21        17
           P       0.00      0.00      0.00        23

   micro avg       0.41      0.41      0.41        81
   macro avg       0.35      0.28      0.19        81
weighted avg       0.36      0.41      0.26        81

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU        10  0    0     0
NONE       15  0    2     0
P          23  0    0     0

### Fold number: 5. Name: 21fdd094848d449f8d1770869f79e7e9

### Training

              precision    recall  f1-score   support

           N       0.77      1.00      0.87       280
         NEU       0.00      0.00      0.00        85
        NONE       0.99      1.00      1.00       148
           P       1.00      1.00      1.00       207

   micro avg       0.88      0.88      0.88       720
   macro avg       0.69      0.75      0.72       720
weighted avg       0.79      0.88      0.83       720

           N    NEU  NONE  P
Pred/True
N          280  0      0     0
NEU         84  0      1     0
NONE         0  0    148     0
P            0  0      0   207

### Validation

              precision    recall  f1-score   support

           N       0.40      1.00      0.57        31
         NEU       0.00      0.00      0.00         9
        NONE       1.00      0.18      0.30        17
           P       0.00      0.00      0.00        23

   micro avg       0.42      0.42      0.42        80
   macro avg       0.35      0.29      0.22        80
weighted avg       0.37      0.42      0.29        80

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU         9  0    0     0
NONE       14  0    3     0
P          23  0    0     0

### Fold number: 6. Name: a045135cc3474f4e9562b0d36e73c128

### Training

              precision    recall  f1-score   support

           N       0.77      1.00      0.87       280
         NEU       0.00      0.00      0.00        85
        NONE       1.00      1.00      1.00       149
           P       1.00      1.00      1.00       207

   micro avg       0.88      0.88      0.88       721
   macro avg       0.69      0.75      0.72       721
weighted avg       0.79      0.88      0.83       721

           N    NEU  NONE  P
Pred/True
N          280  0      0     0
NEU         85  0      0     0
NONE         0  0    149     0
P            0  0      0   207

### Validation

              precision    recall  f1-score   support

           N       0.40      1.00      0.57        31
         NEU       0.00      0.00      0.00         9
        NONE       0.00      0.00      0.00        16
           P       0.00      0.00      0.00        23

   micro avg       0.39      0.39      0.39        79
   macro avg       0.10      0.25      0.14        79
weighted avg       0.16      0.39      0.22        79

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU         8  0    1     0
NONE       16  0    0     0
P          23  0    0     0

### Fold number: 7. Name: 646c984edb3c490899f5153d504d4d43

### Training

              precision    recall  f1-score   support

           N       0.77      1.00      0.87       280
         NEU       0.00      0.00      0.00        85
        NONE       0.99      1.00      1.00       149
           P       1.00      1.00      1.00       207

   micro avg       0.88      0.88      0.88       721
   macro avg       0.69      0.75      0.72       721
weighted avg       0.79      0.88      0.83       721

           N    NEU  NONE  P
Pred/True
N          280  0      0     0
NEU         84  0      1     0
NONE         0  0    149     0
P            0  0      0   207

### Validation

              precision    recall  f1-score   support

           N       0.39      1.00      0.56        31
         NEU       0.00      0.00      0.00         9
        NONE       0.00      0.00      0.00        16
           P       0.00      0.00      0.00        23

   micro avg       0.39      0.39      0.39        79
   macro avg       0.10      0.25      0.14        79
weighted avg       0.15      0.39      0.22        79

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU         9  0    0     0
NONE       16  0    0     0
P          23  0    0     0

### Fold number: 8. Name: 6b24d351a9014c3893edfa52363244fa

### Training

              precision    recall  f1-score   support

           N       0.77      1.00      0.87       280
         NEU       0.00      0.00      0.00        85
        NONE       0.99      1.00      1.00       149
           P       1.00      1.00      1.00       207

   micro avg       0.88      0.88      0.88       721
   macro avg       0.69      0.75      0.72       721
weighted avg       0.79      0.88      0.83       721

           N    NEU  NONE  P
Pred/True
N          280  0      0     0
NEU         84  0      1     0
NONE         0  0    149     0
P            0  0      0   207

### Validation

              precision    recall  f1-score   support

           N       0.40      1.00      0.57        31
         NEU       0.00      0.00      0.00         9
        NONE       1.00      0.06      0.12        16
           P       0.00      0.00      0.00        23

   micro avg       0.41      0.41      0.41        79
   macro avg       0.35      0.27      0.17        79
weighted avg       0.36      0.41      0.25        79

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU         9  0    0     0
NONE       15  0    1     0
P          23  0    0     0

### Fold number: 9. Name: 3a22825a847d444dbf51fdefd34a24c4

### Training

              precision    recall  f1-score   support

           N       0.77      1.00      0.87       280
         NEU       0.00      0.00      0.00        85
        NONE       0.99      1.00      1.00       149
           P       1.00      1.00      1.00       207

   micro avg       0.88      0.88      0.88       721
   macro avg       0.69      0.75      0.72       721
weighted avg       0.79      0.88      0.83       721

           N    NEU  NONE  P
Pred/True
N          280  0      0     0
NEU         84  0      1     0
NONE         0  0    149     0
P            0  0      0   207

### Validation

              precision    recall  f1-score   support

           N       0.39      1.00      0.56        31
         NEU       0.00      0.00      0.00         9
        NONE       0.00      0.00      0.00        16
           P       0.00      0.00      0.00        23

   micro avg       0.39      0.39      0.39        79
   macro avg       0.10      0.25      0.14        79
weighted avg       0.15      0.39      0.22        79

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU         9  0    0     0
NONE       16  0    0     0
P          23  0    0     0

### Fold number: 10. Name: d177747544324924b46a514fa2b05fdb

### Training

              precision    recall  f1-score   support

           N       0.77      1.00      0.87       280
         NEU       0.00      0.00      0.00        85
        NONE       0.99      1.00      1.00       149
           P       1.00      1.00      1.00       207

   micro avg       0.88      0.88      0.88       721
   macro avg       0.69      0.75      0.72       721
weighted avg       0.79      0.88      0.83       721

           N    NEU  NONE  P
Pred/True
N          280  0      0     0
NEU         84  0      1     0
NONE         0  0    149     0
P            0  0      0   207

### Validation

              precision    recall  f1-score   support

           N       0.40      1.00      0.57        31
         NEU       0.00      0.00      0.00         9
        NONE       1.00      0.12      0.22        16
           P       0.00      0.00      0.00        23

   micro avg       0.42      0.42      0.42        79
   macro avg       0.35      0.28      0.20        79
weighted avg       0.36      0.42      0.27        79

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU         9  0    0     0
NONE       14  0    2     0
P          23  0    0     0

## 3. tweets.txt.usu.bw.kvs

### Fold number: 1. Name: ceb2e95a40bc4a3d872061d21f4f28e5

### Training

              precision    recall  f1-score   support

           N       0.77      1.00      0.87       279
         NEU       0.00      0.00      0.00        84
        NONE       0.99      1.00      1.00       148
           P       1.00      1.00      1.00       207

   micro avg       0.88      0.88      0.88       718
   macro avg       0.69      0.75      0.72       718
weighted avg       0.79      0.88      0.83       718

           N    NEU  NONE  P
Pred/True
N          279  0      0     0
NEU         83  0      1     0
NONE         0  0    148     0
P            0  0      0   207

### Validation

              precision    recall  f1-score   support

           N       0.40      1.00      0.57        32
         NEU       0.00      0.00      0.00        10
        NONE       1.00      0.12      0.21        17
           P       0.00      0.00      0.00        23

   micro avg       0.41      0.41      0.41        82
   macro avg       0.35      0.28      0.20        82
weighted avg       0.36      0.41      0.27        82

           N   NEU  NONE  P
Pred/True
N          32  0    0     0
NEU        10  0    0     0
NONE       15  0    2     0
P          23  0    0     0

### Fold number: 2. Name: 4cd9d009331b45258f3134ca0527f240

### Training

              precision    recall  f1-score   support

           N       0.77      1.00      0.87       280
         NEU       0.00      0.00      0.00        84
        NONE       0.99      1.00      1.00       148
           P       1.00      1.00      1.00       207

   micro avg       0.88      0.88      0.88       719
   macro avg       0.69      0.75      0.72       719
weighted avg       0.79      0.88      0.83       719

           N    NEU  NONE  P
Pred/True
N          280  0      0     0
NEU         83  0      1     0
NONE         0  0    148     0
P            0  0      0   207

### Validation

              precision    recall  f1-score   support

           N       0.38      1.00      0.55        31
         NEU       0.00      0.00      0.00        10
        NONE       0.00      0.00      0.00        17
           P       0.00      0.00      0.00        23

   micro avg       0.38      0.38      0.38        81
   macro avg       0.10      0.25      0.14        81
weighted avg       0.15      0.38      0.21        81

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU        10  0    0     0
NONE       17  0    0     0
P          23  0    0     0

### Fold number: 3. Name: aa700fd96a4c48f4be3f86e768f40e97

### Training

              precision    recall  f1-score   support

           N       0.77      1.00      0.87       280
         NEU       0.00      0.00      0.00        84
        NONE       1.00      1.00      1.00       148
           P       1.00      1.00      1.00       207

   micro avg       0.88      0.88      0.88       719
   macro avg       0.69      0.75      0.72       719
weighted avg       0.79      0.88      0.83       719

           N    NEU  NONE  P
Pred/True
N          280  0      0     0
NEU         84  0      0     0
NONE         0  0    148     0
P            0  0      0   207

### Validation

              precision    recall  f1-score   support

           N       0.39      1.00      0.56        31
         NEU       0.00      0.00      0.00        10
        NONE       0.50      0.06      0.11        17
           P       0.00      0.00      0.00        23

   micro avg       0.40      0.40      0.40        81
   macro avg       0.22      0.26      0.17        81
weighted avg       0.26      0.40      0.24        81

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU         9  0    1     0
NONE       16  0    1     0
P          23  0    0     0

### Fold number: 4. Name: 988049429d824051bdd850a92fc7bbfb

### Training

              precision    recall  f1-score   support

           N       0.77      1.00      0.87       280
         NEU       0.00      0.00      0.00        84
        NONE       0.99      1.00      1.00       148
           P       1.00      1.00      1.00       207

   micro avg       0.88      0.88      0.88       719
   macro avg       0.69      0.75      0.72       719
weighted avg       0.79      0.88      0.83       719

           N    NEU  NONE  P
Pred/True
N          280  0      0     0
NEU         83  0      1     0
NONE         0  0    148     0
P            0  0      0   207

### Validation

              precision    recall  f1-score   support

           N       0.38      1.00      0.55        31
         NEU       0.00      0.00      0.00        10
        NONE       0.00      0.00      0.00        17
           P       0.00      0.00      0.00        23

   micro avg       0.38      0.38      0.38        81
   macro avg       0.10      0.25      0.14        81
weighted avg       0.15      0.38      0.21        81

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU        10  0    0     0
NONE       17  0    0     0
P          23  0    0     0

### Fold number: 5. Name: 9739ef218c4040a88dc5e4cd79fcee9e

### Training

              precision    recall  f1-score   support

           N       0.77      1.00      0.87       280
         NEU       0.00      0.00      0.00        85
        NONE       0.99      1.00      1.00       148
           P       1.00      1.00      1.00       207

   micro avg       0.88      0.88      0.88       720
   macro avg       0.69      0.75      0.72       720
weighted avg       0.79      0.88      0.83       720

           N    NEU  NONE  P
Pred/True
N          280  0      0     0
NEU         84  0      1     0
NONE         0  0    148     0
P            0  0      0   207

### Validation

              precision    recall  f1-score   support

           N       0.40      1.00      0.57        31
         NEU       0.00      0.00      0.00         9
        NONE       1.00      0.12      0.21        17
           P       0.00      0.00      0.00        23

   micro avg       0.41      0.41      0.41        80
   macro avg       0.35      0.28      0.19        80
weighted avg       0.37      0.41      0.27        80

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU         9  0    0     0
NONE       15  0    2     0
P          23  0    0     0

### Fold number: 6. Name: 92fb06af96b14bf3a472c879941ef822

### Training

              precision    recall  f1-score   support

           N       0.77      1.00      0.87       280
         NEU       0.00      0.00      0.00        85
        NONE       0.99      1.00      1.00       149
           P       1.00      1.00      1.00       207

   micro avg       0.88      0.88      0.88       721
   macro avg       0.69      0.75      0.72       721
weighted avg       0.79      0.88      0.83       721

           N    NEU  NONE  P
Pred/True
N          280  0      0     0
NEU         84  0      1     0
NONE         0  0    149     0
P            0  0      0   207

### Validation

              precision    recall  f1-score   support

           N       0.40      1.00      0.57        31
         NEU       0.00      0.00      0.00         9
        NONE       1.00      0.12      0.22        16
           P       0.00      0.00      0.00        23

   micro avg       0.42      0.42      0.42        79
   macro avg       0.35      0.28      0.20        79
weighted avg       0.36      0.42      0.27        79

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU         9  0    0     0
NONE       14  0    2     0
P          23  0    0     0

### Fold number: 7. Name: 68c8282811fb4b2a9ac5856b8511d751

### Training

              precision    recall  f1-score   support

           N       0.77      1.00      0.87       280
         NEU       0.00      0.00      0.00        85
        NONE       0.99      1.00      1.00       149
           P       1.00      1.00      1.00       207

   micro avg       0.88      0.88      0.88       721
   macro avg       0.69      0.75      0.72       721
weighted avg       0.79      0.88      0.83       721

           N    NEU  NONE  P
Pred/True
N          280  0      0     0
NEU         84  0      1     0
NONE         0  0    149     0
P            0  0      0   207

### Validation

              precision    recall  f1-score   support

           N       0.39      1.00      0.56        31
         NEU       0.00      0.00      0.00         9
        NONE       0.00      0.00      0.00        16
           P       0.00      0.00      0.00        23

   micro avg       0.39      0.39      0.39        79
   macro avg       0.10      0.25      0.14        79
weighted avg       0.15      0.39      0.22        79

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU         9  0    0     0
NONE       16  0    0     0
P          23  0    0     0

### Fold number: 8. Name: 4ff5bda2b22c48848dde4145feda1b1d

### Training

              precision    recall  f1-score   support

           N       0.77      1.00      0.87       280
         NEU       0.00      0.00      0.00        85
        NONE       0.99      1.00      1.00       149
           P       1.00      1.00      1.00       207

   micro avg       0.88      0.88      0.88       721
   macro avg       0.69      0.75      0.72       721
weighted avg       0.79      0.88      0.83       721

           N    NEU  NONE  P
Pred/True
N          280  0      0     0
NEU         84  0      1     0
NONE         0  0    149     0
P            0  0      0   207

### Validation

              precision    recall  f1-score   support

           N       0.40      1.00      0.57        31
         NEU       0.00      0.00      0.00         9
        NONE       1.00      0.12      0.22        16
           P       0.00      0.00      0.00        23

   micro avg       0.42      0.42      0.42        79
   macro avg       0.35      0.28      0.20        79
weighted avg       0.36      0.42      0.27        79

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU         9  0    0     0
NONE       14  0    2     0
P          23  0    0     0

### Fold number: 9. Name: 1c53537ade9644e7a0b85deb4771af63

### Training

              precision    recall  f1-score   support

           N       0.77      1.00      0.87       280
         NEU       0.00      0.00      0.00        85
        NONE       0.99      1.00      1.00       149
           P       1.00      1.00      1.00       207

   micro avg       0.88      0.88      0.88       721
   macro avg       0.69      0.75      0.72       721
weighted avg       0.79      0.88      0.83       721

           N    NEU  NONE  P
Pred/True
N          280  0      0     0
NEU         84  0      1     0
NONE         0  0    149     0
P            0  0      0   207

### Validation

              precision    recall  f1-score   support

           N       0.40      1.00      0.57        31
         NEU       0.00      0.00      0.00         9
        NONE       1.00      0.06      0.12        16
           P       0.00      0.00      0.00        23

   micro avg       0.41      0.41      0.41        79
   macro avg       0.35      0.27      0.17        79
weighted avg       0.36      0.41      0.25        79

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU         9  0    0     0
NONE       15  0    1     0
P          23  0    0     0

### Fold number: 10. Name: fc8feb6f273f4cc19c4bd509396c2da9

### Training

              precision    recall  f1-score   support

           N       0.77      1.00      0.87       280
         NEU       0.00      0.00      0.00        85
        NONE       0.99      1.00      1.00       149
           P       1.00      1.00      1.00       207

   micro avg       0.88      0.88      0.88       721
   macro avg       0.69      0.75      0.72       721
weighted avg       0.79      0.88      0.83       721

           N    NEU  NONE  P
Pred/True
N          280  0      0     0
NEU         84  0      1     0
NONE         0  0    149     0
P            0  0      0   207

### Validation

              precision    recall  f1-score   support

           N       0.40      1.00      0.57        31
         NEU       0.00      0.00      0.00         9
        NONE       1.00      0.06      0.12        16
           P       0.00      0.00      0.00        23

   micro avg       0.41      0.41      0.41        79
   macro avg       0.35      0.27      0.17        79
weighted avg       0.36      0.41      0.25        79

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU         9  0    0     0
NONE       15  0    1     0
P          23  0    0     0

## 4. tweets.txt.usu.sw.kvs

### Fold number: 1. Name: f7599acea88f4fc1882944e7a9c2fe10

### Training

              precision    recall  f1-score   support

           N       0.77      1.00      0.87       279
         NEU       0.00      0.00      0.00        84
        NONE       0.99      1.00      1.00       148
           P       1.00      1.00      1.00       207

   micro avg       0.88      0.88      0.88       718
   macro avg       0.69      0.75      0.72       718
weighted avg       0.79      0.88      0.83       718

           N    NEU  NONE  P
Pred/True
N          279  0      0     0
NEU         83  0      1     0
NONE         0  0    148     0
P            0  0      0   207

### Validation

              precision    recall  f1-score   support

           N       0.40      1.00      0.57        32
         NEU       0.00      0.00      0.00        10
        NONE       1.00      0.12      0.21        17
           P       0.00      0.00      0.00        23

   micro avg       0.41      0.41      0.41        82
   macro avg       0.35      0.28      0.20        82
weighted avg       0.36      0.41      0.27        82

           N   NEU  NONE  P
Pred/True
N          32  0    0     0
NEU        10  0    0     0
NONE       15  0    2     0
P          23  0    0     0

### Fold number: 2. Name: 4d7bfb27c5364f53b797e581f9a5b6a6

### Training

              precision    recall  f1-score   support

           N       0.77      1.00      0.87       280
         NEU       0.00      0.00      0.00        84
        NONE       0.99      1.00      1.00       148
           P       1.00      1.00      1.00       207

   micro avg       0.88      0.88      0.88       719
   macro avg       0.69      0.75      0.72       719
weighted avg       0.79      0.88      0.83       719

           N    NEU  NONE  P
Pred/True
N          280  0      0     0
NEU         83  0      1     0
NONE         0  0    148     0
P            0  0      0   207

### Validation

              precision    recall  f1-score   support

           N       0.39      1.00      0.56        31
         NEU       0.00      0.00      0.00        10
        NONE       1.00      0.12      0.21        17
           P       0.00      0.00      0.00        23

   micro avg       0.41      0.41      0.41        81
   macro avg       0.35      0.28      0.19        81
weighted avg       0.36      0.41      0.26        81

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU        10  0    0     0
NONE       15  0    2     0
P          23  0    0     0

### Fold number: 3. Name: 0a81b1af827848c780a62a3d61d5a963

### Training

              precision    recall  f1-score   support

           N       0.77      1.00      0.87       280
         NEU       0.00      0.00      0.00        84
        NONE       0.99      1.00      1.00       148
           P       1.00      1.00      1.00       207

   micro avg       0.88      0.88      0.88       719
   macro avg       0.69      0.75      0.72       719
weighted avg       0.79      0.88      0.83       719

           N    NEU  NONE  P
Pred/True
N          280  0      0     0
NEU         83  0      1     0
NONE         0  0    148     0
P            0  0      0   207

### Validation

              precision    recall  f1-score   support

           N       0.40      1.00      0.57        31
         NEU       0.00      0.00      0.00        10
        NONE       1.00      0.18      0.30        17
           P       0.00      0.00      0.00        23

   micro avg       0.42      0.42      0.42        81
   macro avg       0.35      0.29      0.22        81
weighted avg       0.36      0.42      0.28        81

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU        10  0    0     0
NONE       14  0    3     0
P          23  0    0     0

### Fold number: 4. Name: 8d7165b21aae47ccbf34d04413a9091d

### Training

              precision    recall  f1-score   support

           N       0.77      1.00      0.87       280
         NEU       0.00      0.00      0.00        84
        NONE       0.99      1.00      1.00       148
           P       1.00      1.00      1.00       207

   micro avg       0.88      0.88      0.88       719
   macro avg       0.69      0.75      0.72       719
weighted avg       0.79      0.88      0.83       719

           N    NEU  NONE  P
Pred/True
N          280  0      0     0
NEU         83  0      1     0
NONE         0  0    148     0
P            0  0      0   207

### Validation

              precision    recall  f1-score   support

           N       0.38      1.00      0.55        31
         NEU       0.00      0.00      0.00        10
        NONE       0.00      0.00      0.00        17
           P       0.00      0.00      0.00        23

   micro avg       0.38      0.38      0.38        81
   macro avg       0.10      0.25      0.14        81
weighted avg       0.15      0.38      0.21        81

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU        10  0    0     0
NONE       17  0    0     0
P          23  0    0     0

### Fold number: 5. Name: 1ce63a6b7f56421bb0de4a5d67a64923

### Training

              precision    recall  f1-score   support

           N       0.77      1.00      0.87       280
         NEU       0.00      0.00      0.00        85
        NONE       1.00      1.00      1.00       148
           P       1.00      1.00      1.00       207

   micro avg       0.88      0.88      0.88       720
   macro avg       0.69      0.75      0.72       720
weighted avg       0.79      0.88      0.83       720

           N    NEU  NONE  P
Pred/True
N          280  0      0     0
NEU         85  0      0     0
NONE         0  0    148     0
P            0  0      0   207

### Validation

              precision    recall  f1-score   support

           N       0.39      1.00      0.56        31
         NEU       0.00      0.00      0.00         9
        NONE       0.00      0.00      0.00        17
           P       0.00      0.00      0.00        23

   micro avg       0.39      0.39      0.39        80
   macro avg       0.10      0.25      0.14        80
weighted avg       0.15      0.39      0.22        80

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU         8  0    1     0
NONE       17  0    0     0
P          23  0    0     0

### Fold number: 6. Name: 46f5148a838948608411e3104b0c6126

### Training

              precision    recall  f1-score   support

           N       0.77      1.00      0.87       280
         NEU       0.00      0.00      0.00        85
        NONE       0.99      1.00      1.00       149
           P       1.00      1.00      1.00       207

   micro avg       0.88      0.88      0.88       721
   macro avg       0.69      0.75      0.72       721
weighted avg       0.79      0.88      0.83       721

           N    NEU  NONE  P
Pred/True
N          280  0      0     0
NEU         84  0      1     0
NONE         0  0    149     0
P            0  0      0   207

### Validation

              precision    recall  f1-score   support

           N       0.39      1.00      0.56        31
         NEU       0.00      0.00      0.00         9
        NONE       0.00      0.00      0.00        16
           P       0.00      0.00      0.00        23

   micro avg       0.39      0.39      0.39        79
   macro avg       0.10      0.25      0.14        79
weighted avg       0.15      0.39      0.22        79

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU         9  0    0     0
NONE       16  0    0     0
P          23  0    0     0

### Fold number: 7. Name: c385be1c873d48fdb69ea13864c2a4cd

### Training

              precision    recall  f1-score   support

           N       0.77      1.00      0.87       280
         NEU       0.00      0.00      0.00        85
        NONE       0.99      1.00      1.00       149
           P       1.00      1.00      1.00       207

   micro avg       0.88      0.88      0.88       721
   macro avg       0.69      0.75      0.72       721
weighted avg       0.79      0.88      0.83       721

           N    NEU  NONE  P
Pred/True
N          280  0      0     0
NEU         84  0      1     0
NONE         0  0    149     0
P            0  0      0   207

### Validation

              precision    recall  f1-score   support

           N       0.41      1.00      0.58        31
         NEU       0.00      0.00      0.00         9
        NONE       1.00      0.19      0.32        16
           P       0.00      0.00      0.00        23

   micro avg       0.43      0.43      0.43        79
   macro avg       0.35      0.30      0.22        79
weighted avg       0.36      0.43      0.29        79

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU         9  0    0     0
NONE       13  0    3     0
P          23  0    0     0

### Fold number: 8. Name: 0768b446b57e4de08593f15e4fe4fd1d

### Training

              precision    recall  f1-score   support

           N       0.77      1.00      0.87       280
         NEU       0.00      0.00      0.00        85
        NONE       0.99      1.00      1.00       149
           P       1.00      1.00      1.00       207

   micro avg       0.88      0.88      0.88       721
   macro avg       0.69      0.75      0.72       721
weighted avg       0.79      0.88      0.83       721

           N    NEU  NONE  P
Pred/True
N          280  0      0     0
NEU         84  0      1     0
NONE         0  0    149     0
P            0  0      0   207

### Validation

              precision    recall  f1-score   support

           N       0.39      1.00      0.56        31
         NEU       0.00      0.00      0.00         9
        NONE       0.00      0.00      0.00        16
           P       0.00      0.00      0.00        23

   micro avg       0.39      0.39      0.39        79
   macro avg       0.10      0.25      0.14        79
weighted avg       0.15      0.39      0.22        79

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU         9  0    0     0
NONE       16  0    0     0
P          23  0    0     0

### Fold number: 9. Name: f4912bdba94d4ee5bd290034fc4c3fd6

### Training

              precision    recall  f1-score   support

           N       0.77      1.00      0.87       280
         NEU       0.00      0.00      0.00        85
        NONE       0.99      1.00      1.00       149
           P       1.00      1.00      1.00       207

   micro avg       0.88      0.88      0.88       721
   macro avg       0.69      0.75      0.72       721
weighted avg       0.79      0.88      0.83       721

           N    NEU  NONE  P
Pred/True
N          280  0      0     0
NEU         84  0      1     0
NONE         0  0    149     0
P            0  0      0   207

### Validation

              precision    recall  f1-score   support

           N       0.40      1.00      0.57        31
         NEU       0.00      0.00      0.00         9
        NONE       1.00      0.06      0.12        16
           P       0.00      0.00      0.00        23

   micro avg       0.41      0.41      0.41        79
   macro avg       0.35      0.27      0.17        79
weighted avg       0.36      0.41      0.25        79

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU         9  0    0     0
NONE       15  0    1     0
P          23  0    0     0

### Fold number: 10. Name: c1131dfc5e55406cab8f4a72de858db7

### Training

              precision    recall  f1-score   support

           N       0.77      1.00      0.87       280
         NEU       0.00      0.00      0.00        85
        NONE       0.99      1.00      1.00       149
           P       1.00      1.00      1.00       207

   micro avg       0.88      0.88      0.88       721
   macro avg       0.69      0.75      0.72       721
weighted avg       0.79      0.88      0.83       721

           N    NEU  NONE  P
Pred/True
N          280  0      0     0
NEU         84  0      1     0
NONE         0  0    149     0
P            0  0      0   207

### Validation

              precision    recall  f1-score   support

           N       0.39      1.00      0.56        31
         NEU       0.00      0.00      0.00         9
        NONE       0.00      0.00      0.00        16
           P       0.00      0.00      0.00        23

   micro avg       0.39      0.39      0.39        79
   macro avg       0.10      0.25      0.14        79
weighted avg       0.15      0.39      0.22        79

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU         9  0    0     0
NONE       16  0    0     0
P          23  0    0     0

## 5. SBW-vectors-300-min5.bin

### Fold number: 1. Name: 44628b2e341444d08d90b647c1fd9aca

### Training

              precision    recall  f1-score   support

           N       0.77      1.00      0.87       279
         NEU       0.00      0.00      0.00        84
        NONE       0.99      1.00      1.00       148
           P       1.00      1.00      1.00       207

   micro avg       0.88      0.88      0.88       718
   macro avg       0.69      0.75      0.72       718
weighted avg       0.79      0.88      0.83       718

           N    NEU  NONE  P
Pred/True
N          279  0      0     0
NEU         83  0      1     0
NONE         0  0    148     0
P            0  0      0   207

### Validation

              precision    recall  f1-score   support

           N       0.40      1.00      0.57        32
         NEU       0.00      0.00      0.00        10
        NONE       1.00      0.12      0.21        17
           P       0.00      0.00      0.00        23

   micro avg       0.41      0.41      0.41        82
   macro avg       0.35      0.28      0.20        82
weighted avg       0.36      0.41      0.27        82

           N   NEU  NONE  P
Pred/True
N          32  0    0     0
NEU        10  0    0     0
NONE       15  0    2     0
P          23  0    0     0

### Fold number: 2. Name: 4fc44d2aa70047ebb95789a565239270

### Training

              precision    recall  f1-score   support

           N       0.77      1.00      0.87       280
         NEU       0.00      0.00      0.00        84
        NONE       0.99      1.00      1.00       148
           P       1.00      1.00      1.00       207

   micro avg       0.88      0.88      0.88       719
   macro avg       0.69      0.75      0.72       719
weighted avg       0.79      0.88      0.83       719

           N    NEU  NONE  P
Pred/True
N          280  0      0     0
NEU         83  0      1     0
NONE         0  0    148     0
P            0  0      0   207

### Validation

              precision    recall  f1-score   support

           N       0.39      1.00      0.56        31
         NEU       0.00      0.00      0.00        10
        NONE       1.00      0.06      0.11        17
           P       0.00      0.00      0.00        23

   micro avg       0.40      0.40      0.40        81
   macro avg       0.35      0.26      0.17        81
weighted avg       0.36      0.40      0.24        81

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU        10  0    0     0
NONE       16  0    1     0
P          23  0    0     0

### Fold number: 3. Name: 8c871bf932c34e1495ebfa313477d279

### Training

              precision    recall  f1-score   support

           N       0.77      1.00      0.87       280
         NEU       0.00      0.00      0.00        84
        NONE       0.99      1.00      1.00       148
           P       1.00      1.00      1.00       207

   micro avg       0.88      0.88      0.88       719
   macro avg       0.69      0.75      0.72       719
weighted avg       0.79      0.88      0.83       719

           N    NEU  NONE  P
Pred/True
N          280  0      0     0
NEU         83  0      1     0
NONE         0  0    148     0
P            0  0      0   207

### Validation

              precision    recall  f1-score   support

           N       0.39      1.00      0.56        31
         NEU       0.00      0.00      0.00        10
        NONE       1.00      0.12      0.21        17
           P       0.00      0.00      0.00        23

   micro avg       0.41      0.41      0.41        81
   macro avg       0.35      0.28      0.19        81
weighted avg       0.36      0.41      0.26        81

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU        10  0    0     0
NONE       15  0    2     0
P          23  0    0     0

### Fold number: 4. Name: 086b189d7a694461882aa044bc09a00a

### Training

              precision    recall  f1-score   support

           N       0.77      1.00      0.87       280
         NEU       0.00      0.00      0.00        84
        NONE       0.99      1.00      1.00       148
           P       1.00      1.00      1.00       207

   micro avg       0.88      0.88      0.88       719
   macro avg       0.69      0.75      0.72       719
weighted avg       0.79      0.88      0.83       719

           N    NEU  NONE  P
Pred/True
N          280  0      0     0
NEU         83  0      1     0
NONE         0  0    148     0
P            0  0      0   207

### Validation

              precision    recall  f1-score   support

           N       0.39      1.00      0.56        31
         NEU       0.00      0.00      0.00        10
        NONE       1.00      0.06      0.11        17
           P       0.00      0.00      0.00        23

   micro avg       0.40      0.40      0.40        81
   macro avg       0.35      0.26      0.17        81
weighted avg       0.36      0.40      0.24        81

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU        10  0    0     0
NONE       16  0    1     0
P          23  0    0     0

### Fold number: 5. Name: 2241cfd1f5e7436fa2dbb669dc27fb99

### Training

              precision    recall  f1-score   support

           N       0.77      1.00      0.87       280
         NEU       0.00      0.00      0.00        85
        NONE       0.99      1.00      1.00       148
           P       1.00      1.00      1.00       207

   micro avg       0.88      0.88      0.88       720
   macro avg       0.69      0.75      0.72       720
weighted avg       0.79      0.88      0.83       720

           N    NEU  NONE  P
Pred/True
N          280  0      0     0
NEU         84  0      1     0
NONE         0  0    148     0
P            0  0      0   207

### Validation

              precision    recall  f1-score   support

           N       0.40      1.00      0.57        31
         NEU       0.00      0.00      0.00         9
        NONE       1.00      0.12      0.21        17
           P       0.00      0.00      0.00        23

   micro avg       0.41      0.41      0.41        80
   macro avg       0.35      0.28      0.19        80
weighted avg       0.37      0.41      0.27        80

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU         9  0    0     0
NONE       15  0    2     0
P          23  0    0     0

### Fold number: 6. Name: 61e946ee193249c49e628a1d196daeb4

### Training

              precision    recall  f1-score   support

           N       0.77      1.00      0.87       280
         NEU       0.00      0.00      0.00        85
        NONE       0.99      1.00      1.00       149
           P       1.00      1.00      1.00       207

   micro avg       0.88      0.88      0.88       721
   macro avg       0.69      0.75      0.72       721
weighted avg       0.79      0.88      0.83       721

           N    NEU  NONE  P
Pred/True
N          280  0      0     0
NEU         84  0      1     0
NONE         0  0    149     0
P            0  0      0   207

### Validation

              precision    recall  f1-score   support

           N       0.39      1.00      0.56        31
         NEU       0.00      0.00      0.00         9
        NONE       0.00      0.00      0.00        16
           P       0.00      0.00      0.00        23

   micro avg       0.39      0.39      0.39        79
   macro avg       0.10      0.25      0.14        79
weighted avg       0.15      0.39      0.22        79

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU         9  0    0     0
NONE       16  0    0     0
P          23  0    0     0

### Fold number: 7. Name: 71d0b774dec0451995bcb512bfa0d659

### Training

              precision    recall  f1-score   support

           N       0.77      1.00      0.87       280
         NEU       0.00      0.00      0.00        85
        NONE       0.99      1.00      1.00       149
           P       1.00      1.00      1.00       207

   micro avg       0.88      0.88      0.88       721
   macro avg       0.69      0.75      0.72       721
weighted avg       0.79      0.88      0.83       721

           N    NEU  NONE  P
Pred/True
N          280  0      0     0
NEU         84  0      1     0
NONE         0  0    149     0
P            0  0      0   207

### Validation

              precision    recall  f1-score   support

           N       0.39      1.00      0.56        31
         NEU       0.00      0.00      0.00         9
        NONE       0.00      0.00      0.00        16
           P       0.00      0.00      0.00        23

   micro avg       0.39      0.39      0.39        79
   macro avg       0.10      0.25      0.14        79
weighted avg       0.15      0.39      0.22        79

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU         9  0    0     0
NONE       16  0    0     0
P          23  0    0     0

### Fold number: 8. Name: d09ffe1dc0f84d1199b2ea93071c4cd5

### Training

              precision    recall  f1-score   support

           N       0.77      1.00      0.87       280
         NEU       0.00      0.00      0.00        85
        NONE       0.99      1.00      1.00       149
           P       1.00      1.00      1.00       207

   micro avg       0.88      0.88      0.88       721
   macro avg       0.69      0.75      0.72       721
weighted avg       0.79      0.88      0.83       721

           N    NEU  NONE  P
Pred/True
N          280  0      0     0
NEU         84  0      1     0
NONE         0  0    149     0
P            0  0      0   207

### Validation

              precision    recall  f1-score   support

           N       0.41      1.00      0.58        31
         NEU       0.00      0.00      0.00         9
        NONE       1.00      0.19      0.32        16
           P       0.00      0.00      0.00        23

   micro avg       0.43      0.43      0.43        79
   macro avg       0.35      0.30      0.22        79
weighted avg       0.36      0.43      0.29        79

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU         9  0    0     0
NONE       13  0    3     0
P          23  0    0     0

### Fold number: 9. Name: b19bf81826e54942a9b1a6f70f2ea0b7

### Training

              precision    recall  f1-score   support

           N       0.77      1.00      0.87       280
         NEU       0.00      0.00      0.00        85
        NONE       0.99      1.00      1.00       149
           P       1.00      1.00      1.00       207

   micro avg       0.88      0.88      0.88       721
   macro avg       0.69      0.75      0.72       721
weighted avg       0.79      0.88      0.83       721

           N    NEU  NONE  P
Pred/True
N          280  0      0     0
NEU         84  0      1     0
NONE         0  0    149     0
P            0  0      0   207

### Validation

              precision    recall  f1-score   support

           N       0.39      1.00      0.56        31
         NEU       0.00      0.00      0.00         9
        NONE       0.00      0.00      0.00        16
           P       0.00      0.00      0.00        23

   micro avg       0.39      0.39      0.39        79
   macro avg       0.10      0.25      0.14        79
weighted avg       0.15      0.39      0.22        79

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU         9  0    0     0
NONE       16  0    0     0
P          23  0    0     0

### Fold number: 10. Name: c375e04fdf7546eba9a4eef8c8ca3360

### Training

              precision    recall  f1-score   support

           N       0.77      1.00      0.87       280
         NEU       0.00      0.00      0.00        85
        NONE       1.00      1.00      1.00       149
           P       1.00      1.00      1.00       207

   micro avg       0.88      0.88      0.88       721
   macro avg       0.69      0.75      0.72       721
weighted avg       0.79      0.88      0.83       721

           N    NEU  NONE  P
Pred/True
N          280  0      0     0
NEU         85  0      0     0
NONE         0  0    149     0
P            0  0      0   207

### Validation

              precision    recall  f1-score   support

           N       0.40      1.00      0.57        31
         NEU       0.00      0.00      0.00         9
        NONE       0.00      0.00      0.00        16
           P       0.00      0.00      0.00        23

   micro avg       0.39      0.39      0.39        79
   macro avg       0.10      0.25      0.14        79
weighted avg       0.16      0.39      0.22        79

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU         8  0    1     0
NONE       16  0    0     0
P          23  0    0     0