In [1]:
import sys
import os
from pprint import pprint
sys.path.append(os.path.abspath("../../../"))
import warnings
warnings.filterwarnings('ignore')
from IPython.display import display, HTML
from IPython.display import Markdown
import ipywidgets as iw
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf

In [2]:
import usure.common.logging as usurelogging
from usure.config import config
from usure.classification.infrastructure import (
     BasicSentenceCleaner 
    ,CsvLabeledCommentsDao
    ,FileWordVectorsRep
    ,FileModelDao)
from usure.classification.core import SvmLab, ClassifierInput, LabReport, WordVectorsService, LabeledComments
import usure.classification.ui.utils as ui
#usurelogging.config(config.logs, "classification.log")

Using TensorFlow backend.

In [3]:
%%javascript
IPython.OutputArea.prototype._should_scroll = lines => false

In [4]:
pd.set_option('colheader_justify', 'left')
pd.set_option('display.max_colwidth', 200)

In [5]:
cleaner = BasicSentenceCleaner(config.assets)
comments_dao = CsvLabeledCommentsDao(config.sets, cleaner)
wv_rep = FileWordVectorsRep(config.embeddings)
model_dao = FileModelDao(config.models)
lab = SvmLab(model_dao)
comments = comments_dao.get("train.csv")
test_comments = comments_dao.get("test.csv")

In [6]:
def classification_lab_report(word_vector_no, input, lab):
    display(Markdown(f'## {word_vector_no}. Creating models with embeddings: {input.embeddings_name}'))
    lab_report = lab.train_by_stratifiedkfold(input, folds=10)
    return lab_report

def model_architecture_summary(lab_report):
    display(Markdown(f'### Mean Accuracies and losses'))
    display(lab_report.summary)
    display(Markdown(f'### Accuracies and losses by Stratified KFold (folds with balanced class distributions)'))
    model_reports_df = ui.model_reports_to_DataFrame(lab_report.model_reports)
    display(model_reports_df) 
    
def show_statistics_by_model(word_vector_no, word_vector_name, test_input, lab_report):
    """Shows statistics by models created by every folds"""
    display(Markdown(f'## {word_vector_no+1}. {word_vector_name}'))
    for fold_no, model_report in enumerate(lab_report.model_reports):
        display(Markdown(f'### Fold number: {fold_no+1}. Name: {model_report.name}'))
        ui.plot_learning_curves_if_epoches(model_report)
        display(Markdown(f'### Training'))
        print(model_report.training.classification_report)
        confu_mtx = model_report.training.confusion_matrix
        display(confu_mtx)
        display(Markdown(f'### Validation'))
        print(model_report.validation.classification_report)
        confu_mtx = model_report.validation.confusion_matrix
        display(confu_mtx)
        display(Markdown(f'### Test'))
        test_metrics, labeled_predictions = lab.test(model_report.name, test_input)
        print(f"Accuracy: {test_metrics.accuracy}")
        print(f"Loss: {test_metrics.loss}")
        print(test_metrics.classification_report)
        display(test_metrics.confusion_matrix)
        test_labeled_comments = test_input.labeled_comments
        labeled_comments = LabeledComments(f"{model_report.name}-{word_vector_name}.svm.csv",test_labeled_comments.comments ,labeled_predictions)
        comments_dao.save_from_origin(labeled_comments, "test.csv")

In [7]:
#%matplotlib notebook
display(Markdown(f'# Support vector machine'))
word_vectors = wv_rep.get_all()
word_vector_names = []
lab_reports = []

#word_vectors = [word_vectors.__next__()] #comment!!!!!
for i, word_vector in enumerate(word_vectors):
    #if "FBCR2013" in word_vector.name: #erase
    #    continue
    wv_service = WordVectorsService(word_vector)
    #test_inputs.append(ClassifierInput(test_comments, wv_service))
    input = ClassifierInput(comments, wv_service)
    lab_report = classification_lab_report(i+1, input, lab)
    model_architecture_summary(lab_report)
    #word_vector_names.append(word_vector.name)
    #lab_reports.append(lab_report)
    show_statistics_by_model(i, word_vector.name, ClassifierInput(test_comments, wv_service), lab_report)
'''   
for i, word_vector_name in enumerate(word_vector_names): 
    lab_report = lab_reports[i]
    show_statistics_by_model(i, word_vector_name, lab_report)
'''

# Support vector machine

## 1. Creating models with embeddings: CorpusFBCR2013.txt.usu.2_w.kvs

### Mean Accuracies and losses

   train_acc_mean  train_acc_stdev  val_acc_mean  val_acc_stdev
0  0.623402        0.007578         0.529829      0.034438

### Accuracies and losses by Stratified KFold (folds with balanced class distributions)

  model name                         train_acc  train_loss  val_acc   val_loss
0  68cdd180fcca4ef1823db741d6568697  0.618321   0.905048    0.559322  1.080527
1  04850199c1034c49b8a6a05b941f8341  0.617366   0.931689    0.576271  1.048252
2  cbc589a6989d4aa9af1be6131974a286  0.634542   0.901835    0.533898  1.169924
3  a1db2eb225874288ba95e4d8b950230c  0.612965   0.922953    0.555556  1.065921
4  8e771f28dd4e48bd84c209b22d4a48a9  0.620591   0.911275    0.555556  1.096211
5  d4b46ceb429f4479b3d9e4578bbcc839  0.632984   0.910013    0.461538  1.141075
6  cd0914f0803540f391553c223f0d4641  0.627619   0.896235    0.508621  1.155439
7  c93bcb256f104c12a86b812e0a285245  0.617143   0.915078    0.534483  1.096153
8  3124d5a5403448ad9cd2c7a06d217eee  0.621313   0.910960    0.513043  1.166708
9  494f81ee5ddb4e6d98f256cb99ddab87  0.631179   0.886878    0.500000  1.190934

## 1. CorpusFBCR2013.txt.usu.2_w.kvs

### Fold number: 1. Name: 68cdd180fcca4ef1823db741d6568697

### Training

              precision    recall  f1-score   support

           N       0.57      0.93      0.71       410
         NEU       1.00      0.06      0.11       134
        NONE       0.78      0.30      0.44       200
           P       0.68      0.65      0.67       304

   micro avg       0.62      0.62      0.62      1048
   macro avg       0.76      0.49      0.48      1048
weighted avg       0.70      0.62      0.57      1048

           N    NEU  NONE  P
True/Pred
N          380  84   107    97
NEU          0   8     0     0
NONE         4   5    61     8
P           26  37    32   199

### Validation

              precision    recall  f1-score   support

           N       0.56      0.87      0.68        46
         NEU       0.00      0.00      0.00        15
        NONE       0.45      0.22      0.29        23
           P       0.60      0.62      0.61        34

   micro avg       0.56      0.56      0.56       118
   macro avg       0.40      0.43      0.40       118
weighted avg       0.48      0.56      0.50       118

           N   NEU  NONE  P
True/Pred
N          40  6    13    13
NEU         0  0     0     0
NONE        4  2     5     0
P           2  7     5    21

### Test

Accuracy: 0.5244215938303342
Loss: 1.160922183657669
              precision    recall  f1-score   support

           N       0.50      0.87      0.64       456
         NEU       0.33      0.01      0.01       148
        NONE       0.49      0.17      0.26       224
           P       0.60      0.51      0.56       339

   micro avg       0.52      0.52      0.52      1167
   macro avg       0.48      0.39      0.37      1167
weighted avg       0.51      0.52      0.46      1167

           N    NEU  NONE  P
True/Pred
N          398  109  142   148
NEU          1    1    1     0
NONE        15    8   39    17
P           42   30   42   174

### Fold number: 2. Name: 04850199c1034c49b8a6a05b941f8341

### Training

              precision    recall  f1-score   support

           N       0.57      0.93      0.71       410
         NEU       1.00      0.03      0.06       134
        NONE       0.81      0.29      0.43       200
           P       0.67      0.67      0.67       304

   micro avg       0.62      0.62      0.62      1048
   macro avg       0.76      0.48      0.47      1048
weighted avg       0.70      0.62      0.56      1048

           N    NEU  NONE  P
True/Pred
N          382  82   109    98
NEU          0   4     0     0
NONE         4   7    58     3
P           24  41    33   203

### Validation

              precision    recall  f1-score   support

           N       0.55      0.89      0.68        46
         NEU       0.00      0.00      0.00        15
        NONE       0.62      0.22      0.32        23
           P       0.63      0.65      0.64        34

   micro avg       0.58      0.58      0.58       118
   macro avg       0.45      0.44      0.41       118
weighted avg       0.52      0.58      0.51       118

           N   NEU  NONE  P
True/Pred
N          41  8    15    11
NEU         0  0     0     0
NONE        1  1     5     1
P           4  6     3    22

### Test

Accuracy: 0.5312767780634104
Loss: 1.156057072796164
              precision    recall  f1-score   support

           N       0.50      0.88      0.64       456
         NEU       0.00      0.00      0.00       148
        NONE       0.60      0.17      0.27       224
           P       0.60      0.53      0.56       339

   micro avg       0.53      0.53      0.53      1167
   macro avg       0.42      0.40      0.37      1167
weighted avg       0.49      0.53      0.47      1167

           N    NEU  NONE  P
True/Pred
N          400  110  141   145
NEU          2    0    0     1
NONE         8    6   39    12
P           46   32   44   181

### Fold number: 3. Name: cbc589a6989d4aa9af1be6131974a286

### Training

              precision    recall  f1-score   support

           N       0.58      0.93      0.71       410
         NEU       1.00      0.06      0.11       134
        NONE       0.82      0.35      0.49       200
           P       0.69      0.68      0.69       304

   micro avg       0.63      0.63      0.63      1048
   macro avg       0.77      0.50      0.50      1048
weighted avg       0.71      0.63      0.59      1048

           N    NEU  NONE  P
True/Pred
N          380  80   101    94
NEU          0   8     0     0
NONE         4   8    70     3
P           26  38    29   207

### Validation

              precision    recall  f1-score   support

           N       0.58      0.89      0.70        46
         NEU       0.00      0.00      0.00        15
        NONE       0.18      0.09      0.12        23
           P       0.56      0.59      0.57        34

   micro avg       0.53      0.53      0.53       118
   macro avg       0.33      0.39      0.35       118
weighted avg       0.42      0.53      0.46       118

           N   NEU  NONE  P
True/Pred
N          41  7    12    11
NEU         0  0     0     0
NONE        4  2     2     3
P           1  6     9    20

### Test

Accuracy: 0.5278491859468724
Loss: 1.15740350398132
              precision    recall  f1-score   support

           N       0.50      0.87      0.64       456
         NEU       0.00      0.00      0.00       148
        NONE       0.49      0.19      0.27       224
           P       0.61      0.53      0.57       339

   micro avg       0.53      0.53      0.53      1167
   macro avg       0.40      0.40      0.37      1167
weighted avg       0.47      0.53      0.46      1167

           N    NEU  NONE  P
True/Pred
N          396  107  145   142
NEU          1    0    0     1
NONE        16    9   42    18
P           43   32   37   178

### Fold number: 4. Name: a1db2eb225874288ba95e4d8b950230c

### Training

              precision    recall  f1-score   support

           N       0.57      0.93      0.71       410
         NEU       1.00      0.03      0.06       134
        NONE       0.79      0.27      0.40       201
           P       0.67      0.66      0.67       304

   micro avg       0.61      0.61      0.61      1049
   macro avg       0.76      0.47      0.46      1049
weighted avg       0.70      0.61      0.55      1049

           N    NEU  NONE  P
True/Pred
N          383  80   113    99
NEU          0   4     0     0
NONE         3   8    54     3
P           24  42    34   202

### Validation

              precision    recall  f1-score   support

           N       0.55      0.89      0.68        46
         NEU       0.00      0.00      0.00        15
        NONE       0.50      0.23      0.31        22
           P       0.61      0.56      0.58        34

   micro avg       0.56      0.56      0.56       117
   macro avg       0.41      0.42      0.39       117
weighted avg       0.49      0.56      0.50       117

           N   NEU  NONE  P
True/Pred
N          41  10   10    14
NEU         1   0    0     0
NONE        2   2    5     1
P           2   3    7    19

### Test

Accuracy: 0.5201371036846615
Loss: 1.1585133455719658
              precision    recall  f1-score   support

           N       0.49      0.87      0.63       456
         NEU       0.00      0.00      0.00       148
        NONE       0.49      0.17      0.25       224
           P       0.60      0.51      0.55       339

   micro avg       0.52      0.52      0.52      1167
   macro avg       0.40      0.39      0.36      1167
weighted avg       0.46      0.52      0.45      1167

           N    NEU  NONE  P
True/Pred
N          396  107  149   148
NEU          1    0    0     0
NONE        14    7   37    17
P           45   34   38   174

### Fold number: 5. Name: 8e771f28dd4e48bd84c209b22d4a48a9

### Training

              precision    recall  f1-score   support

           N       0.57      0.94      0.71       410
         NEU       1.00      0.08      0.15       134
        NONE       0.81      0.28      0.41       201
           P       0.68      0.66      0.67       304

   micro avg       0.62      0.62      0.62      1049
   macro avg       0.77      0.49      0.49      1049
weighted avg       0.70      0.62      0.57      1049

           N    NEU  NONE  P
True/Pred
N          384  79   114   100
NEU          0  11     0     0
NONE         2   7    56     4
P           24  37    31   200

### Validation

              precision    recall  f1-score   support

           N       0.53      0.89      0.66        46
         NEU       0.00      0.00      0.00        15
        NONE       0.71      0.23      0.34        22
           P       0.61      0.56      0.58        34

   micro avg       0.56      0.56      0.56       117
   macro avg       0.46      0.42      0.40       117
weighted avg       0.52      0.56      0.49       117

           N   NEU  NONE  P
True/Pred
N          41  10   14    13
NEU         0   0    0     1
NONE        1   0    5     1
P           4   5    3    19

### Test

Accuracy: 0.5201371036846615
Loss: 1.1553506945946548
              precision    recall  f1-score   support

           N       0.49      0.88      0.63       456
         NEU       0.00      0.00      0.00       148
        NONE       0.56      0.17      0.26       224
           P       0.59      0.50      0.54       339

   micro avg       0.52      0.52      0.52      1167
   macro avg       0.41      0.39      0.36      1167
weighted avg       0.47      0.52      0.45      1167

           N    NEU  NONE  P
True/Pred
N          400  111  145   154
NEU          2    0    1     1
NONE         9    6   38    15
P           45   31   40   169

### Fold number: 6. Name: d4b46ceb429f4479b3d9e4578bbcc839

### Training

              precision    recall  f1-score   support

           N       0.58      0.93      0.72       410
         NEU       1.00      0.05      0.10       134
        NONE       0.78      0.31      0.45       201
           P       0.69      0.70      0.69       304

   micro avg       0.63      0.63      0.63      1049
   macro avg       0.76      0.50      0.49      1049
weighted avg       0.71      0.63      0.58      1049

           N    NEU  NONE  P
True/Pred
N          382  77   108    87
NEU          0   7     0     0
NONE         5   8    63     5
P           23  42    30   212

### Validation

              precision    recall  f1-score   support

           N       0.50      0.80      0.62        46
         NEU       0.00      0.00      0.00        15
        NONE       0.33      0.09      0.14        22
           P       0.42      0.44      0.43        34

   micro avg       0.46      0.46      0.46       117
   macro avg       0.31      0.33      0.30       117
weighted avg       0.38      0.46      0.39       117

           N   NEU  NONE  P
True/Pred
N          37  6    14    17
NEU         0  0     0     1
NONE        1  2     2     1
P           8  7     6    15

### Test

Accuracy: 0.5287060839760068
Loss: 1.1560036738728063
              precision    recall  f1-score   support

           N       0.50      0.86      0.63       456
         NEU       0.00      0.00      0.00       148
        NONE       0.53      0.18      0.27       224
           P       0.60      0.54      0.57       339

   micro avg       0.53      0.53      0.53      1167
   macro avg       0.41      0.40      0.37      1167
weighted avg       0.47      0.53      0.46      1167

           N    NEU  NONE  P
True/Pred
N          393  109  140   140
NEU          1    0    0     0
NONE        13    7   41    16
P           49   32   43   183

### Fold number: 7. Name: cd0914f0803540f391553c223f0d4641

### Training

              precision    recall  f1-score   support

           N       0.58      0.95      0.72       411
         NEU       1.00      0.04      0.07       134
        NONE       0.78      0.30      0.44       201
           P       0.70      0.67      0.68       304

   micro avg       0.63      0.63      0.63      1050
   macro avg       0.76      0.49      0.48      1050
weighted avg       0.71      0.63      0.57      1050

           N    NEU  NONE  P
True/Pred
N          390  81   112    94
NEU          0   5     0     0
NONE         1   9    61     7
P           20  39    28   203

### Validation

              precision    recall  f1-score   support

           N       0.50      0.87      0.63        45
         NEU       0.00      0.00      0.00        15
        NONE       0.25      0.09      0.13        22
           P       0.60      0.53      0.56        34

   micro avg       0.51      0.51      0.51       116
   macro avg       0.34      0.37      0.33       116
weighted avg       0.42      0.51      0.44       116

           N   NEU  NONE  P
True/Pred
N          39  10   15    14
NEU         0   0    0     0
NONE        3   1    2     2
P           3   4    5    18

### Test

Accuracy: 0.5295629820051414
Loss: 1.154991388794704
              precision    recall  f1-score   support

           N       0.50      0.88      0.64       456
         NEU       0.00      0.00      0.00       148
        NONE       0.52      0.19      0.28       224
           P       0.61      0.52      0.56       339

   micro avg       0.53      0.53      0.53      1167
   macro avg       0.41      0.40      0.37      1167
weighted avg       0.47      0.53      0.47      1167

           N    NEU  NONE  P
True/Pred
N          399  106  143   146
NEU          0    0    1     0
NONE        14    8   43    17
P           43   34   37   176

### Fold number: 8. Name: c93bcb256f104c12a86b812e0a285245

### Training

              precision    recall  f1-score   support

           N       0.56      0.93      0.70       411
         NEU       1.00      0.06      0.11       134
        NONE       0.79      0.28      0.41       201
           P       0.69      0.66      0.67       304

   micro avg       0.62      0.62      0.62      1050
   macro avg       0.76      0.48      0.48      1050
weighted avg       0.70      0.62      0.56      1050

           N    NEU  NONE  P
True/Pred
N          384  79   116   101
NEU          0   8     0     0
NONE         4   8    56     3
P           23  39    29   200

### Validation

              precision    recall  f1-score   support

           N       0.49      0.87      0.63        45
         NEU       0.00      0.00      0.00        15
        NONE       1.00      0.14      0.24        22
           P       0.59      0.59      0.59        34

   micro avg       0.53      0.53      0.53       116
   macro avg       0.52      0.40      0.36       116
weighted avg       0.55      0.53      0.46       116

           N   NEU  NONE  P
True/Pred
N          39  11   15    14
NEU         0   0    0     0
NONE        0   0    3     0
P           6   4    4    20

### Test

Accuracy: 0.5295629820051414
Loss: 1.1531313694660277
              precision    recall  f1-score   support

           N       0.50      0.88      0.64       456
         NEU       0.33      0.01      0.01       148
        NONE       0.55      0.17      0.26       224
           P       0.61      0.53      0.56       339

   micro avg       0.53      0.53      0.53      1167
   macro avg       0.50      0.40      0.37      1167
weighted avg       0.52      0.53      0.46      1167

           N    NEU  NONE  P
True/Pred
N          401  106  148   148
NEU          1    1    0     1
NONE        11    8   38    12
P           43   33   38   178

### Fold number: 9. Name: 3124d5a5403448ad9cd2c7a06d217eee

### Training

              precision    recall  f1-score   support

           N       0.57      0.95      0.71       411
         NEU       1.00      0.07      0.13       134
        NONE       0.81      0.30      0.44       201
           P       0.69      0.64      0.66       305

   micro avg       0.62      0.62      0.62      1051
   macro avg       0.77      0.49      0.48      1051
weighted avg       0.71      0.62      0.57      1051

           N    NEU  NONE  P
True/Pred
N          389  75   114   108
NEU          0   9     0     0
NONE         3   8    61     3
P           19  42    26   194

### Validation

              precision    recall  f1-score   support

           N       0.46      0.91      0.61        45
         NEU       0.00      0.00      0.00        15
        NONE       0.67      0.18      0.29        22
           P       0.74      0.42      0.54        33

   micro avg       0.51      0.51      0.51       115
   macro avg       0.47      0.38      0.36       115
weighted avg       0.52      0.51      0.45       115

           N   NEU  NONE  P
True/Pred
N          41  13   16    19
NEU         1   0    0     0
NONE        2   0    4     0
P           1   2    2    14

### Test

Accuracy: 0.5295629820051414
Loss: 1.160212590089544
              precision    recall  f1-score   support

           N       0.50      0.89      0.64       456
         NEU       0.00      0.00      0.00       148
        NONE       0.54      0.17      0.26       224
           P       0.64      0.51      0.57       339

   micro avg       0.53      0.53      0.53      1167
   macro avg       0.42      0.39      0.37      1167
weighted avg       0.48      0.53      0.46      1167

           N    NEU  NONE  P
True/Pred
N          405  112  148   152
NEU          3    0    1     1
NONE        14    7   39    12
P           34   29   36   174

### Fold number: 10. Name: 494f81ee5ddb4e6d98f256cb99ddab87

### Training

              precision    recall  f1-score   support

           N       0.58      0.93      0.72       411
         NEU       1.00      0.08      0.15       135
        NONE       0.81      0.31      0.45       201
           P       0.67      0.69      0.68       305

   micro avg       0.63      0.63      0.63      1052
   macro avg       0.77      0.50      0.50      1052
weighted avg       0.71      0.63      0.58      1052

           N    NEU  NONE  P
True/Pred
N          382  77   102    92
NEU          0  11     0     0
NONE         5   6    62     4
P           24  41    37   209

### Validation

              precision    recall  f1-score   support

           N       0.48      0.76      0.59        45
         NEU       0.00      0.00      0.00        14
        NONE       0.60      0.14      0.22        22
           P       0.53      0.61      0.56        33

   micro avg       0.50      0.50      0.50       114
   macro avg       0.40      0.37      0.34       114
weighted avg       0.46      0.50      0.44       114

           N   NEU  NONE  P
True/Pred
N          34  9    16    12
NEU         0  0     0     0
NONE        0  1     3     1
P          11  4     3    20

### Test

Accuracy: 0.5252784918594687
Loss: 1.1628487674926
              precision    recall  f1-score   support

           N       0.50      0.87      0.64       456
         NEU       0.00      0.00      0.00       148
        NONE       0.49      0.18      0.26       224
           P       0.59      0.53      0.56       339

   micro avg       0.53      0.53      0.53      1167
   macro avg       0.40      0.39      0.36      1167
weighted avg       0.46      0.53      0.46      1167

           N    NEU  NONE  P
True/Pred
N          395  105  141   143
NEU          2    0    0     0
NONE        15    8   40    18
P           44   35   43   178

## 2. Creating models with embeddings: CorpusFBCR2013.txt.usu.5_w.kvs

### Mean Accuracies and losses

   train_acc_mean  train_acc_stdev  val_acc_mean  val_acc_stdev
0  0.612161        0.004556         0.532548      0.018112

### Accuracies and losses by Stratified KFold (folds with balanced class distributions)

  model name                         train_acc  train_loss  val_acc   val_loss
0  944a3ee4d9634ccabde8697f401c8900  0.617366   0.932582    0.516949  1.158678
1  78c63e6f5b6443249e1f757dfbf632b6  0.610687   0.951293    0.516949  1.081801
2  10203ff90fa3449597f38191417d1a73  0.612595   0.953304    0.550847  1.098981
3  f0b587f1fe0549ecb8ba2b93e3574cd7  0.612011   0.943502    0.564103  1.138348
4  a36b262d02044dc3b70934d1f454942b  0.611058   0.940144    0.547009  1.197408
5  09042b25600044348c7215ae1a5d6c63  0.608198   0.933203    0.538462  1.082219
6  e7bf18f155ed48cc99d1f1059db093a0  0.617143   0.939045    0.525862  1.160270
7  63860f00265f453a9e04c75968863372  0.610476   0.922612    0.525862  1.176702
8  badbc3de3ad24c5c91c363913dd3d52c  0.618459   0.929336    0.504348  1.199966
9  a26ea33d8e85461abd8ec52238f296fe  0.603612   0.944270    0.535088  1.096001

## 2. CorpusFBCR2013.txt.usu.5_w.kvs

### Fold number: 1. Name: 944a3ee4d9634ccabde8697f401c8900

### Training

              precision    recall  f1-score   support

           N       0.56      0.95      0.70       410
         NEU       1.00      0.01      0.03       134
        NONE       0.77      0.28      0.41       200
           P       0.73      0.66      0.69       304

   micro avg       0.62      0.62      0.62      1048
   macro avg       0.76      0.47      0.46      1048
weighted avg       0.70      0.62      0.56      1048

           N    NEU  NONE  P
True/Pred
N          389  93   117    99
NEU          0   2     0     0
NONE         3   9    55     4
P           18  30    28   201

### Validation

              precision    recall  f1-score   support

           N       0.48      0.91      0.63        46
         NEU       0.00      0.00      0.00        15
        NONE       0.71      0.22      0.33        23
           P       0.61      0.41      0.49        34

   micro avg       0.52      0.52      0.52       118
   macro avg       0.45      0.39      0.36       118
weighted avg       0.50      0.52      0.45       118

           N   NEU  NONE  P
True/Pred
N          42  11   15    20
NEU         0   0    0     0
NONE        1   1    5     0
P           3   3    3    14

### Test

Accuracy: 0.5055698371893744
Loss: 1.1515118467783552
              precision    recall  f1-score   support

           N       0.48      0.87      0.62       456
         NEU       0.00      0.00      0.00       148
        NONE       0.50      0.13      0.21       224
           P       0.59      0.48      0.53       339

   micro avg       0.51      0.51      0.51      1167
   macro avg       0.39      0.37      0.34      1167
weighted avg       0.46      0.51      0.44      1167

           N    NEU  NONE  P
True/Pred
N          398  114  159   162
NEU          1    0    0     0
NONE         8    7   30    15
P           49   27   35   162

### Fold number: 2. Name: 78c63e6f5b6443249e1f757dfbf632b6

### Training

              precision    recall  f1-score   support

           N       0.56      0.94      0.70       410
         NEU       1.00      0.02      0.04       134
        NONE       0.84      0.27      0.40       200
           P       0.68      0.66      0.67       304

   micro avg       0.61      0.61      0.61      1048
   macro avg       0.77      0.47      0.45      1048
weighted avg       0.70      0.61      0.55      1048

           N    NEU  NONE  P
True/Pred
N          384  89   112   101
NEU          0   3     0     0
NONE         2   5    53     3
P           24  37    35   200

### Validation

              precision    recall  f1-score   support

           N       0.47      0.89      0.62        46
         NEU       0.00      0.00      0.00        15
        NONE       0.75      0.13      0.22        23
           P       0.63      0.50      0.56        34

   micro avg       0.52      0.52      0.52       118
   macro avg       0.46      0.38      0.35       118
weighted avg       0.51      0.52      0.44       118

           N   NEU  NONE  P
True/Pred
N          41  12   18    16
NEU         0   0    0     0
NONE        0   0    3     1
P           5   3    2    17

### Test

Accuracy: 0.4987146529562982
Loss: 1.157049524600738
              precision    recall  f1-score   support

           N       0.48      0.86      0.61       456
         NEU       0.00      0.00      0.00       148
        NONE       0.47      0.12      0.20       224
           P       0.57      0.48      0.52       339

   micro avg       0.50      0.50      0.50      1167
   macro avg       0.38      0.37      0.33      1167
weighted avg       0.44      0.50      0.43      1167

           N    NEU  NONE  P
True/Pred
N          391  112  158   161
NEU          0    0    0     0
NONE        11    6   28    15
P           54   30   38   163

### Fold number: 3. Name: 10203ff90fa3449597f38191417d1a73

### Training

              precision    recall  f1-score   support

           N       0.56      0.95      0.70       410
         NEU       1.00      0.01      0.01       134
        NONE       0.78      0.28      0.41       200
           P       0.71      0.64      0.68       304

   micro avg       0.61      0.61      0.61      1048
   macro avg       0.76      0.47      0.45      1048
weighted avg       0.70      0.61      0.55      1048

           N    NEU  NONE  P
True/Pred
N          389  93   114   103
NEU          0   1     0     0
NONE         3   8    56     5
P           18  32    30   196

### Validation

              precision    recall  f1-score   support

           N       0.54      0.85      0.66        46
         NEU       0.00      0.00      0.00        15
        NONE       0.57      0.17      0.27        23
           P       0.56      0.65      0.60        34

   micro avg       0.55      0.55      0.55       118
   macro avg       0.42      0.42      0.38       118
weighted avg       0.49      0.55      0.48       118

           N   NEU  NONE  P
True/Pred
N          39  8    14    11
NEU         0  0     0     0
NONE        1  1     4     1
P           6  6     5    22

### Test

Accuracy: 0.5089974293059126
Loss: 1.146747153313227
              precision    recall  f1-score   support

           N       0.48      0.86      0.62       456
         NEU       0.00      0.00      0.00       148
        NONE       0.51      0.17      0.25       224
           P       0.59      0.49      0.53       339

   micro avg       0.51      0.51      0.51      1167
   macro avg       0.39      0.38      0.35      1167
weighted avg       0.46      0.51      0.44      1167

           N    NEU  NONE  P
True/Pred
N          392  112  154   156
NEU          0    0    0     0
NONE        12    6   37    18
P           52   30   33   165

### Fold number: 4. Name: f0b587f1fe0549ecb8ba2b93e3574cd7

### Training

              precision    recall  f1-score   support

           N       0.56      0.94      0.70       410
         NEU       1.00      0.01      0.01       134
        NONE       0.80      0.29      0.43       201
           P       0.68      0.65      0.67       304

   micro avg       0.61      0.61      0.61      1049
   macro avg       0.76      0.47      0.45      1049
weighted avg       0.70      0.61      0.55      1049

           N    NEU  NONE  P
True/Pred
N          384  91   107   101
NEU          0   1     0     0
NONE         4   6    59     5
P           22  36    35   198

### Validation

              precision    recall  f1-score   support

           N       0.51      0.93      0.66        46
         NEU       0.00      0.00      0.00        15
        NONE       0.40      0.09      0.15        22
           P       0.75      0.62      0.68        34

   micro avg       0.56      0.56      0.56       117
   macro avg       0.42      0.41      0.37       117
weighted avg       0.49      0.56      0.48       117

           N   NEU  NONE  P
True/Pred
N          43  11   17    13
NEU         0   0    0     0
NONE        1   2    2     0
P           2   2    3    21

### Test

Accuracy: 0.5072836332476436
Loss: 1.1486403089255044
              precision    recall  f1-score   support

           N       0.48      0.86      0.62       456
         NEU       0.00      0.00      0.00       148
        NONE       0.49      0.16      0.24       224
           P       0.60      0.48      0.53       339

   micro avg       0.51      0.51      0.51      1167
   macro avg       0.39      0.38      0.35      1167
weighted avg       0.45      0.51      0.44      1167

           N    NEU  NONE  P
True/Pred
N          394  113  156   159
NEU          0    0    0     0
NONE        12    8   35    17
P           50   27   33   163

### Fold number: 5. Name: a36b262d02044dc3b70934d1f454942b

### Training

              precision    recall  f1-score   support

           N       0.55      0.93      0.69       410
         NEU       1.00      0.04      0.07       134
        NONE       0.80      0.29      0.43       201
           P       0.70      0.64      0.67       304

   micro avg       0.61      0.61      0.61      1049
   macro avg       0.76      0.48      0.47      1049
weighted avg       0.70      0.61      0.56      1049

           N    NEU  NONE  P
True/Pred
N          382  90   115   103
NEU          0   5     0     0
NONE         4   5    59     6
P           24  34    27   195

### Validation

              precision    recall  f1-score   support

           N       0.52      0.98      0.68        46
         NEU       0.00      0.00      0.00        15
        NONE       0.17      0.05      0.07        22
           P       0.72      0.53      0.61        34

   micro avg       0.55      0.55      0.55       117
   macro avg       0.35      0.39      0.34       117
weighted avg       0.45      0.55      0.46       117

           N   NEU  NONE  P
True/Pred
N          45  10   18    13
NEU         0   0    0     0
NONE        1   1    1     3
P           0   4    3    18

### Test

Accuracy: 0.506426735218509
Loss: 1.1495297106515112
              precision    recall  f1-score   support

           N       0.48      0.87      0.62       456
         NEU       0.00      0.00      0.00       148
        NONE       0.48      0.15      0.23       224
           P       0.59      0.48      0.53       339

   micro avg       0.51      0.51      0.51      1167
   macro avg       0.39      0.37      0.34      1167
weighted avg       0.45      0.51      0.44      1167

           N    NEU  NONE  P
True/Pred
N          396  114  152   162
NEU          0    0    0     0
NONE        14    7   33    15
P           46   27   39   162

### Fold number: 6. Name: 09042b25600044348c7215ae1a5d6c63

### Training

              precision    recall  f1-score   support

           N       0.55      0.94      0.70       410
         NEU       1.00      0.02      0.04       134
        NONE       0.84      0.26      0.40       201
           P       0.69      0.64      0.67       304

   micro avg       0.61      0.61      0.61      1049
   macro avg       0.77      0.47      0.45      1049
weighted avg       0.70      0.61      0.55      1049

           N    NEU  NONE  P
True/Pred
N          387  92   118   104
NEU          0   3     0     0
NONE         1   5    52     4
P           22  34    31   196

### Validation

              precision    recall  f1-score   support

           N       0.51      0.91      0.66        46
         NEU       0.00      0.00      0.00        15
        NONE       0.56      0.23      0.32        22
           P       0.64      0.47      0.54        34

   micro avg       0.54      0.54      0.54       117
   macro avg       0.43      0.40      0.38       117
weighted avg       0.49      0.54      0.48       117

           N   NEU  NONE  P
True/Pred
N          42  11   14    15
NEU         0   0    0     1
NONE        1   1    5     2
P           3   3    3    16

### Test

Accuracy: 0.49785775492716366
Loss: 1.154864639696131
              precision    recall  f1-score   support

           N       0.47      0.85      0.61       456
         NEU       0.00      0.00      0.00       148
        NONE       0.48      0.14      0.22       224
           P       0.59      0.47      0.53       339

   micro avg       0.50      0.50      0.50      1167
   macro avg       0.39      0.37      0.34      1167
weighted avg       0.45      0.50      0.43      1167

           N    NEU  NONE  P
True/Pred
N          389  118  159   162
NEU          1    0    0     0
NONE        11    6   31    16
P           55   24   34   161

### Fold number: 7. Name: e7bf18f155ed48cc99d1f1059db093a0

### Training

              precision    recall  f1-score   support

           N       0.56      0.94      0.70       411
         NEU       1.00      0.04      0.09       134
        NONE       0.83      0.28      0.42       201
           P       0.69      0.65      0.67       304

   micro avg       0.62      0.62      0.62      1050
   macro avg       0.77      0.48      0.47      1050
weighted avg       0.71      0.62      0.56      1050

           N    NEU  NONE  P
True/Pred
N          388  88   112   103
NEU          0   6     0     0
NONE         3   5    57     4
P           20  35    32   197

### Validation

              precision    recall  f1-score   support

           N       0.52      0.80      0.63        45
         NEU       0.00      0.00      0.00        15
        NONE       0.40      0.18      0.25        22
           P       0.57      0.62      0.59        34

   micro avg       0.53      0.53      0.53       116
   macro avg       0.37      0.40      0.37       116
weighted avg       0.44      0.53      0.47       116

           N   NEU  NONE  P
True/Pred
N          36  8    14    11
NEU         0  0     0     0
NONE        2  2     4     2
P           7  5     4    21

### Test

Accuracy: 0.506426735218509
Loss: 1.1538438304897216
              precision    recall  f1-score   support

           N       0.48      0.87      0.62       456
         NEU       0.00      0.00      0.00       148
        NONE       0.48      0.13      0.21       224
           P       0.60      0.48      0.54       339

   micro avg       0.51      0.51      0.51      1167
   macro avg       0.39      0.37      0.34      1167
weighted avg       0.45      0.51      0.44      1167

           N    NEU  NONE  P
True/Pred
N          397  115  160   158
NEU          0    0    0     0
NONE         9    7   30    17
P           50   26   34   164

### Fold number: 8. Name: 63860f00265f453a9e04c75968863372

### Training

              precision    recall  f1-score   support

           N       0.56      0.94      0.70       411
         NEU       1.00      0.01      0.03       134
        NONE       0.78      0.31      0.44       201
           P       0.70      0.62      0.66       304

   micro avg       0.61      0.61      0.61      1050
   macro avg       0.76      0.47      0.46      1050
weighted avg       0.70      0.61      0.55      1050

           N    NEU  NONE  P
True/Pred
N          388  90   113   107
NEU          0   2     0     0
NONE         2   7    62     8
P           21  35    26   189

### Validation

              precision    recall  f1-score   support

           N       0.52      0.80      0.63        45
         NEU       0.00      0.00      0.00        15
        NONE       0.75      0.27      0.40        22
           P       0.49      0.56      0.52        34

   micro avg       0.53      0.53      0.53       116
   macro avg       0.44      0.41      0.39       116
weighted avg       0.49      0.53      0.47       116

           N   NEU  NONE  P
True/Pred
N          36  10   9     14
NEU         0   0   0      0
NONE        0   1   6      1
P           9   4   7     19

### Test

Accuracy: 0.506426735218509
Loss: 1.1521345819051072
              precision    recall  f1-score   support

           N       0.48      0.87      0.62       456
         NEU       0.00      0.00      0.00       148
        NONE       0.46      0.14      0.21       224
           P       0.60      0.49      0.54       339

   micro avg       0.51      0.51      0.51      1167
   macro avg       0.38      0.37      0.34      1167
weighted avg       0.45      0.51      0.44      1167

           N    NEU  NONE  P
True/Pred
N          395  113  161   157
NEU          0    0    0     0
NONE        13    7   31    17
P           48   28   32   165

### Fold number: 9. Name: badbc3de3ad24c5c91c363913dd3d52c

### Training

              precision    recall  f1-score   support

           N       0.57      0.94      0.71       411
         NEU       0.00      0.00      0.00       134
        NONE       0.75      0.32      0.45       201
           P       0.69      0.65      0.67       305

   micro avg       0.62      0.62      0.62      1051
   macro avg       0.50      0.48      0.46      1051
weighted avg       0.57      0.62      0.56      1051

           N    NEU  NONE  P
True/Pred
N          387  88   105    98
NEU          0   0     0     0
NONE         2  11    65     9
P           22  35    31   198

### Validation

              precision    recall  f1-score   support

           N       0.49      0.82      0.62        45
         NEU       1.00      0.07      0.12        15
        NONE       0.00      0.00      0.00        22
           P       0.56      0.61      0.58        33

   micro avg       0.50      0.50      0.50       115
   macro avg       0.51      0.37      0.33       115
weighted avg       0.48      0.50      0.42       115

           N   NEU  NONE  P
True/Pred
N          37  9    17    12
NEU         0  1     0     0
NONE        2  0     0     1
P           6  5     5    20

### Test

Accuracy: 0.5124250214224507
Loss: 1.1509011734377474
              precision    recall  f1-score   support

           N       0.49      0.86      0.62       456
         NEU       0.00      0.00      0.00       148
        NONE       0.47      0.16      0.24       224
           P       0.59      0.50      0.54       339

   micro avg       0.51      0.51      0.51      1167
   macro avg       0.39      0.38      0.35      1167
weighted avg       0.45      0.51      0.45      1167

           N    NEU  NONE  P
True/Pred
N          393  116  149   148
NEU          0    0    0     0
NONE        12    6   36    22
P           51   26   39   169

### Fold number: 10. Name: a26ea33d8e85461abd8ec52238f296fe

### Training

              precision    recall  f1-score   support

           N       0.54      0.94      0.69       411
         NEU       1.00      0.01      0.03       135
        NONE       0.79      0.26      0.39       201
           P       0.72      0.63      0.67       305

   micro avg       0.60      0.60      0.60      1052
   macro avg       0.76      0.46      0.45      1052
weighted avg       0.70      0.60      0.54      1052

           N    NEU  NONE  P
True/Pred
N          388  98   126   105
NEU          0   2     0     0
NONE         2   5    52     7
P           21  30    23   193

### Validation

              precision    recall  f1-score   support

           N       0.51      0.93      0.66        45
         NEU       0.00      0.00      0.00        14
        NONE       0.80      0.18      0.30        22
           P       0.58      0.45      0.51        33

   micro avg       0.54      0.54      0.54       114
   macro avg       0.47      0.39      0.37       114
weighted avg       0.52      0.54      0.46       114

           N   NEU  NONE  P
True/Pred
N          42  10   13    18
NEU         0   0    0     0
NONE        1   0    4     0
P           2   4    5    15

### Test

Accuracy: 0.4995715509854327
Loss: 1.1562867068932772
              precision    recall  f1-score   support

           N       0.47      0.87      0.61       456
         NEU       0.00      0.00      0.00       148
        NONE       0.48      0.13      0.20       224
           P       0.60      0.47      0.52       339

   micro avg       0.50      0.50      0.50      1167
   macro avg       0.39      0.37      0.33      1167
weighted avg       0.45      0.50      0.43      1167

           N    NEU  NONE  P
True/Pred
N          396  117  163   167
NEU          0    0    0     0
NONE        11    6   29    14
P           49   25   32   158

## 3. Creating models with embeddings: tweets.txt.usu.2_w.kvs

### Mean Accuracies and losses

   train_acc_mean  train_acc_stdev  val_acc_mean  val_acc_stdev
0  0.680488        0.006594         0.537789      0.040631

### Accuracies and losses by Stratified KFold (folds with balanced class distributions)

  model name                         train_acc  train_loss  val_acc   val_loss
0  37819c1ca9f44e038f710e1128411924  0.678435   0.851430    0.516949  1.111524
1  918887ebd7ba46d982063cbae40c699c  0.687023   0.859275    0.559322  1.049442
2  e22229fd3bae413f8261b9da7040aeff  0.685115   0.826499    0.542373  1.151769
3  39217aa97319408c894a38d89e85f1ca  0.668255   0.859814    0.564103  1.018968
4  5f9688d9352046ba876c1ff9ac22e14c  0.685415   0.836686    0.589744  1.077930
5  62b467299e574498b8e8d514fe753caf  0.685415   0.806548    0.444444  1.211589
6  ed8cec8b7bc94cf3b3e94b6c74672ba0  0.685714   0.831658    0.534483  1.164752
7  ebda180746d74b3b8e63fe819dad29c0  0.681905   0.835851    0.508621  1.103767
8  127d61e882f34a51b5ba1ffc8fc5f96d  0.675547   0.836479    0.565217  1.110796
9  a0c9a69ac9d44743be6fe14d124335a4  0.672053   0.862238    0.552632  1.060139

## 3. tweets.txt.usu.2_w.kvs

### Fold number: 1. Name: 37819c1ca9f44e038f710e1128411924

### Training

              precision    recall  f1-score   support

           N       0.62      0.91      0.74       410
         NEU       0.95      0.16      0.27       134
        NONE       0.78      0.41      0.54       200
           P       0.73      0.77      0.75       304

   micro avg       0.68      0.68      0.68      1048
   macro avg       0.77      0.56      0.57      1048
weighted avg       0.73      0.68      0.64      1048

           N    NEU  NONE  P
True/Pred
N          375  77   88     61
NEU          0  21    0      1
NONE         8   6   82      9
P           27  30   30    233

### Validation

              precision    recall  f1-score   support

           N       0.53      0.85      0.66        46
         NEU       0.00      0.00      0.00        15
        NONE       0.40      0.17      0.24        23
           P       0.55      0.53      0.54        34

   micro avg       0.52      0.52      0.52       118
   macro avg       0.37      0.39      0.36       118
weighted avg       0.44      0.52      0.46       118

           N   NEU  NONE  P
True/Pred
N          39  9    14    11
NEU         0  0     0     2
NONE        2  1     4     3
P           5  5     5    18

### Test

Accuracy: 0.5544130248500428
Loss: 1.1068803449572109
              precision    recall  f1-score   support

           N       0.53      0.89      0.67       456
         NEU       0.14      0.01      0.02       148
        NONE       0.48      0.22      0.30       224
           P       0.65      0.56      0.60       339

   micro avg       0.55      0.55      0.55      1167
   macro avg       0.45      0.42      0.40      1167
weighted avg       0.51      0.55      0.50      1167

           N    NEU  NONE  P
True/Pred
N          406  108  127   118
NEU          2    2    4     6
NONE        17   12   49    25
P           31   26   44   190

### Fold number: 2. Name: 918887ebd7ba46d982063cbae40c699c

### Training

              precision    recall  f1-score   support

           N       0.64      0.91      0.75       410
         NEU       0.91      0.16      0.27       134
        NONE       0.81      0.44      0.57       200
           P       0.71      0.78      0.74       304

   micro avg       0.69      0.69      0.69      1048
   macro avg       0.77      0.57      0.58      1048
weighted avg       0.73      0.69      0.65      1048

           N    NEU  NONE  P
True/Pred
N          373  77   75     56
NEU          0  21    1      1
NONE         8   4   88      9
P           29  32   36    238

### Validation

              precision    recall  f1-score   support

           N       0.53      0.78      0.63        46
         NEU       0.00      0.00      0.00        15
        NONE       0.60      0.26      0.36        23
           P       0.62      0.71      0.66        34

   micro avg       0.56      0.56      0.56       118
   macro avg       0.44      0.44      0.41       118
weighted avg       0.50      0.56      0.51       118

           N   NEU  NONE  P
True/Pred
N          36  10   12    10
NEU         1   0    0     0
NONE        4   0    6     0
P           5   5    5    24

### Test

Accuracy: 0.5638389031705227
Loss: 1.1118244123852483
              precision    recall  f1-score   support

           N       0.56      0.87      0.68       456
         NEU       0.21      0.02      0.04       148
        NONE       0.47      0.25      0.32       224
           P       0.63      0.60      0.61       339

   micro avg       0.56      0.56      0.56      1167
   macro avg       0.47      0.43      0.41      1167
weighted avg       0.52      0.56      0.51      1167

           N    NEU  NONE  P
True/Pred
N          396  97   113   105
NEU          2   3     5     4
NONE        22  13    55    26
P           36  35    51   204

### Fold number: 3. Name: e22229fd3bae413f8261b9da7040aeff

### Training

              precision    recall  f1-score   support

           N       0.62      0.92      0.75       410
         NEU       0.93      0.20      0.33       134
        NONE       0.81      0.41      0.54       200
           P       0.74      0.76      0.75       304

   micro avg       0.69      0.69      0.69      1048
   macro avg       0.78      0.57      0.59      1048
weighted avg       0.73      0.69      0.65      1048

           N    NEU  NONE  P
True/Pred
N          379  73   88     67
NEU          0  27    2      0
NONE         9   3   82      7
P           22  31   28    230

### Validation

              precision    recall  f1-score   support

           N       0.53      0.87      0.66        46
         NEU       0.33      0.07      0.11        15
        NONE       0.60      0.13      0.21        23
           P       0.57      0.59      0.58        34

   micro avg       0.54      0.54      0.54       118
   macro avg       0.51      0.41      0.39       118
weighted avg       0.53      0.54      0.48       118

           N   NEU  NONE  P
True/Pred
N          40  8    14    13
NEU         2  1     0     0
NONE        0  1     3     1
P           4  5     6    20

### Test

Accuracy: 0.5552699228791774
Loss: 1.1111694100567733
              precision    recall  f1-score   support

           N       0.54      0.89      0.67       456
         NEU       0.15      0.01      0.02       148
        NONE       0.47      0.23      0.31       224
           P       0.66      0.55      0.60       339

   micro avg       0.56      0.56      0.56      1167
   macro avg       0.45      0.42      0.40      1167
weighted avg       0.51      0.56      0.50      1167

           N    NEU  NONE  P
True/Pred
N          407  106  128   118
NEU          4    2    1     6
NONE        18   12   51    27
P           27   28   44   188

### Fold number: 4. Name: 39217aa97319408c894a38d89e85f1ca

### Training

              precision    recall  f1-score   support

           N       0.62      0.91      0.74       410
         NEU       0.95      0.15      0.26       134
        NONE       0.79      0.41      0.54       201
           P       0.70      0.74      0.72       304

   micro avg       0.67      0.67      0.67      1049
   macro avg       0.77      0.55      0.56      1049
weighted avg       0.72      0.67      0.63      1049

           N    NEU  NONE  P
True/Pred
N          374  74   86     70
NEU          0  20    0      1
NONE         8   6   82      8
P           28  34   33    225

### Validation

              precision    recall  f1-score   support

           N       0.53      0.93      0.68        46
         NEU       0.00      0.00      0.00        15
        NONE       0.60      0.14      0.22        22
           P       0.65      0.59      0.62        34

   micro avg       0.56      0.56      0.56       117
   macro avg       0.44      0.41      0.38       117
weighted avg       0.51      0.56      0.49       117

           N   NEU  NONE  P
True/Pred
N          43  11   14    13
NEU         0   0    0     0
NONE        0   1    3     1
P           3   3    5    20

### Test

Accuracy: 0.5604113110539846
Loss: 1.1119827479616238
              precision    recall  f1-score   support

           N       0.55      0.88      0.68       456
         NEU       0.20      0.01      0.03       148
        NONE       0.46      0.24      0.31       224
           P       0.64      0.58      0.61       339

   micro avg       0.56      0.56      0.56      1167
   macro avg       0.46      0.43      0.41      1167
weighted avg       0.51      0.56      0.50      1167

           N    NEU  NONE  P
True/Pred
N          402  100  121   112
NEU          3    2    3     2
NONE        22   13   53    28
P           29   33   47   197

### Fold number: 5. Name: 5f9688d9352046ba876c1ff9ac22e14c

### Training

              precision    recall  f1-score   support

           N       0.63      0.93      0.75       410
         NEU       0.95      0.13      0.24       134
        NONE       0.77      0.46      0.58       201
           P       0.74      0.75      0.74       304

   micro avg       0.69      0.69      0.69      1049
   macro avg       0.77      0.57      0.58      1049
weighted avg       0.73      0.69      0.65      1049

           N    NEU  NONE  P
True/Pred
N          382  75   80     67
NEU          0  18    1      0
NONE         8   9   92     10
P           20  32   28    227

### Validation

              precision    recall  f1-score   support

           N       0.57      0.87      0.69        46
         NEU       0.00      0.00      0.00        15
        NONE       0.50      0.36      0.42        22
           P       0.68      0.62      0.65        34

   micro avg       0.59      0.59      0.59       117
   macro avg       0.44      0.46      0.44       117
weighted avg       0.52      0.59      0.54       117

           N   NEU  NONE  P
True/Pred
N          40  6    12    12
NEU         0  0     0     0
NONE        3  4     8     1
P           3  5     2    21

### Test

Accuracy: 0.5518423307626392
Loss: 1.11046131417378
              precision    recall  f1-score   support

           N       0.53      0.86      0.66       456
         NEU       0.33      0.01      0.03       148
        NONE       0.47      0.29      0.36       224
           P       0.65      0.55      0.59       339

   micro avg       0.55      0.55      0.55      1167
   macro avg       0.50      0.43      0.41      1167
weighted avg       0.53      0.55      0.50      1167

           N    NEU  NONE  P
True/Pred
N          392  103  122   121
NEU          1    2    1     2
NONE        30   12   64    30
P           33   31   37   186

### Fold number: 6. Name: 62b467299e574498b8e8d514fe753caf

### Training

              precision    recall  f1-score   support

           N       0.63      0.93      0.75       410
         NEU       0.86      0.19      0.31       134
        NONE       0.80      0.40      0.54       201
           P       0.74      0.76      0.75       304

   micro avg       0.69      0.69      0.69      1049
   macro avg       0.76      0.57      0.59      1049
weighted avg       0.72      0.69      0.65      1049

           N    NEU  NONE  P
True/Pred
N          383  69   92     65
NEU          0  25    2      2
NONE         7   6   81      7
P           20  34   26    230

### Validation

              precision    recall  f1-score   support

           N       0.48      0.70      0.57        46
         NEU       0.00      0.00      0.00        15
        NONE       0.60      0.27      0.37        22
           P       0.36      0.41      0.38        34

   micro avg       0.44      0.44      0.44       117
   macro avg       0.36      0.35      0.33       117
weighted avg       0.41      0.44      0.41       117

           N   NEU  NONE  P
True/Pred
N          32  9    7     18
NEU         1  0    1      0
NONE        2  0    6      2
P          11  6    8     14

### Test

Accuracy: 0.5552699228791774
Loss: 1.1082634648287766
              precision    recall  f1-score   support

           N       0.53      0.88      0.66       456
         NEU       0.27      0.03      0.05       148
        NONE       0.46      0.23      0.31       224
           P       0.66      0.57      0.61       339

   micro avg       0.56      0.56      0.56      1167
   macro avg       0.48      0.43      0.41      1167
weighted avg       0.52      0.56      0.50      1167

           N    NEU  NONE  P
True/Pred
N          399  106  129   114
NEU          3    4    2     6
NONE        22   12   52    26
P           32   26   41   193

### Fold number: 7. Name: ed8cec8b7bc94cf3b3e94b6c74672ba0

### Training

              precision    recall  f1-score   support

           N       0.63      0.93      0.75       411
         NEU       0.93      0.21      0.34       134
        NONE       0.79      0.38      0.52       201
           P       0.75      0.76      0.75       304

   micro avg       0.69      0.69      0.69      1050
   macro avg       0.77      0.57      0.59      1050
weighted avg       0.73      0.69      0.65      1050

           N    NEU  NONE  P
True/Pred
N          384  70   92     66
NEU          0  28    1      1
NONE         7   8   77      6
P           20  28   31    231

### Validation

              precision    recall  f1-score   support

           N       0.49      0.87      0.63        45
         NEU       0.00      0.00      0.00        15
        NONE       0.88      0.32      0.47        22
           P       0.57      0.47      0.52        34

   micro avg       0.53      0.53      0.53       116
   macro avg       0.49      0.41      0.40       116
weighted avg       0.52      0.53      0.48       116

           N   NEU  NONE  P
True/Pred
N          39  9    14    17
NEU         0  0     0     1
NONE        0  1     7     0
P           6  5     1    16

### Test

Accuracy: 0.5484147386461011
Loss: 1.1167506001055256
              precision    recall  f1-score   support

           N       0.53      0.88      0.66       456
         NEU       0.19      0.02      0.04       148
        NONE       0.49      0.21      0.29       224
           P       0.63      0.56      0.59       339

   micro avg       0.55      0.55      0.55      1167
   macro avg       0.46      0.42      0.40      1167
weighted avg       0.51      0.55      0.49      1167

           N    NEU  NONE  P
True/Pred
N          402  107  126   125
NEU          3    3    5     5
NONE        17   10   46    20
P           34   28   47   189

### Fold number: 8. Name: ebda180746d74b3b8e63fe819dad29c0

### Training

              precision    recall  f1-score   support

           N       0.63      0.91      0.75       411
         NEU       0.91      0.16      0.27       134
        NONE       0.78      0.41      0.54       201
           P       0.73      0.78      0.75       304

   micro avg       0.68      0.68      0.68      1050
   macro avg       0.76      0.57      0.58      1050
weighted avg       0.72      0.68      0.65      1050

           N    NEU  NONE  P
True/Pred
N          376  75   87     59
NEU          0  21    1      1
NONE         9   7   83      8
P           26  31   30    236

### Validation

              precision    recall  f1-score   support

           N       0.53      0.73      0.62        45
         NEU       0.20      0.07      0.10        15
        NONE       0.44      0.32      0.37        22
           P       0.55      0.53      0.54        34

   micro avg       0.51      0.51      0.51       116
   macro avg       0.43      0.41      0.41       116
weighted avg       0.48      0.51      0.48       116

           N   NEU  NONE  P
True/Pred
N          33  10   10     9
NEU         0   1    0     4
NONE        5   1    7     3
P           7   3    5    18

### Test

Accuracy: 0.5586975149957155
Loss: 1.1112891896740575
              precision    recall  f1-score   support

           N       0.55      0.88      0.68       456
         NEU       0.20      0.01      0.03       148
        NONE       0.45      0.24      0.31       224
           P       0.64      0.58      0.60       339

   micro avg       0.56      0.56      0.56      1167
   macro avg       0.46      0.43      0.40      1167
weighted avg       0.51      0.56      0.50      1167

           N    NEU  NONE  P
True/Pred
N          401  101  121   108
NEU          1    2    3     4
NONE        22   12   54    32
P           32   33   46   195

### Fold number: 9. Name: 127d61e882f34a51b5ba1ffc8fc5f96d

### Training

              precision    recall  f1-score   support

           N       0.61      0.92      0.74       411
         NEU       0.92      0.16      0.28       134
        NONE       0.83      0.43      0.56       201
           P       0.74      0.73      0.73       305

   micro avg       0.68      0.68      0.68      1051
   macro avg       0.77      0.56      0.58      1051
weighted avg       0.73      0.68      0.64      1051

           N    NEU  NONE  P
True/Pred
N          380  77   89     76
NEU          0  22    1      1
NONE         9   3   86      6
P           22  32   25    222

### Validation

              precision    recall  f1-score   support

           N       0.57      0.80      0.67        45
         NEU       1.00      0.13      0.24        15
        NONE       0.47      0.32      0.38        22
           P       0.57      0.61      0.59        33

   micro avg       0.57      0.57      0.57       115
   macro avg       0.65      0.46      0.47       115
weighted avg       0.61      0.57      0.53       115

           N   NEU  NONE  P
True/Pred
N          36  7    12     8
NEU         0  2     0     0
NONE        1  2     7     5
P           8  4     3    20

### Test

Accuracy: 0.5501285347043702
Loss: 1.1052852234299102
              precision    recall  f1-score   support

           N       0.53      0.89      0.66       456
         NEU       0.25      0.01      0.03       148
        NONE       0.45      0.23      0.30       224
           P       0.65      0.54      0.59       339

   micro avg       0.55      0.55      0.55      1167
   macro avg       0.47      0.42      0.40      1167
weighted avg       0.52      0.55      0.49      1167

           N    NEU  NONE  P
True/Pred
N          405  109  130   121
NEU          2    2    2     2
NONE        20   10   51    32
P           29   27   41   184

### Fold number: 10. Name: a0c9a69ac9d44743be6fe14d124335a4

### Training

              precision    recall  f1-score   support

           N       0.62      0.92      0.74       411
         NEU       0.96      0.19      0.32       135
        NONE       0.79      0.38      0.52       201
           P       0.72      0.73      0.73       305

   micro avg       0.67      0.67      0.67      1052
   macro avg       0.77      0.56      0.58      1052
weighted avg       0.72      0.67      0.64      1052

           N    NEU  NONE  P
True/Pred
N          380  68   94     75
NEU          0  26    1      0
NONE         7   7   77      6
P           24  34   29    224

### Validation

              precision    recall  f1-score   support

           N       0.60      0.78      0.68        45
         NEU       0.00      0.00      0.00        14
        NONE       0.45      0.23      0.30        22
           P       0.52      0.70      0.60        33

   micro avg       0.55      0.55      0.55       114
   macro avg       0.40      0.43      0.40       114
weighted avg       0.48      0.55      0.50       114

           N   NEU  NONE  P
True/Pred
N          35  6    12     5
NEU         0  0     0     1
NONE        1  1     5     4
P           9  7     5    23

### Test

Accuracy: 0.5586975149957155
Loss: 1.109305565843125
              precision    recall  f1-score   support

           N       0.54      0.88      0.67       456
         NEU       0.23      0.02      0.04       148
        NONE       0.51      0.23      0.31       224
           P       0.64      0.58      0.61       339

   micro avg       0.56      0.56      0.56      1167
   macro avg       0.48      0.43      0.41      1167
weighted avg       0.52      0.56      0.50      1167

           N    NEU  NONE  P
True/Pred
N          402  107  124   116
NEU          2    3    4     4
NONE        15   11   51    23
P           37   27   45   196

## 4. Creating models with embeddings: tweets.txt.usu.5_w.kvs

### Mean Accuracies and losses

   train_acc_mean  train_acc_stdev  val_acc_mean  val_acc_stdev
0  0.664861        0.007257         0.549822      0.035934

### Accuracies and losses by Stratified KFold (folds with balanced class distributions)

  model name                         train_acc  train_loss  val_acc   val_loss
0  1af7133cdc314c86a84f547e67a16b01  0.659351   0.879901    0.584746  1.051987
1  b6acf1ed5b3a45e49fa5ded6bdd2e813  0.679389   0.844501    0.525424  1.178578
2  64c5f721abb24403b2ca7e17c80db64c  0.670802   0.852123    0.516949  1.157542
3  b1e0a17d82a647a2bbdff2203e49a1bd  0.669209   0.863173    0.547009  1.114403
4  b39185cfa62246d78a06dfcd6d3c612b  0.659676   0.872309    0.589744  1.034071
5  f3fd8727ac6646e59bec66efe37921fa  0.663489   0.862673    0.504274  1.101143
6  2d14dba8b2114fa480ccc89b958607f3  0.670476   0.870421    0.534483  1.097339
7  54197e65c5bd40588f3daa8eef4675f9  0.660000   0.860388    0.594828  1.094771
8  68b9667c6d0145a1b0dba9a89c9f2d8c  0.659372   0.861790    0.513043  1.153762
9  8d470e5d2f21422a8d6668f3cae5ba78  0.656844   0.849086    0.587719  1.101817

## 4. tweets.txt.usu.5_w.kvs

### Fold number: 1. Name: 1af7133cdc314c86a84f547e67a16b01

### Training

              precision    recall  f1-score   support

           N       0.61      0.93      0.74       410
         NEU       0.89      0.13      0.22       134
        NONE       0.79      0.36      0.50       200
           P       0.71      0.72      0.71       304

   micro avg       0.66      0.66      0.66      1048
   macro avg       0.75      0.54      0.54      1048
weighted avg       0.71      0.66      0.62      1048

           N    NEU  NONE  P
True/Pred
N          382  74   94     77
NEU          0  17    1      1
NONE         5   7   73      7
P           23  36   32    219

### Validation

              precision    recall  f1-score   support

           N       0.54      0.85      0.66        46
         NEU       0.00      0.00      0.00        15
        NONE       0.62      0.35      0.44        23
           P       0.67      0.65      0.66        34

   micro avg       0.58      0.58      0.58       118
   macro avg       0.46      0.46      0.44       118
weighted avg       0.52      0.58      0.53       118

           N   NEU  NONE  P
True/Pred
N          39  11   12    10
NEU         0   0    0     0
NONE        3   0    8     2
P           4   4    3    22

### Test

Accuracy: 0.5509854327335048
Loss: 1.1072793988764706
              precision    recall  f1-score   support

           N       0.53      0.87      0.66       456
         NEU       0.00      0.00      0.00       148
        NONE       0.46      0.19      0.27       224
           P       0.64      0.60      0.62       339

   micro avg       0.55      0.55      0.55      1167
   macro avg       0.41      0.42      0.39      1167
weighted avg       0.48      0.55      0.49      1167

           N    NEU  NONE  P
True/Pred
N          397  110  133   114
NEU          2    0    0     0
NONE        19    9   43    22
P           38   29   48   203

### Fold number: 2. Name: b6acf1ed5b3a45e49fa5ded6bdd2e813

### Training

              precision    recall  f1-score   support

           N       0.62      0.93      0.75       410
         NEU       0.91      0.15      0.26       134
        NONE       0.81      0.40      0.53       200
           P       0.73      0.76      0.74       304

   micro avg       0.68      0.68      0.68      1048
   macro avg       0.77      0.56      0.57      1048
weighted avg       0.73      0.68      0.64      1048

           N    NEU  NONE  P
True/Pred
N          383  78   83     69
NEU          0  20    1      1
NONE         6   8   79      4
P           21  28   37    230

### Validation

              precision    recall  f1-score   support

           N       0.53      0.83      0.64        46
         NEU       0.00      0.00      0.00        15
        NONE       0.50      0.17      0.26        23
           P       0.53      0.59      0.56        34

   micro avg       0.53      0.53      0.53       118
   macro avg       0.39      0.40      0.36       118
weighted avg       0.45      0.53      0.46       118

           N   NEU  NONE  P
True/Pred
N          38  8    15    11
NEU         0  0     0     0
NONE        1  0     4     3
P           7  7     4    20

### Test

Accuracy: 0.5492716366752356
Loss: 1.1066537493819577
              precision    recall  f1-score   support

           N       0.53      0.85      0.65       456
         NEU       0.33      0.01      0.03       148
        NONE       0.46      0.23      0.30       224
           P       0.63      0.59      0.61       339

   micro avg       0.55      0.55      0.55      1167
   macro avg       0.49      0.42      0.40      1167
weighted avg       0.52      0.55      0.49      1167

           N    NEU  NONE  P
True/Pred
N          389  102  126   116
NEU          3    2    0     1
NONE        24   13   51    23
P           40   31   47   199

### Fold number: 3. Name: 64c5f721abb24403b2ca7e17c80db64c

### Training

              precision    recall  f1-score   support

           N       0.62      0.94      0.74       410
         NEU       0.94      0.13      0.22       134
        NONE       0.89      0.36      0.51       200
           P       0.71      0.75      0.73       304

   micro avg       0.67      0.67      0.67      1048
   macro avg       0.79      0.54      0.55      1048
weighted avg       0.74      0.67      0.63      1048

           N    NEU  NONE  P
True/Pred
N          385  79   91     71
NEU          0  17    0      1
NONE         5   1   72      3
P           20  37   37    229

### Validation

              precision    recall  f1-score   support

           N       0.52      0.83      0.64        46
         NEU       0.00      0.00      0.00        15
        NONE       0.44      0.17      0.25        23
           P       0.56      0.56      0.56        34

   micro avg       0.52      0.52      0.52       118
   macro avg       0.38      0.39      0.36       118
weighted avg       0.45      0.52      0.46       118

           N   NEU  NONE  P
True/Pred
N          38  10   13    12
NEU         0   0    1     1
NONE        1   2    4     2
P           7   3    5    19

### Test

Accuracy: 0.5586975149957155
Loss: 1.10887315789957
              precision    recall  f1-score   support

           N       0.54      0.86      0.66       456
         NEU       0.30      0.02      0.04       148
        NONE       0.49      0.20      0.28       224
           P       0.63      0.63      0.63       339

   micro avg       0.56      0.56      0.56      1167
   macro avg       0.49      0.43      0.40      1167
weighted avg       0.53      0.56      0.50      1167

           N    NEU  NONE  P
True/Pred
N          390  105  123   107
NEU          4    3    2     1
NONE        21    8   44    16
P           41   32   55   215

### Fold number: 4. Name: b1e0a17d82a647a2bbdff2203e49a1bd

### Training

              precision    recall  f1-score   support

           N       0.61      0.93      0.74       410
         NEU       0.94      0.13      0.22       134
        NONE       0.85      0.36      0.50       201
           P       0.73      0.76      0.74       304

   micro avg       0.67      0.67      0.67      1049
   macro avg       0.78      0.54      0.55      1049
weighted avg       0.73      0.67      0.63      1049

           N    NEU  NONE  P
True/Pred
N          383  81   97     69
NEU          0  17    1      0
NONE         5   3   72      5
P           22  33   31    230

### Validation

              precision    recall  f1-score   support

           N       0.55      0.85      0.67        46
         NEU       0.00      0.00      0.00        15
        NONE       0.44      0.18      0.26        22
           P       0.58      0.62      0.60        34

   micro avg       0.55      0.55      0.55       117
   macro avg       0.39      0.41      0.38       117
weighted avg       0.47      0.55      0.48       117

           N   NEU  NONE  P
True/Pred
N          39  8    12    12
NEU         1  0     0     0
NONE        3  1     4     1
P           3  6     6    21

### Test

Accuracy: 0.5458440445586975
Loss: 1.1097198691311518
              precision    recall  f1-score   support

           N       0.53      0.85      0.65       456
         NEU       0.11      0.01      0.01       148
        NONE       0.48      0.20      0.28       224
           P       0.62      0.60      0.61       339

   micro avg       0.55      0.55      0.55      1167
   macro avg       0.44      0.41      0.39      1167
weighted avg       0.49      0.55      0.49      1167

           N    NEU  NONE  P
True/Pred
N          388  108  128   114
NEU          4    1    1     3
NONE        20    9   44    18
P           44   30   51   204

### Fold number: 5. Name: b39185cfa62246d78a06dfcd6d3c612b

### Training

              precision    recall  f1-score   support

           N       0.59      0.93      0.73       410
         NEU       0.89      0.13      0.22       134
        NONE       0.81      0.35      0.49       201
           P       0.74      0.73      0.74       304

   micro avg       0.66      0.66      0.66      1049
   macro avg       0.76      0.53      0.54      1049
weighted avg       0.72      0.66      0.62      1049

           N    NEU  NONE  P
True/Pred
N          383  82   105    75
NEU          0  17     1     1
NONE         6   4    70     6
P           21  31    25   222

### Validation

              precision    recall  f1-score   support

           N       0.55      0.91      0.69        46
         NEU       0.00      0.00      0.00        15
        NONE       0.80      0.36      0.50        22
           P       0.61      0.56      0.58        34

   micro avg       0.59      0.59      0.59       117
   macro avg       0.49      0.46      0.44       117
weighted avg       0.55      0.59      0.53       117

           N   NEU  NONE  P
True/Pred
N          42  9    10    15
NEU         0  0     0     0
NONE        2  0     8     0
P           2  6     4    19

### Test

Accuracy: 0.5449871465295629
Loss: 1.112446119437421
              precision    recall  f1-score   support

           N       0.52      0.88      0.65       456
         NEU       0.29      0.01      0.03       148
        NONE       0.49      0.18      0.27       224
           P       0.63      0.57      0.60       339

   micro avg       0.54      0.54      0.54      1167
   macro avg       0.48      0.41      0.39      1167
weighted avg       0.52      0.54      0.48      1167

           N    NEU  NONE  P
True/Pred
N          400  111  135   126
NEU          5    2    0     0
NONE        17    6   41    20
P           34   29   48   193

### Fold number: 6. Name: f3fd8727ac6646e59bec66efe37921fa

### Training

              precision    recall  f1-score   support

           N       0.61      0.93      0.74       410
         NEU       0.94      0.11      0.20       134
        NONE       0.82      0.34      0.48       201
           P       0.71      0.76      0.73       304

   micro avg       0.66      0.66      0.66      1049
   macro avg       0.77      0.54      0.54      1049
weighted avg       0.72      0.66      0.62      1049

           N    NEU  NONE  P
True/Pred
N          382  77   98     68
NEU          0  15    1      0
NONE         5   5   68      5
P           23  37   34    231

### Validation

              precision    recall  f1-score   support

           N       0.51      0.89      0.65        46
         NEU       0.00      0.00      0.00        15
        NONE       0.33      0.14      0.19        22
           P       0.58      0.44      0.50        34

   micro avg       0.50      0.50      0.50       117
   macro avg       0.35      0.37      0.33       117
weighted avg       0.43      0.50      0.44       117

           N   NEU  NONE  P
True/Pred
N          41  10   14    16
NEU         0   0    0     1
NONE        2   2    3     2
P           3   3    5    15

### Test

Accuracy: 0.5561268209083119
Loss: 1.1091105626449103
              precision    recall  f1-score   support

           N       0.53      0.87      0.66       456
         NEU       0.20      0.01      0.01       148
        NONE       0.49      0.20      0.28       224
           P       0.63      0.61      0.62       339

   micro avg       0.56      0.56      0.56      1167
   macro avg       0.46      0.42      0.40      1167
weighted avg       0.51      0.56      0.50      1167

           N    NEU  NONE  P
True/Pred
N          395  104  129   113
NEU          2    1    2     0
NONE        21    8   45    18
P           38   35   48   208

### Fold number: 7. Name: 2d14dba8b2114fa480ccc89b958607f3

### Training

              precision    recall  f1-score   support

           N       0.62      0.92      0.74       411
         NEU       0.90      0.13      0.23       134
        NONE       0.82      0.41      0.54       201
           P       0.71      0.74      0.73       304

   micro avg       0.67      0.67      0.67      1050
   macro avg       0.76      0.55      0.56      1050
weighted avg       0.72      0.67      0.63      1050

           N    NEU  NONE  P
True/Pred
N          379  73   88     74
NEU          0  18    1      1
NONE         8   6   82      4
P           24  37   30    225

### Validation

              precision    recall  f1-score   support

           N       0.51      0.80      0.62        45
         NEU       0.00      0.00      0.00        15
        NONE       0.40      0.18      0.25        22
           P       0.69      0.65      0.67        34

   micro avg       0.53      0.53      0.53       116
   macro avg       0.40      0.41      0.38       116
weighted avg       0.47      0.53      0.48       116

           N   NEU  NONE  P
True/Pred
N          36  10   15    10
NEU         3   0    0     0
NONE        3   1    4     2
P           3   4    3    22

### Test

Accuracy: 0.5569837189374465
Loss: 1.1114419118150547
              precision    recall  f1-score   support

           N       0.53      0.87      0.66       456
         NEU       0.11      0.01      0.01       148
        NONE       0.50      0.21      0.30       224
           P       0.65      0.61      0.63       339

   micro avg       0.56      0.56      0.56      1167
   macro avg       0.45      0.42      0.40      1167
weighted avg       0.51      0.56      0.50      1167

           N    NEU  NONE  P
True/Pred
N          396  110  131   110
NEU          5    1    2     1
NONE        16    9   47    22
P           39   28   44   206

### Fold number: 8. Name: 54197e65c5bd40588f3daa8eef4675f9

### Training

              precision    recall  f1-score   support

           N       0.61      0.93      0.73       411
         NEU       0.89      0.13      0.22       134
        NONE       0.84      0.34      0.48       201
           P       0.71      0.74      0.72       304

   micro avg       0.66      0.66      0.66      1050
   macro avg       0.76      0.53      0.54      1050
weighted avg       0.72      0.66      0.62      1050

           N    NEU  NONE  P
True/Pred
N          383  75   100    75
NEU          0  17     1     1
NONE         5   5    68     3
P           23  37    32   225

### Validation

              precision    recall  f1-score   support

           N       0.59      0.89      0.71        45
         NEU       0.00      0.00      0.00        15
        NONE       0.56      0.23      0.32        22
           P       0.62      0.71      0.66        34

   micro avg       0.59      0.59      0.59       116
   macro avg       0.44      0.46      0.42       116
weighted avg       0.51      0.59      0.53       116

           N   NEU  NONE  P
True/Pred
N          40  9    11     8
NEU         0  0     0     0
NONE        2  0     5     2
P           3  6     6    24

### Test

Accuracy: 0.5552699228791774
Loss: 1.1098740682068766
              precision    recall  f1-score   support

           N       0.54      0.87      0.66       456
         NEU       0.00      0.00      0.00       148
        NONE       0.46      0.19      0.27       224
           P       0.64      0.61      0.63       339

   micro avg       0.56      0.56      0.56      1167
   macro avg       0.41      0.42      0.39      1167
weighted avg       0.48      0.56      0.49      1167

           N    NEU  NONE  P
True/Pred
N          397  109  125   111
NEU          3    0    3     0
NONE        19   11   43    20
P           37   28   53   208

### Fold number: 9. Name: 68b9667c6d0145a1b0dba9a89c9f2d8c

### Training

              precision    recall  f1-score   support

           N       0.61      0.92      0.73       411
         NEU       0.86      0.09      0.16       134
        NONE       0.80      0.37      0.51       201
           P       0.70      0.75      0.73       305

   micro avg       0.66      0.66      0.66      1051
   macro avg       0.74      0.53      0.53      1051
weighted avg       0.71      0.66      0.62      1051

           N    NEU  NONE  P
True/Pred
N          377  80   93     68
NEU          0  12    1      1
NONE         7   5   74      6
P           27  37   33    230

### Validation

              precision    recall  f1-score   support

           N       0.50      0.80      0.62        45
         NEU       1.00      0.07      0.12        15
        NONE       0.56      0.23      0.32        22
           P       0.52      0.52      0.52        33

   micro avg       0.51      0.51      0.51       115
   macro avg       0.64      0.40      0.39       115
weighted avg       0.58      0.51      0.47       115

           N   NEU  NONE  P
True/Pred
N          36  5    15    16
NEU         0  1     0     0
NONE        3  1     5     0
P           6  8     2    17

### Test

Accuracy: 0.5544130248500428
Loss: 1.1123528375002687
              precision    recall  f1-score   support

           N       0.54      0.86      0.66       456
         NEU       0.00      0.00      0.00       148
        NONE       0.48      0.22      0.30       224
           P       0.62      0.60      0.61       339

   micro avg       0.55      0.55      0.55      1167
   macro avg       0.41      0.42      0.39      1167
weighted avg       0.48      0.55      0.50      1167

           N    NEU  NONE  P
True/Pred
N          392  107  119   110
NEU          3    0    1     0
NONE        20   10   50    24
P           41   31   54   205

### Fold number: 10. Name: 8d470e5d2f21422a8d6668f3cae5ba78

### Training

              precision    recall  f1-score   support

           N       0.61      0.91      0.73       411
         NEU       0.89      0.12      0.21       135
        NONE       0.84      0.36      0.50       201
           P       0.68      0.74      0.71       305

   micro avg       0.66      0.66      0.66      1052
   macro avg       0.75      0.53      0.54      1052
weighted avg       0.71      0.66      0.62      1052

           N    NEU  NONE  P
True/Pred
N          376  73   92     74
NEU          0  16    1      1
NONE         6   5   72      3
P           29  41   36    227

### Validation

              precision    recall  f1-score   support

           N       0.61      0.78      0.69        45
         NEU       0.00      0.00      0.00        14
        NONE       0.50      0.27      0.35        22
           P       0.58      0.79      0.67        33

   micro avg       0.59      0.59      0.59       114
   macro avg       0.42      0.46      0.43       114
weighted avg       0.51      0.59      0.53       114

           N   NEU  NONE  P
True/Pred
N          35  8    8      6
NEU         0  0    0      0
NONE        2  3    6      1
P           8  3    8     26

### Test

Accuracy: 0.5595544130248501
Loss: 1.102650302580092
              precision    recall  f1-score   support

           N       0.54      0.86      0.66       456
         NEU       0.40      0.01      0.03       148
        NONE       0.50      0.21      0.29       224
           P       0.61      0.63      0.62       339

   micro avg       0.56      0.56      0.56      1167
   macro avg       0.51      0.43      0.40      1167
weighted avg       0.54      0.56      0.50      1167

           N    NEU  NONE  P
True/Pred
N          390  101  121   106
NEU          3    2    0     0
NONE        17   11   46    18
P           46   34   57   215

## 5. Creating models with embeddings: SBW-vectors-300-min5.bin

### Mean Accuracies and losses

   train_acc_mean  train_acc_stdev  val_acc_mean  val_acc_stdev
0  0.590906        0.003445         0.517988      0.027542

### Accuracies and losses by Stratified KFold (folds with balanced class distributions)

  model name                         train_acc  train_loss  val_acc   val_loss
0  ce7b83f1b15542c48f6cbcfaa9f76bca  0.588740   0.988942    0.542373  1.089584
1  d4876471497741fcaeb6dfd09562847f  0.588740   0.967248    0.508475  1.217867
2  9eb6aa24e516491f9d62f8a8edccd70b  0.587786   0.982130    0.508475  1.172530
3  94b36ab1d9a94d41ade0ea9339554e8f  0.589133   0.979257    0.538462  1.169062
4  ec46d85dfd534f9da8776574dc828e0a  0.588179   0.980389    0.512821  1.170765
5  cf6d3464568741fe8860326c9af8b6b8  0.591039   1.001383    0.521368  1.115059
6  97d2684941df453dafb543307789e6e8  0.592381   0.989814    0.517241  1.155645
7  457f041aa8e043df88d274e052a0bfe4  0.592381   0.989895    0.525862  1.181443
8  5505aa44e88a413bb3f1ba8bdc9ed256  0.599429   0.981872    0.452174  1.191906
9  303c9b18349d47f1b50c7a1af8bf66f7  0.591255   0.982939    0.552632  1.164162

## 5. SBW-vectors-300-min5.bin

### Fold number: 1. Name: ce7b83f1b15542c48f6cbcfaa9f76bca

### Training

              precision    recall  f1-score   support

           N       0.55      0.94      0.69       410
         NEU       0.00      0.00      0.00       134
        NONE       0.82      0.18      0.30       200
           P       0.66      0.64      0.65       304

   micro avg       0.59      0.59      0.59      1048
   macro avg       0.51      0.44      0.41      1048
weighted avg       0.56      0.59      0.52      1048

           N    NEU  NONE  P
True/Pred
N          385  89   128   104
NEU          0   0     0     0
NONE         1   3    36     4
P           24  42    36   196

### Validation

              precision    recall  f1-score   support

           N       0.52      0.87      0.65        46
         NEU       0.00      0.00      0.00        15
        NONE       0.50      0.09      0.15        23
           P       0.59      0.65      0.62        34

   micro avg       0.54      0.54      0.54       118
   macro avg       0.40      0.40      0.35       118
weighted avg       0.47      0.54      0.46       118

           N   NEU  NONE  P
True/Pred
N          40  8    17    12
NEU         0  0     0     0
NONE        0  2     2     0
P           6  5     4    22

### Test

Accuracy: 0.5089974293059126
Loss: 1.1659613911877964
              precision    recall  f1-score   support

           N       0.48      0.88      0.62       456
         NEU       0.00      0.00      0.00       148
        NONE       0.55      0.08      0.14       224
           P       0.58      0.52      0.55       339

   micro avg       0.51      0.51      0.51      1167
   macro avg       0.40      0.37      0.33      1167
weighted avg       0.46      0.51      0.43      1167

           N    NEU  NONE  P
True/Pred
N          399  110  166   154
NEU          0    0    0     0
NONE         4    3   18     8
P           53   35   40   177

### Fold number: 2. Name: d4876471497741fcaeb6dfd09562847f

### Training

              precision    recall  f1-score   support

           N       0.55      0.93      0.69       410
         NEU       1.00      0.01      0.01       134
        NONE       0.71      0.20      0.31       200
           P       0.65      0.64      0.65       304

   micro avg       0.59      0.59      0.59      1048
   macro avg       0.73      0.44      0.42      1048
weighted avg       0.67      0.59      0.52      1048

           N    NEU  NONE  P
True/Pred
N          380  84   125   101
NEU          0   1     0     0
NONE         4   5    40     7
P           26  44    35   196

### Validation

              precision    recall  f1-score   support

           N       0.49      0.91      0.64        46
         NEU       0.00      0.00      0.00        15
        NONE       0.00      0.00      0.00        23
           P       0.58      0.53      0.55        34

   micro avg       0.51      0.51      0.51       118
   macro avg       0.27      0.36      0.30       118
weighted avg       0.36      0.51      0.41       118

           N   NEU  NONE  P
True/Pred
N          42  9    18    16
NEU         0  0     0     0
NONE        1  1     0     0
P           3  5     5    18

### Test

Accuracy: 0.5184233076263924
Loss: 1.1622620403854913
              precision    recall  f1-score   support

           N       0.49      0.88      0.63       456
         NEU       0.00      0.00      0.00       148
        NONE       0.48      0.09      0.16       224
           P       0.59      0.54      0.56       339

   micro avg       0.52      0.52      0.52      1167
   macro avg       0.39      0.38      0.34      1167
weighted avg       0.46      0.52      0.44      1167

           N    NEU  NONE  P
True/Pred
N          402  106  159   146
NEU          0    0    0     0
NONE         9    3   21    11
P           45   39   44   182

### Fold number: 3. Name: 9eb6aa24e516491f9d62f8a8edccd70b

### Training

              precision    recall  f1-score   support

           N       0.54      0.94      0.69       410
         NEU       1.00      0.01      0.03       134
        NONE       0.77      0.20      0.32       200
           P       0.66      0.62      0.64       304

   micro avg       0.59      0.59      0.59      1048
   macro avg       0.74      0.44      0.42      1048
weighted avg       0.68      0.59      0.52      1048

           N    NEU  NONE  P
True/Pred
N          384  82   129   110
NEU          0   2     0     0
NONE         2   5    41     5
P           24  45    30   189

### Validation

              precision    recall  f1-score   support

           N       0.51      0.85      0.63        46
         NEU       0.00      0.00      0.00        15
        NONE       0.33      0.09      0.14        23
           P       0.54      0.56      0.55        34

   micro avg       0.51      0.51      0.51       118
   macro avg       0.35      0.37      0.33       118
weighted avg       0.42      0.51      0.43       118

           N   NEU  NONE  P
True/Pred
N          39  7    17    14
NEU         0  0     0     0
NONE        2  1     2     1
P           5  7     4    19

### Test

Accuracy: 0.5107112253641817
Loss: 1.1629055949586335
              precision    recall  f1-score   support

           N       0.48      0.88      0.62       456
         NEU       0.00      0.00      0.00       148
        NONE       0.47      0.08      0.14       224
           P       0.60      0.52      0.56       339

   micro avg       0.51      0.51      0.51      1167
   macro avg       0.39      0.37      0.33      1167
weighted avg       0.45      0.51      0.43      1167

           N    NEU  NONE  P
True/Pred
N          402  110  171   153
NEU          0    0    0     0
NONE         7    3   18    10
P           47   35   35   176

### Fold number: 4. Name: 94b36ab1d9a94d41ade0ea9339554e8f

### Training

              precision    recall  f1-score   support

           N       0.54      0.94      0.69       410
         NEU       0.67      0.01      0.03       134
        NONE       0.84      0.18      0.30       201
           P       0.66      0.64      0.65       304

   micro avg       0.59      0.59      0.59      1049
   macro avg       0.68      0.44      0.42      1049
weighted avg       0.65      0.59      0.52      1049

           N    NEU  NONE  P
True/Pred
N          385  90   130   104
NEU          0   2     0     1
NONE         1   2    36     4
P           24  40    35   195

### Validation

              precision    recall  f1-score   support

           N       0.51      0.91      0.66        46
         NEU       0.00      0.00      0.00        15
        NONE       0.43      0.14      0.21        22
           P       0.64      0.53      0.58        34

   micro avg       0.54      0.54      0.54       117
   macro avg       0.40      0.39      0.36       117
weighted avg       0.47      0.54      0.47       117

           N   NEU  NONE  P
True/Pred
N          42  10   16    14
NEU         0   0    0     0
NONE        1   1    3     2
P           3   4    3    18

### Test

Accuracy: 0.5158526135389888
Loss: 1.1656743731575714
              precision    recall  f1-score   support

           N       0.49      0.88      0.63       456
         NEU       0.00      0.00      0.00       148
        NONE       0.53      0.09      0.15       224
           P       0.59      0.53      0.56       339

   micro avg       0.52      0.52      0.52      1167
   macro avg       0.40      0.38      0.33      1167
weighted avg       0.46      0.52      0.44      1167

           N    NEU  NONE  P
True/Pred
N          402  108  163   149
NEU          0    0    0     0
NONE         5    3   20    10
P           49   37   41   180

### Fold number: 5. Name: ec46d85dfd534f9da8776574dc828e0a

### Training

              precision    recall  f1-score   support

           N       0.54      0.94      0.68       410
         NEU       1.00      0.01      0.01       134
        NONE       0.84      0.18      0.30       201
           P       0.68      0.63      0.66       304

   micro avg       0.59      0.59      0.59      1049
   macro avg       0.76      0.44      0.41      1049
weighted avg       0.69      0.59      0.52      1049

           N    NEU  NONE  P
True/Pred
N          387  88   138   108
NEU          0   1     0     0
NONE         1   3    36     3
P           22  42    27   193

### Validation

              precision    recall  f1-score   support

           N       0.49      0.93      0.64        46
         NEU       0.00      0.00      0.00        15
        NONE       0.33      0.05      0.08        22
           P       0.62      0.47      0.53        34

   micro avg       0.51      0.51      0.51       117
   macro avg       0.36      0.36      0.31       117
weighted avg       0.43      0.51      0.42       117

           N   NEU  NONE  P
True/Pred
N          43  10   17    18
NEU         0   0    0     0
NONE        1   1    1     0
P           2   4    4    16

### Test

Accuracy: 0.506426735218509
Loss: 1.167092462380348
              precision    recall  f1-score   support

           N       0.48      0.89      0.62       456
         NEU       0.00      0.00      0.00       148
        NONE       0.47      0.06      0.11       224
           P       0.59      0.50      0.54       339

   micro avg       0.51      0.51      0.51      1167
   macro avg       0.38      0.36      0.32      1167
weighted avg       0.45      0.51      0.42      1167

           N    NEU  NONE  P
True/Pred
N          406  110  170   160
NEU          0    0    0     0
NONE         5    3   14     8
P           45   35   40   171

### Fold number: 6. Name: cf6d3464568741fe8860326c9af8b6b8

### Training

              precision    recall  f1-score   support

           N       0.54      0.93      0.68       410
         NEU       1.00      0.01      0.01       134
        NONE       0.83      0.21      0.34       201
           P       0.67      0.64      0.66       304

   micro avg       0.59      0.59      0.59      1049
   macro avg       0.76      0.45      0.42      1049
weighted avg       0.69      0.59      0.52      1049

           N    NEU  NONE  P
True/Pred
N          380  87   131   105
NEU          0   1     0     0
NONE         1   5    43     3
P           29  41    27   196

### Validation

              precision    recall  f1-score   support

           N       0.53      0.89      0.67        46
         NEU       0.00      0.00      0.00        15
        NONE       0.33      0.05      0.08        22
           P       0.51      0.56      0.54        34

   micro avg       0.52      0.52      0.52       117
   macro avg       0.34      0.37      0.32       117
weighted avg       0.42      0.52      0.43       117

           N   NEU  NONE  P
True/Pred
N          41  7    15    14
NEU         0  0     0     0
NONE        0  1     1     1
P           5  7     6    19

### Test

Accuracy: 0.5149957155098543
Loss: 1.1673914654031687
              precision    recall  f1-score   support

           N       0.49      0.87      0.63       456
         NEU       0.00      0.00      0.00       148
        NONE       0.51      0.08      0.14       224
           P       0.59      0.55      0.57       339

   micro avg       0.51      0.51      0.51      1167
   macro avg       0.40      0.37      0.33      1167
weighted avg       0.46      0.51      0.44      1167

           N    NEU  NONE  P
True/Pred
N          398  104  167   148
NEU          0    0    0     0
NONE         8    3   18     6
P           50   41   39   185

### Fold number: 7. Name: 97d2684941df453dafb543307789e6e8

### Training

              precision    recall  f1-score   support

           N       0.55      0.92      0.69       411
         NEU       1.00      0.01      0.01       134
        NONE       0.75      0.24      0.37       201
           P       0.66      0.63      0.64       304

   micro avg       0.59      0.59      0.59      1050
   macro avg       0.74      0.45      0.43      1050
weighted avg       0.68      0.59      0.53      1050

           N    NEU  NONE  P
True/Pred
N          380  87   119   106
NEU          0   1     0     0
NONE         5   5    49     6
P           26  41    33   192

### Validation

              precision    recall  f1-score   support

           N       0.51      0.82      0.63        45
         NEU       0.00      0.00      0.00        15
        NONE       0.20      0.05      0.07        22
           P       0.56      0.65      0.60        34

   micro avg       0.52      0.52      0.52       116
   macro avg       0.32      0.38      0.33       116
weighted avg       0.40      0.52      0.44       116

           N   NEU  NONE  P
True/Pred
N          37  10   15    10
NEU         0   0    0     0
NONE        2   0    1     2
P           6   5    6    22

### Test

Accuracy: 0.5141388174807198
Loss: 1.1647182791553563
              precision    recall  f1-score   support

           N       0.49      0.87      0.62       456
         NEU       0.00      0.00      0.00       148
        NONE       0.46      0.11      0.18       224
           P       0.60      0.53      0.56       339

   micro avg       0.51      0.51      0.51      1167
   macro avg       0.39      0.38      0.34      1167
weighted avg       0.45      0.51      0.44      1167

           N    NEU  NONE  P
True/Pred
N          397  111  163   145
NEU          0    0    0     0
NONE         9    4   25    16
P           50   33   36   178

### Fold number: 8. Name: 457f041aa8e043df88d274e052a0bfe4

### Training

              precision    recall  f1-score   support

           N       0.55      0.93      0.69       411
         NEU       1.00      0.01      0.01       134
        NONE       0.71      0.20      0.32       201
           P       0.68      0.65      0.66       304

   micro avg       0.59      0.59      0.59      1050
   macro avg       0.73      0.45      0.42      1050
weighted avg       0.67      0.59      0.52      1050

           N    NEU  NONE  P
True/Pred
N          383  88   129   100
NEU          0   1     0     0
NONE         4   6    41     7
P           24  39    31   197

### Validation

              precision    recall  f1-score   support

           N       0.51      0.84      0.63        45
         NEU       0.00      0.00      0.00        15
        NONE       0.50      0.14      0.21        22
           P       0.57      0.59      0.58        34

   micro avg       0.53      0.53      0.53       116
   macro avg       0.39      0.39      0.36       116
weighted avg       0.46      0.53      0.46       116

           N   NEU  NONE  P
True/Pred
N          38  11   13    13
NEU         0   0    0     0
NONE        1   1    3     1
P           6   3    6    20

### Test

Accuracy: 0.5141388174807198
Loss: 1.1658402759404358
              precision    recall  f1-score   support

           N       0.50      0.88      0.63       456
         NEU       0.00      0.00      0.00       148
        NONE       0.40      0.08      0.14       224
           P       0.58      0.53      0.55       339

   micro avg       0.51      0.51      0.51      1167
   macro avg       0.37      0.37      0.33      1167
weighted avg       0.44      0.51      0.44      1167

           N    NEU  NONE  P
True/Pred
N          402  104  161   144
NEU          0    0    0     0
NONE         8    4   19    16
P           46   40   44   179

### Fold number: 9. Name: 5505aa44e88a413bb3f1ba8bdc9ed256

### Training

              precision    recall  f1-score   support

           N       0.56      0.94      0.70       411
         NEU       1.00      0.01      0.01       134
        NONE       0.79      0.20      0.32       201
           P       0.66      0.67      0.66       305

   micro avg       0.60      0.60      0.60      1051
   macro avg       0.75      0.45      0.43      1051
weighted avg       0.69      0.60      0.53      1051

           N    NEU  NONE  P
True/Pred
N          385  83   126    97
NEU          0   1     0     0
NONE         0   6    41     5
P           26  44    34   203

### Validation

              precision    recall  f1-score   support

           N       0.46      0.82      0.59        45
         NEU       0.00      0.00      0.00        15
        NONE       0.25      0.05      0.08        22
           P       0.47      0.42      0.44        33

   micro avg       0.45      0.45      0.45       115
   macro avg       0.29      0.32      0.28       115
weighted avg       0.36      0.45      0.37       115

           N   NEU  NONE  P
True/Pred
N          37  10   16    18
NEU         0   0    0     0
NONE        2   0    1     1
P           6   5    5    14

### Test

Accuracy: 0.5107112253641817
Loss: 1.164423775409861
              precision    recall  f1-score   support

           N       0.49      0.87      0.63       456
         NEU       0.00      0.00      0.00       148
        NONE       0.53      0.09      0.15       224
           P       0.57      0.53      0.55       339

   micro avg       0.51      0.51      0.51      1167
   macro avg       0.40      0.37      0.33      1167
weighted avg       0.46      0.51      0.43      1167

           N    NEU  NONE  P
True/Pred
N          397  105  161   151
NEU          0    0    0     0
NONE         6    3   20     9
P           53   40   43   179

### Fold number: 10. Name: 303c9b18349d47f1b50c7a1af8bf66f7

### Training

              precision    recall  f1-score   support

           N       0.56      0.92      0.69       411
         NEU       1.00      0.02      0.04       135
        NONE       0.76      0.22      0.34       201
           P       0.63      0.65      0.64       305

   micro avg       0.59      0.59      0.59      1052
   macro avg       0.74      0.45      0.43      1052
weighted avg       0.67      0.59      0.53      1052

           N    NEU  NONE  P
True/Pred
N          377  81   117   100
NEU          0   3     0     0
NONE         2   5    44     7
P           32  46    40   198

### Validation

              precision    recall  f1-score   support

           N       0.49      0.82      0.61        45
         NEU       0.00      0.00      0.00        14
        NONE       0.62      0.23      0.33        22
           P       0.70      0.64      0.67        33

   micro avg       0.55      0.55      0.55       114
   macro avg       0.45      0.42      0.40       114
weighted avg       0.52      0.55      0.50       114

           N   NEU  NONE  P
True/Pred
N          37  12   16    11
NEU         0   0    0     0
NONE        2   0    5     1
P           6   2    1    21

### Test

Accuracy: 0.5141388174807198
Loss: 1.1698242761244573
              precision    recall  f1-score   support

           N       0.49      0.87      0.63       456
         NEU       0.00      0.00      0.00       148
        NONE       0.48      0.10      0.17       224
           P       0.59      0.53      0.56       339

   micro avg       0.51      0.51      0.51      1167
   macro avg       0.39      0.38      0.34      1167
weighted avg       0.45      0.51      0.44      1167

           N    NEU  NONE  P
True/Pred
N          398  108  162   148
NEU          0    0    0     0
NONE         9    4   23    12
P           49   36   39   179

'   \nfor i, word_vector_name in enumerate(word_vector_names): \n    lab_report = lab_reports[i]\n    show_statistics_by_model(i, word_vector_name, lab_report)\n'