In [1]:
import sys
import os
from pprint import pprint
sys.path.append(os.path.abspath("../../../"))
import warnings
warnings.filterwarnings('ignore')
from IPython.display import display, HTML
from IPython.display import Markdown
import ipywidgets as iw
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf

In [2]:
import usure.common.logging as usurelogging
from usure.config import config
from usure.classification.infrastructure import (
     BasicSentenceCleaner 
    ,CsvLabeledCommentsDao
    ,FileWordVectorsRep
    ,FileModelDao)
from usure.classification.core import SvmLab, ClassifierInput, LabReport, WordVectorsService, LabeledComments
import usure.classification.ui.utils as ui

Using TensorFlow backend.

In [3]:
%%javascript
IPython.OutputArea.prototype._should_scroll = lines => false

In [4]:
pd.set_option('colheader_justify', 'left')
pd.set_option('display.max_colwidth', 200)

In [5]:
cleaner = BasicSentenceCleaner(config.assets)
comments_dao = CsvLabeledCommentsDao(config.sets, cleaner)
wv_rep = FileWordVectorsRep(config.embeddings)
model_dao = FileModelDao(config.models)
lab = SvmLab(model_dao)
comments = comments_dao.get("train.csv")
test_comments = comments_dao.get("test.csv")

In [6]:
def classification_lab_report(word_vector_no, input, lab):
    display(Markdown(f'## {word_vector_no}. Creating models with embeddings: {input.embeddings_name}'))
    lab_report = lab.train_by_stratifiedkfold(input, folds=10)
    return lab_report

def model_architecture_summary(lab_report):
    display(Markdown(f'### Mean Accuracies and losses'))
    display(lab_report.summary)
    display(Markdown(f'### Accuracies and losses by Stratified KFold (folds with balanced class distributions)'))
    model_reports_df = ui.model_reports_to_DataFrame(lab_report.model_reports)
    display(model_reports_df) 
    
def show_statistics_by_model(word_vector_no, word_vector_name, test_input, lab_report):
    """Shows statistics by models created by every folds"""
    display(Markdown(f'## {word_vector_no+1}. {word_vector_name}'))
    for fold_no, model_report in enumerate(lab_report.model_reports):
        display(Markdown(f'### Fold number: {fold_no+1}. Name: {model_report.name}'))
        ui.plot_learning_curves_if_epoches(model_report)
        display(Markdown(f'### Training'))
        print(model_report.training.classification_report)
        confu_mtx = model_report.training.confusion_matrix
        display(confu_mtx)
        display(Markdown(f'### Validation'))
        print(model_report.validation.classification_report)
        confu_mtx = model_report.validation.confusion_matrix
        display(confu_mtx)
        display(Markdown(f'### Test'))
        test_metrics, labeled_predictions = lab.test(model_report.name, test_input)
        print(f"Accuracy: {test_metrics.accuracy}")
        print(f"Loss: {test_metrics.loss}")
        print(test_metrics.classification_report)
        display(test_metrics.confusion_matrix)
        test_labeled_comments = test_input.labeled_comments
        labeled_comments = LabeledComments(f"{model_report.name}-{word_vector_name}.svm.csv",test_labeled_comments.comments ,labeled_predictions)
        comments_dao.save_from_origin(labeled_comments, "test.csv")

In [7]:
#%matplotlib notebook
display(Markdown(f'# Support vector machine'))
word_vectors = wv_rep.get_all()
word_vector_names = []
lab_reports = []

#word_vectors = [word_vectors.__next__()] #comment!!!!!
for i, word_vector in enumerate(word_vectors):
    #if "FBCR2013" in word_vector.name: #erase
    #    continue
    wv_service = WordVectorsService(word_vector)
    #test_inputs.append(ClassifierInput(test_comments, wv_service))
    input = ClassifierInput(comments, wv_service)
    lab_report = classification_lab_report(i+1, input, lab)
    model_architecture_summary(lab_report)
    #word_vector_names.append(word_vector.name)
    #lab_reports.append(lab_report)
    show_statistics_by_model(i, word_vector.name, ClassifierInput(test_comments, wv_service), lab_report)
'''   
for i, word_vector_name in enumerate(word_vector_names): 
    lab_report = lab_reports[i]
    show_statistics_by_model(i, word_vector_name, lab_report)
'''

# Support vector machine

## 1. Creating models with embeddings: CorpusFBCR2013.txt.usu.20_w.kvs

### Mean Accuracies and losses

   train_acc_mean  train_acc_stdev  val_acc_mean  val_acc_stdev
0  0.591959        0.004936         0.516337      0.02415

### Accuracies and losses by Stratified KFold (folds with balanced class distributions)

  model name                         train_acc  train_loss  val_acc   val_loss
0  eff4fc31eb534883b806472083581b95  0.586832   0.962282    0.533898  1.106562
1  cde6258a627947d182509d26904da2bc  0.590649   0.974648    0.516949  1.092083
2  738a0bcf8c7f4acfb2994a6447a34360  0.596374   0.966959    0.500000  1.171348
3  74768dd317694b47b515044417778ec9  0.591992   0.954298    0.547009  1.162000
4  1badec45676742b29e63049ad3ddf6a0  0.590086   0.971848    0.512821  1.131028
5  423cff49e001475e8a4cd0c1e5bae8c9  0.603432   0.935238    0.478632  1.217954
6  403dfe7e920548cabf724a7d34c637e9  0.589524   0.948528    0.508621  1.154203
7  d1760fe1ed194849a7b147eca227d241  0.591429   0.946921    0.491379  1.180560
8  5e50d51dda0a4398b5bd8551b93e24e2  0.592769   0.948860    0.556522  1.182046
9  b02a73ef6d9f418aa370d58967bb042c  0.586502   0.956150    0.517544  1.139889

## 1. CorpusFBCR2013.txt.usu.20_w.kvs

### Fold number: 1. Name: eff4fc31eb534883b806472083581b95

### Training

              precision    recall  f1-score   support

           N       0.53      0.95      0.68       410
         NEU       0.00      0.00      0.00       134
        NONE       0.78      0.23      0.36       200
           P       0.71      0.59      0.65       304

   micro avg       0.59      0.59      0.59      1048
   macro avg       0.50      0.44      0.42      1048
weighted avg       0.56      0.59      0.52      1048

           N    NEU  NONE  P
True/Pred
N          389  97   131   118
NEU          0   0     0     0
NONE         1   6    46     6
P           20  31    23   180

### Validation

              precision    recall  f1-score   support

           N       0.50      0.89      0.64        46
         NEU       0.00      0.00      0.00        15
        NONE       0.62      0.22      0.32        23
           P       0.61      0.50      0.55        34

   micro avg       0.53      0.53      0.53       118
   macro avg       0.43      0.40      0.38       118
weighted avg       0.49      0.53      0.47       118

           N   NEU  NONE  P
True/Pred
N          41  11   14    16
NEU         0   0    0     0
NONE        1   1    5     1
P           4   3    4    17

### Test

Accuracy: 0.506426735218509
Loss: 1.152489650428153
              precision    recall  f1-score   support

           N       0.47      0.89      0.62       456
         NEU       0.00      0.00      0.00       148
        NONE       0.45      0.11      0.17       224
           P       0.63      0.47      0.54       339

   micro avg       0.51      0.51      0.51      1167
   macro avg       0.39      0.37      0.33      1167
weighted avg       0.46      0.51      0.43      1167

           N    NEU  NONE  P
True/Pred
N          407  122  167   166
NEU          0    0    0     0
NONE        10    6   24    13
P           39   20   33   160

### Fold number: 2. Name: cde6258a627947d182509d26904da2bc

### Training

              precision    recall  f1-score   support

           N       0.54      0.95      0.69       410
         NEU       1.00      0.03      0.06       134
        NONE       0.80      0.21      0.34       200
           P       0.68      0.60      0.64       304

   micro avg       0.59      0.59      0.59      1048
   macro avg       0.75      0.45      0.43      1048
weighted avg       0.69      0.59      0.53      1048

           N    NEU  NONE  P
True/Pred
N          389  89   127   117
NEU          0   4     0     0
NONE         0   7    43     4
P           21  34    30   183

### Validation

              precision    recall  f1-score   support

           N       0.49      0.80      0.61        46
         NEU       0.00      0.00      0.00        15
        NONE       0.62      0.22      0.32        23
           P       0.56      0.56      0.56        34

   micro avg       0.52      0.52      0.52       118
   macro avg       0.42      0.40      0.37       118
weighted avg       0.47      0.52      0.46       118

           N   NEU  NONE  P
True/Pred
N          37  13   13    13
NEU         0   0    0     0
NONE        1   0    5     2
P           8   2    5    19

### Test

Accuracy: 0.5107112253641817
Loss: 1.1602037071982512
              precision    recall  f1-score   support

           N       0.49      0.90      0.63       456
         NEU       0.00      0.00      0.00       148
        NONE       0.43      0.11      0.17       224
           P       0.61      0.48      0.54       339

   micro avg       0.51      0.51      0.51      1167
   macro avg       0.38      0.37      0.33      1167
weighted avg       0.45      0.51      0.43      1167

           N    NEU  NONE  P
True/Pred
N          409  113  160   161
NEU          0    0    0     0
NONE         9    8   24    15
P           38   27   40   163

### Fold number: 3. Name: 738a0bcf8c7f4acfb2994a6447a34360

### Training

              precision    recall  f1-score   support

           N       0.54      0.95      0.69       410
         NEU       1.00      0.01      0.01       134
        NONE       0.87      0.23      0.36       200
           P       0.70      0.63      0.66       304

   micro avg       0.60      0.60      0.60      1048
   macro avg       0.78      0.45      0.43      1048
weighted avg       0.71      0.60      0.53      1048

           N    NEU  NONE  P
True/Pred
N          388  96   129   109
NEU          0   1     0     0
NONE         0   3    45     4
P           22  34    26   191

### Validation

              precision    recall  f1-score   support

           N       0.49      0.85      0.62        46
         NEU       0.00      0.00      0.00        15
        NONE       0.60      0.13      0.21        23
           P       0.50      0.50      0.50        34

   micro avg       0.50      0.50      0.50       118
   macro avg       0.40      0.37      0.33       118
weighted avg       0.45      0.50      0.43       118

           N   NEU  NONE  P
True/Pred
N          39  9    14    17
NEU         0  0     0     0
NONE        0  2     3     0
P           7  4     6    17

### Test

Accuracy: 0.5158526135389888
Loss: 1.1561495624480427
              precision    recall  f1-score   support

           N       0.49      0.89      0.63       456
         NEU       0.00      0.00      0.00       148
        NONE       0.43      0.10      0.16       224
           P       0.62      0.52      0.56       339

   micro avg       0.52      0.52      0.52      1167
   macro avg       0.38      0.38      0.34      1167
weighted avg       0.45      0.52      0.44      1167

           N    NEU  NONE  P
True/Pred
N          405  114  166   150
NEU          0    0    0     0
NONE         8    7   22    14
P           43   27   36   175

### Fold number: 4. Name: 74768dd317694b47b515044417778ec9

### Training

              precision    recall  f1-score   support

           N       0.54      0.93      0.68       410
         NEU       1.00      0.01      0.03       134
        NONE       0.78      0.29      0.42       201
           P       0.69      0.59      0.64       304

   micro avg       0.59      0.59      0.59      1049
   macro avg       0.75      0.46      0.44      1049
weighted avg       0.69      0.59      0.53      1049

           N    NEU  NONE  P
True/Pred
N          381  89   123   119
NEU          0   2     0     0
NONE         3   8    58     5
P           26  35    20   180

### Validation

              precision    recall  f1-score   support

           N       0.52      0.91      0.66        46
         NEU       0.00      0.00      0.00        15
        NONE       0.60      0.14      0.22        22
           P       0.63      0.56      0.59        34

   micro avg       0.55      0.55      0.55       117
   macro avg       0.44      0.40      0.37       117
weighted avg       0.50      0.55      0.47       117

           N   NEU  NONE  P
True/Pred
N          42  12   13    14
NEU         0   0    1     0
NONE        0   1    3     1
P           4   2    5    19

### Test

Accuracy: 0.5132819194515853
Loss: 1.1547984499499668
              precision    recall  f1-score   support

           N       0.48      0.89      0.62       456
         NEU       0.00      0.00      0.00       148
        NONE       0.46      0.13      0.21       224
           P       0.64      0.49      0.55       339

   micro avg       0.51      0.51      0.51      1167
   macro avg       0.40      0.38      0.35      1167
weighted avg       0.46      0.51      0.44      1167

           N    NEU  NONE  P
True/Pred
N          404  119  161   159
NEU          1    0    0     0
NONE        12    8   30    15
P           39   21   33   165

### Fold number: 5. Name: 1badec45676742b29e63049ad3ddf6a0

### Training

              precision    recall  f1-score   support

           N       0.53      0.93      0.68       410
         NEU       1.00      0.01      0.03       134
        NONE       0.76      0.27      0.40       201
           P       0.70      0.60      0.64       304

   micro avg       0.59      0.59      0.59      1049
   macro avg       0.75      0.45      0.44      1049
weighted avg       0.69      0.59      0.53      1049

           N    NEU  NONE  P
True/Pred
N          381  95   123   118
NEU          0   2     0     0
NONE         4   8    55     5
P           25  29    23   181

### Validation

              precision    recall  f1-score   support

           N       0.48      0.89      0.63        46
         NEU       0.00      0.00      0.00        15
        NONE       0.50      0.05      0.08        22
           P       0.60      0.53      0.56        34

   micro avg       0.51      0.51      0.51       117
   macro avg       0.40      0.37      0.32       117
weighted avg       0.46      0.51      0.43       117

           N   NEU  NONE  P
True/Pred
N          41  10   18    16
NEU         0   0    0     0
NONE        1   0    1     0
P           4   5    3    18

### Test

Accuracy: 0.5132819194515853
Loss: 1.158909627557068
              precision    recall  f1-score   support

           N       0.48      0.90      0.63       456
         NEU       0.00      0.00      0.00       148
        NONE       0.43      0.12      0.18       224
           P       0.63      0.48      0.55       339

   micro avg       0.51      0.51      0.51      1167
   macro avg       0.39      0.37      0.34      1167
weighted avg       0.46      0.51      0.44      1167

           N    NEU  NONE  P
True/Pred
N          410  117  164   159
NEU          0    0    0     0
NONE        10    7   26    17
P           36   24   34   163

### Fold number: 6. Name: 423cff49e001475e8a4cd0c1e5bae8c9

### Training

              precision    recall  f1-score   support

           N       0.55      0.92      0.69       410
         NEU       1.00      0.02      0.04       134
        NONE       0.76      0.27      0.40       201
           P       0.69      0.65      0.67       304

   micro avg       0.60      0.60      0.60      1049
   macro avg       0.75      0.47      0.45      1049
weighted avg       0.69      0.60      0.55      1049

           N    NEU  NONE  P
True/Pred
N          377  87   120   101
NEU          0   3     0     0
NONE         5   7    55     5
P           28  37    26   198

### Validation

              precision    recall  f1-score   support

           N       0.51      0.78      0.62        46
         NEU       0.00      0.00      0.00        15
        NONE       0.22      0.09      0.13        22
           P       0.49      0.53      0.51        34

   micro avg       0.48      0.48      0.48       117
   macro avg       0.30      0.35      0.31       117
weighted avg       0.38      0.48      0.41       117

           N   NEU  NONE  P
True/Pred
N          36  8    12    15
NEU         0  0     0     0
NONE        4  2     2     1
P           6  5     8    18

### Test

Accuracy: 0.5072836332476436
Loss: 1.156503324880427
              precision    recall  f1-score   support

           N       0.48      0.87      0.62       456
         NEU       0.00      0.00      0.00       148
        NONE       0.47      0.12      0.20       224
           P       0.59      0.49      0.54       339

   micro avg       0.51      0.51      0.51      1167
   macro avg       0.39      0.37      0.34      1167
weighted avg       0.45      0.51      0.44      1167

           N    NEU  NONE  P
True/Pred
N          397  114  156   159
NEU          0    0    0     0
NONE        12    6   28    13
P           47   28   40   167

### Fold number: 7. Name: 403dfe7e920548cabf724a7d34c637e9

### Training

              precision    recall  f1-score   support

           N       0.54      0.93      0.68       411
         NEU       0.00      0.00      0.00       134
        NONE       0.77      0.25      0.38       201
           P       0.68      0.61      0.64       304

   micro avg       0.59      0.59      0.59      1050
   macro avg       0.50      0.45      0.43      1050
weighted avg       0.55      0.59      0.53      1050

           N    NEU  NONE  P
True/Pred
N          383  92   122   113
NEU          0   0     0     0
NONE         1   9    50     5
P           27  33    29   186

### Validation

              precision    recall  f1-score   support

           N       0.47      0.96      0.63        45
         NEU       0.00      0.00      0.00        15
        NONE       0.67      0.09      0.16        22
           P       0.67      0.41      0.51        34

   micro avg       0.51      0.51      0.51       116
   macro avg       0.45      0.36      0.32       116
weighted avg       0.50      0.51      0.42       116

           N   NEU  NONE  P
True/Pred
N          43  13   16    20
NEU         0   0    0     0
NONE        1   0    2     0
P           1   2    4    14

### Test

Accuracy: 0.5089974293059126
Loss: 1.1621536876995175
              precision    recall  f1-score   support

           N       0.48      0.88      0.62       456
         NEU       0.00      0.00      0.00       148
        NONE       0.41      0.12      0.18       224
           P       0.61      0.49      0.54       339

   micro avg       0.51      0.51      0.51      1167
   macro avg       0.38      0.37      0.34      1167
weighted avg       0.45      0.51      0.44      1167

           N    NEU  NONE  P
True/Pred
N          403  114  159   159
NEU          0    0    0     0
NONE        13    9   26    15
P           40   25   39   165

### Fold number: 8. Name: d1760fe1ed194849a7b147eca227d241

### Training

              precision    recall  f1-score   support

           N       0.53      0.95      0.68       411
         NEU       1.00      0.01      0.01       134
        NONE       0.81      0.25      0.38       201
           P       0.71      0.59      0.65       304

   micro avg       0.59      0.59      0.59      1050
   macro avg       0.76      0.45      0.43      1050
weighted avg       0.70      0.59      0.53      1050

           N    NEU  NONE  P
True/Pred
N          390  98   126   119
NEU          0   1     0     0
NONE         0   7    50     5
P           21  28    25   180

### Validation

              precision    recall  f1-score   support

           N       0.48      0.84      0.61        45
         NEU       0.00      0.00      0.00        15
        NONE       0.57      0.18      0.28        22
           P       0.50      0.44      0.47        34

   micro avg       0.49      0.49      0.49       116
   macro avg       0.39      0.37      0.34       116
weighted avg       0.44      0.49      0.43       116

           N   NEU  NONE  P
True/Pred
N          38  9    15    17
NEU         0  0     0     0
NONE        0  1     4     2
P           7  5     3    15

### Test

Accuracy: 0.506426735218509
Loss: 1.155934569777079
              precision    recall  f1-score   support

           N       0.48      0.88      0.62       456
         NEU       0.00      0.00      0.00       148
        NONE       0.39      0.11      0.17       224
           P       0.61      0.48      0.54       339

   micro avg       0.51      0.51      0.51      1167
   macro avg       0.37      0.37      0.33      1167
weighted avg       0.44      0.51      0.43      1167

           N    NEU  NONE  P
True/Pred
N          403  112  166   155
NEU          0    0    0     0
NONE        10    7   24    20
P           43   29   34   164

### Fold number: 9. Name: 5e50d51dda0a4398b5bd8551b93e24e2

### Training

              precision    recall  f1-score   support

           N       0.54      0.93      0.68       411
         NEU       1.00      0.01      0.01       134
        NONE       0.72      0.25      0.38       201
           P       0.70      0.61      0.65       305

   micro avg       0.59      0.59      0.59      1051
   macro avg       0.74      0.45      0.43      1051
weighted avg       0.68      0.59      0.53      1051

           N    NEU  NONE  P
True/Pred
N          384  93   123   111
NEU          0   1     0     0
NONE         3  10    51     7
P           24  30    27   187

### Validation

              precision    recall  f1-score   support

           N       0.56      0.89      0.69        45
         NEU       0.00      0.00      0.00        15
        NONE       0.38      0.23      0.29        22
           P       0.61      0.58      0.59        33

   micro avg       0.56      0.56      0.56       115
   macro avg       0.39      0.42      0.39       115
weighted avg       0.47      0.56      0.49       115

           N   NEU  NONE  P
True/Pred
N          40  7    14    10
NEU         0  0     0     0
NONE        3  1     5     4
P           2  7     3    19

### Test

Accuracy: 0.5184233076263924
Loss: 1.1621300334126519
              precision    recall  f1-score   support

           N       0.48      0.89      0.63       456
         NEU       0.00      0.00      0.00       148
        NONE       0.46      0.13      0.21       224
           P       0.65      0.50      0.56       339

   micro avg       0.52      0.52      0.52      1167
   macro avg       0.40      0.38      0.35      1167
weighted avg       0.47      0.52      0.45      1167

           N    NEU  NONE  P
True/Pred
N          407  117  160   158
NEU          0    0    0     0
NONE        14    8   30    13
P           35   23   34   168

### Fold number: 10. Name: b02a73ef6d9f418aa370d58967bb042c

### Training

              precision    recall  f1-score   support

           N       0.54      0.94      0.68       411
         NEU       1.00      0.01      0.01       135
        NONE       0.81      0.25      0.39       201
           P       0.67      0.59      0.63       305

   micro avg       0.59      0.59      0.59      1052
   macro avg       0.75      0.45      0.43      1052
weighted avg       0.69      0.59      0.52      1052

           N    NEU  NONE  P
True/Pred
N          386  91   123   121
NEU          0   1     0     0
NONE         0   7    51     5
P           25  36    27   179

### Validation

              precision    recall  f1-score   support

           N       0.47      0.84      0.61        45
         NEU       0.00      0.00      0.00        14
        NONE       0.50      0.14      0.21        22
           P       0.64      0.55      0.59        33

   micro avg       0.52      0.52      0.52       114
   macro avg       0.40      0.38      0.35       114
weighted avg       0.47      0.52      0.45       114

           N   NEU  NONE  P
True/Pred
N          38  10   18    14
NEU         0   0    0     0
NONE        2   0    3     1
P           5   4    1    18

### Test

Accuracy: 0.5149957155098543
Loss: 1.1547475510050216
              precision    recall  f1-score   support

           N       0.49      0.89      0.63       456
         NEU       0.00      0.00      0.00       148
        NONE       0.53      0.14      0.22       224
           P       0.60      0.48      0.53       339

   micro avg       0.51      0.51      0.51      1167
   macro avg       0.41      0.38      0.35      1167
weighted avg       0.47      0.51      0.44      1167

           N    NEU  NONE  P
True/Pred
N          407  114  153   163
NEU          0    0    0     0
NONE         8    6   31    13
P           41   28   40   163

## 2. Creating models with embeddings: CorpusFBCR2013.txt.usu.14_w.kvs

### Mean Accuracies and losses

   train_acc_mean  train_acc_stdev  val_acc_mean  val_acc_stdev
0  0.599008        0.006881         0.511997      0.025234

### Accuracies and losses by Stratified KFold (folds with balanced class distributions)

  model name                         train_acc  train_loss  val_acc   val_loss
0  a736d61dff964b3aa4cdc5d483c731e6  0.609733   0.942008    0.491525  1.186641
1  7376defd5f2a4767bf618193a2d93738  0.595420   0.967625    0.516949  1.151508
2  6ff019400aa7432d883115cf12962766  0.585878   0.977382    0.542373  1.113445
3  db16426a8c934d41ae58dcfbf770e111  0.598665   0.963121    0.529915  1.105597
4  fa48f68eeb7341bda34a27d656fc32cf  0.595806   0.969492    0.461538  1.150728
5  642bc574b83d413fbe5bf8414971f4ac  0.607245   0.958701    0.521368  1.185536
6  10eb8d74648242e192692d65f2924150  0.598095   0.971607    0.543103  1.112182
7  87afdb3874334d72a8156fd6c8c7c0cb  0.596190   0.963330    0.500000  1.169207
8  78577c445aac434bbe120e5f0a3b1d56  0.605138   0.952309    0.495652  1.228671
9  726baeb7204846559e7d3bb980522fc3  0.597909   0.954657    0.517544  1.127589

## 2. CorpusFBCR2013.txt.usu.14_w.kvs

### Fold number: 1. Name: a736d61dff964b3aa4cdc5d483c731e6

### Training

              precision    recall  f1-score   support

           N       0.55      0.95      0.69       410
         NEU       1.00      0.01      0.03       134
        NONE       0.81      0.31      0.45       200
           P       0.72      0.62      0.67       304

   micro avg       0.61      0.61      0.61      1048
   macro avg       0.77      0.47      0.46      1048
weighted avg       0.71      0.61      0.55      1048

           N    NEU  NONE  P
True/Pred
N          388  100  112   111
NEU          0    2    0     0
NONE         2    7   62     6
P           20   25   26   187

### Validation

              precision    recall  f1-score   support

           N       0.46      0.91      0.61        46
         NEU       0.00      0.00      0.00        15
        NONE       0.50      0.09      0.15        23
           P       0.61      0.41      0.49        34

   micro avg       0.49      0.49      0.49       118
   macro avg       0.39      0.35      0.31       118
weighted avg       0.45      0.49      0.41       118

           N   NEU  NONE  P
True/Pred
N          42  11   19    19
NEU         0   0    0     0
NONE        1   0    2     1
P           3   4    2    14

### Test

Accuracy: 0.5107112253641817
Loss: 1.1597622830449916
              precision    recall  f1-score   support

           N       0.48      0.89      0.63       456
         NEU       0.00      0.00      0.00       148
        NONE       0.42      0.14      0.21       224
           P       0.62      0.47      0.54       339

   micro avg       0.51      0.51      0.51      1167
   macro avg       0.38      0.37      0.34      1167
weighted avg       0.45      0.51      0.44      1167

           N    NEU  NONE  P
True/Pred
N          405  113  158   161
NEU          0    0    0     0
NONE        15    9   31    18
P           36   26   35   160

### Fold number: 2. Name: 7376defd5f2a4767bf618193a2d93738

### Training

              precision    recall  f1-score   support

           N       0.54      0.94      0.69       410
         NEU       1.00      0.01      0.01       134
        NONE       0.77      0.24      0.37       200
           P       0.70      0.62      0.65       304

   micro avg       0.60      0.60      0.60      1048
   macro avg       0.75      0.45      0.43      1048
weighted avg       0.69      0.60      0.53      1048

           N    NEU  NONE  P
True/Pred
N          387  91   124   112
NEU          0   1     0     0
NONE         4   6    49     5
P           19  36    27   187

### Validation

              precision    recall  f1-score   support

           N       0.52      0.85      0.64        46
         NEU       0.00      0.00      0.00        15
        NONE       0.86      0.26      0.40        23
           P       0.44      0.47      0.46        34

   micro avg       0.52      0.52      0.52       118
   macro avg       0.46      0.39      0.38       118
weighted avg       0.50      0.52      0.46       118

           N   NEU  NONE  P
True/Pred
N          39  11    7    18
NEU         0   0    0     0
NONE        0   1    6     0
P           7   3   10    16

### Test

Accuracy: 0.508140531276778
Loss: 1.1537214744474231
              precision    recall  f1-score   support

           N       0.48      0.87      0.62       456
         NEU       0.00      0.00      0.00       148
        NONE       0.41      0.11      0.18       224
           P       0.60      0.50      0.54       339

   micro avg       0.51      0.51      0.51      1167
   macro avg       0.37      0.37      0.34      1167
weighted avg       0.44      0.51      0.44      1167

           N    NEU  NONE  P
True/Pred
N          398  114  157   152
NEU          0    0    0     0
NONE        11    8   25    17
P           47   26   42   170

### Fold number: 3. Name: 6ff019400aa7432d883115cf12962766

### Training

              precision    recall  f1-score   support

           N       0.53      0.94      0.68       410
         NEU       0.00      0.00      0.00       134
        NONE       0.79      0.22      0.34       200
           P       0.71      0.60      0.65       304

   micro avg       0.59      0.59      0.59      1048
   macro avg       0.51      0.44      0.42      1048
weighted avg       0.56      0.59      0.52      1048

           N    NEU  NONE  P
True/Pred
N          387  95   133   118
NEU          0   0     0     0
NONE         2   7    44     3
P           21  32    23   183

### Validation

              precision    recall  f1-score   support

           N       0.52      0.96      0.67        46
         NEU       0.00      0.00      0.00        15
        NONE       0.62      0.22      0.32        23
           P       0.60      0.44      0.51        34

   micro avg       0.54      0.54      0.54       118
   macro avg       0.44      0.40      0.38       118
weighted avg       0.50      0.54      0.47       118

           N   NEU  NONE  P
True/Pred
N          44  11   13    17
NEU         0   0    0     0
NONE        1   0    5     2
P           1   4    5    15

### Test

Accuracy: 0.5132819194515853
Loss: 1.1654614280508597
              precision    recall  f1-score   support

           N       0.48      0.91      0.63       456
         NEU       0.00      0.00      0.00       148
        NONE       0.51      0.10      0.17       224
           P       0.62      0.47      0.53       339

   micro avg       0.51      0.51      0.51      1167
   macro avg       0.40      0.37      0.33      1167
weighted avg       0.47      0.51      0.43      1167

           N    NEU  NONE  P
True/Pred
N          417  115  163   169
NEU          0    0    0     0
NONE         4    7   23    11
P           35   26   38   159

### Fold number: 4. Name: db16426a8c934d41ae58dcfbf770e111

### Training

              precision    recall  f1-score   support

           N       0.54      0.95      0.69       410
         NEU       0.00      0.00      0.00       134
        NONE       0.80      0.28      0.41       201
           P       0.71      0.60      0.65       304

   micro avg       0.60      0.60      0.60      1049
   macro avg       0.51      0.46      0.44      1049
weighted avg       0.57      0.60      0.54      1049

           N    NEU  NONE  P
True/Pred
N          389  96   119   117
NEU          0   0     0     0
NONE         2   8    56     4
P           19  30    26   183

### Validation

              precision    recall  f1-score   support

           N       0.50      0.89      0.64        46
         NEU       0.00      0.00      0.00        15
        NONE       0.60      0.14      0.22        22
           P       0.60      0.53      0.56        34

   micro avg       0.53      0.53      0.53       117
   macro avg       0.43      0.39      0.36       117
weighted avg       0.48      0.53      0.46       117

           N   NEU  NONE  P
True/Pred
N          41  10   17    14
NEU         0   0    0     0
NONE        0   0    3     2
P           5   5    2    18

### Test

Accuracy: 0.508140531276778
Loss: 1.1586993834853219
              precision    recall  f1-score   support

           N       0.48      0.90      0.62       456
         NEU       0.00      0.00      0.00       148
        NONE       0.51      0.12      0.19       224
           P       0.61      0.45      0.52       339

   micro avg       0.51      0.51      0.51      1167
   macro avg       0.40      0.37      0.34      1167
weighted avg       0.46      0.51      0.43      1167

           N    NEU  NONE  P
True/Pred
N          412  117  162   172
NEU          0    0    0     0
NONE         6    7   27    13
P           38   24   35   154

### Fold number: 5. Name: fa48f68eeb7341bda34a27d656fc32cf

### Training

              precision    recall  f1-score   support

           N       0.55      0.94      0.69       410
         NEU       1.00      0.01      0.03       134
        NONE       0.75      0.27      0.40       201
           P       0.68      0.60      0.64       304

   micro avg       0.60      0.60      0.60      1049
   macro avg       0.75      0.46      0.44      1049
weighted avg       0.68      0.60      0.54      1049

           N    NEU  NONE  P
True/Pred
N          387  89   115   117
NEU          0   2     0     0
NONE         3   9    55     6
P           20  34    31   181

### Validation

              precision    recall  f1-score   support

           N       0.41      0.78      0.54        46
         NEU       0.00      0.00      0.00        15
        NONE       0.60      0.14      0.22        22
           P       0.60      0.44      0.51        34

   micro avg       0.46      0.46      0.46       117
   macro avg       0.40      0.34      0.32       117
weighted avg       0.45      0.46      0.40       117

           N   NEU  NONE  P
True/Pred
N          36  13   19    19
NEU         0   0    0     0
NONE        2   0    3     0
P           8   2    0    15

### Test

Accuracy: 0.5124250214224507
Loss: 1.157471840230031
              precision    recall  f1-score   support

           N       0.49      0.88      0.63       456
         NEU       0.00      0.00      0.00       148
        NONE       0.45      0.14      0.21       224
           P       0.60      0.49      0.54       339

   micro avg       0.51      0.51      0.51      1167
   macro avg       0.38      0.38      0.34      1167
weighted avg       0.45      0.51      0.44      1167

           N    NEU  NONE  P
True/Pred
N          400  110  156   154
NEU          0    0    0     0
NONE        13    7   31    18
P           43   31   37   167

### Fold number: 6. Name: 642bc574b83d413fbe5bf8414971f4ac

### Training

              precision    recall  f1-score   support

           N       0.55      0.94      0.69       410
         NEU       1.00      0.01      0.03       134
        NONE       0.76      0.29      0.42       201
           P       0.73      0.62      0.67       304

   micro avg       0.61      0.61      0.61      1049
   macro avg       0.76      0.47      0.45      1049
weighted avg       0.70      0.61      0.55      1049

           N    NEU  NONE  P
True/Pred
N          387  90   122   110
NEU          0   2     0     0
NONE         4  10    59     5
P           19  32    20   189

### Validation

              precision    recall  f1-score   support

           N       0.50      0.91      0.65        46
         NEU       0.00      0.00      0.00        15
        NONE       0.20      0.05      0.07        22
           P       0.64      0.53      0.58        34

   micro avg       0.52      0.52      0.52       117
   macro avg       0.34      0.37      0.33       117
weighted avg       0.42      0.52      0.44       117

           N   NEU  NONE  P
True/Pred
N          42  11   17    14
NEU         0   0    0     0
NONE        2   0    1     2
P           2   4    4    18

### Test

Accuracy: 0.5167095115681234
Loss: 1.1619312327297528
              precision    recall  f1-score   support

           N       0.49      0.89      0.63       456
         NEU       0.00      0.00      0.00       148
        NONE       0.43      0.13      0.20       224
           P       0.62      0.50      0.55       339

   micro avg       0.52      0.52      0.52      1167
   macro avg       0.39      0.38      0.35      1167
weighted avg       0.46      0.52      0.45      1167

           N    NEU  NONE  P
True/Pred
N          405  115  156   153
NEU          0    0    0     0
NONE        14    7   29    17
P           37   26   39   169

### Fold number: 7. Name: 10eb8d74648242e192692d65f2924150

### Training

              precision    recall  f1-score   support

           N       0.54      0.94      0.69       411
         NEU       1.00      0.01      0.01       134
        NONE       0.81      0.27      0.41       201
           P       0.70      0.61      0.65       304

   micro avg       0.60      0.60      0.60      1050
   macro avg       0.76      0.46      0.44      1050
weighted avg       0.70      0.60      0.54      1050

           N    NEU  NONE  P
True/Pred
N          388  97   117   116
NEU          0   1     0     0
NONE         2   7    55     4
P           21  29    29   184

### Validation

              precision    recall  f1-score   support

           N       0.48      0.96      0.64        45
         NEU       0.00      0.00      0.00        15
        NONE       0.67      0.09      0.16        22
           P       0.75      0.53      0.62        34

   micro avg       0.54      0.54      0.54       116
   macro avg       0.47      0.39      0.36       116
weighted avg       0.53      0.54      0.46       116

           N   NEU  NONE  P
True/Pred
N          43  13   17    16
NEU         0   0    0     0
NONE        0   1    2     0
P           2   1    3    18

### Test

Accuracy: 0.5184233076263924
Loss: 1.1619418628234979
              precision    recall  f1-score   support

           N       0.48      0.91      0.63       456
         NEU       0.00      0.00      0.00       148
        NONE       0.53      0.12      0.20       224
           P       0.63      0.49      0.55       339

   micro avg       0.52      0.52      0.52      1167
   macro avg       0.41      0.38      0.34      1167
weighted avg       0.47      0.52      0.44      1167

           N    NEU  NONE  P
True/Pred
N          413  119  161   163
NEU          0    0    0     0
NONE         6    7   27    11
P           37   22   36   165

### Fold number: 8. Name: 87afdb3874334d72a8156fd6c8c7c0cb

### Training

              precision    recall  f1-score   support

           N       0.53      0.94      0.68       411
         NEU       0.00      0.00      0.00       134
        NONE       0.83      0.27      0.41       201
           P       0.71      0.61      0.65       304

   micro avg       0.60      0.60      0.60      1050
   macro avg       0.52      0.45      0.44      1050
weighted avg       0.57      0.60      0.53      1050

           N    NEU  NONE  P
True/Pred
N          387  97   124   116
NEU          0   0     0     0
NONE         2   6    54     3
P           22  31    23   185

### Validation

              precision    recall  f1-score   support

           N       0.48      0.87      0.62        45
         NEU       0.00      0.00      0.00        15
        NONE       0.25      0.09      0.13        22
           P       0.63      0.50      0.56        34

   micro avg       0.50      0.50      0.50       116
   macro avg       0.34      0.36      0.33       116
weighted avg       0.42      0.50      0.43       116

           N   NEU  NONE  P
True/Pred
N          39  11   16    15
NEU         0   0    0     0
NONE        2   2    2     2
P           4   2    4    17

### Test

Accuracy: 0.5115681233933161
Loss: 1.1559227772677116
              precision    recall  f1-score   support

           N       0.48      0.89      0.62       456
         NEU       0.00      0.00      0.00       148
        NONE       0.47      0.12      0.20       224
           P       0.62      0.48      0.54       339

   micro avg       0.51      0.51      0.51      1167
   macro avg       0.39      0.37      0.34      1167
weighted avg       0.46      0.51      0.44      1167

           N    NEU  NONE  P
True/Pred
N          406  115  161   162
NEU          0    0    0     0
NONE         9    8   28    14
P           41   25   35   163

### Fold number: 9. Name: 78577c445aac434bbe120e5f0a3b1d56

### Training

              precision    recall  f1-score   support

           N       0.55      0.95      0.70       411
         NEU       1.00      0.01      0.01       134
        NONE       0.81      0.31      0.45       201
           P       0.69      0.60      0.64       305

   micro avg       0.61      0.61      0.61      1051
   macro avg       0.76      0.47      0.45      1051
weighted avg       0.70      0.61      0.55      1051

           N    NEU  NONE  P
True/Pred
N          389  91   110   116
NEU          0   1     0     0
NONE         2   7    63     6
P           20  35    28   183

### Validation

              precision    recall  f1-score   support

           N       0.50      0.84      0.63        45
         NEU       0.00      0.00      0.00        15
        NONE       0.14      0.05      0.07        22
           P       0.56      0.55      0.55        33

   micro avg       0.50      0.50      0.50       115
   macro avg       0.30      0.36      0.31       115
weighted avg       0.38      0.50      0.42       115

           N   NEU  NONE  P
True/Pred
N          38  7    18    13
NEU         0  0     0     0
NONE        0  4     1     2
P           7  4     3    18

### Test

Accuracy: 0.5098543273350471
Loss: 1.1647659203654546
              precision    recall  f1-score   support

           N       0.49      0.88      0.63       456
         NEU       0.00      0.00      0.00       148
        NONE       0.42      0.13      0.20       224
           P       0.61      0.48      0.54       339

   micro avg       0.51      0.51      0.51      1167
   macro avg       0.38      0.37      0.34      1167
weighted avg       0.45      0.51      0.44      1167

           N    NEU  NONE  P
True/Pred
N          402  111  158   156
NEU          0    0    0     0
NONE        12    9   29    19
P           42   28   37   164

### Fold number: 10. Name: 726baeb7204846559e7d3bb980522fc3

### Training

              precision    recall  f1-score   support

           N       0.54      0.95      0.69       411
         NEU       1.00      0.02      0.04       135
        NONE       0.77      0.25      0.38       201
           P       0.72      0.60      0.65       305

   micro avg       0.60      0.60      0.60      1052
   macro avg       0.76      0.46      0.44      1052
weighted avg       0.69      0.60      0.54      1052

           N    NEU  NONE  P
True/Pred
N          392  96   124   115
NEU          0   3     0     0
NONE         1   8    50     6
P           18  28    27   184

### Validation

              precision    recall  f1-score   support

           N       0.51      0.87      0.64        45
         NEU       0.00      0.00      0.00        14
        NONE       0.67      0.18      0.29        22
           P       0.52      0.48      0.50        33

   micro avg       0.52      0.52      0.52       114
   macro avg       0.42      0.38      0.36       114
weighted avg       0.48      0.52      0.45       114

           N   NEU  NONE  P
True/Pred
N          39  8    13    17
NEU         0  0     0     0
NONE        2  0     4     0
P           4  6     5    16

### Test

Accuracy: 0.5184233076263924
Loss: 1.152701536131822
              precision    recall  f1-score   support

           N       0.49      0.89      0.63       456
         NEU       0.00      0.00      0.00       148
        NONE       0.49      0.12      0.19       224
           P       0.60      0.51      0.55       339

   micro avg       0.52      0.52      0.52      1167
   macro avg       0.40      0.38      0.34      1167
weighted avg       0.46      0.52      0.44      1167

           N    NEU  NONE  P
True/Pred
N          405  110  155   153
NEU          0    0    0     0
NONE         9    6   26    12
P           42   32   43   174

## 3. Creating models with embeddings: CorpusFBCR2013.txt.usu.12_w.kvs

### Mean Accuracies and losses

   train_acc_mean  train_acc_stdev  val_acc_mean  val_acc_stdev
0  0.595292        0.005967         0.510346      0.040605

### Accuracies and losses by Stratified KFold (folds with balanced class distributions)

  model name                         train_acc  train_loss  val_acc   val_loss
0  c0371dab8e4b4329be89147b56255dad  0.593511   0.980070    0.491525  1.107022
1  8d344a55af1d4d22981adb20d7c8db68  0.594466   0.957433    0.474576  1.193962
2  9f77e19a6c344f249d2685dbfbdc7b5c  0.595420   0.950906    0.559322  1.177850
3  9ac03a5448df4fda8646953cbdf7263f  0.603432   0.951674    0.461538  1.179417
4  bbffeb63c61b4f1cbb9578b851c59eda  0.592946   0.977653    0.572650  1.120269
5  76f7140d64874d80b95c4c0687105530  0.599619   0.960834    0.452991  1.183038
6  9bcbf093d96d438bb5bede9fedaa2815  0.584762   0.967074    0.543103  1.148355
7  56208c909f9a43d18e893fdc99e18679  0.598095   0.968314    0.517241  1.156840
8  798126859b334587ad30231f0a106882  0.588011   0.963744    0.521739  1.118421
9  da513f593b22404b99c68a5e761bead5  0.602662   0.955020    0.508772  1.181896

## 3. CorpusFBCR2013.txt.usu.12_w.kvs

### Fold number: 1. Name: c0371dab8e4b4329be89147b56255dad

### Training

              precision    recall  f1-score   support

           N       0.54      0.92      0.68       410
         NEU       1.00      0.01      0.03       134
        NONE       0.77      0.25      0.38       200
           P       0.68      0.63      0.65       304

   micro avg       0.59      0.59      0.59      1048
   macro avg       0.75      0.45      0.44      1048
weighted avg       0.68      0.59      0.53      1048

           N    NEU  NONE  P
True/Pred
N          378  94   118   108
NEU          0   2     0     0
NONE         3   8    50     4
P           29  30    32   192

### Validation

              precision    recall  f1-score   support

           N       0.46      0.85      0.60        46
         NEU       0.00      0.00      0.00        15
        NONE       0.40      0.09      0.14        23
           P       0.59      0.50      0.54        34

   micro avg       0.49      0.49      0.49       118
   macro avg       0.36      0.36      0.32       118
weighted avg       0.43      0.49      0.42       118

           N   NEU  NONE  P
True/Pred
N          39  12   16    17
NEU         0   0    0     0
NONE        2   1    2     0
P           5   2    5    17

### Test

Accuracy: 0.5089974293059126
Loss: 1.1528161663982082
              precision    recall  f1-score   support

           N       0.49      0.88      0.63       456
         NEU       0.00      0.00      0.00       148
        NONE       0.42      0.10      0.16       224
           P       0.59      0.51      0.55       339

   micro avg       0.51      0.51      0.51      1167
   macro avg       0.37      0.37      0.33      1167
weighted avg       0.44      0.51      0.43      1167

           N    NEU  NONE  P
True/Pred
N          399  114  155   152
NEU          0    0    0     0
NONE        14    3   23    15
P           43   31   46   172

### Fold number: 2. Name: 8d344a55af1d4d22981adb20d7c8db68

### Training

              precision    recall  f1-score   support

           N       0.54      0.92      0.68       410
         NEU       1.00      0.02      0.04       134
        NONE       0.79      0.25      0.38       200
           P       0.69      0.63      0.66       304

   micro avg       0.59      0.59      0.59      1048
   macro avg       0.75      0.46      0.44      1048
weighted avg       0.69      0.59      0.53      1048

           N    NEU  NONE  P
True/Pred
N          378  93   123   108
NEU          0   3     0     0
NONE         2   7    50     4
P           30  31    27   192

### Validation

              precision    recall  f1-score   support

           N       0.49      0.76      0.60        46
         NEU       0.00      0.00      0.00        15
        NONE       0.44      0.17      0.25        23
           P       0.45      0.50      0.47        34

   micro avg       0.47      0.47      0.47       118
   macro avg       0.35      0.36      0.33       118
weighted avg       0.41      0.47      0.42       118

           N   NEU  NONE  P
True/Pred
N          35  8    12    16
NEU         0  0     0     0
NONE        2  2     4     1
P           9  5     7    17

### Test

Accuracy: 0.50471293916024
Loss: 1.153374053335024
              precision    recall  f1-score   support

           N       0.48      0.86      0.62       456
         NEU       0.00      0.00      0.00       148
        NONE       0.43      0.11      0.17       224
           P       0.57      0.50      0.54       339

   micro avg       0.50      0.50      0.50      1167
   macro avg       0.37      0.37      0.33      1167
weighted avg       0.44      0.50      0.43      1167

           N    NEU  NONE  P
True/Pred
N          394  114  153   152
NEU          0    0    0     0
NONE        12    4   24    16
P           50   30   47   171

### Fold number: 3. Name: 9f77e19a6c344f249d2685dbfbdc7b5c

### Training

              precision    recall  f1-score   support

           N       0.54      0.94      0.68       410
         NEU       1.00      0.02      0.04       134
        NONE       0.76      0.27      0.40       200
           P       0.71      0.60      0.65       304

   micro avg       0.60      0.60      0.60      1048
   macro avg       0.75      0.46      0.44      1048
weighted avg       0.69      0.60      0.54      1048

           N    NEU  NONE  P
True/Pred
N          385  91   123   117
NEU          0   3     0     0
NONE         2  10    54     5
P           23  30    23   182

### Validation

              precision    recall  f1-score   support

           N       0.51      0.91      0.65        46
         NEU       0.00      0.00      0.00        15
        NONE       0.71      0.22      0.33        23
           P       0.68      0.56      0.61        34

   micro avg       0.56      0.56      0.56       118
   macro avg       0.47      0.42      0.40       118
weighted avg       0.53      0.56      0.50       118

           N   NEU  NONE  P
True/Pred
N          42  12   15    14
NEU         0   0    0     0
NONE        1   0    5     1
P           3   3    3    19

### Test

Accuracy: 0.506426735218509
Loss: 1.1574466985422747
              precision    recall  f1-score   support

           N       0.47      0.88      0.61       456
         NEU       0.00      0.00      0.00       148
        NONE       0.42      0.12      0.19       224
           P       0.64      0.48      0.55       339

   micro avg       0.51      0.51      0.51      1167
   macro avg       0.38      0.37      0.34      1167
weighted avg       0.45      0.51      0.44      1167

           N    NEU  NONE  P
True/Pred
N          400  123  162   160
NEU          0    0    0     0
NONE        16    6   28    16
P           40   19   34   163

### Fold number: 4. Name: 9ac03a5448df4fda8646953cbdf7263f

### Training

              precision    recall  f1-score   support

           N       0.55      0.93      0.69       410
         NEU       1.00      0.01      0.01       134
        NONE       0.78      0.26      0.39       201
           P       0.69      0.65      0.67       304

   micro avg       0.60      0.60      0.60      1049
   macro avg       0.75      0.46      0.44      1049
weighted avg       0.69      0.60      0.54      1049

           N    NEU  NONE  P
True/Pred
N          381  93   117   101
NEU          0   1     0     0
NONE         2   8    53     5
P           27  32    31   198

### Validation

              precision    recall  f1-score   support

           N       0.47      0.78      0.59        46
         NEU       0.00      0.00      0.00        15
        NONE       0.50      0.14      0.21        22
           P       0.43      0.44      0.43        34

   micro avg       0.46      0.46      0.46       117
   macro avg       0.35      0.34      0.31       117
weighted avg       0.40      0.46      0.40       117

           N   NEU  NONE  P
True/Pred
N          36  8    14    18
NEU         0  0     0     0
NONE        1  1     3     1
P           9  6     5    15

### Test

Accuracy: 0.5038560411311054
Loss: 1.1541076031632267
              precision    recall  f1-score   support

           N       0.48      0.88      0.62       456
         NEU       0.00      0.00      0.00       148
        NONE       0.38      0.08      0.14       224
           P       0.58      0.50      0.54       339

   micro avg       0.50      0.50      0.50      1167
   macro avg       0.36      0.36      0.32      1167
weighted avg       0.43      0.50      0.43      1167

           N    NEU  NONE  P
True/Pred
N          401  111  161   156
NEU          0    0    0     0
NONE        11    5   19    15
P           44   32   44   168

### Fold number: 5. Name: bbffeb63c61b4f1cbb9578b851c59eda

### Training

              precision    recall  f1-score   support

           N       0.54      0.94      0.69       410
         NEU       1.00      0.03      0.06       134
        NONE       0.76      0.24      0.36       201
           P       0.68      0.61      0.64       304

   micro avg       0.59      0.59      0.59      1049
   macro avg       0.75      0.45      0.44      1049
weighted avg       0.68      0.59      0.53      1049

           N    NEU  NONE  P
True/Pred
N          385  85   125   114
NEU          0   4     0     0
NONE         1   9    48     5
P           24  36    28   185

### Validation

              precision    recall  f1-score   support

           N       0.53      0.87      0.66        46
         NEU       0.00      0.00      0.00        15
        NONE       0.67      0.18      0.29        22
           P       0.64      0.68      0.66        34

   micro avg       0.57      0.57      0.57       117
   macro avg       0.46      0.43      0.40       117
weighted avg       0.52      0.57      0.50       117

           N   NEU  NONE  P
True/Pred
N          40  12   12    11
NEU         0   0    0     0
NONE        1   1    4     0
P           5   2    6    23

### Test

Accuracy: 0.5124250214224507
Loss: 1.1496389731465233
              precision    recall  f1-score   support

           N       0.49      0.88      0.63       456
         NEU       0.00      0.00      0.00       148
        NONE       0.45      0.13      0.20       224
           P       0.59      0.49      0.54       339

   micro avg       0.51      0.51      0.51      1167
   macro avg       0.38      0.38      0.34      1167
weighted avg       0.45      0.51      0.44      1167

           N    NEU  NONE  P
True/Pred
N          403  111  155   155
NEU          0    0    0     0
NONE        10    7   29    18
P           43   30   40   166

### Fold number: 6. Name: 76f7140d64874d80b95c4c0687105530

### Training

              precision    recall  f1-score   support

           N       0.54      0.92      0.68       410
         NEU       1.00      0.01      0.03       134
        NONE       0.81      0.27      0.41       201
           P       0.69      0.63      0.66       304

   micro avg       0.60      0.60      0.60      1049
   macro avg       0.76      0.46      0.45      1049
weighted avg       0.69      0.60      0.54      1049

           N    NEU  NONE  P
True/Pred
N          379  98   118   105
NEU          0   2     0     0
NONE         2   5    55     6
P           29  29    28   193

### Validation

              precision    recall  f1-score   support

           N       0.48      0.83      0.61        46
         NEU       0.00      0.00      0.00        15
        NONE       0.00      0.00      0.00        22
           P       0.44      0.44      0.44        34

   micro avg       0.45      0.45      0.45       117
   macro avg       0.23      0.32      0.26       117
weighted avg       0.32      0.45      0.37       117

           N   NEU  NONE  P
True/Pred
N          38  6    17    18
NEU         0  0     0     0
NONE        1  2     0     1
P           7  7     5    15

### Test

Accuracy: 0.5132819194515853
Loss: 1.153684586705851
              precision    recall  f1-score   support

           N       0.48      0.89      0.63       456
         NEU       0.00      0.00      0.00       148
        NONE       0.45      0.11      0.18       224
           P       0.62      0.49      0.55       339

   micro avg       0.51      0.51      0.51      1167
   macro avg       0.39      0.37      0.34      1167
weighted avg       0.46      0.51      0.44      1167

           N    NEU  NONE  P
True/Pred
N          408  118  158   160
NEU          0    0    0     0
NONE        13    5   25    13
P           35   25   41   166

### Fold number: 7. Name: 9bcbf093d96d438bb5bede9fedaa2815

### Training

              precision    recall  f1-score   support

           N       0.54      0.92      0.68       411
         NEU       1.00      0.01      0.01       134
        NONE       0.74      0.23      0.35       201
           P       0.67      0.62      0.64       304

   micro avg       0.58      0.58      0.58      1050
   macro avg       0.74      0.44      0.42      1050
weighted avg       0.67      0.58      0.52      1050

           N    NEU  NONE  P
True/Pred
N          379  94   124   110
NEU          0   1     0     0
NONE         2   8    46     6
P           30  31    31   188

### Validation

              precision    recall  f1-score   support

           N       0.49      0.96      0.65        45
         NEU       0.00      0.00      0.00        15
        NONE       1.00      0.27      0.43        22
           P       0.61      0.41      0.49        34

   micro avg       0.54      0.54      0.54       116
   macro avg       0.53      0.41      0.39       116
weighted avg       0.56      0.54      0.48       116

           N   NEU  NONE  P
True/Pred
N          43  10   14    20
NEU         0   0    0     0
NONE        0   0    6     0
P           2   5    2    14

### Test

Accuracy: 0.5055698371893744
Loss: 1.150875964079589
              precision    recall  f1-score   support

           N       0.48      0.88      0.62       456
         NEU       0.00      0.00      0.00       148
        NONE       0.38      0.09      0.14       224
           P       0.61      0.49      0.55       339

   micro avg       0.51      0.51      0.51      1167
   macro avg       0.37      0.37      0.33      1167
weighted avg       0.44      0.51      0.43      1167

           N    NEU  NONE  P
True/Pred
N          403  116  166   158
NEU          0    0    0     0
NONE        13    5   20    14
P           40   27   38   167

### Fold number: 8. Name: 56208c909f9a43d18e893fdc99e18679

### Training

              precision    recall  f1-score   support

           N       0.54      0.94      0.69       411
         NEU       0.00      0.00      0.00       134
        NONE       0.80      0.28      0.41       201
           P       0.69      0.61      0.65       304

   micro avg       0.60      0.60      0.60      1050
   macro avg       0.51      0.46      0.44      1050
weighted avg       0.57      0.60      0.54      1050

           N    NEU  NONE  P
True/Pred
N          387  92   119   115
NEU          0   0     0     0
NONE         1   9    56     4
P           23  33    26   185

### Validation

              precision    recall  f1-score   support

           N       0.49      0.91      0.64        45
         NEU       0.00      0.00      0.00        15
        NONE       0.00      0.00      0.00        22
           P       0.73      0.56      0.63        34

   micro avg       0.52      0.52      0.52       116
   macro avg       0.30      0.37      0.32       116
weighted avg       0.40      0.52      0.43       116

           N   NEU  NONE  P
True/Pred
N          41  13   19    11
NEU         0   0    0     0
NONE        1   1    0     4
P           3   1    3    19

### Test

Accuracy: 0.5124250214224507
Loss: 1.1569622011548575
              precision    recall  f1-score   support

           N       0.48      0.88      0.63       456
         NEU       0.00      0.00      0.00       148
        NONE       0.43      0.12      0.19       224
           P       0.62      0.50      0.55       339

   micro avg       0.51      0.51      0.51      1167
   macro avg       0.38      0.38      0.34      1167
weighted avg       0.45      0.51      0.44      1167

           N    NEU  NONE  P
True/Pred
N          402  116  157   155
NEU          0    0    0     0
NONE        14    7   28    16
P           40   25   39   168

### Fold number: 9. Name: 798126859b334587ad30231f0a106882

### Training

              precision    recall  f1-score   support

           N       0.53      0.93      0.68       411
         NEU       0.67      0.01      0.03       134
        NONE       0.76      0.24      0.36       201
           P       0.70      0.60      0.65       305

   micro avg       0.59      0.59      0.59      1051
   macro avg       0.67      0.45      0.43      1051
weighted avg       0.64      0.59      0.53      1051

           N    NEU  NONE  P
True/Pred
N          384  99   126   114
NEU          0   2     1     0
NONE         2   6    48     7
P           25  27    26   184

### Validation

              precision    recall  f1-score   support

           N       0.50      0.87      0.63        45
         NEU       0.00      0.00      0.00        15
        NONE       0.57      0.18      0.28        22
           P       0.57      0.52      0.54        33

   micro avg       0.52      0.52      0.52       115
   macro avg       0.41      0.39      0.36       115
weighted avg       0.47      0.52      0.46       115

           N   NEU  NONE  P
True/Pred
N          39  8    15    16
NEU         0  0     0     0
NONE        1  2     4     0
P           5  5     3    17

### Test

Accuracy: 0.5141388174807198
Loss: 1.1584735923168397
              precision    recall  f1-score   support

           N       0.48      0.89      0.63       456
         NEU       0.00      0.00      0.00       148
        NONE       0.44      0.11      0.18       224
           P       0.62      0.50      0.55       339

   micro avg       0.51      0.51      0.51      1167
   macro avg       0.39      0.38      0.34      1167
weighted avg       0.45      0.51      0.44      1167

           N    NEU  NONE  P
True/Pred
N          406  114  160   158
NEU          0    0    0     0
NONE        13    7   25    12
P           37   27   39   169

### Fold number: 10. Name: da513f593b22404b99c68a5e761bead5

### Training

              precision    recall  f1-score   support

           N       0.55      0.93      0.69       411
         NEU       1.00      0.03      0.06       135
        NONE       0.79      0.28      0.42       201
           P       0.69      0.62      0.65       305

   micro avg       0.60      0.60      0.60      1052
   macro avg       0.76      0.47      0.45      1052
weighted avg       0.69      0.60      0.55      1052

           N    NEU  NONE  P
True/Pred
N          383  96   112   109
NEU          0   4     0     0
NONE         1   8    57     6
P           27  27    32   190

### Validation

              precision    recall  f1-score   support

           N       0.47      0.89      0.61        45
         NEU       0.00      0.00      0.00        14
        NONE       0.25      0.05      0.08        22
           P       0.71      0.52      0.60        33

   micro avg       0.51      0.51      0.51       114
   macro avg       0.36      0.36      0.32       114
weighted avg       0.44      0.51      0.43       114

           N   NEU  NONE  P
True/Pred
N          40  11   20    15
NEU         0   0    0     0
NONE        1   1    1     1
P           4   2    1    17

### Test

Accuracy: 0.5098543273350471
Loss: 1.1585750054986028
              precision    recall  f1-score   support

           N       0.48      0.88      0.63       456
         NEU       0.00      0.00      0.00       148
        NONE       0.44      0.12      0.20       224
           P       0.60      0.48      0.54       339

   micro avg       0.51      0.51      0.51      1167
   macro avg       0.38      0.37      0.34      1167
weighted avg       0.45      0.51      0.44      1167

           N    NEU  NONE  P
True/Pred
N          403  118  152   159
NEU          0    0    0     0
NONE        13    6   28    16
P           40   24   44   164

## 4. Creating models with embeddings: CorpusFBCR2013.txt.usu.06_w.kvs

### Mean Accuracies and losses

   train_acc_mean  train_acc_stdev  val_acc_mean  val_acc_stdev
0  0.607681        0.009924         0.524208      0.037002

### Accuracies and losses by Stratified KFold (folds with balanced class distributions)

  model name                         train_acc  train_loss  val_acc   val_loss
0  69d4ede5fb97477f88720cbabcdc90ac  0.619275   0.937593    0.457627  1.223120
1  f5330c964be34d44ad34aa93577bbadb  0.608779   0.946506    0.500000  1.182417
2  ded0228f51ca4e46859e6e4ce7003ae9  0.608779   0.952669    0.525424  1.091916
3  8216becaea6d4c0b9f334de5a1085491  0.603432   0.959848    0.572650  1.078282
4  cd25302ec601456fb044200d63eb0472  0.591992   0.946714    0.555556  1.120582
5  c3a50168eaa84beab457bdff31f23074  0.596759   0.946396    0.512821  1.132340
6  8078e58115b74d03b35b145a2b58165a  0.624762   0.933923    0.500000  1.156009
7  e0addbc7c15b4b239b79574dce7fc46a  0.614286   0.943586    0.500000  1.161271
8  1c730938b727423692cbe4d285c2afde  0.602284   0.943788    0.547826  1.135969
9  a02444c5d3554fabaf0805d26ddc2d6c  0.606464   0.930737    0.570175  1.142608

## 4. CorpusFBCR2013.txt.usu.06_w.kvs

### Fold number: 1. Name: 69d4ede5fb97477f88720cbabcdc90ac

### Training

              precision    recall  f1-score   support

           N       0.56      0.94      0.70       410
         NEU       1.00      0.01      0.03       134
        NONE       0.87      0.30      0.45       200
           P       0.69      0.66      0.68       304

   micro avg       0.62      0.62      0.62      1048
   macro avg       0.78      0.48      0.47      1048
weighted avg       0.71      0.62      0.56      1048

           N    NEU  NONE  P
True/Pred
N          384  91   110    99
NEU          0   2     0     0
NONE         1   5    61     3
P           25  36    29   202

### Validation

              precision    recall  f1-score   support

           N       0.44      0.80      0.56        46
         NEU       0.00      0.00      0.00        15
        NONE       0.33      0.09      0.14        23
           P       0.56      0.44      0.49        34

   micro avg       0.46      0.46      0.46       118
   macro avg       0.33      0.33      0.30       118
weighted avg       0.39      0.46      0.39       118

           N   NEU  NONE  P
True/Pred
N          37  12   18    18
NEU         0   0    0     0
NONE        3   0    2     1
P           6   3    3    15

### Test

Accuracy: 0.5098543273350471
Loss: 1.152865267415279
              precision    recall  f1-score   support

           N       0.48      0.87      0.62       456
         NEU       0.00      0.00      0.00       148
        NONE       0.43      0.13      0.20       224
           P       0.61      0.50      0.55       339

   micro avg       0.51      0.51      0.51      1167
   macro avg       0.38      0.37      0.34      1167
weighted avg       0.45      0.51      0.44      1167

           N    NEU  NONE  P
True/Pred
N          397  116  158   152
NEU          0    0    0     0
NONE        14    6   29    18
P           45   26   37   169

### Fold number: 2. Name: f5330c964be34d44ad34aa93577bbadb

### Training

              precision    recall  f1-score   support

           N       0.55      0.94      0.69       410
         NEU       1.00      0.01      0.03       134
        NONE       0.84      0.28      0.42       200
           P       0.71      0.63      0.67       304

   micro avg       0.61      0.61      0.61      1048
   macro avg       0.77      0.47      0.45      1048
weighted avg       0.71      0.61      0.55      1048

           N    NEU  NONE  P
True/Pred
N          387  91   123   108
NEU          0   2     0     0
NONE         1   7    56     3
P           22  34    21   193

### Validation

              precision    recall  f1-score   support

           N       0.49      0.85      0.62        46
         NEU       0.00      0.00      0.00        15
        NONE       0.43      0.13      0.20        23
           P       0.57      0.50      0.53        34

   micro avg       0.50      0.50      0.50       118
   macro avg       0.37      0.37      0.34       118
weighted avg       0.44      0.50      0.43       118

           N   NEU  NONE  P
True/Pred
N          39  11   15    15
NEU         1   0    0     0
NONE        2   0    3     2
P           4   4    5    17

### Test

Accuracy: 0.508140531276778
Loss: 1.1540625792691543
              precision    recall  f1-score   support

           N       0.48      0.88      0.62       456
         NEU       0.00      0.00      0.00       148
        NONE       0.49      0.13      0.21       224
           P       0.61      0.47      0.53       339

   micro avg       0.51      0.51      0.51      1167
   macro avg       0.40      0.37      0.34      1167
weighted avg       0.46      0.51      0.44      1167

           N    NEU  NONE  P
True/Pred
N          403  119  158   164
NEU          1    0    0     0
NONE         9    7   30    15
P           43   22   36   160

### Fold number: 3. Name: ded0228f51ca4e46859e6e4ce7003ae9

### Training

              precision    recall  f1-score   support

           N       0.55      0.94      0.69       410
         NEU       1.00      0.01      0.03       134
        NONE       0.83      0.27      0.41       200
           P       0.71      0.64      0.67       304

   micro avg       0.61      0.61      0.61      1048
   macro avg       0.77      0.47      0.45      1048
weighted avg       0.71      0.61      0.55      1048

           N    NEU  NONE  P
True/Pred
N          387  91   121   106
NEU          0   2     0     0
NONE         2   6    54     3
P           21  35    25   195

### Validation

              precision    recall  f1-score   support

           N       0.48      0.96      0.64        46
         NEU       0.00      0.00      0.00        15
        NONE       0.50      0.09      0.15        23
           P       0.73      0.47      0.57        34

   micro avg       0.53      0.53      0.53       118
   macro avg       0.43      0.38      0.34       118
weighted avg       0.49      0.53      0.44       118

           N   NEU  NONE  P
True/Pred
N          44  14   17    17
NEU         0   0    0     0
NONE        1   0    2     1
P           1   1    4    16

### Test

Accuracy: 0.5098543273350471
Loss: 1.1528987951320464
              precision    recall  f1-score   support

           N       0.48      0.89      0.62       456
         NEU       0.00      0.00      0.00       148
        NONE       0.51      0.13      0.21       224
           P       0.61      0.47      0.53       339

   micro avg       0.51      0.51      0.51      1167
   macro avg       0.40      0.37      0.34      1167
weighted avg       0.46      0.51      0.44      1167

           N    NEU  NONE  P
True/Pred
N          405  116  160   165
NEU          1    0    0     0
NONE         8    7   30    14
P           42   25   34   160

### Fold number: 4. Name: 8216becaea6d4c0b9f334de5a1085491

### Training

              precision    recall  f1-score   support

           N       0.55      0.94      0.69       410
         NEU       1.00      0.01      0.03       134
        NONE       0.84      0.26      0.40       201
           P       0.70      0.63      0.66       304

   micro avg       0.60      0.60      0.60      1049
   macro avg       0.77      0.46      0.44      1049
weighted avg       0.70      0.60      0.54      1049

           N    NEU  NONE  P
True/Pred
N          386  93   122   107
NEU          0   2     0     0
NONE         1   5    52     4
P           23  34    27   193

### Validation

              precision    recall  f1-score   support

           N       0.53      0.85      0.65        46
         NEU       0.00      0.00      0.00        15
        NONE       0.55      0.27      0.36        22
           P       0.69      0.65      0.67        34

   micro avg       0.57      0.57      0.57       117
   macro avg       0.44      0.44      0.42       117
weighted avg       0.51      0.57      0.52       117

           N   NEU  NONE  P
True/Pred
N          39  12   12    11
NEU         0   0    0     0
NONE        3   1    6     1
P           4   2    4    22

### Test

Accuracy: 0.5184233076263924
Loss: 1.1491584887890502
              precision    recall  f1-score   support

           N       0.49      0.89      0.63       456
         NEU       0.00      0.00      0.00       148
        NONE       0.48      0.16      0.24       224
           P       0.63      0.48      0.55       339

   micro avg       0.52      0.52      0.52      1167
   macro avg       0.40      0.38      0.35      1167
weighted avg       0.46      0.52      0.45      1167

           N    NEU  NONE  P
True/Pred
N          406  115  155   155
NEU          1    0    0     0
NONE        10    8   35    20
P           39   25   34   164

### Fold number: 5. Name: cd25302ec601456fb044200d63eb0472

### Training

              precision    recall  f1-score   support

           N       0.53      0.95      0.68       410
         NEU       0.00      0.00      0.00       134
        NONE       0.79      0.24      0.37       201
           P       0.73      0.61      0.66       304

   micro avg       0.59      0.59      0.59      1049
   macro avg       0.51      0.45      0.43      1049
weighted avg       0.57      0.59      0.53      1049

           N    NEU  NONE  P
True/Pred
N          388  104  126   115
NEU          0    0    0     0
NONE         3    6   48     4
P           19   24   27   185

### Validation

              precision    recall  f1-score   support

           N       0.53      0.85      0.66        46
         NEU       0.00      0.00      0.00        15
        NONE       0.75      0.27      0.40        22
           P       0.56      0.59      0.57        34

   micro avg       0.56      0.56      0.56       117
   macro avg       0.46      0.43      0.41       117
weighted avg       0.51      0.56      0.50       117

           N   NEU  NONE  P
True/Pred
N          39  7    13    14
NEU         0  0     0     0
NONE        1  1     6     0
P           6  7     3    20

### Test

Accuracy: 0.5089974293059126
Loss: 1.151713140990088
              precision    recall  f1-score   support

           N       0.48      0.89      0.62       456
         NEU       0.00      0.00      0.00       148
        NONE       0.44      0.12      0.19       224
           P       0.62      0.48      0.54       339

   micro avg       0.51      0.51      0.51      1167
   macro avg       0.39      0.37      0.34      1167
weighted avg       0.45      0.51      0.44      1167

           N    NEU  NONE  P
True/Pred
N          404  117  161   162
NEU          0    0    0     0
NONE        13    7   27    14
P           39   24   36   163

### Fold number: 6. Name: c3a50168eaa84beab457bdff31f23074

### Training

              precision    recall  f1-score   support

           N       0.54      0.94      0.68       410
         NEU       0.00      0.00      0.00       134
        NONE       0.82      0.25      0.39       201
           P       0.71      0.63      0.67       304

   micro avg       0.60      0.60      0.60      1049
   macro avg       0.52      0.45      0.43      1049
weighted avg       0.57      0.60      0.53      1049

           N    NEU  NONE  P
True/Pred
N          384  96   127   110
NEU          0   0     0     0
NONE         2   6    51     3
P           24  32    23   191

### Validation

              precision    recall  f1-score   support

           N       0.49      0.91      0.64        46
         NEU       0.00      0.00      0.00        15
        NONE       0.50      0.23      0.31        22
           P       0.62      0.38      0.47        34

   micro avg       0.51      0.51      0.51       117
   macro avg       0.40      0.38      0.36       117
weighted avg       0.47      0.51      0.45       117

           N   NEU  NONE  P
True/Pred
N          42  11   14    19
NEU         0   0    0     0
NONE        2   1    5     2
P           2   3    3    13

### Test

Accuracy: 0.5107112253641817
Loss: 1.1523917052704096
              precision    recall  f1-score   support

           N       0.48      0.89      0.62       456
         NEU       0.00      0.00      0.00       148
        NONE       0.47      0.14      0.22       224
           P       0.64      0.47      0.54       339

   micro avg       0.51      0.51      0.51      1167
   macro avg       0.40      0.38      0.34      1167
weighted avg       0.46      0.51      0.44      1167

           N    NEU  NONE  P
True/Pred
N          405  123  160   161
NEU          0    0    0     0
NONE        12    5   32    19
P           39   20   32   159

### Fold number: 7. Name: 8078e58115b74d03b35b145a2b58165a

### Training

              precision    recall  f1-score   support

           N       0.56      0.95      0.71       411
         NEU       1.00      0.03      0.06       134
        NONE       0.82      0.31      0.45       201
           P       0.74      0.65      0.69       304

   micro avg       0.62      0.62      0.62      1050
   macro avg       0.78      0.49      0.48      1050
weighted avg       0.72      0.62      0.57      1050

           N    NEU  NONE  P
True/Pred
N          392  95   115    99
NEU          0   4     0     0
NONE         1   6    62     7
P           18  29    24   198

### Validation

              precision    recall  f1-score   support

           N       0.49      0.82      0.61        45
         NEU       0.00      0.00      0.00        15
        NONE       0.75      0.14      0.23        22
           P       0.50      0.53      0.51        34

   micro avg       0.50      0.50      0.50       116
   macro avg       0.43      0.37      0.34       116
weighted avg       0.48      0.50      0.43       116

           N   NEU  NONE  P
True/Pred
N          37  9    14    16
NEU         0  0     0     0
NONE        0  1     3     0
P           8  5     5    18

### Test

Accuracy: 0.5184233076263924
Loss: 1.1445719983119642
              precision    recall  f1-score   support

           N       0.49      0.89      0.63       456
         NEU       0.00      0.00      0.00       148
        NONE       0.46      0.15      0.22       224
           P       0.63      0.49      0.55       339

   micro avg       0.52      0.52      0.52      1167
   macro avg       0.39      0.38      0.35      1167
weighted avg       0.46      0.52      0.45      1167

           N    NEU  NONE  P
True/Pred
N          406  116  154   155
NEU          0    0    0     0
NONE        14    7   33    18
P           36   25   37   166

### Fold number: 8. Name: e0addbc7c15b4b239b79574dce7fc46a

### Training

              precision    recall  f1-score   support

           N       0.56      0.94      0.70       411
         NEU       1.00      0.01      0.01       134
        NONE       0.87      0.29      0.43       201
           P       0.69      0.66      0.67       304

   micro avg       0.61      0.61      0.61      1050
   macro avg       0.78      0.47      0.46      1050
weighted avg       0.71      0.61      0.55      1050

           N    NEU  NONE  P
True/Pred
N          386  95   109   102
NEU          0   1     0     0
NONE         0   7    58     2
P           25  31    34   200

### Validation

              precision    recall  f1-score   support

           N       0.47      0.82      0.60        45
         NEU       0.00      0.00      0.00        15
        NONE       0.17      0.05      0.07        22
           P       0.62      0.59      0.61        34

   micro avg       0.50      0.50      0.50       116
   macro avg       0.32      0.36      0.32       116
weighted avg       0.40      0.50      0.42       116

           N   NEU  NONE  P
True/Pred
N          37  8    20    13
NEU         0  0     0     0
NONE        3  1     1     1
P           5  6     1    20

### Test

Accuracy: 0.5132819194515853
Loss: 1.1578575103878666
              precision    recall  f1-score   support

           N       0.48      0.89      0.63       456
         NEU       0.00      0.00      0.00       148
        NONE       0.47      0.14      0.21       224
           P       0.62      0.48      0.54       339

   micro avg       0.51      0.51      0.51      1167
   macro avg       0.39      0.38      0.35      1167
weighted avg       0.46      0.51      0.44      1167

           N    NEU  NONE  P
True/Pred
N          404  116  158   157
NEU          0    0    0     0
NONE        10    7   31    18
P           42   25   35   164

### Fold number: 9. Name: 1c730938b727423692cbe4d285c2afde

### Training

              precision    recall  f1-score   support

           N       0.55      0.93      0.69       411
         NEU       0.00      0.00      0.00       134
        NONE       0.86      0.28      0.42       201
           P       0.68      0.64      0.66       305

   micro avg       0.60      0.60      0.60      1051
   macro avg       0.52      0.46      0.44      1051
weighted avg       0.58      0.60      0.54      1051

           N    NEU  NONE  P
True/Pred
N          382  93   118   106
NEU          0   0     0     0
NONE         1   4    56     4
P           28  37    27   195

### Validation

              precision    recall  f1-score   support

           N       0.51      0.93      0.66        45
         NEU       0.00      0.00      0.00        15
        NONE       0.60      0.14      0.22        22
           P       0.67      0.55      0.60        33

   micro avg       0.55      0.55      0.55       115
   macro avg       0.44      0.40      0.37       115
weighted avg       0.50      0.55      0.47       115

           N   NEU  NONE  P
True/Pred
N          42  10   16    15
NEU         0   0    0     0
NONE        1   1    3     0
P           2   4    3    18

### Test

Accuracy: 0.517566409597258
Loss: 1.1515463001431332
              precision    recall  f1-score   support

           N       0.49      0.89      0.63       456
         NEU       0.00      0.00      0.00       148
        NONE       0.50      0.14      0.22       224
           P       0.62      0.49      0.55       339

   micro avg       0.52      0.52      0.52      1167
   macro avg       0.40      0.38      0.35      1167
weighted avg       0.47      0.52      0.45      1167

           N    NEU  NONE  P
True/Pred
N          408  114  159   159
NEU          1    0    0     0
NONE         8    8   31    15
P           39   26   34   165

### Fold number: 10. Name: a02444c5d3554fabaf0805d26ddc2d6c

### Training

              precision    recall  f1-score   support

           N       0.55      0.95      0.69       411
         NEU       1.00      0.01      0.03       135
        NONE       0.81      0.27      0.40       201
           P       0.71      0.63      0.67       305

   micro avg       0.61      0.61      0.61      1052
   macro avg       0.77      0.47      0.45      1052
weighted avg       0.70      0.61      0.55      1052

           N    NEU  NONE  P
True/Pred
N          390  93   123   108
NEU          0   2     0     0
NONE         2   6    54     5
P           19  34    24   192

### Validation

              precision    recall  f1-score   support

           N       0.54      0.91      0.68        45
         NEU       0.00      0.00      0.00        14
        NONE       0.67      0.09      0.16        22
           P       0.63      0.67      0.65        33

   micro avg       0.57      0.57      0.57       114
   macro avg       0.46      0.42      0.37       114
weighted avg       0.52      0.57      0.49       114

           N   NEU  NONE  P
True/Pred
N          41  9    15    11
NEU         0  0     0     0
NONE        0  1     2     0
P           4  4     5    22

### Test

Accuracy: 0.508140531276778
Loss: 1.152409316125215
              precision    recall  f1-score   support

           N       0.48      0.89      0.62       456
         NEU       0.00      0.00      0.00       148
        NONE       0.48      0.13      0.20       224
           P       0.62      0.47      0.54       339

   micro avg       0.51      0.51      0.51      1167
   macro avg       0.39      0.37      0.34      1167
weighted avg       0.46      0.51      0.44      1167

           N    NEU  NONE  P
True/Pred
N          404  118  162   164
NEU          0    0    0     0
NONE        10    6   29    15
P           42   24   33   160

## 5. Creating models with embeddings: CorpusFBCR2013.txt.usu.04_w.kvs

### Mean Accuracies and losses

   train_acc_mean  train_acc_stdev  val_acc_mean  val_acc_stdev
0  0.61521         0.00645          0.528436      0.037147

### Accuracies and losses by Stratified KFold (folds with balanced class distributions)

  model name                         train_acc  train_loss  val_acc   val_loss
0  f39bddf22a4c46808b4574ac8c0b9e05  0.604962   0.928929    0.525424  1.149489
1  64b910a843b946cc8666aaad332b66a0  0.624046   0.908405    0.491525  1.189505
2  ebf0762f1186447ba82bd74a0ca37e67  0.611641   0.920429    0.525424  1.168714
3  a9ea0d05cfe74acab1e6d644ed2b55d6  0.612965   0.942270    0.589744  1.062278
4  9636467a62f24256b2860f61154c963e  0.622498   0.937541    0.487179  1.159730
5  36da9d22d1164e29bb20d3232a1ff304  0.622498   0.922701    0.478632  1.192849
6  c94a7bc01ae04a3683da968376445222  0.609524   0.949746    0.560345  1.087157
7  3d73abb0068c4ebb9c147f1b11152fb9  0.615238   0.919122    0.525862  1.188741
8  b77c8990dd5748cd8367ba5a6e7eb8de  0.618459   0.917959    0.573913  1.112540
9  7177ea2b00ff4870a9f444d0f51cc19c  0.610266   0.922611    0.526316  1.137850

## 5. CorpusFBCR2013.txt.usu.04_w.kvs

### Fold number: 1. Name: f39bddf22a4c46808b4574ac8c0b9e05

### Training

              precision    recall  f1-score   support

           N       0.55      0.93      0.69       410
         NEU       0.00      0.00      0.00       134
        NONE       0.86      0.28      0.42       200
           P       0.68      0.65      0.67       304

   micro avg       0.60      0.60      0.60      1048
   macro avg       0.52      0.46      0.44      1048
weighted avg       0.58      0.60      0.54      1048

           N    NEU  NONE  P
True/Pred
N          381  90   119   105
NEU          0   0     0     0
NONE         3   4    56     2
P           26  40    25   197

### Validation

              precision    recall  f1-score   support

           N       0.53      0.85      0.66        46
         NEU       0.00      0.00      0.00        15
        NONE       0.33      0.17      0.23        23
           P       0.59      0.56      0.58        34

   micro avg       0.53      0.53      0.53       118
   macro avg       0.37      0.40      0.36       118
weighted avg       0.44      0.53      0.47       118

           N   NEU  NONE  P
True/Pred
N          39  6    14    14
NEU         1  0     0     0
NONE        2  5     4     1
P           4  4     5    19

### Test

Accuracy: 0.519280205655527
Loss: 1.1475684628909668
              precision    recall  f1-score   support

           N       0.49      0.87      0.63       456
         NEU       0.00      0.00      0.00       148
        NONE       0.52      0.14      0.22       224
           P       0.60      0.53      0.56       339

   micro avg       0.52      0.52      0.52      1167
   macro avg       0.40      0.38      0.35      1167
weighted avg       0.47      0.52      0.45      1167

           N    NEU  NONE  P
True/Pred
N          396  116  149   148
NEU          0    0    0     0
NONE        13    4   32    13
P           47   28   43   178

### Fold number: 2. Name: 64b910a843b946cc8666aaad332b66a0

### Training

              precision    recall  f1-score   support

           N       0.56      0.94      0.71       410
         NEU       1.00      0.04      0.07       134
        NONE       0.81      0.32      0.46       200
           P       0.71      0.66      0.68       304

   micro avg       0.62      0.62      0.62      1048
   macro avg       0.77      0.49      0.48      1048
weighted avg       0.71      0.62      0.57      1048

           N    NEU  NONE  P
True/Pred
N          385  91   106   100
NEU          0   5     0     0
NONE         4   7    64     4
P           21  31    30   200

### Validation

              precision    recall  f1-score   support

           N       0.51      0.89      0.65        46
         NEU       0.00      0.00      0.00        15
        NONE       0.40      0.09      0.14        23
           P       0.47      0.44      0.45        34

   micro avg       0.49      0.49      0.49       118
   macro avg       0.34      0.35      0.31       118
weighted avg       0.41      0.49      0.41       118

           N   NEU  NONE  P
True/Pred
N          41  8    15    17
NEU         0  0     0     0
NONE        1  0     2     2
P           4  7     6    15

### Test

Accuracy: 0.5141388174807198
Loss: 1.147400276087236
              precision    recall  f1-score   support

           N       0.49      0.87      0.63       456
         NEU       0.00      0.00      0.00       148
        NONE       0.46      0.15      0.22       224
           P       0.60      0.50      0.55       339

   micro avg       0.51      0.51      0.51      1167
   macro avg       0.39      0.38      0.35      1167
weighted avg       0.45      0.51      0.45      1167

           N    NEU  NONE  P
True/Pred
N          398  115  150   152
NEU          0    0    0     0
NONE        15    6   33    18
P           43   27   41   169

### Fold number: 3. Name: ebf0762f1186447ba82bd74a0ca37e67

### Training

              precision    recall  f1-score   support

           N       0.55      0.95      0.70       410
         NEU       1.00      0.02      0.04       134
        NONE       0.84      0.29      0.44       200
           P       0.71      0.62      0.66       304

   micro avg       0.61      0.61      0.61      1048
   macro avg       0.78      0.47      0.46      1048
weighted avg       0.71      0.61      0.55      1048

           N    NEU  NONE  P
True/Pred
N          390  91   117   112
NEU          0   3     0     0
NONE         2   6    59     3
P           18  34    24   189

### Validation

              precision    recall  f1-score   support

           N       0.51      0.89      0.65        46
         NEU       0.00      0.00      0.00        15
        NONE       0.38      0.13      0.19        23
           P       0.62      0.53      0.57        34

   micro avg       0.53      0.53      0.53       118
   macro avg       0.38      0.39      0.35       118
weighted avg       0.45      0.53      0.45       118

           N   NEU  NONE  P
True/Pred
N          41  11   16    13
NEU         0   0    0     0
NONE        1   1    3     3
P           4   3    4    18

### Test

Accuracy: 0.519280205655527
Loss: 1.146231229818651
              precision    recall  f1-score   support

           N       0.49      0.88      0.63       456
         NEU       0.00      0.00      0.00       148
        NONE       0.47      0.17      0.25       224
           P       0.63      0.49      0.55       339

   micro avg       0.52      0.52      0.52      1167
   macro avg       0.40      0.39      0.36      1167
weighted avg       0.46      0.52      0.45      1167

           N    NEU  NONE  P
True/Pred
N          401  114  151   155
NEU          0    0    0     0
NONE        17    8   38    17
P           38   26   35   167

### Fold number: 4. Name: a9ea0d05cfe74acab1e6d644ed2b55d6

### Training

              precision    recall  f1-score   support

           N       0.57      0.93      0.70       410
         NEU       1.00      0.01      0.03       134
        NONE       0.77      0.33      0.47       201
           P       0.67      0.63      0.65       304

   micro avg       0.61      0.61      0.61      1049
   macro avg       0.75      0.48      0.46      1049
weighted avg       0.69      0.61      0.56      1049

           N    NEU  NONE  P
True/Pred
N          382  85   102   105
NEU          0   2     0     0
NONE         5   8    67     7
P           23  39    32   192

### Validation

              precision    recall  f1-score   support

           N       0.55      0.89      0.68        46
         NEU       0.00      0.00      0.00        15
        NONE       0.50      0.14      0.21        22
           P       0.68      0.74      0.70        34

   micro avg       0.59      0.59      0.59       117
   macro avg       0.43      0.44      0.40       117
weighted avg       0.51      0.59      0.51       117

           N   NEU  NONE  P
True/Pred
N          41  9    15     9
NEU         0  0     0     0
NONE        3  0     3     0
P           2  6     4    25

### Test

Accuracy: 0.5201371036846615
Loss: 1.1444931303756214
              precision    recall  f1-score   support

           N       0.50      0.86      0.63       456
         NEU       0.00      0.00      0.00       148
        NONE       0.45      0.17      0.24       224
           P       0.60      0.53      0.56       339

   micro avg       0.52      0.52      0.52      1167
   macro avg       0.39      0.39      0.36      1167
weighted avg       0.45      0.52      0.46      1167

           N    NEU  NONE  P
True/Pred
N          390  108  144   140
NEU          0    0    0     0
NONE        18    9   37    19
P           48   31   43   180

### Fold number: 5. Name: 9636467a62f24256b2860f61154c963e

### Training

              precision    recall  f1-score   support

           N       0.57      0.94      0.71       410
         NEU       1.00      0.04      0.07       134
        NONE       0.78      0.30      0.43       201
           P       0.70      0.67      0.68       304

   micro avg       0.62      0.62      0.62      1049
   macro avg       0.76      0.49      0.47      1049
weighted avg       0.70      0.62      0.57      1049

           N    NEU  NONE  P
True/Pred
N          385  88   109    93
NEU          0   5     0     0
NONE         2   7    60     8
P           23  34    32   203

### Validation

              precision    recall  f1-score   support

           N       0.46      0.80      0.59        46
         NEU       0.00      0.00      0.00        15
        NONE       0.60      0.14      0.22        22
           P       0.55      0.50      0.52        34

   micro avg       0.49      0.49      0.49       117
   macro avg       0.40      0.36      0.33       117
weighted avg       0.45      0.49      0.42       117

           N   NEU  NONE  P
True/Pred
N          37  10   17    16
NEU         0   0    0     1
NONE        2   0    3     0
P           7   5    2    17

### Test

Accuracy: 0.5235646958011997
Loss: 1.145312058044327
              precision    recall  f1-score   support

           N       0.50      0.87      0.63       456
         NEU       0.00      0.00      0.00       148
        NONE       0.47      0.15      0.23       224
           P       0.61      0.53      0.57       339

   micro avg       0.52      0.52      0.52      1167
   macro avg       0.39      0.39      0.36      1167
weighted avg       0.46      0.52      0.46      1167

           N    NEU  NONE  P
True/Pred
N          398  109  149   145
NEU          1    0    0     0
NONE        15    9   34    15
P           42   30   41   179

### Fold number: 6. Name: 36da9d22d1164e29bb20d3232a1ff304

### Training

              precision    recall  f1-score   support

           N       0.57      0.95      0.71       410
         NEU       1.00      0.04      0.09       134
        NONE       0.77      0.27      0.40       201
           P       0.71      0.66      0.69       304

   micro avg       0.62      0.62      0.62      1049
   macro avg       0.76      0.48      0.47      1049
weighted avg       0.70      0.62      0.57      1049

           N    NEU  NONE  P
True/Pred
N          390  87   115    97
NEU          0   6     0     0
NONE         2   9    55     5
P           18  32    31   202

### Validation

              precision    recall  f1-score   support

           N       0.45      0.80      0.58        46
         NEU       0.00      0.00      0.00        15
        NONE       0.75      0.27      0.40        22
           P       0.48      0.38      0.43        34

   micro avg       0.48      0.48      0.48       117
   macro avg       0.42      0.36      0.35       117
weighted avg       0.46      0.48      0.43       117

           N   NEU  NONE  P
True/Pred
N          37  11   14    20
NEU         0   0    0     0
NONE        1   0    6     1
P           8   4    2    13

### Test

Accuracy: 0.5149957155098543
Loss: 1.150253052516323
              precision    recall  f1-score   support

           N       0.48      0.88      0.62       456
         NEU       0.00      0.00      0.00       148
        NONE       0.47      0.14      0.22       224
           P       0.62      0.50      0.55       339

   micro avg       0.51      0.51      0.51      1167
   macro avg       0.39      0.38      0.35      1167
weighted avg       0.46      0.51      0.45      1167

           N    NEU  NONE  P
True/Pred
N          400  113  157   155
NEU          0    0    0     0
NONE        14    7   32    15
P           42   28   35   169

### Fold number: 7. Name: c94a7bc01ae04a3683da968376445222

### Training

              precision    recall  f1-score   support

           N       0.56      0.93      0.70       411
         NEU       1.00      0.04      0.09       134
        NONE       0.75      0.28      0.41       201
           P       0.69      0.63      0.66       304

   micro avg       0.61      0.61      0.61      1050
   macro avg       0.75      0.47      0.46      1050
weighted avg       0.69      0.61      0.55      1050

           N    NEU  NONE  P
True/Pred
N          384  87   115   104
NEU          0   6     0     0
NONE         4   8    57     7
P           23  33    29   193

### Validation

              precision    recall  f1-score   support

           N       0.52      0.89      0.66        45
         NEU       0.00      0.00      0.00        15
        NONE       0.60      0.27      0.37        22
           P       0.66      0.56      0.60        34

   micro avg       0.56      0.56      0.56       116
   macro avg       0.44      0.43      0.41       116
weighted avg       0.51      0.56      0.50       116

           N   NEU  NONE  P
True/Pred
N          40  8    14    15
NEU         0  0     0     0
NONE        2  2     6     0
P           3  5     2    19

### Test

Accuracy: 0.5158526135389888
Loss: 1.1495403472154453
              precision    recall  f1-score   support

           N       0.49      0.88      0.63       456
         NEU       0.00      0.00      0.00       148
        NONE       0.47      0.17      0.25       224
           P       0.60      0.49      0.54       339

   micro avg       0.52      0.52      0.52      1167
   macro avg       0.39      0.38      0.35      1167
weighted avg       0.46      0.52      0.45      1167

           N    NEU  NONE  P
True/Pred
N          400  107  147   157
NEU          0    0    1     0
NONE        16    8   37    17
P           40   33   39   165

### Fold number: 8. Name: 3d73abb0068c4ebb9c147f1b11152fb9

### Training

              precision    recall  f1-score   support

           N       0.56      0.93      0.70       411
         NEU       0.83      0.04      0.07       134
        NONE       0.77      0.32      0.46       201
           P       0.69      0.64      0.66       304

   micro avg       0.62      0.62      0.62      1050
   macro avg       0.72      0.48      0.47      1050
weighted avg       0.67      0.62      0.56      1050

           N    NEU  NONE  P
True/Pred
N          382  86   108   104
NEU          0   5     0     1
NONE         7   7    65     5
P           22  36    28   194

### Validation

              precision    recall  f1-score   support

           N       0.51      0.84      0.64        45
         NEU       0.00      0.00      0.00        15
        NONE       0.38      0.14      0.20        22
           P       0.59      0.59      0.59        34

   micro avg       0.53      0.53      0.53       116
   macro avg       0.37      0.39      0.36       116
weighted avg       0.44      0.53      0.46       116

           N   NEU  NONE  P
True/Pred
N          38  10   13    13
NEU         0   0    0     0
NONE        3   1    3     1
P           4   4    6    20

### Test

Accuracy: 0.5149957155098543
Loss: 1.1518293524542174
              precision    recall  f1-score   support

           N       0.49      0.86      0.63       456
         NEU       0.00      0.00      0.00       148
        NONE       0.45      0.16      0.23       224
           P       0.59      0.51      0.55       339

   micro avg       0.51      0.51      0.51      1167
   macro avg       0.38      0.38      0.35      1167
weighted avg       0.45      0.51      0.45      1167

           N    NEU  NONE  P
True/Pred
N          392  108  149   146
NEU          0    0    0     0
NONE        17    7   35    19
P           47   33   40   174

### Fold number: 9. Name: b77c8990dd5748cd8367ba5a6e7eb8de

### Training

              precision    recall  f1-score   support

           N       0.57      0.93      0.70       411
         NEU       1.00      0.03      0.06       134
        NONE       0.82      0.30      0.44       201
           P       0.68      0.67      0.67       305

   micro avg       0.62      0.62      0.62      1051
   macro avg       0.77      0.48      0.47      1051
weighted avg       0.70      0.62      0.56      1051

           N    NEU  NONE  P
True/Pred
N          382  84   112    98
NEU          0   4     0     0
NONE         3   6    61     4
P           26  40    28   203

### Validation

              precision    recall  f1-score   support

           N       0.54      0.91      0.68        45
         NEU       0.00      0.00      0.00        15
        NONE       1.00      0.14      0.24        22
           P       0.61      0.67      0.64        33

   micro avg       0.57      0.57      0.57       115
   macro avg       0.54      0.43      0.39       115
weighted avg       0.58      0.57      0.49       115

           N   NEU  NONE  P
True/Pred
N          41  12   12    11
NEU         0   0    0     0
NONE        0   0    3     0
P           4   3    7    22

### Test

Accuracy: 0.5201371036846615
Loss: 1.144730539588931
              precision    recall  f1-score   support

           N       0.49      0.87      0.63       456
         NEU       0.00      0.00      0.00       148
        NONE       0.54      0.15      0.24       224
           P       0.60      0.52      0.56       339

   micro avg       0.52      0.52      0.52      1167
   macro avg       0.41      0.39      0.36      1167
weighted avg       0.47      0.52      0.45      1167

           N    NEU  NONE  P
True/Pred
N          397  116  148   150
NEU          0    0    0     0
NONE        11    5   34    13
P           48   27   42   176

### Fold number: 10. Name: 7177ea2b00ff4870a9f444d0f51cc19c

### Training

              precision    recall  f1-score   support

           N       0.56      0.93      0.70       411
         NEU       0.80      0.03      0.06       135
        NONE       0.80      0.26      0.39       201
           P       0.68      0.66      0.67       305

   micro avg       0.61      0.61      0.61      1052
   macro avg       0.71      0.47      0.45      1052
weighted avg       0.67      0.61      0.55      1052

           N    NEU  NONE  P
True/Pred
N          384  87   114    99
NEU          1   4     0     0
NONE         2   7    52     4
P           24  37    35   202

### Validation

              precision    recall  f1-score   support

           N       0.47      0.82      0.60        45
         NEU       0.00      0.00      0.00        14
        NONE       0.80      0.18      0.30        22
           P       0.61      0.58      0.59        33

   micro avg       0.53      0.53      0.53       114
   macro avg       0.47      0.39      0.37       114
weighted avg       0.52      0.53      0.47       114

           N   NEU  NONE  P
True/Pred
N          37  11   17    13
NEU         0   0    0     0
NONE        0   0    4     1
P           8   3    1    19

### Test

Accuracy: 0.5167095115681234
Loss: 1.1500244792938756
              precision    recall  f1-score   support

           N       0.49      0.86      0.63       456
         NEU       0.00      0.00      0.00       148
        NONE       0.47      0.15      0.22       224
           P       0.59      0.52      0.56       339

   micro avg       0.52      0.52      0.52      1167
   macro avg       0.39      0.38      0.35      1167
weighted avg       0.46      0.52      0.45      1167

           N    NEU  NONE  P
True/Pred
N          393  112  147   146
NEU          1    0    0     0
NONE        15    6   33    16
P           47   30   44   177

## 6. Creating models with embeddings: CorpusFBCR2013.txt.usu.02_w.kvs

### Mean Accuracies and losses

   train_acc_mean  train_acc_stdev  val_acc_mean  val_acc_stdev
0  0.621682        0.006744         0.525032      0.030767

### Accuracies and losses by Stratified KFold (folds with balanced class distributions)

  model name                         train_acc  train_loss  val_acc   val_loss
0  c0824858c90048efaef16d28371b324f  0.616412   0.928056    0.491525  1.125480
1  8262e9b9b26b4886b80e592309ec900b  0.614504   0.940597    0.525424  1.067577
2  63c3a2506b0e4a158099f458ee76f3ec  0.614504   0.922205    0.500000  1.115695
3  6cd5498d56a94fcabee2e8b0ee14039e  0.628217   0.926647    0.547009  1.108761
4  a73f9aee031e4d7e863dbdc03bd2d1fb  0.619638   0.893830    0.487179  1.183000
5  82c8fe93eca24396b7c68e5ed4c6408d  0.615825   0.922342    0.495726  1.115305
6  2b6f975000884ddfb733ada1fba44f0f  0.627619   0.918441    0.551724  1.119043
7  8444944931ca4caa898ad867699f2d35  0.624762   0.925831    0.577586  1.115494
8  e384e82ad28d4cf094d307aa3e956e6a  0.621313   0.906274    0.547826  1.138864
9  5cabc80b523641fda8427ad07c6db2e8  0.634030   0.904536    0.526316  1.208113

## 6. CorpusFBCR2013.txt.usu.02_w.kvs

### Fold number: 1. Name: c0824858c90048efaef16d28371b324f

### Training

              precision    recall  f1-score   support

           N       0.57      0.94      0.71       410
         NEU       1.00      0.02      0.04       134
        NONE       0.78      0.29      0.42       200
           P       0.69      0.66      0.67       304

   micro avg       0.62      0.62      0.62      1048
   macro avg       0.76      0.48      0.46      1048
weighted avg       0.70      0.62      0.56      1048

           N    NEU  NONE  P
True/Pred
N          384  85   112    98
NEU          0   3     0     0
NONE         4   7    58     5
P           22  39    30   201

### Validation

              precision    recall  f1-score   support

           N       0.49      0.89      0.64        46
         NEU       0.00      0.00      0.00        15
        NONE       0.57      0.17      0.27        23
           P       0.46      0.38      0.42        34

   micro avg       0.49      0.49      0.49       118
   macro avg       0.38      0.36      0.33       118
weighted avg       0.44      0.49      0.42       118

           N   NEU  NONE  P
True/Pred
N          41  8    15    19
NEU         0  0     0     0
NONE        1  0     4     2
P           4  7     4    13

### Test

Accuracy: 0.517566409597258
Loss: 1.1519971097219253
              precision    recall  f1-score   support

           N       0.49      0.88      0.63       456
         NEU       0.00      0.00      0.00       148
        NONE       0.46      0.14      0.22       224
           P       0.62      0.50      0.56       339

   micro avg       0.52      0.52      0.52      1167
   macro avg       0.39      0.38      0.35      1167
weighted avg       0.46      0.52      0.45      1167

           N    NEU  NONE  P
True/Pred
N          401  116  152   152
NEU          1    0    0     0
NONE        16    6   32    16
P           38   26   40   171

### Fold number: 2. Name: 8262e9b9b26b4886b80e592309ec900b

### Training

              precision    recall  f1-score   support

           N       0.56      0.92      0.70       410
         NEU       1.00      0.04      0.07       134
        NONE       0.77      0.28      0.41       200
           P       0.68      0.67      0.68       304

   micro avg       0.61      0.61      0.61      1048
   macro avg       0.76      0.48      0.46      1048
weighted avg       0.69      0.61      0.56      1048

           N    NEU  NONE  P
True/Pred
N          379  89   111    93
NEU          0   5     0     0
NONE         6   4    55     6
P           25  36    34   205

### Validation

              precision    recall  f1-score   support

           N       0.49      0.93      0.65        46
         NEU       0.00      0.00      0.00        15
        NONE       0.44      0.17      0.25        23
           P       0.68      0.44      0.54        34

   micro avg       0.53      0.53      0.53       118
   macro avg       0.41      0.39      0.36       118
weighted avg       0.48      0.53      0.46       118

           N   NEU  NONE  P
True/Pred
N          43  11   17    16
NEU         0   0    0     0
NONE        1   1    4     3
P           2   3    2    15

### Test

Accuracy: 0.5149957155098543
Loss: 1.1512380995663156
              precision    recall  f1-score   support

           N       0.49      0.88      0.63       456
         NEU       0.00      0.00      0.00       148
        NONE       0.48      0.13      0.20       224
           P       0.60      0.51      0.55       339

   micro avg       0.51      0.51      0.51      1167
   macro avg       0.39      0.38      0.35      1167
weighted avg       0.46      0.51      0.44      1167

           N    NEU  NONE  P
True/Pred
N          399  115  149   154
NEU          1    0    2     0
NONE        13    7   29    12
P           43   26   44   173

### Fold number: 3. Name: 63c3a2506b0e4a158099f458ee76f3ec

### Training

              precision    recall  f1-score   support

           N       0.57      0.93      0.71       410
         NEU       1.00      0.03      0.06       134
        NONE       0.78      0.29      0.42       200
           P       0.67      0.65      0.66       304

   micro avg       0.61      0.61      0.61      1048
   macro avg       0.76      0.48      0.46      1048
weighted avg       0.70      0.61      0.56      1048

           N    NEU  NONE  P
True/Pred
N          383  89   104    99
NEU          0   4     0     0
NONE         4   6    58     6
P           23  35    38   199

### Validation

              precision    recall  f1-score   support

           N       0.54      0.80      0.64        46
         NEU       0.00      0.00      0.00        15
        NONE       0.33      0.09      0.14        23
           P       0.47      0.59      0.52        34

   micro avg       0.50      0.50      0.50       118
   macro avg       0.33      0.37      0.33       118
weighted avg       0.41      0.50      0.43       118

           N   NEU  NONE  P
True/Pred
N          37  6    14    12
NEU         0  0     0     0
NONE        2  0     2     2
P           7  9     7    20

### Test

Accuracy: 0.5167095115681234
Loss: 1.153446447185924
              precision    recall  f1-score   support

           N       0.50      0.86      0.63       456
         NEU       0.00      0.00      0.00       148
        NONE       0.42      0.14      0.21       224
           P       0.59      0.53      0.56       339

   micro avg       0.52      0.52      0.52      1167
   macro avg       0.38      0.38      0.35      1167
weighted avg       0.45      0.52      0.45      1167

           N    NEU  NONE  P
True/Pred
N          391  104  149   143
NEU          0    0    1     0
NONE        18   10   31    15
P           47   34   43   181

### Fold number: 4. Name: 6cd5498d56a94fcabee2e8b0ee14039e

### Training

              precision    recall  f1-score   support

           N       0.58      0.92      0.71       410
         NEU       1.00      0.04      0.09       134
        NONE       0.77      0.36      0.49       201
           P       0.67      0.67      0.67       304

   micro avg       0.63      0.63      0.63      1049
   macro avg       0.76      0.50      0.49      1049
weighted avg       0.70      0.63      0.58      1049

           N    NEU  NONE  P
True/Pred
N          377  87   91     90
NEU          0   6    0      0
NONE         6   6   72     10
P           27  35   38    204

### Validation

              precision    recall  f1-score   support

           N       0.50      0.85      0.63        46
         NEU       0.00      0.00      0.00        15
        NONE       0.50      0.14      0.21        22
           P       0.67      0.65      0.66        34

   micro avg       0.55      0.55      0.55       117
   macro avg       0.42      0.41      0.38       117
weighted avg       0.48      0.55      0.48       117

           N   NEU  NONE  P
True/Pred
N          39  9    18    12
NEU         0  0     0     0
NONE        2  1     3     0
P           5  5     1    22

### Test

Accuracy: 0.5295629820051414
Loss: 1.155014254328761
              precision    recall  f1-score   support

           N       0.50      0.88      0.64       456
         NEU       0.00      0.00      0.00       148
        NONE       0.47      0.16      0.23       224
           P       0.62      0.54      0.58       339

   micro avg       0.53      0.53      0.53      1167
   macro avg       0.40      0.39      0.36      1167
weighted avg       0.47      0.53      0.46      1167

           N    NEU  NONE  P
True/Pred
N          400  110  146   139
NEU          0    0    1     0
NONE        13   10   35    17
P           43   28   42   183

### Fold number: 5. Name: a73f9aee031e4d7e863dbdc03bd2d1fb

### Training

              precision    recall  f1-score   support

           N       0.56      0.94      0.70       410
         NEU       1.00      0.08      0.15       134
        NONE       0.82      0.29      0.43       201
           P       0.70      0.64      0.67       304

   micro avg       0.62      0.62      0.62      1049
   macro avg       0.77      0.49      0.49      1049
weighted avg       0.71      0.62      0.57      1049

           N    NEU  NONE  P
True/Pred
N          387  81   117   106
NEU          0  11     0     0
NONE         3   6    58     4
P           20  36    26   194

### Validation

              precision    recall  f1-score   support

           N       0.47      0.76      0.58        46
         NEU       0.00      0.00      0.00        15
        NONE       0.50      0.09      0.15        22
           P       0.53      0.59      0.56        34

   micro avg       0.49      0.49      0.49       117
   macro avg       0.37      0.36      0.32       117
weighted avg       0.43      0.49      0.42       117

           N   NEU  NONE  P
True/Pred
N          35  10   16    14
NEU         0   0    0     0
NONE        2   0    2     0
P           9   5    4    20

### Test

Accuracy: 0.519280205655527
Loss: 1.1573139524203562
              precision    recall  f1-score   support

           N       0.49      0.88      0.63       456
         NEU       0.17      0.01      0.01       148
        NONE       0.48      0.15      0.23       224
           P       0.61      0.51      0.56       339

   micro avg       0.52      0.52      0.52      1167
   macro avg       0.44      0.38      0.36      1167
weighted avg       0.48      0.52      0.45      1167

           N    NEU  NONE  P
True/Pred
N          399  114  148   148
NEU          1    1    2     2
NONE        14    6   33    16
P           42   27   41   173

### Fold number: 6. Name: 82c8fe93eca24396b7c68e5ed4c6408d

### Training

              precision    recall  f1-score   support

           N       0.57      0.92      0.70       410
         NEU       1.00      0.02      0.04       134
        NONE       0.73      0.33      0.46       201
           P       0.68      0.66      0.67       304

   micro avg       0.62      0.62      0.62      1049
   macro avg       0.74      0.48      0.47      1049
weighted avg       0.69      0.62      0.56      1049

           N    NEU  NONE  P
True/Pred
N          376  87   102    95
NEU          0   3     0     0
NONE         8   8    67     9
P           26  36    32   200

### Validation

              precision    recall  f1-score   support

           N       0.51      0.80      0.63        46
         NEU       0.00      0.00      0.00        15
        NONE       0.50      0.23      0.31        22
           P       0.46      0.47      0.46        34

   micro avg       0.50      0.50      0.50       117
   macro avg       0.37      0.38      0.35       117
weighted avg       0.43      0.50      0.44       117

           N   NEU  NONE  P
True/Pred
N          37  10   9     16
NEU         0   0   0      0
NONE        3   0   5      2
P           6   5   8     16

### Test

Accuracy: 0.5261353898886033
Loss: 1.151971063270029
              precision    recall  f1-score   support

           N       0.50      0.87      0.64       456
         NEU       0.00      0.00      0.00       148
        NONE       0.47      0.17      0.24       224
           P       0.60      0.54      0.57       339

   micro avg       0.53      0.53      0.53      1167
   macro avg       0.39      0.39      0.36      1167
weighted avg       0.46      0.53      0.46      1167

           N    NEU  NONE  P
True/Pred
N          395  109  142   138
NEU          0    0    1     1
NONE        16    8   37    18
P           45   31   44   182

### Fold number: 7. Name: 2b6f975000884ddfb733ada1fba44f0f

### Training

              precision    recall  f1-score   support

           N       0.57      0.94      0.71       411
         NEU       1.00      0.02      0.04       134
        NONE       0.82      0.32      0.46       201
           P       0.70      0.67      0.69       304

   micro avg       0.63      0.63      0.63      1050
   macro avg       0.77      0.49      0.48      1050
weighted avg       0.71      0.63      0.57      1050

           N    NEU  NONE  P
True/Pred
N          386  85   108    95
NEU          0   3     0     0
NONE         4   6    65     4
P           21  40    28   205

### Validation

              precision    recall  f1-score   support

           N       0.54      0.89      0.67        45
         NEU       0.00      0.00      0.00        15
        NONE       0.50      0.23      0.31        22
           P       0.59      0.56      0.58        34

   micro avg       0.55      0.55      0.55       116
   macro avg       0.41      0.42      0.39       116
weighted avg       0.48      0.55      0.49       116

           N   NEU  NONE  P
True/Pred
N          40  10   11    13
NEU         0   0    0     0
NONE        0   3    5     2
P           5   2    6    19

### Test

Accuracy: 0.5201371036846615
Loss: 1.1638536879248362
              precision    recall  f1-score   support

           N       0.50      0.86      0.63       456
         NEU       0.00      0.00      0.00       148
        NONE       0.49      0.16      0.24       224
           P       0.59      0.53      0.56       339

   micro avg       0.52      0.52      0.52      1167
   macro avg       0.39      0.39      0.36      1167
weighted avg       0.46      0.52      0.45      1167

           N    NEU  NONE  P
True/Pred
N          394  109  145   144
NEU          1    0    0     1
NONE        13    7   35    16
P           48   32   44   178

### Fold number: 8. Name: 8444944931ca4caa898ad867699f2d35

### Training

              precision    recall  f1-score   support

           N       0.57      0.92      0.71       411
         NEU       0.86      0.04      0.09       134
        NONE       0.78      0.35      0.49       201
           P       0.68      0.66      0.67       304

   micro avg       0.62      0.62      0.62      1050
   macro avg       0.72      0.49      0.49      1050
weighted avg       0.68      0.62      0.58      1050

           N    NEU  NONE  P
True/Pred
N          379  87   97     97
NEU          0   6    0      1
NONE         8   6   71      6
P           24  35   33    200

### Validation

              precision    recall  f1-score   support

           N       0.53      0.91      0.67        45
         NEU       0.00      0.00      0.00        15
        NONE       0.27      0.14      0.18        22
           P       0.82      0.68      0.74        34

   micro avg       0.58      0.58      0.58       116
   macro avg       0.41      0.43      0.40       116
weighted avg       0.50      0.58      0.51       116

           N   NEU  NONE  P
True/Pred
N          41  10   17     9
NEU         0   0    0     0
NONE        3   3    3     2
P           1   2    2    23

### Test

Accuracy: 0.5201371036846615
Loss: 1.1545516970895024
              precision    recall  f1-score   support

           N       0.50      0.86      0.63       456
         NEU       1.00      0.01      0.01       148
        NONE       0.43      0.16      0.23       224
           P       0.60      0.53      0.56       339

   micro avg       0.52      0.52      0.52      1167
   macro avg       0.63      0.39      0.36      1167
weighted avg       0.58      0.52      0.46      1167

           N    NEU  NONE  P
True/Pred
N          390  106  145   140
NEU          0    1    0     0
NONE        20    9   35    18
P           46   32   44   181

### Fold number: 9. Name: e384e82ad28d4cf094d307aa3e956e6a

### Training

              precision    recall  f1-score   support

           N       0.58      0.93      0.71       411
         NEU       0.83      0.04      0.07       134
        NONE       0.79      0.27      0.41       201
           P       0.67      0.69      0.68       305

   micro avg       0.62      0.62      0.62      1051
   macro avg       0.72      0.48      0.47      1051
weighted avg       0.68      0.62      0.56      1051

           N    NEU  NONE  P
True/Pred
N          382  89   102    86
NEU          0   5     0     1
NONE         2   6    55     7
P           27  34    44   211

### Validation

              precision    recall  f1-score   support

           N       0.52      0.82      0.64        45
         NEU       0.50      0.07      0.12        15
        NONE       0.70      0.32      0.44        22
           P       0.56      0.55      0.55        33

   micro avg       0.55      0.55      0.55       115
   macro avg       0.57      0.44      0.44       115
weighted avg       0.56      0.55      0.51       115

           N   NEU  NONE  P
True/Pred
N          37  11   9     14
NEU         0   1   1      0
NONE        2   0   7      1
P           6   3   5     18

### Test

Accuracy: 0.5235646958011997
Loss: 1.1578185655405575
              precision    recall  f1-score   support

           N       0.51      0.85      0.63       456
         NEU       0.00      0.00      0.00       148
        NONE       0.48      0.14      0.22       224
           P       0.57      0.57      0.57       339

   micro avg       0.52      0.52      0.52      1167
   macro avg       0.39      0.39      0.36      1167
weighted avg       0.46      0.52      0.46      1167

           N    NEU  NONE  P
True/Pred
N          386  108  139   128
NEU          1    0    2     1
NONE        11    6   31    16
P           58   34   52   194

### Fold number: 10. Name: 5cabc80b523641fda8427ad07c6db2e8

### Training

              precision    recall  f1-score   support

           N       0.58      0.93      0.71       411
         NEU       1.00      0.08      0.15       135
        NONE       0.79      0.34      0.48       201
           P       0.69      0.68      0.68       305

   micro avg       0.63      0.63      0.63      1052
   macro avg       0.77      0.51      0.51      1052
weighted avg       0.71      0.63      0.59      1052

           N    NEU  NONE  P
True/Pred
N          381  81   99     95
NEU          0  11    0      0
NONE         6   8   69      4
P           24  35   33    206

### Validation

              precision    recall  f1-score   support

           N       0.50      0.80      0.62        45
         NEU       0.00      0.00      0.00        14
        NONE       0.50      0.18      0.27        22
           P       0.61      0.61      0.61        33

   micro avg       0.53      0.53      0.53       114
   macro avg       0.40      0.40      0.37       114
weighted avg       0.47      0.53      0.47       114

           N   NEU  NONE  P
True/Pred
N          36  9    15    12
NEU         0  0     0     1
NONE        2  2     4     0
P           7  3     3    20

### Test

Accuracy: 0.5184233076263924
Loss: 1.1557796768822317
              precision    recall  f1-score   support

           N       0.50      0.86      0.63       456
         NEU       0.00      0.00      0.00       148
        NONE       0.46      0.15      0.22       224
           P       0.59      0.53      0.56       339

   micro avg       0.52      0.52      0.52      1167
   macro avg       0.39      0.38      0.35      1167
weighted avg       0.46      0.52      0.45      1167

           N    NEU  NONE  P
True/Pred
N          393  109  146   140
NEU          1    0    2     2
NONE        13    7   33    18
P           49   32   43   179

## 7. Creating models with embeddings: CorpusFBCR2013.txt.usu.08_w.kvs

### Mean Accuracies and losses

   train_acc_mean  train_acc_stdev  val_acc_mean  val_acc_stdev
0  0.611018        0.006431         0.52837       0.021666

### Accuracies and losses by Stratified KFold (folds with balanced class distributions)

  model name                         train_acc  train_loss  val_acc   val_loss
0  d36ba442505b4526861d0cc173517312  0.620229   0.923180    0.491525  1.207354
1  8a4538de287a445c89d02ad1c75f1558  0.609733   0.939906    0.542373  1.094518
2  adef1497f1444fc58761ce70ae67c4c5  0.602099   0.942061    0.525424  1.145070
3  2721c301ff8c4ee3b97f934e301f1947  0.616778   0.955768    0.529915  1.099646
4  07c5a7aeb9434d4083705b76f84580a1  0.613918   0.918925    0.538462  1.173668
5  fcd9dbd2ae264c2e8bdb1f832ebf2ba7  0.612965   0.907245    0.495726  1.201661
6  280c3831699e47508b72b1cf3de2440c  0.617143   0.941290    0.551724  1.135423
7  2731619ca0544c61a995c15843e34756  0.600952   0.941782    0.534483  1.089587
8  141532f25abf453bad52ea69b99c1865  0.609895   0.953870    0.556522  1.104678
9  a55fe9eec217463f8d734e4551779b9c  0.606464   0.915946    0.517544  1.163697

## 7. CorpusFBCR2013.txt.usu.08_w.kvs

### Fold number: 1. Name: d36ba442505b4526861d0cc173517312

### Training

              precision    recall  f1-score   support

           N       0.57      0.94      0.71       410
         NEU       0.00      0.00      0.00       134
        NONE       0.80      0.28      0.42       200
           P       0.69      0.69      0.69       304

   micro avg       0.62      0.62      0.62      1048
   macro avg       0.52      0.48      0.45      1048
weighted avg       0.58      0.62      0.56      1048

           N    NEU  NONE  P
True/Pred
N          384  90   110    91
NEU          0   0     0     0
NONE         3   7    57     4
P           23  37    33   209

### Validation

              precision    recall  f1-score   support

           N       0.48      0.85      0.61        46
         NEU       0.00      0.00      0.00        15
        NONE       0.38      0.13      0.19        23
           P       0.55      0.47      0.51        34

   micro avg       0.49      0.49      0.49       118
   macro avg       0.35      0.36      0.33       118
weighted avg       0.42      0.49      0.42       118

           N   NEU  NONE  P
True/Pred
N          39  11   16    15
NEU         0   0    0     0
NONE        2   0    3     3
P           5   4    4    16

### Test

Accuracy: 0.5149957155098543
Loss: 1.1503868436542288
              precision    recall  f1-score   support

           N       0.49      0.87      0.63       456
         NEU       0.00      0.00      0.00       148
        NONE       0.52      0.15      0.23       224
           P       0.59      0.50      0.54       339

   micro avg       0.51      0.51      0.51      1167
   macro avg       0.40      0.38      0.35      1167
weighted avg       0.46      0.51      0.45      1167

           N    NEU  NONE  P
True/Pred
N          398  111  148   157
NEU          0    0    0     0
NONE        11    8   34    13
P           47   29   42   169

### Fold number: 2. Name: 8a4538de287a445c89d02ad1c75f1558

### Training

              precision    recall  f1-score   support

           N       0.56      0.94      0.70       410
         NEU       1.00      0.01      0.03       134
        NONE       0.81      0.26      0.39       200
           P       0.68      0.66      0.67       304

   micro avg       0.61      0.61      0.61      1048
   macro avg       0.76      0.47      0.45      1048
weighted avg       0.70      0.61      0.55      1048

           N    NEU  NONE  P
True/Pred
N          386  89   116   100
NEU          0   2     0     0
NONE         3   5    51     4
P           21  38    33   200

### Validation

              precision    recall  f1-score   support

           N       0.51      0.87      0.65        46
         NEU       0.00      0.00      0.00        15
        NONE       0.50      0.22      0.30        23
           P       0.63      0.56      0.59        34

   micro avg       0.54      0.54      0.54       118
   macro avg       0.41      0.41      0.39       118
weighted avg       0.48      0.54      0.48       118

           N   NEU  NONE  P
True/Pred
N          40  10   14    14
NEU         0   0    0     0
NONE        3   1    5     1
P           3   4    4    19

### Test

Accuracy: 0.5304198800342759
Loss: 1.148141271819058
              precision    recall  f1-score   support

           N       0.50      0.90      0.64       456
         NEU       0.00      0.00      0.00       148
        NONE       0.49      0.14      0.22       224
           P       0.64      0.53      0.58       339

   micro avg       0.53      0.53      0.53      1167
   macro avg       0.41      0.39      0.36      1167
weighted avg       0.47      0.53      0.46      1167

           N    NEU  NONE  P
True/Pred
N          410  114  154   148
NEU          0    0    0     0
NONE        10    9   31    13
P           36   25   39   178

### Fold number: 3. Name: adef1497f1444fc58761ce70ae67c4c5

### Training

              precision    recall  f1-score   support

           N       0.55      0.94      0.69       410
         NEU       0.00      0.00      0.00       134
        NONE       0.75      0.26      0.38       200
           P       0.70      0.64      0.67       304

   micro avg       0.60      0.60      0.60      1048
   macro avg       0.50      0.46      0.44      1048
weighted avg       0.56      0.60      0.54      1048

           N    NEU  NONE  P
True/Pred
N          386  91   120   104
NEU          0   0     0     0
NONE         4   7    51     6
P           20  36    29   194

### Validation

              precision    recall  f1-score   support

           N       0.49      0.78      0.60        46
         NEU       0.00      0.00      0.00        15
        NONE       0.75      0.26      0.39        23
           P       0.56      0.59      0.57        34

   micro avg       0.53      0.53      0.53       118
   macro avg       0.45      0.41      0.39       118
weighted avg       0.50      0.53      0.47       118

           N   NEU  NONE  P
True/Pred
N          36  10   15    13
NEU         0   0    0     0
NONE        1   0    6     1
P           9   5    2    20

### Test

Accuracy: 0.5132819194515853
Loss: 1.140734713844781
              precision    recall  f1-score   support

           N       0.48      0.89      0.63       456
         NEU       0.00      0.00      0.00       148
        NONE       0.50      0.13      0.21       224
           P       0.62      0.47      0.54       339

   micro avg       0.51      0.51      0.51      1167
   macro avg       0.40      0.38      0.34      1167
weighted avg       0.46      0.51      0.44      1167

           N    NEU  NONE  P
True/Pred
N          408  118  156   164
NEU          0    0    0     0
NONE         9    7   30    14
P           39   23   38   161

### Fold number: 4. Name: 2721c301ff8c4ee3b97f934e301f1947

### Training

              precision    recall  f1-score   support

           N       0.56      0.93      0.70       410
         NEU       0.00      0.00      0.00       134
        NONE       0.73      0.31      0.44       201
           P       0.71      0.67      0.69       304

   micro avg       0.62      0.62      0.62      1049
   macro avg       0.50      0.48      0.46      1049
weighted avg       0.57      0.62      0.56      1049

           N    NEU  NONE  P
True/Pred
N          380  93   109    94
NEU          0   0     0     0
NONE         6  11    63     6
P           24  30    29   204

### Validation

              precision    recall  f1-score   support

           N       0.51      0.96      0.67        46
         NEU       0.00      0.00      0.00        15
        NONE       0.60      0.14      0.22        22
           P       0.58      0.44      0.50        34

   micro avg       0.53      0.53      0.53       117
   macro avg       0.42      0.38      0.35       117
weighted avg       0.48      0.53      0.45       117

           N   NEU  NONE  P
True/Pred
N          44  8    16    18
NEU         0  0     0     0
NONE        0  1     3     1
P           2  6     3    15

### Test

Accuracy: 0.5287060839760068
Loss: 1.1464161721677943
              precision    recall  f1-score   support

           N       0.50      0.90      0.64       456
         NEU       0.00      0.00      0.00       148
        NONE       0.50      0.16      0.24       224
           P       0.63      0.50      0.56       339

   micro avg       0.53      0.53      0.53      1167
   macro avg       0.41      0.39      0.36      1167
weighted avg       0.47      0.53      0.46      1167

           N    NEU  NONE  P
True/Pred
N          412  114  147   153
NEU          0    0    0     0
NONE        10    9   35    16
P           34   25   42   170

### Fold number: 5. Name: 07c5a7aeb9434d4083705b76f84580a1

### Training

              precision    recall  f1-score   support

           N       0.56      0.94      0.70       410
         NEU       1.00      0.03      0.06       134
        NONE       0.79      0.30      0.44       201
           P       0.71      0.63      0.67       304

   micro avg       0.61      0.61      0.61      1049
   macro avg       0.76      0.48      0.47      1049
weighted avg       0.70      0.61      0.56      1049

           N    NEU  NONE  P
True/Pred
N          387  85   118   106
NEU          0   4     0     0
NONE         2   8    61     6
P           21  37    22   192

### Validation

              precision    recall  f1-score   support

           N       0.52      0.83      0.64        46
         NEU       0.00      0.00      0.00        15
        NONE       0.40      0.09      0.15        22
           P       0.59      0.68      0.63        34

   micro avg       0.54      0.54      0.54       117
   macro avg       0.38      0.40      0.35       117
weighted avg       0.45      0.54      0.46       117

           N   NEU  NONE  P
True/Pred
N          38  11   14    10
NEU         0   0    0     0
NONE        1   1    2     1
P           7   3    6    23

### Test

Accuracy: 0.508140531276778
Loss: 1.1555808161765662
              precision    recall  f1-score   support

           N       0.48      0.88      0.62       456
         NEU       0.00      0.00      0.00       148
        NONE       0.46      0.14      0.21       224
           P       0.60      0.47      0.53       339

   micro avg       0.51      0.51      0.51      1167
   macro avg       0.38      0.37      0.34      1167
weighted avg       0.45      0.51      0.44      1167

           N    NEU  NONE  P
True/Pred
N          402  115  153   162
NEU          0    0    0     0
NONE        12    8   31    17
P           42   25   40   160

### Fold number: 6. Name: fcd9dbd2ae264c2e8bdb1f832ebf2ba7

### Training

              precision    recall  f1-score   support

           N       0.56      0.93      0.70       410
         NEU       0.67      0.01      0.03       134
        NONE       0.83      0.26      0.40       201
           P       0.69      0.68      0.68       304

   micro avg       0.61      0.61      0.61      1049
   macro avg       0.69      0.47      0.45      1049
weighted avg       0.66      0.61      0.55      1049

           N    NEU  NONE  P
True/Pred
N          382  91   116    94
NEU          0   2     1     0
NONE         2   5    53     4
P           26  36    31   206

### Validation

              precision    recall  f1-score   support

           N       0.47      0.83      0.60        46
         NEU       0.00      0.00      0.00        15
        NONE       0.38      0.14      0.20        22
           P       0.59      0.50      0.54        34

   micro avg       0.50      0.50      0.50       117
   macro avg       0.36      0.37      0.34       117
weighted avg       0.43      0.50      0.43       117

           N   NEU  NONE  P
True/Pred
N          38  11   14    17
NEU         0   0    0     0
NONE        3   2    3     0
P           5   2    5    17

### Test

Accuracy: 0.5184233076263924
Loss: 1.1485530903106966
              precision    recall  f1-score   support

           N       0.49      0.89      0.63       456
         NEU       0.00      0.00      0.00       148
        NONE       0.56      0.15      0.23       224
           P       0.60      0.49      0.54       339

   micro avg       0.52      0.52      0.52      1167
   macro avg       0.41      0.38      0.35      1167
weighted avg       0.47      0.52      0.45      1167

           N    NEU  NONE  P
True/Pred
N          407  115  149   161
NEU          1    0    0     0
NONE         5    8   33    13
P           43   25   42   165

### Fold number: 7. Name: 280c3831699e47508b72b1cf3de2440c

### Training

              precision    recall  f1-score   support

           N       0.56      0.93      0.70       411
         NEU       1.00      0.05      0.10       134
        NONE       0.73      0.31      0.44       201
           P       0.70      0.64      0.67       304

   micro avg       0.62      0.62      0.62      1050
   macro avg       0.75      0.48      0.48      1050
weighted avg       0.69      0.62      0.57      1050

           N    NEU  NONE  P
True/Pred
N          384  82   113   101
NEU          0   7     0     0
NONE         4  10    63     9
P           23  35    25   194

### Validation

              precision    recall  f1-score   support

           N       0.54      0.98      0.69        45
         NEU       0.00      0.00      0.00        15
        NONE       0.40      0.09      0.15        22
           P       0.62      0.53      0.57        34

   micro avg       0.55      0.55      0.55       116
   macro avg       0.39      0.40      0.35       116
weighted avg       0.47      0.55      0.46       116

           N   NEU  NONE  P
True/Pred
N          44  10   13    15
NEU         0   0    0     0
NONE        0   2    2     1
P           1   3    7    18

### Test

Accuracy: 0.5209940017137961
Loss: 1.1455656494940663
              precision    recall  f1-score   support

           N       0.49      0.89      0.63       456
         NEU       0.00      0.00      0.00       148
        NONE       0.49      0.16      0.24       224
           P       0.62      0.50      0.55       339

   micro avg       0.52      0.52      0.52      1167
   macro avg       0.40      0.38      0.35      1167
weighted avg       0.47      0.52      0.45      1167

           N    NEU  NONE  P
True/Pred
N          405  113  149   156
NEU          0    0    0     0
NONE        12    9   35    15
P           39   26   40   168

### Fold number: 8. Name: 2731619ca0544c61a995c15843e34756

### Training

              precision    recall  f1-score   support

           N       0.54      0.94      0.69       411
         NEU       1.00      0.01      0.01       134
        NONE       0.76      0.27      0.40       201
           P       0.71      0.62      0.66       304

   micro avg       0.60      0.60      0.60      1050
   macro avg       0.75      0.46      0.44      1050
weighted avg       0.69      0.60      0.54      1050

           N    NEU  NONE  P
True/Pred
N          386  92   122   111
NEU          0   1     0     0
NONE         4   9    55     4
P           21  32    24   189

### Validation

              precision    recall  f1-score   support

           N       0.52      0.87      0.65        45
         NEU       0.00      0.00      0.00        15
        NONE       0.44      0.18      0.26        22
           P       0.59      0.56      0.58        34

   micro avg       0.53      0.53      0.53       116
   macro avg       0.39      0.40      0.37       116
weighted avg       0.46      0.53      0.47       116

           N   NEU  NONE  P
True/Pred
N          39  9    13    14
NEU         0  0     0     0
NONE        3  1     4     1
P           3  5     5    19

### Test

Accuracy: 0.5141388174807198
Loss: 1.1549522301475743
              precision    recall  f1-score   support

           N       0.48      0.90      0.63       456
         NEU       0.00      0.00      0.00       148
        NONE       0.49      0.14      0.22       224
           P       0.62      0.47      0.53       339

   micro avg       0.51      0.51      0.51      1167
   macro avg       0.40      0.38      0.34      1167
weighted avg       0.46      0.51      0.44      1167

           N    NEU  NONE  P
True/Pred
N          409  117  154   164
NEU          0    0    0     0
NONE         8    9   31    15
P           39   22   39   160

### Fold number: 9. Name: 141532f25abf453bad52ea69b99c1865

### Training

              precision    recall  f1-score   support

           N       0.56      0.92      0.69       411
         NEU       1.00      0.01      0.01       134
        NONE       0.79      0.29      0.42       201
           P       0.69      0.67      0.68       305

   micro avg       0.61      0.61      0.61      1051
   macro avg       0.76      0.47      0.45      1051
weighted avg       0.70      0.61      0.55      1051

           N    NEU  NONE  P
True/Pred
N          379  88   114   100
NEU          0   1     0     0
NONE         3  10    58     2
P           29  35    29   203

### Validation

              precision    recall  f1-score   support

           N       0.52      0.93      0.67        45
         NEU       0.00      0.00      0.00        15
        NONE       0.67      0.18      0.29        22
           P       0.64      0.55      0.59        33

   micro avg       0.56      0.56      0.56       115
   macro avg       0.46      0.42      0.39       115
weighted avg       0.51      0.56      0.48       115

           N   NEU  NONE  P
True/Pred
N          42  10   16    13
NEU         0   0    0     0
NONE        0   0    4     2
P           3   5    2    18

### Test

Accuracy: 0.519280205655527
Loss: 1.1476864031422782
              precision    recall  f1-score   support

           N       0.49      0.88      0.63       456
         NEU       0.00      0.00      0.00       148
        NONE       0.52      0.14      0.22       224
           P       0.60      0.51      0.55       339

   micro avg       0.52      0.52      0.52      1167
   macro avg       0.40      0.38      0.35      1167
weighted avg       0.46      0.52      0.45      1167

           N    NEU  NONE  P
True/Pred
N          402  117  148   150
NEU          0    0    0     0
NONE         7    6   31    16
P           47   25   45   173

### Fold number: 10. Name: a55fe9eec217463f8d734e4551779b9c

### Training

              precision    recall  f1-score   support

           N       0.55      0.93      0.69       411
         NEU       1.00      0.01      0.03       135
        NONE       0.77      0.28      0.41       201
           P       0.70      0.65      0.68       305

   micro avg       0.61      0.61      0.61      1052
   macro avg       0.75      0.47      0.45      1052
weighted avg       0.69      0.61      0.55      1052

           N    NEU  NONE  P
True/Pred
N          381  94   117   101
NEU          0   2     0     0
NONE         5   7    56     5
P           25  32    28   199

### Validation

              precision    recall  f1-score   support

           N       0.47      0.84      0.61        45
         NEU       0.00      0.00      0.00        14
        NONE       0.43      0.14      0.21        22
           P       0.67      0.55      0.60        33

   micro avg       0.52      0.52      0.52       114
   macro avg       0.39      0.38      0.35       114
weighted avg       0.46      0.52      0.45       114

           N   NEU  NONE  P
True/Pred
N          38  10   18    14
NEU         0   0    0     0
NONE        2   1    3     1
P           5   3    1    18

### Test

Accuracy: 0.5098543273350471
Loss: 1.148098981731033
              precision    recall  f1-score   support

           N       0.49      0.88      0.63       456
         NEU       0.00      0.00      0.00       148
        NONE       0.44      0.13      0.21       224
           P       0.59      0.48      0.53       339

   micro avg       0.51      0.51      0.51      1167
   macro avg       0.38      0.37      0.34      1167
weighted avg       0.45      0.51      0.44      1167

           N    NEU  NONE  P
True/Pred
N          401  112  149   160
NEU          0    0    0     0
NONE        13   10   30    15
P           42   26   45   164

## 8. Creating models with embeddings: CorpusFBCR2013.txt.usu.16_w.kvs

### Mean Accuracies and losses

   train_acc_mean  train_acc_stdev  val_acc_mean  val_acc_stdev
0  0.603681        0.006059         0.522142      0.025105

### Accuracies and losses by Stratified KFold (folds with balanced class distributions)

  model name                         train_acc  train_loss  val_acc   val_loss
0  de0b8fc5a9ca4f24adcb5586960bfeda  0.606870   0.942034    0.533898  1.157279
1  12a2313c6404406fb89a6ef765258a68  0.607824   0.935946    0.550847  1.153305
2  f23dcd0ab338424ab1cc6155174b671e  0.612595   0.941057    0.508475  1.174097
3  e31f9975d7d34d44b4556f7b0da3cfed  0.605338   0.931955    0.555556  1.120659
4  c1482781490f42a1b4746c12ed7a1151  0.607245   0.958971    0.504274  1.172350
5  1bb25152df7c42a2abff291ad9946763  0.596759   0.961546    0.538462  1.126660
6  1ae08f317e134f1b9b35c156424f0f75  0.594286   0.968874    0.543103  1.075735
7  e31c4f850c3c422f8b8480b5a57764d2  0.596190   0.965001    0.500000  1.123671
8  697631eac72a42899533f333de79fe32  0.602284   0.946242    0.504348  1.193326
9  022c2a59444a4c0a8367d6800f546959  0.607414   0.939205    0.482456  1.170442

## 8. CorpusFBCR2013.txt.usu.16_w.kvs

### Fold number: 1. Name: de0b8fc5a9ca4f24adcb5586960bfeda

### Training

              precision    recall  f1-score   support

           N       0.55      0.95      0.70       410
         NEU       1.00      0.04      0.09       134
        NONE       0.77      0.26      0.38       200
           P       0.69      0.62      0.66       304

   micro avg       0.61      0.61      0.61      1048
   macro avg       0.75      0.47      0.46      1048
weighted avg       0.69      0.61      0.55      1048

           N    NEU  NONE  P
True/Pred
N          389  87   116   109
NEU          0   6     0     0
NONE         2   8    51     5
P           19  33    33   190

### Validation

              precision    recall  f1-score   support

           N       0.51      0.87      0.64        46
         NEU       0.00      0.00      0.00        15
        NONE       0.40      0.09      0.14        23
           P       0.62      0.62      0.62        34

   micro avg       0.53      0.53      0.53       118
   macro avg       0.38      0.39      0.35       118
weighted avg       0.45      0.53      0.46       118

           N   NEU  NONE  P
True/Pred
N          40  8    18    13
NEU         0  0     0     0
NONE        0  3     2     0
P           6  4     3    21

### Test

Accuracy: 0.5209940017137961
Loss: 1.1481069405228723
              precision    recall  f1-score   support

           N       0.49      0.90      0.64       456
         NEU       0.00      0.00      0.00       148
        NONE       0.51      0.11      0.18       224
           P       0.61      0.51      0.56       339

   micro avg       0.52      0.52      0.52      1167
   macro avg       0.40      0.38      0.34      1167
weighted avg       0.47      0.52      0.44      1167

           N    NEU  NONE  P
True/Pred
N          410  111  158   156
NEU          0    0    0     0
NONE         6    8   25    10
P           40   29   41   173

### Fold number: 2. Name: 12a2313c6404406fb89a6ef765258a68

### Training

              precision    recall  f1-score   support

           N       0.56      0.94      0.70       410
         NEU       1.00      0.02      0.04       134
        NONE       0.81      0.29      0.43       200
           P       0.67      0.63      0.65       304

   micro avg       0.61      0.61      0.61      1048
   macro avg       0.76      0.47      0.46      1048
weighted avg       0.69      0.61      0.55      1048

           N    NEU  NONE  P
True/Pred
N          384  86   108   108
NEU          0   3     0     0
NONE         1   9    58     4
P           25  36    34   192

### Validation

              precision    recall  f1-score   support

           N       0.52      0.91      0.66        46
         NEU       0.00      0.00      0.00        15
        NONE       0.25      0.04      0.07        23
           P       0.67      0.65      0.66        34

   micro avg       0.55      0.55      0.55       118
   macro avg       0.36      0.40      0.35       118
weighted avg       0.44      0.55      0.46       118

           N   NEU  NONE  P
True/Pred
N          42  12   16    11
NEU         0   0    0     0
NONE        0   2    1     1
P           4   1    6    22

### Test

Accuracy: 0.5184233076263924
Loss: 1.1505055790383754
              precision    recall  f1-score   support

           N       0.49      0.89      0.63       456
         NEU       0.00      0.00      0.00       148
        NONE       0.48      0.13      0.20       224
           P       0.62      0.51      0.56       339

   micro avg       0.52      0.52      0.52      1167
   macro avg       0.40      0.38      0.35      1167
weighted avg       0.46      0.52      0.45      1167

           N    NEU  NONE  P
True/Pred
N          404  116  156   154
NEU          0    0    0     0
NONE         9    9   29    13
P           43   23   39   172

### Fold number: 3. Name: f23dcd0ab338424ab1cc6155174b671e

### Training

              precision    recall  f1-score   support

           N       0.55      0.95      0.70       410
         NEU       1.00      0.06      0.11       134
        NONE       0.78      0.27      0.40       200
           P       0.71      0.62      0.66       304

   micro avg       0.61      0.61      0.61      1048
   macro avg       0.76      0.48      0.47      1048
weighted avg       0.70      0.61      0.56      1048

           N    NEU  NONE  P
True/Pred
N          391  84   119   111
NEU          0   8     0     0
NONE         1  10    54     4
P           18  32    27   189

### Validation

              precision    recall  f1-score   support

           N       0.49      0.78      0.60        46
         NEU       0.00      0.00      0.00        15
        NONE       0.43      0.13      0.20        23
           P       0.57      0.62      0.59        34

   micro avg       0.51      0.51      0.51       118
   macro avg       0.37      0.38      0.35       118
weighted avg       0.44      0.51      0.44       118

           N   NEU  NONE  P
True/Pred
N          36  8    18    12
NEU         0  0     0     0
NONE        3  0     3     1
P           7  7     2    21

### Test

Accuracy: 0.5184233076263924
Loss: 1.15041916552824
              precision    recall  f1-score   support

           N       0.49      0.89      0.63       456
         NEU       0.00      0.00      0.00       148
        NONE       0.49      0.12      0.19       224
           P       0.62      0.50      0.55       339

   micro avg       0.52      0.52      0.52      1167
   macro avg       0.40      0.38      0.34      1167
weighted avg       0.46      0.52      0.44      1167

           N    NEU  NONE  P
True/Pred
N          408  117  157   155
NEU          0    0    0     0
NONE         9    5   27    14
P           39   26   40   170

### Fold number: 4. Name: e31f9975d7d34d44b4556f7b0da3cfed

### Training

              precision    recall  f1-score   support

           N       0.55      0.95      0.69       410
         NEU       1.00      0.03      0.06       134
        NONE       0.82      0.24      0.38       201
           P       0.71      0.63      0.67       304

   micro avg       0.61      0.61      0.61      1049
   macro avg       0.77      0.46      0.45      1049
weighted avg       0.70      0.61      0.54      1049

           N    NEU  NONE  P
True/Pred
N          390  86   126   111
NEU          0   4     0     0
NONE         0  10    49     1
P           20  34    26   192

### Validation

              precision    recall  f1-score   support

           N       0.51      0.91      0.66        46
         NEU       0.00      0.00      0.00        15
        NONE       0.57      0.18      0.28        22
           P       0.68      0.56      0.61        34

   micro avg       0.56      0.56      0.56       117
   macro avg       0.44      0.41      0.39       117
weighted avg       0.51      0.56      0.49       117

           N   NEU  NONE  P
True/Pred
N          42  11   16    13
NEU         0   0    0     0
NONE        1   0    4     2
P           3   4    2    19

### Test

Accuracy: 0.5201371036846615
Loss: 1.145197452316894
              precision    recall  f1-score   support

           N       0.49      0.90      0.63       456
         NEU       0.00      0.00      0.00       148
        NONE       0.54      0.12      0.19       224
           P       0.62      0.50      0.55       339

   micro avg       0.52      0.52      0.52      1167
   macro avg       0.41      0.38      0.34      1167
weighted avg       0.47      0.52      0.44      1167

           N    NEU  NONE  P
True/Pred
N          412  118  160   156
NEU          1    0    0     0
NONE         3    5   26    14
P           40   25   38   169

### Fold number: 5. Name: c1482781490f42a1b4746c12ed7a1151

### Training

              precision    recall  f1-score   support

           N       0.55      0.95      0.70       410
         NEU       1.00      0.04      0.09       134
        NONE       0.75      0.27      0.40       201
           P       0.71      0.62      0.66       304

   micro avg       0.61      0.61      0.61      1049
   macro avg       0.75      0.47      0.46      1049
weighted avg       0.69      0.61      0.55      1049

           N    NEU  NONE  P
True/Pred
N          388  84   124   108
NEU          0   6     0     0
NONE         1  10    54     7
P           21  34    23   189

### Validation

              precision    recall  f1-score   support

           N       0.49      0.91      0.64        46
         NEU       0.00      0.00      0.00        15
        NONE       0.43      0.14      0.21        22
           P       0.56      0.41      0.47        34

   micro avg       0.50      0.50      0.50       117
   macro avg       0.37      0.37      0.33       117
weighted avg       0.44      0.50      0.43       117

           N   NEU  NONE  P
True/Pred
N          42  10   15    18
NEU         0   0    0     0
NONE        2   0    3     2
P           2   5    4    14

### Test

Accuracy: 0.5167095115681234
Loss: 1.155574375571509
              precision    recall  f1-score   support

           N       0.49      0.89      0.63       456
         NEU       0.00      0.00      0.00       148
        NONE       0.49      0.13      0.20       224
           P       0.62      0.49      0.55       339

   micro avg       0.52      0.52      0.52      1167
   macro avg       0.40      0.38      0.35      1167
weighted avg       0.46      0.52      0.44      1167

           N    NEU  NONE  P
True/Pred
N          408  117  156   159
NEU          0    0    0     0
NONE         9    7   29    14
P           39   24   39   166

### Fold number: 6. Name: 1bb25152df7c42a2abff291ad9946763

### Training

              precision    recall  f1-score   support

           N       0.54      0.95      0.68       410
         NEU       1.00      0.02      0.04       134
        NONE       0.75      0.24      0.36       201
           P       0.72      0.62      0.66       304

   micro avg       0.60      0.60      0.60      1049
   macro avg       0.75      0.46      0.44      1049
weighted avg       0.69      0.60      0.54      1049

           N    NEU  NONE  P
True/Pred
N          388  93   129   113
NEU          0   3     0     0
NONE         2  10    48     4
P           20  28    24   187

### Validation

              precision    recall  f1-score   support

           N       0.50      0.96      0.66        46
         NEU       0.00      0.00      0.00        15
        NONE       0.75      0.14      0.23        22
           P       0.64      0.47      0.54        34

   micro avg       0.54      0.54      0.54       117
   macro avg       0.47      0.39      0.36       117
weighted avg       0.52      0.54      0.46       117

           N   NEU  NONE  P
True/Pred
N          44  9    17    18
NEU         0  0     0     0
NONE        1  0     3     0
P           1  6     2    16

### Test

Accuracy: 0.5158526135389888
Loss: 1.152564052222139
              precision    recall  f1-score   support

           N       0.48      0.90      0.62       456
         NEU       0.00      0.00      0.00       148
        NONE       0.52      0.12      0.20       224
           P       0.63      0.49      0.55       339

   micro avg       0.52      0.52      0.52      1167
   macro avg       0.41      0.38      0.34      1167
weighted avg       0.47      0.52      0.44      1167

           N    NEU  NONE  P
True/Pred
N          409  119  161   164
NEU          0    0    0     0
NONE        12    4   28    10
P           35   25   35   165

### Fold number: 7. Name: 1ae08f317e134f1b9b35c156424f0f75

### Training

              precision    recall  f1-score   support

           N       0.54      0.95      0.69       411
         NEU       1.00      0.01      0.03       134
        NONE       0.81      0.23      0.36       201
           P       0.70      0.61      0.65       304

   micro avg       0.59      0.59      0.59      1050
   macro avg       0.76      0.45      0.43      1050
weighted avg       0.70      0.59      0.53      1050

           N    NEU  NONE  P
True/Pred
N          391  92   129   114
NEU          0   2     0     0
NONE         0   6    46     5
P           20  34    26   185

### Validation

              precision    recall  f1-score   support

           N       0.50      0.84      0.63        45
         NEU       0.00      0.00      0.00        15
        NONE       0.67      0.18      0.29        22
           P       0.62      0.62      0.62        34

   micro avg       0.54      0.54      0.54       116
   macro avg       0.45      0.41      0.38       116
weighted avg       0.50      0.54      0.48       116

           N   NEU  NONE  P
True/Pred
N          38  11   14    13
NEU         0   0    0     0
NONE        1   1    4     0
P           6   3    4    21

### Test

Accuracy: 0.5158526135389888
Loss: 1.1501882868692148
              precision    recall  f1-score   support

           N       0.49      0.90      0.63       456
         NEU       0.00      0.00      0.00       148
        NONE       0.45      0.09      0.15       224
           P       0.62      0.51      0.56       339

   micro avg       0.52      0.52      0.52      1167
   macro avg       0.39      0.37      0.33      1167
weighted avg       0.46      0.52      0.44      1167

           N    NEU  NONE  P
True/Pred
N          410  114  165   156
NEU          0    0    0     0
NONE         7    6   20    11
P           39   28   39   172

### Fold number: 8. Name: e31c4f850c3c422f8b8480b5a57764d2

### Training

              precision    recall  f1-score   support

           N       0.54      0.95      0.68       411
         NEU       1.00      0.04      0.07       134
        NONE       0.80      0.25      0.38       201
           P       0.71      0.60      0.65       304

   micro avg       0.60      0.60      0.60      1050
   macro avg       0.76      0.46      0.45      1050
weighted avg       0.69      0.60      0.54      1050

           N    NEU  NONE  P
True/Pred
N          389  90   128   118
NEU          0   5     0     0
NONE         0   8    51     5
P           22  31    22   181

### Validation

              precision    recall  f1-score   support

           N       0.49      0.91      0.64        45
         NEU       0.00      0.00      0.00        15
        NONE       0.12      0.05      0.07        22
           P       0.64      0.47      0.54        34

   micro avg       0.50      0.50      0.50       116
   macro avg       0.31      0.36      0.31       116
weighted avg       0.40      0.50      0.42       116

           N   NEU  NONE  P
True/Pred
N          41  10   17    15
NEU         0   0    0     0
NONE        2   2    1     3
P           2   3    4    16

### Test

Accuracy: 0.5269922879177378
Loss: 1.144073003933156
              precision    recall  f1-score   support

           N       0.49      0.91      0.63       456
         NEU       0.00      0.00      0.00       148
        NONE       0.54      0.12      0.20       224
           P       0.66      0.50      0.57       339

   micro avg       0.53      0.53      0.53      1167
   macro avg       0.42      0.39      0.35      1167
weighted avg       0.49      0.53      0.45      1167

           N    NEU  NONE  P
True/Pred
N          417  121  164   156
NEU          0    0    0     0
NONE         6    5   28    13
P           33   22   32   170

### Fold number: 9. Name: 697631eac72a42899533f333de79fe32

### Training

              precision    recall  f1-score   support

           N       0.54      0.94      0.69       411
         NEU       1.00      0.04      0.09       134
        NONE       0.82      0.25      0.39       201
           P       0.71      0.62      0.66       305

   micro avg       0.60      0.60      0.60      1051
   macro avg       0.77      0.46      0.46      1051
weighted avg       0.70      0.60      0.55      1051

           N    NEU  NONE  P
True/Pred
N          388  90   126   114
NEU          0   6     0     0
NONE         1   7    51     3
P           22  31    24   188

### Validation

              precision    recall  f1-score   support

           N       0.52      0.82      0.64        45
         NEU       0.00      0.00      0.00        15
        NONE       0.31      0.18      0.23        22
           P       0.57      0.52      0.54        33

   micro avg       0.50      0.50      0.50       115
   macro avg       0.35      0.38      0.35       115
weighted avg       0.43      0.50      0.45       115

           N   NEU  NONE  P
True/Pred
N          37  9    12    13
NEU         0  0     0     1
NONE        4  3     4     2
P           4  3     6    17

### Test

Accuracy: 0.5235646958011997
Loss: 1.1484226472743806
              precision    recall  f1-score   support

           N       0.48      0.90      0.63       456
         NEU       0.00      0.00      0.00       148
        NONE       0.56      0.13      0.21       224
           P       0.64      0.50      0.56       339

   micro avg       0.52      0.52      0.52      1167
   macro avg       0.42      0.38      0.35      1167
weighted avg       0.48      0.52      0.45      1167

           N    NEU  NONE  P
True/Pred
N          412  124  158   157
NEU          0    0    0     0
NONE         7    4   29    12
P           37   20   37   170

### Fold number: 10. Name: 022c2a59444a4c0a8367d6800f546959

### Training

              precision    recall  f1-score   support

           N       0.56      0.95      0.70       411
         NEU       1.00      0.02      0.04       135
        NONE       0.76      0.26      0.39       201
           P       0.68      0.64      0.66       305

   micro avg       0.61      0.61      0.61      1052
   macro avg       0.75      0.47      0.45      1052
weighted avg       0.69      0.61      0.55      1052

           N    NEU  NONE  P
True/Pred
N          389  81   120   106
NEU          0   3     0     0
NONE         2  10    52     4
P           20  41    29   195

### Validation

              precision    recall  f1-score   support

           N       0.44      0.84      0.58        45
         NEU       0.00      0.00      0.00        14
        NONE       0.67      0.09      0.16        22
           P       0.62      0.45      0.53        33

   micro avg       0.48      0.48      0.48       114
   macro avg       0.43      0.35      0.32       114
weighted avg       0.48      0.48      0.41       114

           N   NEU  NONE  P
True/Pred
N          38  13   19    17
NEU         0   0    0     0
NONE        0   0    2     1
P           7   1    1    15

### Test

Accuracy: 0.5252784918594687
Loss: 1.1479101716648767
              precision    recall  f1-score   support

           N       0.50      0.88      0.64       456
         NEU       0.00      0.00      0.00       148
        NONE       0.50      0.13      0.21       224
           P       0.61      0.53      0.57       339

   micro avg       0.53      0.53      0.53      1167
   macro avg       0.40      0.39      0.35      1167
weighted avg       0.47      0.53      0.45      1167

           N    NEU  NONE  P
True/Pred
N          403  111  156   143
NEU          0    0    0     0
NONE         8    6   29    15
P           45   31   39   181

## 9. Creating models with embeddings: CorpusFBCR2013.txt.usu.10_w.kvs

### Mean Accuracies and losses

   train_acc_mean  train_acc_stdev  val_acc_mean  val_acc_stdev
0  0.606817        0.007978         0.5203        0.037955

### Accuracies and losses by Stratified KFold (folds with balanced class distributions)

  model name                         train_acc  train_loss  val_acc   val_loss
0  a7a221121874465b90d5baa35e70f7b7  0.591603   0.935558    0.525424  1.098201
1  7c484b8984a34bebb74826dc0af61f91  0.602099   0.939840    0.593220  1.044566
2  f46fa9bd4a2745fa89599d260487f56f  0.606870   0.930635    0.542373  1.147099
3  0ae63172279d4d10ab8ac481ba226aaf  0.610105   0.919579    0.478632  1.200708
4  dc25e08fd2b8452f839435ba2b766aaa  0.597712   0.929737    0.538462  1.117963
5  36b45add9fd248108e5af34ab168e858  0.606292   0.940913    0.521368  1.137789
6  0874c52a731448deba14006b9964e076  0.611429   0.931144    0.534483  1.170855
7  9f06bfc87e5447398b6b6b34e0c5d0d0  0.617143   0.920269    0.525862  1.124172
8  4e203ad782fa4f59a6ef8a9d7be6c085  0.616556   0.910387    0.478261  1.200891
9  97c241f2ef2e442eb1f2e9c9641ce69b  0.608365   0.926229    0.464912  1.183794

## 9. CorpusFBCR2013.txt.usu.10_w.kvs

### Fold number: 1. Name: a7a221121874465b90d5baa35e70f7b7

### Training

              precision    recall  f1-score   support

           N       0.54      0.94      0.68       410
         NEU       1.00      0.02      0.04       134
        NONE       0.82      0.26      0.39       200
           P       0.68      0.59      0.63       304

   micro avg       0.59      0.59      0.59      1048
   macro avg       0.76      0.45      0.44      1048
weighted avg       0.69      0.59      0.53      1048

           N    NEU  NONE  P
True/Pred
N          387  88   123   123
NEU          0   3     0     0
NONE         2   7    51     2
P           21  36    26   179

### Validation

              precision    recall  f1-score   support

           N       0.50      0.85      0.63        46
         NEU       0.00      0.00      0.00        15
        NONE       0.33      0.13      0.19        23
           P       0.65      0.59      0.62        34

   micro avg       0.53      0.53      0.53       118
   macro avg       0.37      0.39      0.36       118
weighted avg       0.45      0.53      0.46       118

           N   NEU  NONE  P
True/Pred
N          39  10   18    11
NEU         0   0    0     0
NONE        1   2    3     3
P           6   3    2    20

### Test

Accuracy: 0.5055698371893744
Loss: 1.154620847412124
              precision    recall  f1-score   support

           N       0.48      0.88      0.62       456
         NEU       0.00      0.00      0.00       148
        NONE       0.49      0.13      0.21       224
           P       0.58      0.47      0.52       339

   micro avg       0.51      0.51      0.51      1167
   macro avg       0.39      0.37      0.34      1167
weighted avg       0.45      0.51      0.43      1167

           N    NEU  NONE  P
True/Pred
N          402  115  150   164
NEU          1    0    0     0
NONE         8    6   30    17
P           45   27   44   158

### Fold number: 2. Name: 7c484b8984a34bebb74826dc0af61f91

### Training

              precision    recall  f1-score   support

           N       0.55      0.93      0.69       410
         NEU       1.00      0.04      0.07       134
        NONE       0.83      0.27      0.40       200
           P       0.67      0.63      0.65       304

   micro avg       0.60      0.60      0.60      1048
   macro avg       0.76      0.47      0.45      1048
weighted avg       0.70      0.60      0.55      1048

           N    NEU  NONE  P
True/Pred
N          380  86   117   108
NEU          0   5     0     0
NONE         1   7    53     3
P           29  36    30   193

### Validation

              precision    recall  f1-score   support

           N       0.55      0.89      0.68        46
         NEU       0.00      0.00      0.00        15
        NONE       0.67      0.17      0.28        23
           P       0.68      0.74      0.70        34

   micro avg       0.59      0.59      0.59       118
   macro avg       0.47      0.45      0.41       118
weighted avg       0.54      0.59      0.52       118

           N   NEU  NONE  P
True/Pred
N          41  12   13     9
NEU         0   0    0     0
NONE        1   1    4     0
P           4   2    6    25

### Test

Accuracy: 0.506426735218509
Loss: 1.1533674951022062
              precision    recall  f1-score   support

           N       0.49      0.89      0.63       456
         NEU       0.00      0.00      0.00       148
        NONE       0.43      0.10      0.17       224
           P       0.57      0.48      0.52       339

   micro avg       0.51      0.51      0.51      1167
   macro avg       0.37      0.37      0.33      1167
weighted avg       0.44      0.51      0.43      1167

           N    NEU  NONE  P
True/Pred
N          404  110  151   159
NEU          0    0    0     0
NONE         8    6   23    16
P           44   32   50   164

### Fold number: 3. Name: f46fa9bd4a2745fa89599d260487f56f

### Training

              precision    recall  f1-score   support

           N       0.55      0.95      0.70       410
         NEU       1.00      0.03      0.06       134
        NONE       0.78      0.27      0.40       200
           P       0.70      0.62      0.66       304

   micro avg       0.61      0.61      0.61      1048
   macro avg       0.76      0.47      0.45      1048
weighted avg       0.70      0.61      0.55      1048

           N    NEU  NONE  P
True/Pred
N          388  90   117   109
NEU          0   4     0     0
NONE         3   7    54     5
P           19  33    29   190

### Validation

              precision    recall  f1-score   support

           N       0.50      0.89      0.64        46
         NEU       0.00      0.00      0.00        15
        NONE       0.75      0.13      0.22        23
           P       0.62      0.59      0.61        34

   micro avg       0.54      0.54      0.54       118
   macro avg       0.47      0.40      0.37       118
weighted avg       0.52      0.54      0.47       118

           N   NEU  NONE  P
True/Pred
N          41  10   17    14
NEU         0   0    0     0
NONE        0   1    3     0
P           5   4    3    20

### Test

Accuracy: 0.5107112253641817
Loss: 1.1577278849184884
              precision    recall  f1-score   support

           N       0.48      0.90      0.63       456
         NEU       0.00      0.00      0.00       148
        NONE       0.48      0.12      0.20       224
           P       0.62      0.47      0.53       339

   micro avg       0.51      0.51      0.51      1167
   macro avg       0.40      0.37      0.34      1167
weighted avg       0.46      0.51      0.44      1167

           N    NEU  NONE  P
True/Pred
N          409  119  157   165
NEU          2    0    0     0
NONE         9    6   28    15
P           36   23   39   159

### Fold number: 4. Name: 0ae63172279d4d10ab8ac481ba226aaf

### Training

              precision    recall  f1-score   support

           N       0.56      0.95      0.70       410
         NEU       1.00      0.02      0.04       134
        NONE       0.73      0.30      0.43       201
           P       0.69      0.62      0.65       304

   micro avg       0.61      0.61      0.61      1049
   macro avg       0.75      0.47      0.46      1049
weighted avg       0.69      0.61      0.55      1049

           N    NEU  NONE  P
True/Pred
N          388  87   109   108
NEU          0   3     0     0
NONE         4  10    61     8
P           18  34    31   188

### Validation

              precision    recall  f1-score   support

           N       0.47      0.80      0.60        46
         NEU       0.00      0.00      0.00        15
        NONE       0.17      0.05      0.07        22
           P       0.55      0.53      0.54        34

   micro avg       0.48      0.48      0.48       117
   macro avg       0.30      0.34      0.30       117
weighted avg       0.38      0.48      0.40       117

           N   NEU  NONE  P
True/Pred
N          37  10   17    14
NEU         0   0    0     0
NONE        3   0    1     2
P           6   5    4    18

### Test

Accuracy: 0.5089974293059126
Loss: 1.1639233175033865
              precision    recall  f1-score   support

           N       0.48      0.88      0.62       456
         NEU       0.00      0.00      0.00       148
        NONE       0.43      0.14      0.21       224
           P       0.61      0.47      0.53       339

   micro avg       0.51      0.51      0.51      1167
   macro avg       0.38      0.37      0.34      1167
weighted avg       0.45      0.51      0.44      1167

           N    NEU  NONE  P
True/Pred
N          401  115  153   159
NEU          1    0    0     0
NONE        15    8   32    19
P           39   25   39   161

### Fold number: 5. Name: dc25e08fd2b8452f839435ba2b766aaa

### Training

              precision    recall  f1-score   support

           N       0.54      0.94      0.69       410
         NEU       1.00      0.05      0.10       134
        NONE       0.75      0.24      0.36       201
           P       0.70      0.61      0.65       304

   micro avg       0.60      0.60      0.60      1049
   macro avg       0.75      0.46      0.45      1049
weighted avg       0.69      0.60      0.54      1049

           N    NEU  NONE  P
True/Pred
N          387  90   125   113
NEU          0   7     0     0
NONE         3   7    48     6
P           20  30    28   185

### Validation

              precision    recall  f1-score   support

           N       0.51      0.93      0.66        46
         NEU       0.00      0.00      0.00        15
        NONE       0.57      0.18      0.28        22
           P       0.64      0.47      0.54        34

   micro avg       0.54      0.54      0.54       117
   macro avg       0.43      0.40      0.37       117
weighted avg       0.49      0.54      0.47       117

           N   NEU  NONE  P
True/Pred
N          43  8    16    18
NEU         0  0     0     0
NONE        1  2     4     0
P           2  5     2    16

### Test

Accuracy: 0.5055698371893744
Loss: 1.153597184744135
              precision    recall  f1-score   support

           N       0.47      0.90      0.62       456
         NEU       0.00      0.00      0.00       148
        NONE       0.47      0.09      0.16       224
           P       0.63      0.47      0.54       339

   micro avg       0.51      0.51      0.51      1167
   macro avg       0.39      0.37      0.33      1167
weighted avg       0.46      0.51      0.43      1167

           N    NEU  NONE  P
True/Pred
N          411  119  169   171
NEU          1    0    0     0
NONE        10    4   21    10
P           34   25   34   158

### Fold number: 6. Name: 36b45add9fd248108e5af34ab168e858

### Training

              precision    recall  f1-score   support

           N       0.55      0.93      0.69       410
         NEU       1.00      0.02      0.04       134
        NONE       0.80      0.24      0.37       201
           P       0.68      0.67      0.68       304

   micro avg       0.61      0.61      0.61      1049
   macro avg       0.76      0.47      0.45      1049
weighted avg       0.70      0.61      0.54      1049

           N    NEU  NONE  P
True/Pred
N          381  88   121    98
NEU          0   3     0     0
NONE         3   7    48     2
P           26  36    32   204

### Validation

              precision    recall  f1-score   support

           N       0.51      0.91      0.66        46
         NEU       0.00      0.00      0.00        15
        NONE       0.25      0.05      0.08        22
           P       0.58      0.53      0.55        34

   micro avg       0.52      0.52      0.52       117
   macro avg       0.34      0.37      0.32       117
weighted avg       0.42      0.52      0.43       117

           N   NEU  NONE  P
True/Pred
N          42  10   16    14
NEU         0   0    0     0
NONE        1   0    1     2
P           3   5    5    18

### Test

Accuracy: 0.517566409597258
Loss: 1.1546341907609823
              precision    recall  f1-score   support

           N       0.49      0.89      0.63       456
         NEU       0.00      0.00      0.00       148
        NONE       0.48      0.11      0.18       224
           P       0.60      0.52      0.56       339

   micro avg       0.52      0.52      0.52      1167
   macro avg       0.39      0.38      0.34      1167
weighted avg       0.46      0.52      0.44      1167

           N    NEU  NONE  P
True/Pred
N          404  114  158   150
NEU          0    0    0     0
NONE         7    6   24    13
P           45   28   42   176

### Fold number: 7. Name: 0874c52a731448deba14006b9964e076

### Training

              precision    recall  f1-score   support

           N       0.56      0.93      0.70       411
         NEU       1.00      0.05      0.10       134
        NONE       0.73      0.28      0.40       201
           P       0.70      0.64      0.67       304

   micro avg       0.61      0.61      0.61      1050
   macro avg       0.75      0.48      0.47      1050
weighted avg       0.69      0.61      0.56      1050

           N    NEU  NONE  P
True/Pred
N          384  85   115   104
NEU          0   7     0     0
NONE         6  10    56     5
P           21  32    30   195

### Validation

              precision    recall  f1-score   support

           N       0.49      0.91      0.64        45
         NEU       0.00      0.00      0.00        15
        NONE       0.83      0.23      0.36        22
           P       0.62      0.47      0.53        34

   micro avg       0.53      0.53      0.53       116
   macro avg       0.48      0.40      0.38       116
weighted avg       0.53      0.53      0.47       116

           N   NEU  NONE  P
True/Pred
N          41  12   14    17
NEU         0   0    0     0
NONE        0   0    5     1
P           4   3    3    16

### Test

Accuracy: 0.5098543273350471
Loss: 1.1588924347625404
              precision    recall  f1-score   support

           N       0.48      0.88      0.62       456
         NEU       0.00      0.00      0.00       148
        NONE       0.46      0.14      0.21       224
           P       0.60      0.48      0.53       339

   micro avg       0.51      0.51      0.51      1167
   macro avg       0.39      0.37      0.34      1167
weighted avg       0.45      0.51      0.44      1167

           N    NEU  NONE  P
True/Pred
N          401  115  154   158
NEU          1    0    0     0
NONE        10    8   31    18
P           44   25   39   163

### Fold number: 8. Name: 9f06bfc87e5447398b6b6b34e0c5d0d0

### Training

              precision    recall  f1-score   support

           N       0.56      0.94      0.70       411
         NEU       1.00      0.04      0.07       134
        NONE       0.81      0.27      0.41       201
           P       0.71      0.66      0.68       304

   micro avg       0.62      0.62      0.62      1050
   macro avg       0.77      0.48      0.47      1050
weighted avg       0.71      0.62      0.56      1050

           N    NEU  NONE  P
True/Pred
N          387  86   120    99
NEU          0   5     0     0
NONE         2   7    55     4
P           22  36    26   201

### Validation

              precision    recall  f1-score   support

           N       0.49      0.93      0.65        45
         NEU       0.00      0.00      0.00        15
        NONE       0.67      0.18      0.29        22
           P       0.60      0.44      0.51        34

   micro avg       0.53      0.53      0.53       116
   macro avg       0.44      0.39      0.36       116
weighted avg       0.49      0.53      0.45       116

           N   NEU  NONE  P
True/Pred
N          42  11   13    19
NEU         0   0    0     0
NONE        1   1    4     0
P           2   3    5    15

### Test

Accuracy: 0.5132819194515853
Loss: 1.151303671593263
              precision    recall  f1-score   support

           N       0.49      0.88      0.63       456
         NEU       0.00      0.00      0.00       148
        NONE       0.52      0.12      0.20       224
           P       0.58      0.51      0.54       339

   micro avg       0.51      0.51      0.51      1167
   macro avg       0.40      0.38      0.34      1167
weighted avg       0.46      0.51      0.44      1167

           N    NEU  NONE  P
True/Pred
N          400  113  149   155
NEU          0    0    0     0
NONE         8    5   27    12
P           48   30   48   172

### Fold number: 9. Name: 4e203ad782fa4f59a6ef8a9d7be6c085

### Training

              precision    recall  f1-score   support

           N       0.56      0.93      0.70       411
         NEU       1.00      0.04      0.07       134
        NONE       0.76      0.30      0.43       201
           P       0.71      0.65      0.68       305

   micro avg       0.62      0.62      0.62      1051
   macro avg       0.76      0.48      0.47      1051
weighted avg       0.70      0.62      0.56      1051

           N    NEU  NONE  P
True/Pred
N          383  96   108    99
NEU          0   5     0     0
NONE         3   9    61     7
P           25  24    32   199

### Validation

              precision    recall  f1-score   support

           N       0.48      0.89      0.62        45
         NEU       0.00      0.00      0.00        15
        NONE       0.50      0.05      0.08        22
           P       0.48      0.42      0.45        33

   micro avg       0.48      0.48      0.48       115
   macro avg       0.36      0.34      0.29       115
weighted avg       0.42      0.48      0.39       115

           N   NEU  NONE  P
True/Pred
N          40  9    16    19
NEU         0  0     0     0
NONE        1  0     1     0
P           4  6     5    14

### Test

Accuracy: 0.506426735218509
Loss: 1.161764121207327
              precision    recall  f1-score   support

           N       0.48      0.89      0.63       456
         NEU       0.00      0.00      0.00       148
        NONE       0.42      0.12      0.19       224
           P       0.61      0.47      0.53       339

   micro avg       0.51      0.51      0.51      1167
   macro avg       0.38      0.37      0.34      1167
weighted avg       0.45      0.51      0.43      1167

           N    NEU  NONE  P
True/Pred
N          405  116  153   166
NEU          0    0    0     0
NONE        14    9   28    15
P           37   23   43   158

### Fold number: 10. Name: 97c241f2ef2e442eb1f2e9c9641ce69b

### Training

              precision    recall  f1-score   support

           N       0.55      0.95      0.70       411
         NEU       1.00      0.04      0.09       135
        NONE       0.78      0.23      0.35       201
           P       0.70      0.65      0.67       305

   micro avg       0.61      0.61      0.61      1052
   macro avg       0.76      0.47      0.45      1052
weighted avg       0.70      0.61      0.55      1052

           N    NEU  NONE  P
True/Pred
N          391  88   123   103
NEU          0   6     0     0
NONE         2   6    46     5
P           18  35    32   197

### Validation

              precision    recall  f1-score   support

           N       0.49      0.80      0.61        45
         NEU       0.00      0.00      0.00        14
        NONE       0.50      0.14      0.21        22
           P       0.41      0.42      0.42        33

   micro avg       0.46      0.46      0.46       114
   macro avg       0.35      0.34      0.31       114
weighted avg       0.41      0.46      0.40       114

           N   NEU  NONE  P
True/Pred
N          36  6    13    19
NEU         0  0     0     0
NONE        2  1     3     0
P           7  7     6    14

### Test

Accuracy: 0.506426735218509
Loss: 1.1563047237870023
              precision    recall  f1-score   support

           N       0.48      0.89      0.62       456
         NEU       0.00      0.00      0.00       148
        NONE       0.49      0.10      0.16       224
           P       0.60      0.49      0.54       339

   micro avg       0.51      0.51      0.51      1167
   macro avg       0.39      0.37      0.33      1167
weighted avg       0.45      0.51      0.43      1167

           N    NEU  NONE  P
True/Pred
N          404  119  161   162
NEU          1    0    0     0
NONE         8    3   22    12
P           43   26   41   165

## 10. Creating models with embeddings: CorpusFBCR2013.txt.usu.01_w.kvs

### Mean Accuracies and losses

   train_acc_mean  train_acc_stdev  val_acc_mean  val_acc_stdev
0  0.629792        0.008504         0.523181      0.03928

### Accuracies and losses by Stratified KFold (folds with balanced class distributions)

  model name                         train_acc  train_loss  val_acc   val_loss
0  d93225aac05744cea1f9f9f544727bdf  0.631679   0.937566    0.525424  1.091922
1  20faa7473dad49e8b8aefebce8f864db  0.636450   0.878924    0.440678  1.322690
2  f5c44e954c6b4b07a67092d9d9d0f338  0.639313   0.921691    0.525424  1.162436
3  e57a57ae6dcb40d1a83306a8f4482d56  0.641563   0.913181    0.529915  1.122766
4  aff1f0e7ad314a6e897b14cb66df39b4  0.616778   0.935731    0.581197  1.048390
5  71e4d4ba80834ec18e2270859a137d28  0.622498   0.941693    0.572650  1.084402
6  b2faad5369b7477a9abc15da6b990f91  0.635238   0.916174    0.500000  1.196202
7  9942eb4be670464696f72ef23f8a8110  0.620952   0.931460    0.508621  1.143253
8  6d6c5dcf6dbb494c89aa47d641916676  0.623216   0.935462    0.539130  1.102684
9  d8c3c56696a6465c928758f82dbfb695  0.630228   0.914794    0.508772  1.193983

## 10. CorpusFBCR2013.txt.usu.01_w.kvs

### Fold number: 1. Name: d93225aac05744cea1f9f9f544727bdf

### Training

              precision    recall  f1-score   support

           N       0.57      0.94      0.71       410
         NEU       1.00      0.04      0.09       134
        NONE       0.85      0.30      0.45       200
           P       0.70      0.69      0.70       304

   micro avg       0.63      0.63      0.63      1048
   macro avg       0.78      0.50      0.49      1048
weighted avg       0.72      0.63      0.58      1048

           N    NEU  NONE  P
True/Pred
N          384  87   108    90
NEU          0   6     0     0
NONE         3   5    61     3
P           23  36    31   211

### Validation

              precision    recall  f1-score   support

           N       0.49      0.87      0.62        46
         NEU       0.00      0.00      0.00        15
        NONE       0.33      0.04      0.08        23
           P       0.64      0.62      0.63        34

   micro avg       0.53      0.53      0.53       118
   macro avg       0.36      0.38      0.33       118
weighted avg       0.44      0.53      0.44       118

           N   NEU  NONE  P
True/Pred
N          40  10   19    13
NEU         0   0    0     0
NONE        2   0    1     0
P           4   5    3    21

### Test

Accuracy: 0.5184233076263924
Loss: 1.1539522352671208
              precision    recall  f1-score   support

           N       0.49      0.86      0.63       456
         NEU       0.00      0.00      0.00       148
        NONE       0.48      0.14      0.21       224
           P       0.61      0.53      0.57       339

   micro avg       0.52      0.52      0.52      1167
   macro avg       0.39      0.38      0.35      1167
weighted avg       0.46      0.52      0.45      1167

           N    NEU  NONE  P
True/Pred
N          393  116  148   140
NEU          1    0    3     2
NONE        12    6   31    16
P           50   26   42   181

### Fold number: 2. Name: 20faa7473dad49e8b8aefebce8f864db

### Training

              precision    recall  f1-score   support

           N       0.58      0.93      0.71       410
         NEU       1.00      0.08      0.15       134
        NONE       0.80      0.39      0.53       200
           P       0.70      0.64      0.67       304

   micro avg       0.64      0.64      0.64      1048
   macro avg       0.77      0.51      0.52      1048
weighted avg       0.71      0.64      0.59      1048

           N    NEU  NONE  P
True/Pred
N          382  78   98    102
NEU          0  11    0      0
NONE         7   6   78      6
P           21  39   24    196

### Validation

              precision    recall  f1-score   support

           N       0.45      0.72      0.55        46
         NEU       0.00      0.00      0.00        15
        NONE       0.18      0.09      0.12        23
           P       0.50      0.50      0.50        34

   micro avg       0.44      0.44      0.44       118
   macro avg       0.28      0.33      0.29       118
weighted avg       0.36      0.44      0.38       118

           N   NEU  NONE  P
True/Pred
N          33  10   17    13
NEU         0   0    0     0
NONE        3   2    2     4
P          10   3    4    17

### Test

Accuracy: 0.5227077977720651
Loss: 1.150827170038076
              precision    recall  f1-score   support

           N       0.50      0.85      0.63       456
         NEU       0.00      0.00      0.00       148
        NONE       0.48      0.18      0.26       224
           P       0.61      0.54      0.57       339

   micro avg       0.52      0.52      0.52      1167
   macro avg       0.39      0.39      0.36      1167
weighted avg       0.46      0.52      0.46      1167

           N    NEU  NONE  P
True/Pred
N          386  112  141   137
NEU          1    0    2     0
NONE        19    7   40    18
P           50   29   41   184

### Fold number: 3. Name: f5c44e954c6b4b07a67092d9d9d0f338

### Training

              precision    recall  f1-score   support

           N       0.58      0.93      0.72       410
         NEU       1.00      0.12      0.21       134
        NONE       0.78      0.34      0.48       200
           P       0.71      0.67      0.69       304

   micro avg       0.64      0.64      0.64      1048
   macro avg       0.77      0.52      0.52      1048
weighted avg       0.71      0.64      0.60      1048

           N    NEU  NONE  P
True/Pred
N          382  78   103    95
NEU          0  16     0     0
NONE         6   7    69     6
P           22  33    28   203

### Validation

              precision    recall  f1-score   support

           N       0.53      0.89      0.66        46
         NEU       0.00      0.00      0.00        15
        NONE       0.56      0.22      0.31        23
           P       0.57      0.47      0.52        34

   micro avg       0.53      0.53      0.53       118
   macro avg       0.41      0.39      0.37       118
weighted avg       0.48      0.53      0.47       118

           N   NEU  NONE  P
True/Pred
N          41  8    13    16
NEU         2  0     0     1
NONE        1  2     5     1
P           2  5     5    16

### Test

Accuracy: 0.519280205655527
Loss: 1.1637865196893626
              precision    recall  f1-score   support

           N       0.49      0.86      0.63       456
         NEU       0.00      0.00      0.00       148
        NONE       0.48      0.16      0.24       224
           P       0.61      0.53      0.57       339

   micro avg       0.52      0.52      0.52      1167
   macro avg       0.40      0.39      0.36      1167
weighted avg       0.46      0.52      0.46      1167

           N    NEU  NONE  P
True/Pred
N          391  112  148   141
NEU          3    0    1     4
NONE        17    7   35    14
P           45   29   40   180

### Fold number: 4. Name: e57a57ae6dcb40d1a83306a8f4482d56

### Training

              precision    recall  f1-score   support

           N       0.58      0.95      0.72       410
         NEU       0.80      0.09      0.16       134
        NONE       0.77      0.36      0.49       201
           P       0.73      0.66      0.69       304

   micro avg       0.64      0.64      0.64      1049
   macro avg       0.72      0.51      0.52      1049
weighted avg       0.69      0.64      0.60      1049

           N    NEU  NONE  P
True/Pred
N          388  80   101    96
NEU          1  12     1     1
NONE         9   7    72     6
P           12  35    27   201

### Validation

              precision    recall  f1-score   support

           N       0.51      0.70      0.59        46
         NEU       1.00      0.07      0.12        15
        NONE       0.50      0.32      0.39        22
           P       0.56      0.65      0.60        34

   micro avg       0.53      0.53      0.53       117
   macro avg       0.64      0.43      0.43       117
weighted avg       0.59      0.53      0.50       117

           N   NEU  NONE  P
True/Pred
N          32  6    13    12
NEU         0  1     0     0
NONE        7  0     7     0
P           7  8     2    22

### Test

Accuracy: 0.5269922879177378
Loss: 1.1472140287805144
              precision    recall  f1-score   support

           N       0.50      0.86      0.63       456
         NEU       0.00      0.00      0.00       148
        NONE       0.50      0.17      0.26       224
           P       0.62      0.55      0.58       339

   micro avg       0.53      0.53      0.53      1167
   macro avg       0.40      0.39      0.37      1167
weighted avg       0.47      0.53      0.46      1167

           N    NEU  NONE  P
True/Pred
N          391  111  144   138
NEU          2    0    2     1
NONE        17    7   39    15
P           46   30   39   185

### Fold number: 5. Name: aff1f0e7ad314a6e897b14cb66df39b4

### Training

              precision    recall  f1-score   support

           N       0.56      0.93      0.70       410
         NEU       1.00      0.05      0.10       134
        NONE       0.87      0.26      0.40       201
           P       0.69      0.67      0.68       304

   micro avg       0.62      0.62      0.62      1049
   macro avg       0.78      0.48      0.47      1049
weighted avg       0.71      0.62      0.56      1049

           N    NEU  NONE  P
True/Pred
N          383  86   116    98
NEU          0   7     0     0
NONE         4   3    52     1
P           23  38    33   205

### Validation

              precision    recall  f1-score   support

           N       0.55      0.91      0.68        46
         NEU       0.00      0.00      0.00        15
        NONE       0.86      0.27      0.41        22
           P       0.62      0.59      0.61        34

   micro avg       0.58      0.58      0.58       117
   macro avg       0.51      0.44      0.43       117
weighted avg       0.56      0.58      0.52       117

           N   NEU  NONE  P
True/Pred
N          42  11   11    13
NEU         0   0    1     0
NONE        0   0    6     1
P           4   4    4    20

### Test

Accuracy: 0.5107112253641817
Loss: 1.1527435717522523
              precision    recall  f1-score   support

           N       0.49      0.85      0.62       456
         NEU       0.00      0.00      0.00       148
        NONE       0.49      0.13      0.20       224
           P       0.58      0.53      0.55       339

   micro avg       0.51      0.51      0.51      1167
   macro avg       0.39      0.38      0.34      1167
weighted avg       0.45      0.51      0.44      1167

           N    NEU  NONE  P
True/Pred
N          389  109  154   147
NEU          2    0    0     0
NONE        13    3   29    14
P           52   36   41   178

### Fold number: 6. Name: 71e4d4ba80834ec18e2270859a137d28

### Training

              precision    recall  f1-score   support

           N       0.57      0.93      0.70       410
         NEU       1.00      0.07      0.13       134
        NONE       0.80      0.32      0.46       201
           P       0.70      0.65      0.67       304

   micro avg       0.62      0.62      0.62      1049
   macro avg       0.77      0.49      0.49      1049
weighted avg       0.70      0.62      0.57      1049

           N    NEU  NONE  P
True/Pred
N          383  82   109   103
NEU          0   9     0     0
NONE         5   7    64     4
P           22  36    28   197

### Validation

              precision    recall  f1-score   support

           N       0.62      0.91      0.74        46
         NEU       0.00      0.00      0.00        15
        NONE       0.40      0.18      0.25        22
           P       0.54      0.62      0.58        34

   micro avg       0.57      0.57      0.57       117
   macro avg       0.39      0.43      0.39       117
weighted avg       0.47      0.57      0.50       117

           N   NEU  NONE  P
True/Pred
N          42  4    12    10
NEU         0  0     0     0
NONE        1  2     4     3
P           3  9     6    21

### Test

Accuracy: 0.5132819194515853
Loss: 1.14954765133201
              precision    recall  f1-score   support

           N       0.49      0.85      0.62       456
         NEU       0.00      0.00      0.00       148
        NONE       0.49      0.13      0.21       224
           P       0.60      0.53      0.56       339

   micro avg       0.51      0.51      0.51      1167
   macro avg       0.39      0.38      0.35      1167
weighted avg       0.46      0.51      0.45      1167

           N    NEU  NONE  P
True/Pred
N          388  112  154   145
NEU          2    0    1     0
NONE        13    5   30    13
P           53   31   39   181

### Fold number: 7. Name: b2faad5369b7477a9abc15da6b990f91

### Training

              precision    recall  f1-score   support

           N       0.58      0.94      0.72       411
         NEU       1.00      0.04      0.09       134
        NONE       0.79      0.37      0.51       201
           P       0.70      0.66      0.68       304

   micro avg       0.64      0.64      0.64      1050
   macro avg       0.77      0.50      0.50      1050
weighted avg       0.71      0.64      0.59      1050

           N    NEU  NONE  P
True/Pred
N          386  85   97     96
NEU          0   6    0      0
NONE         4   8   75      8
P           21  35   29    200

### Validation

              precision    recall  f1-score   support

           N       0.48      0.84      0.61        45
         NEU       0.00      0.00      0.00        15
        NONE       0.22      0.09      0.13        22
           P       0.64      0.53      0.58        34

   micro avg       0.50      0.50      0.50       116
   macro avg       0.34      0.37      0.33       116
weighted avg       0.42      0.50      0.43       116

           N   NEU  NONE  P
True/Pred
N          38  10   15    16
NEU         0   0    0     0
NONE        5   2    2     0
P           2   3    5    18

### Test

Accuracy: 0.517566409597258
Loss: 1.1488510045626734
              precision    recall  f1-score   support

           N       0.49      0.85      0.62       456
         NEU       0.00      0.00      0.00       148
        NONE       0.51      0.17      0.26       224
           P       0.60      0.53      0.56       339

   micro avg       0.52      0.52      0.52      1167
   macro avg       0.40      0.39      0.36      1167
weighted avg       0.46      0.52      0.46      1167

           N    NEU  NONE  P
True/Pred
N          386  109  150   146
NEU          2    0    0     0
NONE        16    7   39    14
P           52   32   35   179

### Fold number: 8. Name: 9942eb4be670464696f72ef23f8a8110

### Training

              precision    recall  f1-score   support

           N       0.56      0.93      0.70       411
         NEU       1.00      0.04      0.09       134
        NONE       0.82      0.31      0.45       201
           P       0.70      0.66      0.68       304

   micro avg       0.62      0.62      0.62      1050
   macro avg       0.77      0.49      0.48      1050
weighted avg       0.71      0.62      0.57      1050

           N    NEU  NONE  P
True/Pred
N          381  86   111    99
NEU          0   6     0     0
NONE         6   5    63     3
P           24  37    27   202

### Validation

              precision    recall  f1-score   support

           N       0.47      0.89      0.61        45
         NEU       0.00      0.00      0.00        15
        NONE       0.67      0.09      0.16        22
           P       0.63      0.50      0.56        34

   micro avg       0.51      0.51      0.51       116
   macro avg       0.44      0.37      0.33       116
weighted avg       0.49      0.51      0.43       116

           N   NEU  NONE  P
True/Pred
N          40  12   17    17
NEU         0   0    0     0
NONE        1   0    2     0
P           4   3    3    17

### Test

Accuracy: 0.5115681233933161
Loss: 1.150079556734193
              precision    recall  f1-score   support

           N       0.48      0.86      0.62       456
         NEU       0.00      0.00      0.00       148
        NONE       0.48      0.13      0.20       224
           P       0.59      0.52      0.55       339

   micro avg       0.51      0.51      0.51      1167
   macro avg       0.39      0.38      0.34      1167
weighted avg       0.45      0.51      0.44      1167

           N    NEU  NONE  P
True/Pred
N          391  115  153   148
NEU          1    0    0     0
NONE        13    4   29    14
P           51   29   42   177

### Fold number: 9. Name: 6d6c5dcf6dbb494c89aa47d641916676

### Training

              precision    recall  f1-score   support

           N       0.56      0.94      0.70       411
         NEU       0.89      0.06      0.11       134
        NONE       0.85      0.30      0.45       201
           P       0.72      0.65      0.69       305

   micro avg       0.62      0.62      0.62      1051
   macro avg       0.75      0.49      0.49      1051
weighted avg       0.70      0.62      0.57      1051

           N    NEU  NONE  P
True/Pred
N          387  89   115   103
NEU          0   8     0     1
NONE         4   5    61     2
P           20  32    25   199

### Validation

              precision    recall  f1-score   support

           N       0.49      0.96      0.65        45
         NEU       0.00      0.00      0.00        15
        NONE       0.75      0.14      0.23        22
           P       0.67      0.48      0.56        33

   micro avg       0.54      0.54      0.54       115
   macro avg       0.48      0.39      0.36       115
weighted avg       0.53      0.54      0.46       115

           N   NEU  NONE  P
True/Pred
N          43  11   17    16
NEU         0   0    0     0
NONE        0   0    3     1
P           2   4    2    16

### Test

Accuracy: 0.5158526135389888
Loss: 1.156166098944963
              precision    recall  f1-score   support

           N       0.48      0.87      0.62       456
         NEU       0.00      0.00      0.00       148
        NONE       0.51      0.14      0.22       224
           P       0.61      0.51      0.56       339

   micro avg       0.52      0.52      0.52      1167
   macro avg       0.40      0.38      0.35      1167
weighted avg       0.46      0.52      0.45      1167

           N    NEU  NONE  P
True/Pred
N          398  113  159   151
NEU          1    0    0     1
NONE        12    4   31    14
P           45   31   34   173

### Fold number: 10. Name: d8c3c56696a6465c928758f82dbfb695

### Training

              precision    recall  f1-score   support

           N       0.57      0.94      0.71       411
         NEU       1.00      0.09      0.16       135
        NONE       0.85      0.27      0.41       201
           P       0.72      0.69      0.70       305

   micro avg       0.63      0.63      0.63      1052
   macro avg       0.78      0.50      0.50      1052
weighted avg       0.72      0.63      0.58      1052

           N    NEU  NONE  P
True/Pred
N          386  84   120    93
NEU          0  12     0     0
NONE         4   4    55     2
P           21  35    26   210

### Validation

              precision    recall  f1-score   support

           N       0.52      0.89      0.66        45
         NEU       0.00      0.00      0.00        14
        NONE       0.62      0.23      0.33        22
           P       0.45      0.39      0.42        33

   micro avg       0.51      0.51      0.51       114
   macro avg       0.40      0.38      0.35       114
weighted avg       0.46      0.51      0.44       114

           N   NEU  NONE  P
True/Pred
N          40  7    12    18
NEU         0  0     0     0
NONE        0  1     5     2
P           5  6     5    13

### Test

Accuracy: 0.5141388174807198
Loss: 1.1508009772921053
              precision    recall  f1-score   support

           N       0.48      0.87      0.62       456
         NEU       0.00      0.00      0.00       148
        NONE       0.46      0.12      0.19       224
           P       0.62      0.53      0.57       339

   micro avg       0.51      0.51      0.51      1167
   macro avg       0.39      0.38      0.34      1167
weighted avg       0.46      0.51      0.44      1167

           N    NEU  NONE  P
True/Pred
N          395  114  160   146
NEU          3    0    1     1
NONE        14    4   26    13
P           44   30   37   179

## 11. Creating models with embeddings: CorpusFBCR2013.txt.usu.18_w.kvs

### Mean Accuracies and losses

   train_acc_mean  train_acc_stdev  val_acc_mean  val_acc_stdev
0  0.602151        0.005259         0.522237      0.029519

### Accuracies and losses by Stratified KFold (folds with balanced class distributions)

  model name                         train_acc  train_loss  val_acc   val_loss
0  f60f1a030e6a4a2ea8a23032ee84a712  0.603053   0.939557    0.491525  1.170696
1  5299bcb493ea49fea1cac5217bc91de1  0.598282   0.944817    0.500000  1.127135
2  8b8094a65ec44980bc4253b574189d93  0.596374   0.934211    0.559322  1.151174
3  f39c0950e255420294e439c055816cac  0.610105   0.922420    0.521368  1.185534
4  770a7301f8084cd38f27b1e9ae49d794  0.600572   0.945678    0.512821  1.146935
5  6c8597b91b1443718fa7e7cc63a7cbb6  0.596759   0.943935    0.564103  1.112231
6  c7d77ea7c2ce4af4b83c906a11fbeea2  0.608571   0.942122    0.534483  1.160652
7  0c5146967663464d90349a7eb34b5291  0.597143   0.948475    0.517241  1.123035
8  c05d6b7c401f4b1caa67aff48e18f611  0.602284   0.957242    0.547826  1.082204
9  b1b4251f658142b0a62d45ce9a1d3c18  0.608365   0.932604    0.473684  1.215440

## 11. CorpusFBCR2013.txt.usu.18_w.kvs

### Fold number: 1. Name: f60f1a030e6a4a2ea8a23032ee84a712

### Training

              precision    recall  f1-score   support

           N       0.55      0.95      0.69       410
         NEU       1.00      0.01      0.03       134
        NONE       0.77      0.26      0.38       200
           P       0.70      0.63      0.66       304

   micro avg       0.60      0.60      0.60      1048
   macro avg       0.76      0.46      0.44      1048
weighted avg       0.69      0.60      0.54      1048

           N    NEU  NONE  P
True/Pred
N          388  92   122   107
NEU          0   2     0     0
NONE         1   8    51     6
P           21  32    27   191

### Validation

              precision    recall  f1-score   support

           N       0.44      0.80      0.57        46
         NEU       0.00      0.00      0.00        15
        NONE       0.83      0.22      0.34        23
           P       0.57      0.47      0.52        34

   micro avg       0.49      0.49      0.49       118
   macro avg       0.46      0.37      0.36       118
weighted avg       0.50      0.49      0.44       118

           N   NEU  NONE  P
True/Pred
N          37  12   17    18
NEU         0   0    0     0
NONE        1   0    5     0
P           8   3    1    16

### Test

Accuracy: 0.5115681233933161
Loss: 1.1553410490246785
              precision    recall  f1-score   support

           N       0.48      0.90      0.63       456
         NEU       0.00      0.00      0.00       148
        NONE       0.46      0.12      0.19       224
           P       0.62      0.48      0.54       339

   micro avg       0.51      0.51      0.51      1167
   macro avg       0.39      0.37      0.34      1167
weighted avg       0.46      0.51      0.44      1167

           N    NEU  NONE  P
True/Pred
N          409  118  160   163
NEU          0    0    0     0
NONE         8    8   26    14
P           39   22   38   162

### Fold number: 2. Name: 5299bcb493ea49fea1cac5217bc91de1

### Training

              precision    recall  f1-score   support

           N       0.55      0.94      0.69       410
         NEU       1.00      0.01      0.03       134
        NONE       0.76      0.26      0.39       200
           P       0.69      0.62      0.65       304

   micro avg       0.60      0.60      0.60      1048
   macro avg       0.75      0.46      0.44      1048
weighted avg       0.69      0.60      0.54      1048

           N    NEU  NONE  P
True/Pred
N          386  92   118   111
NEU          0   2     0     0
NONE         1   9    52     6
P           23  31    30   187

### Validation

              precision    recall  f1-score   support

           N       0.48      0.85      0.61        46
         NEU       0.00      0.00      0.00        15
        NONE       0.43      0.13      0.20        23
           P       0.57      0.50      0.53        34

   micro avg       0.50      0.50      0.50       118
   macro avg       0.37      0.37      0.34       118
weighted avg       0.43      0.50      0.43       118

           N   NEU  NONE  P
True/Pred
N          39  10   16    16
NEU         0   0    0     0
NONE        2   1    3     1
P           5   4    4    17

### Test

Accuracy: 0.5158526135389888
Loss: 1.1651451350943887
              precision    recall  f1-score   support

           N       0.48      0.89      0.63       456
         NEU       0.00      0.00      0.00       148
        NONE       0.51      0.12      0.19       224
           P       0.61      0.50      0.55       339

   micro avg       0.52      0.52      0.52      1167
   macro avg       0.40      0.38      0.34      1167
weighted avg       0.46      0.52      0.44      1167

           N    NEU  NONE  P
True/Pred
N          404  117  157   156
NEU          0    0    0     0
NONE         6    8   27    12
P           46   23   40   171

### Fold number: 3. Name: 8b8094a65ec44980bc4253b574189d93

### Training

              precision    recall  f1-score   support

           N       0.54      0.93      0.69       410
         NEU       1.00      0.04      0.07       134
        NONE       0.76      0.28      0.40       200
           P       0.69      0.60      0.64       304

   micro avg       0.60      0.60      0.60      1048
   macro avg       0.75      0.46      0.45      1048
weighted avg       0.68      0.60      0.54      1048

           N    NEU  NONE  P
True/Pred
N          382  83   124   115
NEU          0   5     0     0
NONE         1  10    55     6
P           27  36    21   183

### Validation

              precision    recall  f1-score   support

           N       0.52      0.89      0.66        46
         NEU       0.00      0.00      0.00        15
        NONE       0.62      0.22      0.32        23
           P       0.65      0.59      0.62        34

   micro avg       0.56      0.56      0.56       118
   macro avg       0.45      0.42      0.40       118
weighted avg       0.51      0.56      0.50       118

           N   NEU  NONE  P
True/Pred
N          41  13   14    11
NEU         0   0    0     0
NONE        0   0    5     3
P           5   2    4    20

### Test

Accuracy: 0.5098543273350471
Loss: 1.154724772325116
              precision    recall  f1-score   support

           N       0.48      0.88      0.62       456
         NEU       0.00      0.00      0.00       148
        NONE       0.48      0.13      0.21       224
           P       0.60      0.49      0.54       339

   micro avg       0.51      0.51      0.51      1167
   macro avg       0.39      0.37      0.34      1167
weighted avg       0.46      0.51      0.44      1167

           N    NEU  NONE  P
True/Pred
N          399  112  155   162
NEU          1    0    0     0
NONE        13    9   30    11
P           43   27   39   166

### Fold number: 4. Name: f39c0950e255420294e439c055816cac

### Training

              precision    recall  f1-score   support

           N       0.56      0.95      0.70       410
         NEU       1.00      0.02      0.04       134
        NONE       0.79      0.28      0.42       201
           P       0.70      0.63      0.66       304

   micro avg       0.61      0.61      0.61      1049
   macro avg       0.76      0.47      0.46      1049
weighted avg       0.70      0.61      0.55      1049

           N    NEU  NONE  P
True/Pred
N          388  91   113   107
NEU          0   3     0     0
NONE         2   8    57     5
P           20  32    31   192

### Validation

              precision    recall  f1-score   support

           N       0.51      0.85      0.63        46
         NEU       0.00      0.00      0.00        15
        NONE       0.50      0.18      0.27        22
           P       0.56      0.53      0.55        34

   micro avg       0.52      0.52      0.52       117
   macro avg       0.39      0.39      0.36       117
weighted avg       0.46      0.52      0.46       117

           N   NEU  NONE  P
True/Pred
N          39  10   14    14
NEU         0   0    0     0
NONE        1   1    4     2
P           6   4    4    18

### Test

Accuracy: 0.517566409597258
Loss: 1.1543464130229613
              precision    recall  f1-score   support

           N       0.49      0.88      0.63       456
         NEU       1.00      0.01      0.01       148
        NONE       0.48      0.16      0.24       224
           P       0.61      0.49      0.54       339

   micro avg       0.52      0.52      0.52      1167
   macro avg       0.65      0.38      0.36      1167
weighted avg       0.59      0.52      0.45      1167

           N    NEU  NONE  P
True/Pred
N          402  113  149   158
NEU          0    1    0     0
NONE        14    9   35    15
P           40   25   40   166

### Fold number: 5. Name: 770a7301f8084cd38f27b1e9ae49d794

### Training

              precision    recall  f1-score   support

           N       0.54      0.95      0.69       410
         NEU       1.00      0.01      0.03       134
        NONE       0.81      0.27      0.41       201
           P       0.71      0.60      0.65       304

   micro avg       0.60      0.60      0.60      1049
   macro avg       0.77      0.46      0.44      1049
weighted avg       0.70      0.60      0.54      1049

           N    NEU  NONE  P
True/Pred
N          390  93   122   117
NEU          0   2     0     0
NONE         1   8    55     4
P           19  31    24   183

### Validation

              precision    recall  f1-score   support

           N       0.48      0.89      0.63        46
         NEU       0.00      0.00      0.00        15
        NONE       0.38      0.14      0.20        22
           P       0.67      0.47      0.55        34

   micro avg       0.51      0.51      0.51       117
   macro avg       0.38      0.37      0.34       117
weighted avg       0.45      0.51      0.44       117

           N   NEU  NONE  P
True/Pred
N          41  11   17    16
NEU         0   0    0     0
NONE        2   1    3     2
P           3   3    2    16

### Test

Accuracy: 0.5132819194515853
Loss: 1.1522631198267759
              precision    recall  f1-score   support

           N       0.48      0.90      0.63       456
         NEU       0.00      0.00      0.00       148
        NONE       0.48      0.12      0.20       224
           P       0.64      0.47      0.54       339

   micro avg       0.51      0.51      0.51      1167
   macro avg       0.40      0.37      0.34      1167
weighted avg       0.47      0.51      0.44      1167

           N    NEU  NONE  P
True/Pred
N          412  118  163   169
NEU          0    0    0     0
NONE        11    8   28    11
P           33   22   33   159

### Fold number: 6. Name: 6c8597b91b1443718fa7e7cc63a7cbb6

### Training

              precision    recall  f1-score   support

           N       0.53      0.94      0.68       410
         NEU       1.00      0.03      0.06       134
        NONE       0.79      0.26      0.40       201
           P       0.73      0.60      0.66       304

   micro avg       0.60      0.60      0.60      1049
   macro avg       0.76      0.46      0.45      1049
weighted avg       0.70      0.60      0.54      1049

           N    NEU  NONE  P
True/Pred
N          386  96   127   118
NEU          0   4     0     0
NONE         3   8    53     3
P           21  26    21   183

### Validation

              precision    recall  f1-score   support

           N       0.54      0.98      0.69        46
         NEU       0.00      0.00      0.00        15
        NONE       0.40      0.09      0.15        22
           P       0.68      0.56      0.61        34

   micro avg       0.56      0.56      0.56       117
   macro avg       0.40      0.41      0.36       117
weighted avg       0.48      0.56      0.48       117

           N   NEU  NONE  P
True/Pred
N          45  10   15    14
NEU         0   0    0     0
NONE        1   1    2     1
P           0   4    5    19

### Test

Accuracy: 0.5158526135389888
Loss: 1.1507721288181412
              precision    recall  f1-score   support

           N       0.48      0.90      0.63       456
         NEU       0.00      0.00      0.00       148
        NONE       0.54      0.15      0.23       224
           P       0.63      0.46      0.53       339

   micro avg       0.52      0.52      0.52      1167
   macro avg       0.41      0.38      0.35      1167
weighted avg       0.47      0.52      0.44      1167

           N    NEU  NONE  P
True/Pred
N          412  121  154   170
NEU          0    0    0     0
NONE        11    5   33    12
P           33   22   37   157

### Fold number: 7. Name: c7d77ea7c2ce4af4b83c906a11fbeea2

### Training

              precision    recall  f1-score   support

           N       0.56      0.94      0.70       411
         NEU       1.00      0.01      0.01       134
        NONE       0.81      0.25      0.39       201
           P       0.67      0.66      0.67       304

   micro avg       0.61      0.61      0.61      1050
   macro avg       0.76      0.47      0.44      1050
weighted avg       0.70      0.61      0.54      1050

           N    NEU  NONE  P
True/Pred
N          385  92   110    97
NEU          0   1     0     0
NONE         1   6    51     5
P           25  35    40   202

### Validation

              precision    recall  f1-score   support

           N       0.53      0.82      0.64        45
         NEU       0.00      0.00      0.00        15
        NONE       0.56      0.23      0.32        22
           P       0.54      0.59      0.56        34

   micro avg       0.53      0.53      0.53       116
   macro avg       0.41      0.41      0.38       116
weighted avg       0.47      0.53      0.48       116

           N   NEU  NONE  P
True/Pred
N          37  9    11    13
NEU         0  0     0     0
NONE        2  1     5     1
P           6  5     6    20

### Test

Accuracy: 0.517566409597258
Loss: 1.1551538462885451
              precision    recall  f1-score   support

           N       0.49      0.87      0.63       456
         NEU       0.00      0.00      0.00       148
        NONE       0.54      0.15      0.24       224
           P       0.58      0.52      0.55       339

   micro avg       0.52      0.52      0.52      1167
   macro avg       0.40      0.38      0.35      1167
weighted avg       0.47      0.52      0.45      1167

           N    NEU  NONE  P
True/Pred
N          395  109  147   152
NEU          0    0    1     0
NONE         8    9   34    12
P           53   30   42   175

### Fold number: 8. Name: 0c5146967663464d90349a7eb34b5291

### Training

              precision    recall  f1-score   support

           N       0.54      0.93      0.69       411
         NEU       1.00      0.02      0.04       134
        NONE       0.71      0.28      0.41       201
           P       0.70      0.60      0.65       304

   micro avg       0.60      0.60      0.60      1050
   macro avg       0.74      0.46      0.45      1050
weighted avg       0.68      0.60      0.54      1050

           N    NEU  NONE  P
True/Pred
N          384  88   123   112
NEU          0   3     0     0
NONE         3  11    57     9
P           24  32    21   183

### Validation

              precision    recall  f1-score   support

           N       0.48      0.89      0.62        45
         NEU       0.00      0.00      0.00        15
        NONE       0.50      0.14      0.21        22
           P       0.63      0.50      0.56        34

   micro avg       0.52      0.52      0.52       116
   macro avg       0.40      0.38      0.35       116
weighted avg       0.47      0.52      0.45       116

           N   NEU  NONE  P
True/Pred
N          40  13   14    16
NEU         0   0    0     0
NONE        1   1    3     1
P           4   1    5    17

### Test

Accuracy: 0.5124250214224507
Loss: 1.1596460905222095
              precision    recall  f1-score   support

           N       0.48      0.88      0.62       456
         NEU       0.00      0.00      0.00       148
        NONE       0.49      0.15      0.23       224
           P       0.62      0.48      0.54       339

   micro avg       0.51      0.51      0.51      1167
   macro avg       0.40      0.38      0.35      1167
weighted avg       0.46      0.51      0.44      1167

           N    NEU  NONE  P
True/Pred
N          402  116  155   162
NEU          0    0    0     0
NONE        14    7   34    15
P           40   25   35   162

### Fold number: 9. Name: c05d6b7c401f4b1caa67aff48e18f611

### Training

              precision    recall  f1-score   support

           N       0.55      0.95      0.69       411
         NEU       1.00      0.01      0.03       134
        NONE       0.82      0.27      0.41       201
           P       0.68      0.61      0.65       305

   micro avg       0.60      0.60      0.60      1051
   macro avg       0.76      0.46      0.45      1051
weighted avg       0.70      0.60      0.54      1051

           N    NEU  NONE  P
True/Pred
N          389  93   114   113
NEU          0   2     0     0
NONE         1   6    55     5
P           21  33    32   187

### Validation

              precision    recall  f1-score   support

           N       0.51      0.89      0.65        45
         NEU       0.00      0.00      0.00        15
        NONE       0.40      0.09      0.15        22
           P       0.66      0.64      0.65        33

   micro avg       0.55      0.55      0.55       115
   macro avg       0.39      0.40      0.36       115
weighted avg       0.47      0.55      0.47       115

           N   NEU  NONE  P
True/Pred
N          40  8    18    12
NEU         0  0     0     0
NONE        0  3     2     0
P           5  4     2    21

### Test

Accuracy: 0.5184233076263924
Loss: 1.153400216663251
              precision    recall  f1-score   support

           N       0.49      0.90      0.63       456
         NEU       0.00      0.00      0.00       148
        NONE       0.51      0.12      0.20       224
           P       0.61      0.49      0.55       339

   micro avg       0.52      0.52      0.52      1167
   macro avg       0.40      0.38      0.35      1167
weighted avg       0.47      0.52      0.44      1167

           N    NEU  NONE  P
True/Pred
N          410  116  155   159
NEU          0    0    0     0
NONE         8    6   28    13
P           38   26   41   167

### Fold number: 10. Name: b1b4251f658142b0a62d45ce9a1d3c18

### Training

              precision    recall  f1-score   support

           N       0.54      0.95      0.69       411
         NEU       1.00      0.02      0.04       135
        NONE       0.80      0.27      0.41       201
           P       0.73      0.63      0.67       305

   micro avg       0.61      0.61      0.61      1052
   macro avg       0.77      0.47      0.45      1052
weighted avg       0.70      0.61      0.55      1052

           N    NEU  NONE  P
True/Pred
N          391  96   123   108
NEU          0   3     0     0
NONE         1   7    55     6
P           19  29    23   191

### Validation

              precision    recall  f1-score   support

           N       0.47      0.84      0.61        45
         NEU       0.00      0.00      0.00        14
        NONE       0.43      0.14      0.21        22
           P       0.48      0.39      0.43        33

   micro avg       0.47      0.47      0.47       114
   macro avg       0.35      0.34      0.31       114
weighted avg       0.41      0.47      0.41       114

           N   NEU  NONE  P
True/Pred
N          38  9    14    19
NEU         0  0     0     0
NONE        2  1     3     1
P           5  4     5    13

### Test

Accuracy: 0.517566409597258
Loss: 1.1525748118234784
              precision    recall  f1-score   support

           N       0.49      0.89      0.63       456
         NEU       0.00      0.00      0.00       148
        NONE       0.47      0.13      0.20       224
           P       0.62      0.50      0.55       339

   micro avg       0.52      0.52      0.52      1167
   macro avg       0.39      0.38      0.35      1167
weighted avg       0.46      0.52      0.45      1167

           N    NEU  NONE  P
True/Pred
N          407  111  158   156
NEU          1    0    0     0
NONE        10    8   29    15
P           38   29   37   168

## 12. Creating models with embeddings: tweets.txt.usu.16_w.kvs

### Mean Accuracies and losses

   train_acc_mean  train_acc_stdev  val_acc_mean  val_acc_stdev
0  0.659329        0.006264         0.531738      0.046308

### Accuracies and losses by Stratified KFold (folds with balanced class distributions)

  model name                         train_acc  train_loss  val_acc   val_loss
0  3539979b93f64916b7c470fd0bee045b  0.654580   0.900837    0.610169  1.013171
1  98a7792f8c4f4c36a62fffc3b3f01295  0.655534   0.855399    0.491525  1.171035
2  29eebf507139439ca6c51d0cefe1b024  0.671756   0.849755    0.466102  1.241469
3  6c6afecec67b40d3b7d11f8bf443b38a  0.654909   0.881559    0.581197  1.039717
4  d4b60b782aa24325a4f46a730ec88f9f  0.650143   0.879118    0.564103  1.074346
5  3573294db2b64e0ea22e2e205dc79c5e  0.663489   0.879219    0.521368  1.115502
6  6e174e9731f44686bd0b818053d4175c  0.662857   0.869524    0.474138  1.160785
7  3b6870dfc53241dd82f11c32cba740f0  0.663810   0.866370    0.525862  1.155909
8  c58071647f5546abb7e0b1e4bfaf6b57  0.656518   0.869202    0.547826  1.106626
9  6ae042b66517469fba341ffee4d1670e  0.659696   0.880019    0.535088  1.073810

## 12. tweets.txt.usu.16_w.kvs

### Fold number: 1. Name: 3539979b93f64916b7c470fd0bee045b

### Training

              precision    recall  f1-score   support

           N       0.60      0.93      0.73       410
         NEU       0.93      0.10      0.18       134
        NONE       0.79      0.31      0.45       200
           P       0.72      0.75      0.74       304

   micro avg       0.65      0.65      0.65      1048
   macro avg       0.76      0.52      0.52      1048
weighted avg       0.71      0.65      0.61      1048

           N    NEU  NONE  P
True/Pred
N          382  74   111    70
NEU          0  13     1     0
NONE         4   7    62     5
P           24  40    26   229

### Validation

              precision    recall  f1-score   support

           N       0.55      0.91      0.69        46
         NEU       0.00      0.00      0.00        15
        NONE       1.00      0.30      0.47        23
           P       0.66      0.68      0.67        34

   micro avg       0.61      0.61      0.61       118
   macro avg       0.55      0.47      0.46       118
weighted avg       0.60      0.61      0.55       118

           N   NEU  NONE  P
True/Pred
N          42  10   13    11
NEU         0   0    0     0
NONE        0   0    7     0
P           4   5    3    23

### Test

Accuracy: 0.5475578406169666
Loss: 1.1138075532075877
              precision    recall  f1-score   support

           N       0.52      0.88      0.66       456
         NEU       0.00      0.00      0.00       148
        NONE       0.51      0.17      0.25       224
           P       0.62      0.58      0.60       339

   micro avg       0.55      0.55      0.55      1167
   macro avg       0.41      0.41      0.38      1167
weighted avg       0.48      0.55      0.48      1167

           N    NEU  NONE  P
True/Pred
N          403  110  136   124
NEU          1    0    0     0
NONE        14    6   38    17
P           38   32   50   198

### Fold number: 2. Name: 98a7792f8c4f4c36a62fffc3b3f01295

### Training

              precision    recall  f1-score   support

           N       0.59      0.93      0.72       410
         NEU       1.00      0.09      0.16       134
        NONE       0.78      0.36      0.50       200
           P       0.75      0.72      0.74       304

   micro avg       0.66      0.66      0.66      1048
   macro avg       0.78      0.53      0.53      1048
weighted avg       0.72      0.66      0.61      1048

           N    NEU  NONE  P
True/Pred
N          382  78   111    78
NEU          0  12     0     0
NONE         8   6    73     6
P           20  38    16   220

### Validation

              precision    recall  f1-score   support

           N       0.49      0.83      0.61        46
         NEU       0.00      0.00      0.00        15
        NONE       0.50      0.17      0.26        23
           P       0.53      0.47      0.50        34

   micro avg       0.49      0.49      0.49       118
   macro avg       0.38      0.37      0.34       118
weighted avg       0.44      0.49      0.43       118

           N   NEU  NONE  P
True/Pred
N          38  12   12    16
NEU         1   0    1     0
NONE        1   1    4     2
P           6   2    6    16

### Test

Accuracy: 0.5458440445586975
Loss: 1.1151624792649046
              precision    recall  f1-score   support

           N       0.52      0.89      0.65       456
         NEU       0.00      0.00      0.00       148
        NONE       0.47      0.20      0.28       224
           P       0.65      0.55      0.60       339

   micro avg       0.55      0.55      0.55      1167
   macro avg       0.41      0.41      0.38      1167
weighted avg       0.48      0.55      0.48      1167

           N    NEU  NONE  P
True/Pred
N          406  110  140   130
NEU          1    0    0     0
NONE        19    9   44    22
P           30   29   40   187

### Fold number: 3. Name: 29eebf507139439ca6c51d0cefe1b024

### Training

              precision    recall  f1-score   support

           N       0.61      0.94      0.74       410
         NEU       0.88      0.10      0.19       134
        NONE       0.80      0.40      0.53       200
           P       0.74      0.74      0.74       304

   micro avg       0.67      0.67      0.67      1048
   macro avg       0.76      0.55      0.55      1048
weighted avg       0.72      0.67      0.63      1048

           N    NEU  NONE  P
True/Pred
N          384  74   96     72
NEU          0  14    1      1
NONE         8   7   80      5
P           18  39   23    226

### Validation

              precision    recall  f1-score   support

           N       0.46      0.78      0.58        46
         NEU       1.00      0.07      0.12        15
        NONE       0.33      0.09      0.14        23
           P       0.50      0.47      0.48        34

   micro avg       0.47      0.47      0.47       118
   macro avg       0.57      0.35      0.33       118
weighted avg       0.51      0.47      0.41       118

           N   NEU  NONE  P
True/Pred
N          36  11   15    17
NEU         0   1    0     0
NONE        2   1    2     1
P           8   2    6    16

### Test

Accuracy: 0.5492716366752356
Loss: 1.1131883063175865
              precision    recall  f1-score   support

           N       0.52      0.89      0.66       456
         NEU       0.00      0.00      0.00       148
        NONE       0.47      0.19      0.27       224
           P       0.65      0.56      0.60       339

   micro avg       0.55      0.55      0.55      1167
   macro avg       0.41      0.41      0.38      1167
weighted avg       0.48      0.55      0.49      1167

           N    NEU  NONE  P
True/Pred
N          407  108  137   124
NEU          1    0    1     1
NONE        16   10   43    23
P           32   30   43   191

### Fold number: 4. Name: 6c6afecec67b40d3b7d11f8bf443b38a

### Training

              precision    recall  f1-score   support

           N       0.59      0.93      0.73       410
         NEU       0.93      0.10      0.19       134
        NONE       0.86      0.34      0.49       201
           P       0.71      0.73      0.72       304

   micro avg       0.65      0.65      0.65      1049
   macro avg       0.78      0.53      0.53      1049
weighted avg       0.72      0.65      0.61      1049

           N    NEU  NONE  P
True/Pred
N          383  81   104    76
NEU          0  14     1     0
NONE         3   2    68     6
P           24  37    28   222

### Validation

              precision    recall  f1-score   support

           N       0.58      0.96      0.72        46
         NEU       0.00      0.00      0.00        15
        NONE       0.83      0.23      0.36        22
           P       0.56      0.56      0.56        34

   micro avg       0.58      0.58      0.58       117
   macro avg       0.49      0.44      0.41       117
weighted avg       0.55      0.58      0.51       117

           N   NEU  NONE  P
True/Pred
N          44  6    13    13
NEU         0  0     0     1
NONE        0  0     5     1
P           2  9     4    19

### Test

Accuracy: 0.5381319622964867
Loss: 1.112677910521617
              precision    recall  f1-score   support

           N       0.52      0.88      0.65       456
         NEU       0.00      0.00      0.00       148
        NONE       0.45      0.17      0.24       224
           P       0.61      0.56      0.59       339

   micro avg       0.54      0.54      0.54      1167
   macro avg       0.39      0.40      0.37      1167
weighted avg       0.47      0.54      0.47      1167

           N    NEU  NONE  P
True/Pred
N          400  106  137   127
NEU          1    0    0     0
NONE        17    8   37    21
P           38   34   50   191

### Fold number: 5. Name: d4b60b782aa24325a4f46a730ec88f9f

### Training

              precision    recall  f1-score   support

           N       0.60      0.93      0.73       410
         NEU       0.92      0.08      0.15       134
        NONE       0.76      0.37      0.50       201
           P       0.71      0.71      0.71       304

   micro avg       0.65      0.65      0.65      1049
   macro avg       0.75      0.52      0.52      1049
weighted avg       0.70      0.65      0.61      1049

           N    NEU  NONE  P
True/Pred
N          381  73   102    81
NEU          0  11     1     0
NONE         8   8    74     7
P           21  42    24   216

### Validation

              precision    recall  f1-score   support

           N       0.51      0.80      0.63        46
         NEU       0.00      0.00      0.00        15
        NONE       0.50      0.23      0.31        22
           P       0.69      0.71      0.70        34

   micro avg       0.56      0.56      0.56       117
   macro avg       0.42      0.43      0.41       117
weighted avg       0.50      0.56      0.51       117

           N   NEU  NONE  P
True/Pred
N          37  10   16     9
NEU         0   0    0     0
NONE        3   1    5     1
P           6   4    1    24

### Test

Accuracy: 0.5467009425878321
Loss: 1.1158328570151657
              precision    recall  f1-score   support

           N       0.52      0.88      0.66       456
         NEU       0.00      0.00      0.00       148
        NONE       0.45      0.20      0.27       224
           P       0.64      0.56      0.60       339

   micro avg       0.55      0.55      0.55      1167
   macro avg       0.40      0.41      0.38      1167
weighted avg       0.48      0.55      0.48      1167

           N    NEU  NONE  P
True/Pred
N          403  110  132   124
NEU          1    0    0     0
NONE        19   10   44    24
P           33   28   48   191

### Fold number: 6. Name: 3573294db2b64e0ea22e2e205dc79c5e

### Training

              precision    recall  f1-score   support

           N       0.61      0.92      0.73       410
         NEU       0.86      0.09      0.16       134
        NONE       0.89      0.35      0.51       201
           P       0.70      0.77      0.73       304

   micro avg       0.66      0.66      0.66      1049
   macro avg       0.76      0.53      0.53      1049
weighted avg       0.72      0.66      0.62      1049

           N    NEU  NONE  P
True/Pred
N          379  81   95     67
NEU          0  12    1      1
NONE         4   3   71      2
P           27  38   34    234

### Validation

              precision    recall  f1-score   support

           N       0.50      0.87      0.63        46
         NEU       0.00      0.00      0.00        15
        NONE       0.50      0.18      0.27        22
           P       0.59      0.50      0.54        34

   micro avg       0.52      0.52      0.52       117
   macro avg       0.40      0.39      0.36       117
weighted avg       0.46      0.52      0.46       117

           N   NEU  NONE  P
True/Pred
N          40  8    16    16
NEU         0  0     0     0
NONE        0  3     4     1
P           6  4     2    17

### Test

Accuracy: 0.5492716366752356
Loss: 1.1205875380526351
              precision    recall  f1-score   support

           N       0.53      0.87      0.66       456
         NEU       0.00      0.00      0.00       148
        NONE       0.49      0.17      0.25       224
           P       0.62      0.61      0.61       339

   micro avg       0.55      0.55      0.55      1167
   macro avg       0.41      0.41      0.38      1167
weighted avg       0.48      0.55      0.48      1167

           N    NEU  NONE  P
True/Pred
N          397  109  134   115
NEU          2    0    0     0
NONE        15    6   38    18
P           42   33   52   206

### Fold number: 7. Name: 6e174e9731f44686bd0b818053d4175c

### Training

              precision    recall  f1-score   support

           N       0.60      0.94      0.73       411
         NEU       0.92      0.09      0.16       134
        NONE       0.82      0.37      0.51       201
           P       0.74      0.74      0.74       304

   micro avg       0.66      0.66      0.66      1050
   macro avg       0.77      0.53      0.54      1050
weighted avg       0.72      0.66      0.62      1050

           N    NEU  NONE  P
True/Pred
N          385  82   102    74
NEU          0  12     1     0
NONE         5   6    74     5
P           21  34    24   225

### Validation

              precision    recall  f1-score   support

           N       0.46      0.84      0.60        45
         NEU       0.00      0.00      0.00        15
        NONE       0.33      0.09      0.14        22
           P       0.56      0.44      0.49        34

   micro avg       0.47      0.47      0.47       116
   macro avg       0.34      0.34      0.31       116
weighted avg       0.41      0.47      0.40       116

           N   NEU  NONE  P
True/Pred
N          38  11   19    14
NEU         0   0    0     1
NONE        0   0    2     4
P           7   4    1    15

### Test

Accuracy: 0.5449871465295629
Loss: 1.1156573745251757
              precision    recall  f1-score   support

           N       0.52      0.89      0.66       456
         NEU       0.00      0.00      0.00       148
        NONE       0.49      0.18      0.26       224
           P       0.63      0.55      0.59       339

   micro avg       0.54      0.54      0.54      1167
   macro avg       0.41      0.41      0.38      1167
weighted avg       0.48      0.54      0.48      1167

           N    NEU  NONE  P
True/Pred
N          408  110  139   130
NEU          1    0    0     0
NONE        15    6   40    21
P           32   32   45   188

### Fold number: 8. Name: 3b6870dfc53241dd82f11c32cba740f0

### Training

              precision    recall  f1-score   support

           N       0.61      0.93      0.74       411
         NEU       0.93      0.10      0.18       134
        NONE       0.82      0.38      0.52       201
           P       0.71      0.74      0.72       304

   micro avg       0.66      0.66      0.66      1050
   macro avg       0.77      0.54      0.54      1050
weighted avg       0.72      0.66      0.62      1050

           N    NEU  NONE  P
True/Pred
N          383  75   94     74
NEU          0  13    1      0
NONE         5   7   76      5
P           23  39   30    225

### Validation

              precision    recall  f1-score   support

           N       0.52      0.78      0.62        45
         NEU       0.00      0.00      0.00        15
        NONE       0.50      0.23      0.31        22
           P       0.57      0.62      0.59        34

   micro avg       0.53      0.53      0.53       116
   macro avg       0.40      0.41      0.38       116
weighted avg       0.46      0.53      0.48       116

           N   NEU  NONE  P
True/Pred
N          35  5    14    13
NEU         2  0     0     0
NONE        2  3     5     0
P           6  7     3    21

### Test

Accuracy: 0.5432733504712939
Loss: 1.1111805949815563
              precision    recall  f1-score   support

           N       0.52      0.86      0.65       456
         NEU       0.25      0.01      0.01       148
        NONE       0.47      0.18      0.26       224
           P       0.61      0.58      0.60       339

   micro avg       0.54      0.54      0.54      1167
   macro avg       0.46      0.41      0.38      1167
weighted avg       0.50      0.54      0.48      1167

           N    NEU  NONE  P
True/Pred
N          394  107  134   118
NEU          2    1    0     1
NONE        17    8   41    22
P           43   32   49   198

### Fold number: 9. Name: c58071647f5546abb7e0b1e4bfaf6b57

### Training

              precision    recall  f1-score   support

           N       0.59      0.94      0.72       411
         NEU       0.95      0.13      0.24       134
        NONE       0.86      0.32      0.47       201
           P       0.73      0.73      0.73       305

   micro avg       0.66      0.66      0.66      1051
   macro avg       0.78      0.53      0.54      1051
weighted avg       0.73      0.66      0.61      1051

           N    NEU  NONE  P
True/Pred
N          385  78   110    79
NEU          0  18     1     0
NONE         3   4    65     4
P           23  34    25   222

### Validation

              precision    recall  f1-score   support

           N       0.58      0.80      0.67        45
         NEU       0.00      0.00      0.00        15
        NONE       0.60      0.27      0.37        22
           P       0.50      0.64      0.56        33

   micro avg       0.55      0.55      0.55       115
   macro avg       0.42      0.43      0.40       115
weighted avg       0.49      0.55      0.50       115

           N   NEU  NONE  P
True/Pred
N          36  8    7     11
NEU         0  0    1      0
NONE        2  1    6      1
P           7  6    8     21

### Test

Accuracy: 0.5501285347043702
Loss: 1.117725639002373
              precision    recall  f1-score   support

           N       0.52      0.87      0.65       456
         NEU       0.00      0.00      0.00       148
        NONE       0.51      0.19      0.27       224
           P       0.63      0.60      0.61       339

   micro avg       0.55      0.55      0.55      1167
   macro avg       0.42      0.41      0.39      1167
weighted avg       0.48      0.55      0.49      1167

           N    NEU  NONE  P
True/Pred
N          398  109  137   119
NEU          1    0    1     0
NONE        15    8   42    18
P           42   31   44   202

### Fold number: 10. Name: 6ae042b66517469fba341ffee4d1670e

### Training

              precision    recall  f1-score   support

           N       0.59      0.93      0.72       411
         NEU       0.95      0.14      0.25       135
        NONE       0.80      0.35      0.48       201
           P       0.75      0.72      0.74       305

   micro avg       0.66      0.66      0.66      1052
   macro avg       0.77      0.54      0.55      1052
weighted avg       0.72      0.66      0.62      1052

           N    NEU  NONE  P
True/Pred
N          384  76   112    77
NEU          0  19     1     0
NONE         6   5    70     7
P           21  35    18   221

### Validation

              precision    recall  f1-score   support

           N       0.50      0.71      0.59        45
         NEU       0.00      0.00      0.00        14
        NONE       0.50      0.36      0.42        22
           P       0.64      0.64      0.64        33

   micro avg       0.54      0.54      0.54       114
   macro avg       0.41      0.43      0.41       114
weighted avg       0.48      0.54      0.50       114

           N   NEU  NONE  P
True/Pred
N          32  9    12    11
NEU         1  0     0     0
NONE        7  0     8     1
P           5  5     2    21

### Test

Accuracy: 0.5475578406169666
Loss: 1.1151022843887957
              precision    recall  f1-score   support

           N       0.52      0.88      0.65       456
         NEU       0.17      0.01      0.01       148
        NONE       0.45      0.21      0.29       224
           P       0.65      0.56      0.61       339

   micro avg       0.55      0.55      0.55      1167
   macro avg       0.45      0.41      0.39      1167
weighted avg       0.50      0.55      0.49      1167

           N    NEU  NONE  P
True/Pred
N          399  109  133   122
NEU          3    1    0     2
NONE        22   12   48    24
P           32   26   43   191

## 13. Creating models with embeddings: tweets.txt.usu.6_w.kvs

### Mean Accuracies and losses

   train_acc_mean  train_acc_stdev  val_acc_mean  val_acc_stdev
0  0.666858        0.008679         0.521601      0.038758

### Accuracies and losses by Stratified KFold (folds with balanced class distributions)

  model name                         train_acc  train_loss  val_acc   val_loss
0  a483a1e61d0e436c8e625701c2e5ef1e  0.661260   0.871303    0.491525  1.079667
1  2b80aff586444552a97651e1e68d0c30  0.666031   0.858758    0.542373  1.095434
2  aee8ac6df4904eae8b6ec28d0cced4c0  0.666985   0.860240    0.533898  1.122673
3  2ede8332c56e4c2e89cdf6a132cbb710  0.680648   0.845440    0.487179  1.180223
4  8382aedd73a149d38c602cda95aa0787  0.653956   0.875068    0.512821  1.088952
5  085b7bfc6d1e426a89c3a1b87f123682  0.665396   0.869948    0.504274  1.094964
6  36ec954cb3874151a6b5560bb3aa2548  0.672381   0.845022    0.543103  1.145345
7  1403918b41e8494aa63273e5d20e647c  0.677143   0.843538    0.456897  1.250645
8  e90697c99b024caeb2df67bafdbbb9c6  0.669838   0.885365    0.591304  1.037029
9  26d618a8f3154e33b4d7f792c03a2c20  0.654943   0.883360    0.552632  1.068782

## 13. tweets.txt.usu.6_w.kvs

### Fold number: 1. Name: a483a1e61d0e436c8e625701c2e5ef1e

### Training

              precision    recall  f1-score   support

           N       0.60      0.93      0.73       410
         NEU       0.89      0.12      0.21       134
        NONE       0.81      0.35      0.49       200
           P       0.72      0.73      0.73       304

   micro avg       0.66      0.66      0.66      1048
   macro avg       0.76      0.54      0.54      1048
weighted avg       0.71      0.66      0.62      1048

           N    NEU  NONE  P
True/Pred
N          383  78   99     74
NEU          0  16    1      1
NONE         6   5   71      6
P           21  35   29    223

### Validation

              precision    recall  f1-score   support

           N       0.50      0.85      0.63        46
         NEU       0.00      0.00      0.00        15
        NONE       0.50      0.13      0.21        23
           P       0.47      0.47      0.47        34

   micro avg       0.49      0.49      0.49       118
   macro avg       0.37      0.36      0.33       118
weighted avg       0.43      0.49      0.42       118

           N   NEU  NONE  P
True/Pred
N          39  10   12    17
NEU         0   0    0     0
NONE        2   0    3     1
P           5   5    8    16

### Test

Accuracy: 0.5381319622964867
Loss: 1.117490423050329
              precision    recall  f1-score   support

           N       0.52      0.88      0.65       456
         NEU       0.00      0.00      0.00       148
        NONE       0.44      0.16      0.23       224
           P       0.62      0.56      0.59       339

   micro avg       0.54      0.54      0.54      1167
   macro avg       0.39      0.40      0.37      1167
weighted avg       0.47      0.54      0.47      1167

           N    NEU  NONE  P
True/Pred
N          403  111  137   126
NEU          1    0    1     1
NONE        16    7   35    22
P           36   30   51   190

### Fold number: 2. Name: 2b80aff586444552a97651e1e68d0c30

### Training

              precision    recall  f1-score   support

           N       0.61      0.92      0.73       410
         NEU       1.00      0.13      0.23       134
        NONE       0.83      0.39      0.53       200
           P       0.72      0.74      0.73       304

   micro avg       0.67      0.67      0.67      1048
   macro avg       0.79      0.54      0.55      1048
weighted avg       0.73      0.67      0.63      1048

           N    NEU  NONE  P
True/Pred
N          379  79   95     72
NEU          0  17    0      0
NONE         6   3   77      7
P           25  35   28    225

### Validation

              precision    recall  f1-score   support

           N       0.56      0.67      0.61        46
         NEU       0.33      0.07      0.11        15
        NONE       0.44      0.30      0.36        23
           P       0.57      0.74      0.64        34

   micro avg       0.54      0.54      0.54       118
   macro avg       0.48      0.45      0.43       118
weighted avg       0.51      0.54      0.51       118

           N   NEU  NONE  P
True/Pred
N          31  7    11     6
NEU         0  1     1     1
NONE        6  1     7     2
P           9  6     4    25

### Test

Accuracy: 0.5432733504712939
Loss: 1.11287327899254
              precision    recall  f1-score   support

           N       0.53      0.86      0.66       456
         NEU       0.20      0.01      0.01       148
        NONE       0.45      0.21      0.29       224
           P       0.61      0.57      0.59       339

   micro avg       0.54      0.54      0.54      1167
   macro avg       0.45      0.41      0.39      1167
weighted avg       0.50      0.54      0.48      1167

           N    NEU  NONE  P
True/Pred
N          393  98   132   117
NEU          1   1     1     2
NONE        20  11    47    27
P           42  38    44   193

### Fold number: 3. Name: aee8ac6df4904eae8b6ec28d0cced4c0

### Training

              precision    recall  f1-score   support

           N       0.61      0.92      0.73       410
         NEU       0.96      0.16      0.28       134
        NONE       0.84      0.36      0.51       200
           P       0.71      0.75      0.73       304

   micro avg       0.67      0.67      0.67      1048
   macro avg       0.78      0.55      0.56      1048
weighted avg       0.73      0.67      0.63      1048

           N    NEU  NONE  P
True/Pred
N          377  74   95     71
NEU          0  22    0      1
NONE         5   4   73      5
P           28  34   32    227

### Validation

              precision    recall  f1-score   support

           N       0.52      0.83      0.64        46
         NEU       0.00      0.00      0.00        15
        NONE       0.62      0.35      0.44        23
           P       0.55      0.50      0.52        34

   micro avg       0.53      0.53      0.53       118
   macro avg       0.42      0.42      0.40       118
weighted avg       0.48      0.53      0.49       118

           N   NEU  NONE  P
True/Pred
N          38  10   9     16
NEU         0   0   0      1
NONE        4   1   8      0
P           4   4   6     17

### Test

Accuracy: 0.5424164524421594
Loss: 1.1136287620480658
              precision    recall  f1-score   support

           N       0.53      0.87      0.65       456
         NEU       0.00      0.00      0.00       148
        NONE       0.44      0.20      0.27       224
           P       0.62      0.57      0.59       339

   micro avg       0.54      0.54      0.54      1167
   macro avg       0.40      0.41      0.38      1167
weighted avg       0.47      0.54      0.48      1167

           N    NEU  NONE  P
True/Pred
N          396  102  136   120
NEU          1    0    0     0
NONE        22    9   44    26
P           37   37   44   193

### Fold number: 4. Name: 2ede8332c56e4c2e89cdf6a132cbb710

### Training

              precision    recall  f1-score   support

           N       0.63      0.93      0.75       410
         NEU       0.87      0.10      0.17       134
        NONE       0.82      0.44      0.57       201
           P       0.73      0.76      0.74       304

   micro avg       0.68      0.68      0.68      1049
   macro avg       0.76      0.56      0.56      1049
weighted avg       0.72      0.68      0.64      1049

           N    NEU  NONE  P
True/Pred
N          381  77   85     65
NEU          0  13    1      1
NONE         7   6   88      6
P           22  38   27    232

### Validation

              precision    recall  f1-score   support

           N       0.48      0.78      0.60        46
         NEU       0.00      0.00      0.00        15
        NONE       0.50      0.18      0.27        22
           P       0.50      0.50      0.50        34

   micro avg       0.49      0.49      0.49       117
   macro avg       0.37      0.37      0.34       117
weighted avg       0.43      0.49      0.43       117

           N   NEU  NONE  P
True/Pred
N          36  9    14    16
NEU         0  0     0     0
NONE        2  1     4     1
P           8  5     4    17

### Test

Accuracy: 0.5415595544130248
Loss: 1.1137029833720455
              precision    recall  f1-score   support

           N       0.53      0.87      0.66       456
         NEU       0.50      0.01      0.01       148
        NONE       0.39      0.17      0.24       224
           P       0.62      0.58      0.60       339

   micro avg       0.54      0.54      0.54      1167
   macro avg       0.51      0.41      0.38      1167
weighted avg       0.53      0.54      0.48      1167

           N    NEU  NONE  P
True/Pred
N          396  103  135   116
NEU          1    1    0     0
NONE        23   11   39    27
P           36   33   50   196

### Fold number: 5. Name: 8382aedd73a149d38c602cda95aa0787

### Training

              precision    recall  f1-score   support

           N       0.60      0.93      0.73       410
         NEU       0.92      0.09      0.16       134
        NONE       0.82      0.38      0.52       201
           P       0.72      0.71      0.71       304

   micro avg       0.65      0.65      0.65      1049
   macro avg       0.76      0.53      0.53      1049
weighted avg       0.72      0.65      0.61      1049

           N    NEU  NONE  P
True/Pred
N          382  82   95     83
NEU          0  12    1      0
NONE         7   5   76      5
P           21  35   29    216

### Validation

              precision    recall  f1-score   support

           N       0.52      0.80      0.63        46
         NEU       0.00      0.00      0.00        15
        NONE       0.55      0.27      0.36        22
           P       0.49      0.50      0.49        34

   micro avg       0.51      0.51      0.51       117
   macro avg       0.39      0.39      0.37       117
weighted avg       0.45      0.51      0.46       117

           N   NEU  NONE  P
True/Pred
N          37  8    12    14
NEU         0  0     0     0
NONE        1  1     6     3
P           8  6     4    17

### Test

Accuracy: 0.5398457583547558
Loss: 1.1060002613058404
              precision    recall  f1-score   support

           N       0.52      0.88      0.65       456
         NEU       0.00      0.00      0.00       148
        NONE       0.44      0.19      0.27       224
           P       0.63      0.55      0.59       339

   micro avg       0.54      0.54      0.54      1167
   macro avg       0.40      0.41      0.38      1167
weighted avg       0.47      0.54      0.48      1167

           N    NEU  NONE  P
True/Pred
N          400  107  137   127
NEU          2    0    0     0
NONE        20   10   43    25
P           34   31   44   187

### Fold number: 6. Name: 085b7bfc6d1e426a89c3a1b87f123682

### Training

              precision    recall  f1-score   support

           N       0.61      0.92      0.73       410
         NEU       1.00      0.11      0.20       134
        NONE       0.81      0.36      0.50       201
           P       0.73      0.77      0.75       304

   micro avg       0.67      0.67      0.67      1049
   macro avg       0.79      0.54      0.54      1049
weighted avg       0.73      0.67      0.62      1049

           N    NEU  NONE  P
True/Pred
N          378  81   101    64
NEU          0  15     0     0
NONE         7   3    72     7
P           25  35    28   233

### Validation

              precision    recall  f1-score   support

           N       0.48      0.78      0.60        46
         NEU       0.00      0.00      0.00        15
        NONE       0.75      0.27      0.40        22
           P       0.53      0.50      0.52        34

   micro avg       0.50      0.50      0.50       117
   macro avg       0.44      0.39      0.38       117
weighted avg       0.48      0.50      0.46       117

           N   NEU  NONE  P
True/Pred
N          36  9    13    17
NEU         2  0     0     0
NONE        2  0     6     0
P           6  6     3    17

### Test

Accuracy: 0.5518423307626392
Loss: 1.1145818150307012
              precision    recall  f1-score   support

           N       0.54      0.87      0.66       456
         NEU       0.00      0.00      0.00       148
        NONE       0.46      0.19      0.27       224
           P       0.62      0.60      0.61       339

   micro avg       0.55      0.55      0.55      1167
   macro avg       0.41      0.42      0.39      1167
weighted avg       0.48      0.55      0.49      1167

           N    NEU  NONE  P
True/Pred
N          397  99   137   109
NEU          2   0     2     2
NONE        17   9    42    23
P           40  40    43   205

### Fold number: 7. Name: 36ec954cb3874151a6b5560bb3aa2548

### Training

              precision    recall  f1-score   support

           N       0.62      0.92      0.74       411
         NEU       0.92      0.16      0.28       134
        NONE       0.84      0.40      0.55       201
           P       0.71      0.73      0.72       304

   micro avg       0.67      0.67      0.67      1050
   macro avg       0.77      0.56      0.57      1050
weighted avg       0.73      0.67      0.64      1050

           N    NEU  NONE  P
True/Pred
N          380  73   89     75
NEU          0  22    1      1
NONE         7   3   81      5
P           24  36   30    223

### Validation

              precision    recall  f1-score   support

           N       0.53      0.89      0.66        45
         NEU       0.00      0.00      0.00        15
        NONE       0.30      0.14      0.19        22
           P       0.67      0.59      0.62        34

   micro avg       0.54      0.54      0.54       116
   macro avg       0.37      0.40      0.37       116
weighted avg       0.46      0.54      0.48       116

           N   NEU  NONE  P
True/Pred
N          40  9    16    11
NEU         0  0     0     0
NONE        1  3     3     3
P           4  3     3    20

### Test

Accuracy: 0.5432733504712939
Loss: 1.109377505758707
              precision    recall  f1-score   support

           N       0.53      0.87      0.66       456
         NEU       0.00      0.00      0.00       148
        NONE       0.46      0.19      0.27       224
           P       0.61      0.58      0.60       339

   micro avg       0.54      0.54      0.54      1167
   macro avg       0.40      0.41      0.38      1167
weighted avg       0.47      0.54      0.48      1167

           N    NEU  NONE  P
True/Pred
N          396  106  130   118
NEU          2    0    1     3
NONE        19    9   42    22
P           39   33   51   196

### Fold number: 8. Name: 1403918b41e8494aa63273e5d20e647c

### Training

              precision    recall  f1-score   support

           N       0.62      0.93      0.75       411
         NEU       0.88      0.10      0.19       134
        NONE       0.81      0.40      0.53       201
           P       0.73      0.78      0.75       304

   micro avg       0.68      0.68      0.68      1050
   macro avg       0.76      0.55      0.55      1050
weighted avg       0.72      0.68      0.64      1050

           N    NEU  NONE  P
True/Pred
N          381  79   88     62
NEU          0  14    2      0
NONE         7   6   80      6
P           23  35   31    236

### Validation

              precision    recall  f1-score   support

           N       0.49      0.84      0.62        45
         NEU       0.00      0.00      0.00        15
        NONE       0.12      0.05      0.07        22
           P       0.50      0.41      0.45        34

   micro avg       0.46      0.46      0.46       116
   macro avg       0.28      0.33      0.28       116
weighted avg       0.36      0.46      0.38       116

           N   NEU  NONE  P
True/Pred
N          38  8    16    16
NEU         0  0     0     2
NONE        3  2     1     2
P           4  5     5    14

### Test

Accuracy: 0.5398457583547558
Loss: 1.1213923137375246
              precision    recall  f1-score   support

           N       0.52      0.88      0.65       456
         NEU       0.25      0.01      0.01       148
        NONE       0.44      0.19      0.27       224
           P       0.63      0.55      0.59       339

   micro avg       0.54      0.54      0.54      1167
   macro avg       0.46      0.41      0.38      1167
weighted avg       0.50      0.54      0.48      1167

           N    NEU  NONE  P
True/Pred
N          399  107  138   126
NEU          1    1    1     1
NONE        21    9   43    25
P           35   31   42   187

### Fold number: 9. Name: e90697c99b024caeb2df67bafdbbb9c6

### Training

              precision    recall  f1-score   support

           N       0.60      0.95      0.74       411
         NEU       0.95      0.15      0.26       134
        NONE       0.84      0.36      0.51       201
           P       0.74      0.73      0.74       305

   micro avg       0.67      0.67      0.67      1051
   macro avg       0.78      0.55      0.56      1051
weighted avg       0.73      0.67      0.63      1051

           N    NEU  NONE  P
True/Pred
N          389  76   101    79
NEU          0  20     1     0
NONE         6   4    73     4
P           16  34    26   222

### Validation

              precision    recall  f1-score   support

           N       0.54      0.91      0.68        45
         NEU       0.00      0.00      0.00        15
        NONE       0.75      0.27      0.40        22
           P       0.72      0.64      0.68        33

   micro avg       0.59      0.59      0.59       115
   macro avg       0.50      0.46      0.44       115
weighted avg       0.56      0.59      0.54       115

           N   NEU  NONE  P
True/Pred
N          41  13   12    10
NEU         2   0    0     0
NONE        0   0    6     2
P           2   2    4    21

### Test

Accuracy: 0.5347043701799485
Loss: 1.1131036720061218
              precision    recall  f1-score   support

           N       0.52      0.87      0.65       456
         NEU       0.00      0.00      0.00       148
        NONE       0.44      0.19      0.26       224
           P       0.61      0.55      0.58       339

   micro avg       0.53      0.53      0.53      1167
   macro avg       0.39      0.40      0.37      1167
weighted avg       0.47      0.53      0.47      1167

           N    NEU  NONE  P
True/Pred
N          397  104  137   131
NEU          2    0    0     0
NONE        20   10   42    23
P           37   34   45   185

### Fold number: 10. Name: 26d618a8f3154e33b4d7f792c03a2c20

### Training

              precision    recall  f1-score   support

           N       0.61      0.93      0.73       411
         NEU       0.91      0.07      0.14       135
        NONE       0.80      0.35      0.49       201
           P       0.70      0.74      0.72       305

   micro avg       0.65      0.65      0.65      1052
   macro avg       0.75      0.52      0.52      1052
weighted avg       0.71      0.65      0.61      1052

           N    NEU  NONE  P
True/Pred
N          381  79   97     71
NEU          0  10    0      1
NONE         6   6   71      6
P           24  40   33    227

### Validation

              precision    recall  f1-score   support

           N       0.57      0.82      0.67        45
         NEU       0.50      0.07      0.12        14
        NONE       0.50      0.09      0.15        22
           P       0.53      0.70      0.61        33

   micro avg       0.55      0.55      0.55       114
   macro avg       0.53      0.42      0.39       114
weighted avg       0.54      0.55      0.49       114

           N   NEU  NONE  P
True/Pred
N          37  9    10     9
NEU         1  1     0     0
NONE        1  0     2     1
P           6  4    10    23

### Test

Accuracy: 0.5441302485004285
Loss: 1.1079588988397964
              precision    recall  f1-score   support

           N       0.52      0.88      0.66       456
         NEU       0.00      0.00      0.00       148
        NONE       0.41      0.17      0.24       224
           P       0.65      0.58      0.61       339

   micro avg       0.54      0.54      0.54      1167
   macro avg       0.39      0.41      0.38      1167
weighted avg       0.47      0.54      0.48      1167

           N    NEU  NONE  P
True/Pred
N          401  103  143   118
NEU          2    0    1     2
NONE        22   11   39    24
P           31   34   41   195

## 14. Creating models with embeddings: tweets.txt.usu.10_w.kvs

### Mean Accuracies and losses

   train_acc_mean  train_acc_stdev  val_acc_mean  val_acc_stdev
0  0.662471        0.006493         0.536903      0.031913

### Accuracies and losses by Stratified KFold (folds with balanced class distributions)

  model name                         train_acc  train_loss  val_acc   val_loss
0  fa5be90e48fa497994690a10ee4ee5ac  0.656489   0.869577    0.576271  1.046154
1  6e9d6cc5ba084996bbc39814292435ac  0.659351   0.870704    0.533898  1.066784
2  33e98382b6c74652ab8ba7b0216fce16  0.660305   0.861108    0.508475  1.108317
3  357f15af23d24fdc92d92d35094c9068  0.659676   0.863045    0.495726  1.131282
4  38591cbd4ccc4cb5b6d912af1e50338b  0.653003   0.865632    0.564103  1.057897
5  5db479ceccff43a2bfa9ebc966a3e021  0.676835   0.871936    0.495726  1.171961
6  9793b59039034e63a1b9e30691998bac  0.663810   0.868613    0.586207  1.098434
7  6d4a4c12de3d49c381a73b3743cb96b0  0.663810   0.865629    0.534483  1.097277
8  fc95c54724bc466fb67762554356d249  0.665081   0.865376    0.547826  1.086065
9  9baa952fa40542c68f8a09891c10469e  0.666350   0.848409    0.526316  1.167894

## 14. tweets.txt.usu.10_w.kvs

### Fold number: 1. Name: fa5be90e48fa497994690a10ee4ee5ac

### Training

              precision    recall  f1-score   support

           N       0.59      0.94      0.72       410
         NEU       0.95      0.14      0.25       134
        NONE       0.83      0.38      0.52       200
           P       0.73      0.69      0.71       304

   micro avg       0.66      0.66      0.66      1048
   macro avg       0.78      0.54      0.55      1048
weighted avg       0.72      0.66      0.62      1048

           N    NEU  NONE  P
True/Pred
N          384  80   98     88
NEU          0  19    1      0
NONE         4   5   75      6
P           22  30   26    210

### Validation

              precision    recall  f1-score   support

           N       0.56      0.83      0.67        46
         NEU       0.00      0.00      0.00        15
        NONE       0.58      0.30      0.40        23
           P       0.64      0.68      0.66        34

   micro avg       0.58      0.58      0.58       118
   macro avg       0.45      0.45      0.43       118
weighted avg       0.52      0.58      0.53       118

           N   NEU  NONE  P
True/Pred
N          38  8    13     9
NEU         1  0     0     1
NONE        3  1     7     1
P           4  6     3    23

### Test

Accuracy: 0.5407026563838904
Loss: 1.1187556411078108
              precision    recall  f1-score   support

           N       0.52      0.87      0.66       456
         NEU       0.40      0.01      0.03       148
        NONE       0.44      0.17      0.24       224
           P       0.61      0.57      0.59       339

   micro avg       0.54      0.54      0.54      1167
   macro avg       0.49      0.41      0.38      1167
weighted avg       0.52      0.54      0.48      1167

           N    NEU  NONE  P
True/Pred
N          398  105  134   122
NEU          2    2    1     0
NONE        16    9   38    24
P           40   32   51   193

### Fold number: 2. Name: 6e9d6cc5ba084996bbc39814292435ac

### Training

              precision    recall  f1-score   support

           N       0.60      0.94      0.73       410
         NEU       0.88      0.11      0.20       134
        NONE       0.83      0.34      0.48       200
           P       0.72      0.74      0.73       304

   micro avg       0.66      0.66      0.66      1048
   macro avg       0.76      0.53      0.53      1048
weighted avg       0.72      0.66      0.61      1048

           N    NEU  NONE  P
True/Pred
N          385  78   100    75
NEU          0  15     1     1
NONE         6   4    67     4
P           19  37    32   224

### Validation

              precision    recall  f1-score   support

           N       0.53      0.78      0.63        46
         NEU       0.00      0.00      0.00        15
        NONE       0.54      0.30      0.39        23
           P       0.54      0.59      0.56        34

   micro avg       0.53      0.53      0.53       118
   macro avg       0.40      0.42      0.40       118
weighted avg       0.47      0.53      0.48       118

           N   NEU  NONE  P
True/Pred
N          36  7    12    13
NEU         0  0     0     0
NONE        2  3     7     1
P           8  5     4    20

### Test

Accuracy: 0.5415595544130248
Loss: 1.1065337648804099
              precision    recall  f1-score   support

           N       0.52      0.87      0.65       456
         NEU       0.17      0.01      0.01       148
        NONE       0.45      0.17      0.24       224
           P       0.62      0.58      0.60       339

   micro avg       0.54      0.54      0.54      1167
   macro avg       0.44      0.41      0.38      1167
weighted avg       0.49      0.54      0.48      1167

           N    NEU  NONE  P
True/Pred
N          396  107  139   119
NEU          3    1    1     1
NONE        16    9   37    21
P           41   31   47   198

### Fold number: 3. Name: 33e98382b6c74652ab8ba7b0216fce16

### Training

              precision    recall  f1-score   support

           N       0.61      0.93      0.74       410
         NEU       0.88      0.11      0.20       134
        NONE       0.82      0.36      0.50       200
           P       0.71      0.73      0.72       304

   micro avg       0.66      0.66      0.66      1048
   macro avg       0.75      0.53      0.54      1048
weighted avg       0.71      0.66      0.62      1048

           N    NEU  NONE  P
True/Pred
N          383  72   99     76
NEU          0  15    1      1
NONE         3   8   72      5
P           24  39   28    222

### Validation

              precision    recall  f1-score   support

           N       0.48      0.67      0.56        46
         NEU       0.00      0.00      0.00        15
        NONE       0.62      0.35      0.44        23
           P       0.51      0.62      0.56        34

   micro avg       0.51      0.51      0.51       118
   macro avg       0.40      0.41      0.39       118
weighted avg       0.46      0.51      0.47       118

           N   NEU  NONE  P
True/Pred
N          31  13   9     11
NEU         0   0   0      0
NONE        3   0   8      2
P          12   2   6     21

### Test

Accuracy: 0.5467009425878321
Loss: 1.1084183585552105
              precision    recall  f1-score   support

           N       0.54      0.88      0.67       456
         NEU       0.00      0.00      0.00       148
        NONE       0.44      0.19      0.27       224
           P       0.61      0.58      0.59       339

   micro avg       0.55      0.55      0.55      1167
   macro avg       0.40      0.41      0.38      1167
weighted avg       0.47      0.55      0.48      1167

           N    NEU  NONE  P
True/Pred
N          400  105  127   115
NEU          3    0    1     0
NONE        16   10   43    29
P           37   33   53   195

### Fold number: 4. Name: 357f15af23d24fdc92d92d35094c9068

### Training

              precision    recall  f1-score   support

           N       0.60      0.94      0.73       410
         NEU       0.92      0.08      0.15       134
        NONE       0.82      0.35      0.49       201
           P       0.73      0.73      0.73       304

   micro avg       0.66      0.66      0.66      1049
   macro avg       0.77      0.53      0.53      1049
weighted avg       0.72      0.66      0.61      1049

           N    NEU  NONE  P
True/Pred
N          387  83   102    74
NEU          0  11     1     0
NONE         2   7    71     7
P           21  33    27   223

### Validation

              precision    recall  f1-score   support

           N       0.49      0.85      0.62        46
         NEU       0.00      0.00      0.00        15
        NONE       0.50      0.09      0.15        22
           P       0.50      0.50      0.50        34

   micro avg       0.50      0.50      0.50       117
   macro avg       0.37      0.36      0.32       117
weighted avg       0.43      0.50      0.42       117

           N   NEU  NONE  P
True/Pred
N          39   5   18    17
NEU         0   0    0     0
NONE        2   0    2     0
P           5  10    2    17

### Test

Accuracy: 0.5407026563838904
Loss: 1.1166459432780558
              precision    recall  f1-score   support

           N       0.52      0.89      0.66       456
         NEU       0.33      0.01      0.01       148
        NONE       0.42      0.17      0.24       224
           P       0.64      0.55      0.59       339

   micro avg       0.54      0.54      0.54      1167
   macro avg       0.48      0.40      0.38      1167
weighted avg       0.51      0.54      0.48      1167

           N    NEU  NONE  P
True/Pred
N          406  106  142   128
NEU          2    1    0     0
NONE        17   11   38    25
P           31   30   44   186

### Fold number: 5. Name: 38591cbd4ccc4cb5b6d912af1e50338b

### Training

              precision    recall  f1-score   support

           N       0.59      0.94      0.72       410
         NEU       0.94      0.12      0.21       134
        NONE       0.83      0.34      0.49       201
           P       0.73      0.71      0.72       304

   micro avg       0.65      0.65      0.65      1049
   macro avg       0.77      0.53      0.53      1049
weighted avg       0.72      0.65      0.61      1049

           N    NEU  NONE  P
True/Pred
N          384  79   105    84
NEU          0  16     1     0
NONE         5   5    69     4
P           21  34    26   216

### Validation

              precision    recall  f1-score   support

           N       0.59      0.87      0.70        46
         NEU       0.00      0.00      0.00        15
        NONE       0.80      0.18      0.30        22
           P       0.50      0.65      0.56        34

   micro avg       0.56      0.56      0.56       117
   macro avg       0.47      0.42      0.39       117
weighted avg       0.53      0.56      0.50       117

           N   NEU  NONE  P
True/Pred
N          40  7    10    11
NEU         0  0     0     0
NONE        0  0     4     1
P           6  8     8    22

### Test

Accuracy: 0.5424164524421594
Loss: 1.1153651412091574
              precision    recall  f1-score   support

           N       0.51      0.88      0.65       456
         NEU       0.00      0.00      0.00       148
        NONE       0.48      0.18      0.26       224
           P       0.64      0.57      0.60       339

   micro avg       0.54      0.54      0.54      1167
   macro avg       0.41      0.41      0.38      1167
weighted avg       0.48      0.54      0.48      1167

           N    NEU  NONE  P
True/Pred
N          399  114  136   126
NEU          4    0    0     0
NONE        16    9   41    20
P           37   25   47   193

### Fold number: 6. Name: 5db479ceccff43a2bfa9ebc966a3e021

### Training

              precision    recall  f1-score   support

           N       0.62      0.93      0.75       410
         NEU       0.95      0.15      0.26       134
        NONE       0.82      0.38      0.52       201
           P       0.72      0.76      0.74       304

   micro avg       0.68      0.68      0.68      1049
   macro avg       0.78      0.56      0.57      1049
weighted avg       0.73      0.68      0.64      1049

           N    NEU  NONE  P
True/Pred
N          381  74   89     67
NEU          0  20    1      0
NONE         6   6   77      5
P           23  34   34    232

### Validation

              precision    recall  f1-score   support

           N       0.49      0.80      0.61        46
         NEU       0.00      0.00      0.00        15
        NONE       0.46      0.27      0.34        22
           P       0.54      0.44      0.48        34

   micro avg       0.50      0.50      0.50       117
   macro avg       0.37      0.38      0.36       117
weighted avg       0.43      0.50      0.44       117

           N   NEU  NONE  P
True/Pred
N          37  11   12    16
NEU         0   0    0     0
NONE        4   0    6     3
P           5   4    4    15

### Test

Accuracy: 0.5578406169665809
Loss: 1.109328273567912
              precision    recall  f1-score   support

           N       0.55      0.88      0.67       456
         NEU       0.00      0.00      0.00       148
        NONE       0.48      0.21      0.30       224
           P       0.61      0.59      0.60       339

   micro avg       0.56      0.56      0.56      1167
   macro avg       0.41      0.42      0.39      1167
weighted avg       0.48      0.56      0.50      1167

           N    NEU  NONE  P
True/Pred
N          402  106  118   111
NEU          1    0    0     1
NONE        16   11   48    26
P           37   31   58   201

### Fold number: 7. Name: 9793b59039034e63a1b9e30691998bac

### Training

              precision    recall  f1-score   support

           N       0.61      0.92      0.73       411
         NEU       0.90      0.07      0.12       134
        NONE       0.80      0.38      0.52       201
           P       0.72      0.76      0.74       304

   micro avg       0.66      0.66      0.66      1050
   macro avg       0.76      0.53      0.53      1050
weighted avg       0.72      0.66      0.62      1050

           N    NEU  NONE  P
True/Pred
N          379  86   92     65
NEU          0   9    1      0
NONE         8   4   77      7
P           24  35   31    232

### Validation

              precision    recall  f1-score   support

           N       0.60      0.91      0.73        45
         NEU       0.00      0.00      0.00        15
        NONE       0.50      0.23      0.31        22
           P       0.59      0.65      0.62        34

   micro avg       0.59      0.59      0.59       116
   macro avg       0.42      0.45      0.41       116
weighted avg       0.50      0.59      0.52       116

           N   NEU  NONE  P
True/Pred
N          41  9    8     10
NEU         0  0    0      1
NONE        1  3    5      1
P           3  3    9     22

### Test

Accuracy: 0.5535561268209083
Loss: 1.1154406650641029
              precision    recall  f1-score   support

           N       0.55      0.87      0.67       456
         NEU       0.00      0.00      0.00       148
        NONE       0.43      0.20      0.27       224
           P       0.61      0.60      0.61       339

   micro avg       0.55      0.55      0.55      1167
   macro avg       0.40      0.42      0.39      1167
weighted avg       0.47      0.55      0.49      1167

           N    NEU  NONE  P
True/Pred
N          397  100  123   106
NEU          0    0    0     1
NONE        18   13   44    27
P           41   35   57   205

### Fold number: 8. Name: 6d4a4c12de3d49c381a73b3743cb96b0

### Training

              precision    recall  f1-score   support

           N       0.60      0.94      0.73       411
         NEU       0.94      0.11      0.20       134
        NONE       0.84      0.38      0.52       201
           P       0.73      0.72      0.72       304

   micro avg       0.66      0.66      0.66      1050
   macro avg       0.78      0.54      0.54      1050
weighted avg       0.73      0.66      0.62      1050

           N    NEU  NONE  P
True/Pred
N          386  79   97     78
NEU          0  15    1      0
NONE         4   5   76      6
P           21  35   27    220

### Validation

              precision    recall  f1-score   support

           N       0.48      0.87      0.62        45
         NEU       1.00      0.07      0.12        15
        NONE       0.60      0.14      0.22        22
           P       0.66      0.56      0.60        34

   micro avg       0.53      0.53      0.53       116
   macro avg       0.68      0.41      0.39       116
weighted avg       0.62      0.53      0.48       116

           N   NEU  NONE  P
True/Pred
N          39  10   17    15
NEU         0   1    0     0
NONE        2   0    3     0
P           4   4    2    19

### Test

Accuracy: 0.5424164524421594
Loss: 1.1135133757644995
              precision    recall  f1-score   support

           N       0.52      0.87      0.65       456
         NEU       0.00      0.00      0.00       148
        NONE       0.45      0.18      0.26       224
           P       0.63      0.57      0.60       339

   micro avg       0.54      0.54      0.54      1167
   macro avg       0.40      0.41      0.38      1167
weighted avg       0.47      0.54      0.48      1167

           N    NEU  NONE  P
True/Pred
N          398  111  134   119
NEU          2    0    1     2
NONE        15   11   41    24
P           41   26   48   194

### Fold number: 9. Name: fc95c54724bc466fb67762554356d249

### Training

              precision    recall  f1-score   support

           N       0.60      0.94      0.73       411
         NEU       0.94      0.12      0.21       134
        NONE       0.84      0.38      0.53       201
           P       0.74      0.72      0.73       305

   micro avg       0.67      0.67      0.67      1051
   macro avg       0.78      0.54      0.55      1051
weighted avg       0.73      0.67      0.63      1051

           N    NEU  NONE  P
True/Pred
N          386  81   96     80
NEU          0  16    1      0
NONE         6   4   77      5
P           19  33   27    220

### Validation

              precision    recall  f1-score   support

           N       0.51      0.89      0.65        45
         NEU       0.50      0.07      0.12        15
        NONE       0.50      0.09      0.15        22
           P       0.65      0.61      0.62        33

   micro avg       0.55      0.55      0.55       115
   macro avg       0.54      0.41      0.39       115
weighted avg       0.55      0.55      0.48       115

           N   NEU  NONE  P
True/Pred
N          40  10   17    11
NEU         1   1    0     0
NONE        0   0    2     2
P           4   4    3    20

### Test

Accuracy: 0.5475578406169666
Loss: 1.1091306491564359
              precision    recall  f1-score   support

           N       0.52      0.90      0.66       456
         NEU       0.00      0.00      0.00       148
        NONE       0.45      0.17      0.25       224
           P       0.65      0.56      0.60       339

   micro avg       0.55      0.55      0.55      1167
   macro avg       0.40      0.41      0.38      1167
weighted avg       0.48      0.55      0.48      1167

           N    NEU  NONE  P
True/Pred
N          410  109  139   125
NEU          3    0    0     1
NONE        15   10   38    22
P           28   29   47   191

### Fold number: 10. Name: 9baa952fa40542c68f8a09891c10469e

### Training

              precision    recall  f1-score   support

           N       0.61      0.92      0.74       411
         NEU       1.00      0.15      0.26       135
        NONE       0.79      0.38      0.52       201
           P       0.71      0.73      0.72       305

   micro avg       0.67      0.67      0.67      1052
   macro avg       0.78      0.55      0.56      1052
weighted avg       0.73      0.67      0.63      1052

           N    NEU  NONE  P
True/Pred
N          380  77   92     72
NEU          0  20    0      0
NONE         6   5   77      9
P           25  33   32    224

### Validation

              precision    recall  f1-score   support

           N       0.51      0.78      0.62        45
         NEU       0.00      0.00      0.00        14
        NONE       0.60      0.27      0.37        22
           P       0.58      0.58      0.58        33

   micro avg       0.53      0.53      0.53       114
   macro avg       0.42      0.41      0.39       114
weighted avg       0.49      0.53      0.48       114

           N   NEU  NONE  P
True/Pred
N          35  8    11    14
NEU         2  0     1     0
NONE        2  2     6     0
P           6  4     4    19

### Test

Accuracy: 0.5458440445586975
Loss: 1.1165868530288066
              precision    recall  f1-score   support

           N       0.52      0.87      0.65       456
         NEU       0.14      0.01      0.01       148
        NONE       0.48      0.22      0.30       224
           P       0.64      0.56      0.60       339

   micro avg       0.55      0.55      0.55      1167
   macro avg       0.45      0.41      0.39      1167
weighted avg       0.50      0.55      0.49      1167

           N    NEU  NONE  P
True/Pred
N          395  109  131   121
NEU          3    1    1     2
NONE        20   10   50    25
P           38   28   42   191

## 15. Creating models with embeddings: tweets.txt.usu.8_w.kvs

### Mean Accuracies and losses

   train_acc_mean  train_acc_stdev  val_acc_mean  val_acc_stdev
0  0.669713        0.005633         0.544383      0.03781

### Accuracies and losses by Stratified KFold (folds with balanced class distributions)

  model name                         train_acc  train_loss  val_acc   val_loss
0  5ae41c686c544fdcad50474540545a14  0.663168   0.872879    0.576271  1.050118
1  38697cd3cd56406580f838169debb684  0.662214   0.892752    0.576271  1.044113
2  aa23ddf709344f7bae923b7cbe0b01ae  0.669847   0.870880    0.593220  1.088579
3  62518b93893e4d41b141970e2688ea12  0.662536   0.865344    0.572650  1.129103
4  c567a3baf58c495da99d210b9707f52f  0.672069   0.855657    0.529915  1.123815
5  50ab0dad0b374f23ac4ec628cd72e791  0.674929   0.843431    0.478632  1.211692
6  026e2195c9d043e2ae0f08230366a596  0.676190   0.858882    0.568966  1.115186
7  ddd5c0ac0d154d6395b7653429ec08db  0.677143   0.862867    0.508621  1.093597
8  57412edbdc334956a9fce73190f18c87  0.667935   0.856547    0.521739  1.126470
9  8fe5f34ad66149ae91799abc3233c63d  0.671103   0.854681    0.517544  1.128606

## 15. tweets.txt.usu.8_w.kvs

### Fold number: 1. Name: 5ae41c686c544fdcad50474540545a14

### Training

              precision    recall  f1-score   support

           N       0.61      0.93      0.74       410
         NEU       0.84      0.12      0.21       134
        NONE       0.84      0.35      0.49       200
           P       0.70      0.75      0.72       304

   micro avg       0.66      0.66      0.66      1048
   macro avg       0.75      0.54      0.54      1048
weighted avg       0.71      0.66      0.62      1048

           N    NEU  NONE  P
True/Pred
N          380  74   94     70
NEU          0  16    2      1
NONE         3   6   70      4
P           27  38   34    229

### Validation

              precision    recall  f1-score   support

           N       0.55      0.89      0.68        46
         NEU       0.00      0.00      0.00        15
        NONE       0.50      0.17      0.26        23
           P       0.64      0.68      0.66        34

   micro avg       0.58      0.58      0.58       118
   macro avg       0.42      0.44      0.40       118
weighted avg       0.50      0.58      0.51       118

           N   NEU  NONE  P
True/Pred
N          41  8    16     9
NEU         0  0     0     0
NONE        1  1     4     2
P           4  6     3    23

### Test

Accuracy: 0.5526992287917738
Loss: 1.1028306859187846
              precision    recall  f1-score   support

           N       0.54      0.87      0.67       456
         NEU       0.00      0.00      0.00       148
        NONE       0.45      0.16      0.24       224
           P       0.61      0.63      0.62       339

   micro avg       0.55      0.55      0.55      1167
   macro avg       0.40      0.41      0.38      1167
weighted avg       0.47      0.55      0.48      1167

           N    NEU  NONE  P
True/Pred
N          397  104  130   104
NEU          1    0    0     1
NONE        15    7   36    22
P           43   37   58   212

### Fold number: 2. Name: 38697cd3cd56406580f838169debb684

### Training

              precision    recall  f1-score   support

           N       0.61      0.94      0.74       410
         NEU       0.88      0.11      0.20       134
        NONE       0.78      0.34      0.47       200
           P       0.73      0.74      0.74       304

   micro avg       0.66      0.66      0.66      1048
   macro avg       0.75      0.53      0.54      1048
weighted avg       0.71      0.66      0.62      1048

           N    NEU  NONE  P
True/Pred
N          386  76   103    72
NEU          0  15     1     1
NONE         6   7    68     6
P           18  36    28   225

### Validation

              precision    recall  f1-score   support

           N       0.55      0.89      0.68        46
         NEU       0.00      0.00      0.00        15
        NONE       0.60      0.13      0.21        23
           P       0.63      0.71      0.67        34

   micro avg       0.58      0.58      0.58       118
   macro avg       0.44      0.43      0.39       118
weighted avg       0.51      0.58      0.50       118

           N   NEU  NONE  P
True/Pred
N          41  10   15     9
NEU         0   0    0     0
NONE        0   1    3     1
P           5   4    5    24

### Test

Accuracy: 0.5432733504712939
Loss: 1.1083688986717182
              precision    recall  f1-score   support

           N       0.52      0.88      0.65       456
         NEU       0.50      0.01      0.01       148
        NONE       0.46      0.17      0.24       224
           P       0.62      0.58      0.60       339

   micro avg       0.54      0.54      0.54      1167
   macro avg       0.53      0.41      0.38      1167
weighted avg       0.54      0.54      0.48      1167

           N    NEU  NONE  P
True/Pred
N          399  108  138   124
NEU          1    1    0     0
NONE        17    8   37    18
P           39   31   49   197

### Fold number: 3. Name: aa23ddf709344f7bae923b7cbe0b01ae

### Training

              precision    recall  f1-score   support

           N       0.61      0.95      0.74       410
         NEU       0.94      0.12      0.21       134
        NONE       0.85      0.38      0.52       200
           P       0.73      0.72      0.72       304

   micro avg       0.67      0.67      0.67      1048
   macro avg       0.78      0.54      0.55      1048
weighted avg       0.73      0.67      0.63      1048

           N    NEU  NONE  P
True/Pred
N          391  72   98     79
NEU          0  16    0      1
NONE         3   6   75      4
P           16  40   27    220

### Validation

              precision    recall  f1-score   support

           N       0.56      0.85      0.67        46
         NEU       1.00      0.07      0.12        15
        NONE       0.60      0.13      0.21        23
           P       0.64      0.79      0.71        34

   micro avg       0.59      0.59      0.59       118
   macro avg       0.70      0.46      0.43       118
weighted avg       0.65      0.59      0.52       118

           N   NEU  NONE  P
True/Pred
N          39  9    15     7
NEU         0  1     0     0
NONE        2  0     3     0
P           5  5     5    27

### Test

Accuracy: 0.5501285347043702
Loss: 1.1038163061534492
              precision    recall  f1-score   support

           N       0.53      0.86      0.66       456
         NEU       0.00      0.00      0.00       148
        NONE       0.46      0.21      0.28       224
           P       0.63      0.60      0.61       339

   micro avg       0.55      0.55      0.55      1167
   macro avg       0.41      0.42      0.39      1167
weighted avg       0.48      0.55      0.49      1167

           N    NEU  NONE  P
True/Pred
N          394  106  130   112
NEU          2    0    0     3
NONE        22   10   46    22
P           38   32   48   202

### Fold number: 4. Name: 62518b93893e4d41b141970e2688ea12

### Training

              precision    recall  f1-score   support

           N       0.61      0.92      0.74       410
         NEU       0.93      0.10      0.19       134
        NONE       0.79      0.38      0.52       201
           P       0.71      0.74      0.72       304

   micro avg       0.66      0.66      0.66      1049
   macro avg       0.76      0.54      0.54      1049
weighted avg       0.71      0.66      0.62      1049

           N    NEU  NONE  P
True/Pred
N          379  78   91     71
NEU          0  14    0      1
NONE         7   7   77      7
P           24  35   33    225

### Validation

              precision    recall  f1-score   support

           N       0.57      0.89      0.69        46
         NEU       0.00      0.00      0.00        15
        NONE       0.67      0.36      0.47        22
           P       0.60      0.53      0.56        34

   micro avg       0.57      0.57      0.57       117
   macro avg       0.46      0.45      0.43       117
weighted avg       0.52      0.57      0.53       117

           N   NEU  NONE  P
True/Pred
N          41  7    11    13
NEU         1  0     1     1
NONE        2  0     8     2
P           2  8     2    18

### Test

Accuracy: 0.5518423307626392
Loss: 1.1081084529475356
              precision    recall  f1-score   support

           N       0.53      0.88      0.66       456
         NEU       0.00      0.00      0.00       148
        NONE       0.46      0.22      0.30       224
           P       0.64      0.57      0.60       339

   micro avg       0.55      0.55      0.55      1167
   macro avg       0.41      0.42      0.39      1167
weighted avg       0.48      0.55      0.49      1167

           N    NEU  NONE  P
True/Pred
N          400  107  131   116
NEU          0    0    0     2
NONE        18   13   50    27
P           38   28   43   194

### Fold number: 5. Name: c567a3baf58c495da99d210b9707f52f

### Training

              precision    recall  f1-score   support

           N       0.62      0.94      0.75       410
         NEU       0.93      0.10      0.19       134
        NONE       0.80      0.38      0.51       201
           P       0.71      0.76      0.73       304

   micro avg       0.67      0.67      0.67      1049
   macro avg       0.77      0.54      0.55      1049
weighted avg       0.72      0.67      0.63      1049

           N    NEU  NONE  P
True/Pred
N          385  74   90     68
NEU          0  14    1      0
NONE         8   5   76      6
P           17  41   34    230

### Validation

              precision    recall  f1-score   support

           N       0.53      0.83      0.64        46
         NEU       0.00      0.00      0.00        15
        NONE       0.50      0.18      0.27        22
           P       0.54      0.59      0.56        34

   micro avg       0.53      0.53      0.53       117
   macro avg       0.39      0.40      0.37       117
weighted avg       0.46      0.53      0.47       117

           N   NEU  NONE  P
True/Pred
N          38  8    12    14
NEU         0  0     0     0
NONE        1  3     4     0
P           7  4     6    20

### Test

Accuracy: 0.5467009425878321
Loss: 1.1030146375250096
              precision    recall  f1-score   support

           N       0.54      0.87      0.66       456
         NEU       0.00      0.00      0.00       148
        NONE       0.44      0.20      0.27       224
           P       0.60      0.58      0.59       339

   micro avg       0.55      0.55      0.55      1167
   macro avg       0.40      0.41      0.38      1167
weighted avg       0.47      0.55      0.48      1167

           N    NEU  NONE  P
True/Pred
N          398  103  124   118
NEU          1    0    0     0
NONE        17   13   44    25
P           40   32   56   196

### Fold number: 6. Name: 50ab0dad0b374f23ac4ec628cd72e791

### Training

              precision    recall  f1-score   support

           N       0.61      0.94      0.74       410
         NEU       0.95      0.16      0.27       134
        NONE       0.85      0.36      0.51       201
           P       0.73      0.75      0.74       304

   micro avg       0.67      0.67      0.67      1049
   macro avg       0.79      0.55      0.57      1049
weighted avg       0.74      0.67      0.64      1049

           N    NEU  NONE  P
True/Pred
N          386  74   99     70
NEU          0  21    1      0
NONE         4   3   73      6
P           20  36   28    228

### Validation

              precision    recall  f1-score   support

           N       0.51      0.80      0.62        46
         NEU       0.00      0.00      0.00        15
        NONE       0.43      0.14      0.21        22
           P       0.47      0.47      0.47        34

   micro avg       0.48      0.48      0.48       117
   macro avg       0.35      0.35      0.32       117
weighted avg       0.42      0.48      0.42       117

           N   NEU  NONE  P
True/Pred
N          37  9    13    14
NEU         0  0     1     2
NONE        1  1     3     2
P           8  5     5    16

### Test

Accuracy: 0.5578406169665809
Loss: 1.105647535382651
              precision    recall  f1-score   support

           N       0.54      0.88      0.67       456
         NEU       0.14      0.01      0.01       148
        NONE       0.46      0.21      0.28       224
           P       0.65      0.60      0.62       339

   micro avg       0.56      0.56      0.56      1167
   macro avg       0.45      0.42      0.40      1167
weighted avg       0.51      0.56      0.50      1167

           N    NEU  NONE  P
True/Pred
N          402  107  131   111
NEU          3    1    1     2
NONE        16   13   46    24
P           35   27   46   202

### Fold number: 7. Name: 026e2195c9d043e2ae0f08230366a596

### Training

              precision    recall  f1-score   support

           N       0.61      0.95      0.74       411
         NEU       0.95      0.15      0.26       134
        NONE       0.83      0.37      0.51       201
           P       0.74      0.74      0.74       304

   micro avg       0.68      0.68      0.68      1050
   macro avg       0.79      0.55      0.56      1050
weighted avg       0.74      0.68      0.64      1050

           N    NEU  NONE  P
True/Pred
N          390  75   102    69
NEU          0  20     1     0
NONE         3   3    74     9
P           18  36    24   226

### Validation

              precision    recall  f1-score   support

           N       0.57      0.87      0.68        45
         NEU       0.00      0.00      0.00        15
        NONE       0.64      0.32      0.42        22
           P       0.59      0.59      0.59        34

   micro avg       0.57      0.57      0.57       116
   macro avg       0.45      0.44      0.42       116
weighted avg       0.51      0.57      0.52       116

           N   NEU  NONE  P
True/Pred
N          39  7    11    12
NEU         1  0     1     0
NONE        1  1     7     2
P           4  7     3    20

### Test

Accuracy: 0.5526992287917738
Loss: 1.105932075094511
              precision    recall  f1-score   support

           N       0.52      0.88      0.66       456
         NEU       0.17      0.01      0.01       148
        NONE       0.44      0.19      0.27       224
           P       0.67      0.59      0.63       339

   micro avg       0.55      0.55      0.55      1167
   macro avg       0.45      0.42      0.39      1167
weighted avg       0.51      0.55      0.49      1167

           N    NEU  NONE  P
True/Pred
N          402  112  143   110
NEU          2    1    0     3
NONE        16   11   43    27
P           36   24   38   199

### Fold number: 8. Name: ddd5c0ac0d154d6395b7653429ec08db

### Training

              precision    recall  f1-score   support

           N       0.62      0.95      0.75       411
         NEU       0.94      0.12      0.21       134
        NONE       0.81      0.37      0.51       201
           P       0.74      0.76      0.75       304

   micro avg       0.68      0.68      0.68      1050
   macro avg       0.78      0.55      0.55      1050
weighted avg       0.73      0.68      0.63      1050

           N    NEU  NONE  P
True/Pred
N          390  72   103    65
NEU          0  16     1     0
NONE         2   7    74     8
P           19  39    23   231

### Validation

              precision    recall  f1-score   support

           N       0.51      0.73      0.60        45
         NEU       0.00      0.00      0.00        15
        NONE       0.62      0.23      0.33        22
           P       0.50      0.62      0.55        34

   micro avg       0.51      0.51      0.51       116
   macro avg       0.41      0.39      0.37       116
weighted avg       0.46      0.51      0.46       116

           N   NEU  NONE  P
True/Pred
N          33  11   10    11
NEU         0   0    0     1
NONE        2   0    5     1
P          10   4    7    21

### Test

Accuracy: 0.5475578406169666
Loss: 1.105709881573387
              precision    recall  f1-score   support

           N       0.53      0.86      0.66       456
         NEU       0.00      0.00      0.00       148
        NONE       0.41      0.17      0.24       224
           P       0.62      0.61      0.62       339

   micro avg       0.55      0.55      0.55      1167
   macro avg       0.39      0.41      0.38      1167
weighted avg       0.47      0.55      0.48      1167

           N    NEU  NONE  P
True/Pred
N          394  104  134   105
NEU          1    0    0     2
NONE        19   10   37    24
P           42   34   53   208

### Fold number: 9. Name: 57412edbdc334956a9fce73190f18c87

### Training

              precision    recall  f1-score   support

           N       0.61      0.95      0.74       411
         NEU       0.85      0.13      0.22       134
        NONE       0.84      0.37      0.52       201
           P       0.72      0.72      0.72       305

   micro avg       0.67      0.67      0.67      1051
   macro avg       0.76      0.54      0.55      1051
weighted avg       0.72      0.67      0.63      1051

           N    NEU  NONE  P
True/Pred
N          389  73   98     77
NEU          0  17    1      2
NONE         4   5   75      5
P           18  39   27    221

### Validation

              precision    recall  f1-score   support

           N       0.54      0.84      0.66        45
         NEU       0.00      0.00      0.00        15
        NONE       0.50      0.18      0.27        22
           P       0.50      0.55      0.52        33

   micro avg       0.52      0.52      0.52       115
   macro avg       0.39      0.39      0.36       115
weighted avg       0.45      0.52      0.46       115

           N   NEU  NONE  P
True/Pred
N          38  10   10    12
NEU         1   0    0     0
NONE        1   0    4     3
P           5   5    8    18

### Test

Accuracy: 0.5492716366752356
Loss: 1.1046481041345442
              precision    recall  f1-score   support

           N       0.53      0.88      0.66       456
         NEU       0.00      0.00      0.00       148
        NONE       0.47      0.19      0.27       224
           P       0.62      0.58      0.60       339

   micro avg       0.55      0.55      0.55      1167
   macro avg       0.41      0.41      0.38      1167
weighted avg       0.48      0.55      0.48      1167

           N    NEU  NONE  P
True/Pred
N          401  108  130   119
NEU          0    0    0     2
NONE        16   11   42    20
P           39   29   52   198

### Fold number: 10. Name: 8fe5f34ad66149ae91799abc3233c63d

### Training

              precision    recall  f1-score   support

           N       0.62      0.94      0.75       411
         NEU       0.90      0.13      0.23       135
        NONE       0.79      0.36      0.50       201
           P       0.72      0.75      0.74       305

   micro avg       0.67      0.67      0.67      1052
   macro avg       0.76      0.55      0.55      1052
weighted avg       0.72      0.67      0.63      1052

           N    NEU  NONE  P
True/Pred
N          385  73   95     69
NEU          0  18    1      1
NONE         6   8   73      5
P           20  36   32    230

### Validation

              precision    recall  f1-score   support

           N       0.51      0.82      0.63        45
         NEU       0.00      0.00      0.00        14
        NONE       0.55      0.27      0.36        22
           P       0.55      0.48      0.52        33

   micro avg       0.52      0.52      0.52       114
   macro avg       0.40      0.39      0.38       114
weighted avg       0.47      0.52      0.47       114

           N   NEU  NONE  P
True/Pred
N          37  9    13    14
NEU         0  0     0     1
NONE        0  3     6     2
P           8  2     3    16

### Test

Accuracy: 0.5535561268209083
Loss: 1.0999826193045663
              precision    recall  f1-score   support

           N       0.54      0.87      0.66       456
         NEU       0.20      0.01      0.01       148
        NONE       0.44      0.19      0.26       224
           P       0.63      0.61      0.62       339

   micro avg       0.55      0.55      0.55      1167
   macro avg       0.45      0.42      0.39      1167
weighted avg       0.50      0.55      0.49      1167

           N    NEU  NONE  P
True/Pred
N          397  104  131   107
NEU          2    1    0     2
NONE        17   12   42    24
P           40   31   51   206

## 16. Creating models with embeddings: tweets.txt.usu.12_w.kvs

### Mean Accuracies and losses

   train_acc_mean  train_acc_stdev  val_acc_mean  val_acc_stdev
0  0.658755        0.006421         0.534279      0.019898

### Accuracies and losses by Stratified KFold (folds with balanced class distributions)

  model name                         train_acc  train_loss  val_acc   val_loss
0  58ae48d349604420beedfe03fb40a61b  0.657443   0.876308    0.533898  1.109985
1  143b5fb729e54258a5e9632a6df21073  0.650763   0.871776    0.542373  1.128973
2  0cf19cbd352c4adeade9bf4227a448d6  0.665076   0.874167    0.525424  1.076423
3  366c1b8287754638bdc020c2c8c1abaa  0.656816   0.862551    0.555556  1.085928
4  50658a586e6f402c9ab95908de4c1107  0.649190   0.879992    0.512821  1.117164
5  fb8ff30fc9b14073a7ca67c2f44e4e68  0.660629   0.880795    0.547009  1.094922
6  47878591218f47a2804324d2cb276a1a  0.666667   0.866051    0.508621  1.157189
7  db16c625d68e4db1b946a02f5864fbd7  0.661905   0.880776    0.543103  1.113615
8  18c6d37107fc402bb086e76127fc11da  0.652712   0.873105    0.565217  1.049893
9  30cdb9e1f5ed49618c295b339fae8dfc  0.666350   0.850180    0.508772  1.145611

## 16. tweets.txt.usu.12_w.kvs

### Fold number: 1. Name: 58ae48d349604420beedfe03fb40a61b

### Training

              precision    recall  f1-score   support

           N       0.59      0.93      0.72       410
         NEU       0.91      0.07      0.14       134
        NONE       0.80      0.36      0.50       200
           P       0.75      0.74      0.75       304

   micro avg       0.66      0.66      0.66      1048
   macro avg       0.76      0.53      0.53      1048
weighted avg       0.72      0.66      0.61      1048

           N    NEU  NONE  P
True/Pred
N          381  87   105    74
NEU          0  10     1     0
NONE         7   7    72     4
P           22  30    22   226

### Validation

              precision    recall  f1-score   support

           N       0.53      0.85      0.65        46
         NEU       0.00      0.00      0.00        15
        NONE       0.58      0.30      0.40        23
           P       0.55      0.50      0.52        34

   micro avg       0.53      0.53      0.53       118
   macro avg       0.41      0.41      0.39       118
weighted avg       0.48      0.53      0.48       118

           N   NEU  NONE  P
True/Pred
N          39  9    13    13
NEU         0  0     0     1
NONE        1  1     7     3
P           6  5     3    17

### Test

Accuracy: 0.5467009425878321
Loss: 1.1182219236210251
              precision    recall  f1-score   support

           N       0.52      0.89      0.66       456
         NEU       0.00      0.00      0.00       148
        NONE       0.47      0.21      0.29       224
           P       0.65      0.55      0.59       339

   micro avg       0.55      0.55      0.55      1167
   macro avg       0.41      0.41      0.38      1167
weighted avg       0.48      0.55      0.48      1167

           N    NEU  NONE  P
True/Pred
N          407  109  141   127
NEU          1    0    0     1
NONE        17    9   46    26
P           31   30   37   185

### Fold number: 2. Name: 143b5fb729e54258a5e9632a6df21073

### Training

              precision    recall  f1-score   support

           N       0.60      0.94      0.73       410
         NEU       0.93      0.10      0.18       134
        NONE       0.82      0.34      0.48       200
           P       0.71      0.71      0.71       304

   micro avg       0.65      0.65      0.65      1048
   macro avg       0.76      0.52      0.52      1048
weighted avg       0.71      0.65      0.60      1048

           N    NEU  NONE  P
True/Pred
N          386  76   105    81
NEU          0  13     0     1
NONE         4   5    67     6
P           20  40    28   216

### Validation

              precision    recall  f1-score   support

           N       0.50      0.89      0.64        46
         NEU       0.00      0.00      0.00        15
        NONE       0.43      0.13      0.20        23
           P       0.69      0.59      0.63        34

   micro avg       0.54      0.54      0.54       118
   macro avg       0.40      0.40      0.37       118
weighted avg       0.48      0.54      0.47       118

           N   NEU  NONE  P
True/Pred
N          41  13   15    13
NEU         0   0    0     0
NONE        2   1    3     1
P           3   1    5    20

### Test

Accuracy: 0.5415595544130248
Loss: 1.1166850635263394
              precision    recall  f1-score   support

           N       0.52      0.89      0.66       456
         NEU       0.00      0.00      0.00       148
        NONE       0.44      0.18      0.25       224
           P       0.64      0.55      0.59       339

   micro avg       0.54      0.54      0.54      1167
   macro avg       0.40      0.40      0.38      1167
weighted avg       0.47      0.54      0.48      1167

           N    NEU  NONE  P
True/Pred
N          407  113  139   126
NEU          1    0    1     2
NONE        16    9   40    26
P           32   26   44   185

### Fold number: 3. Name: 0cf19cbd352c4adeade9bf4227a448d6

### Training

              precision    recall  f1-score   support

           N       0.61      0.92      0.74       410
         NEU       0.92      0.08      0.15       134
        NONE       0.80      0.39      0.52       200
           P       0.72      0.76      0.74       304

   micro avg       0.67      0.67      0.67      1048
   macro avg       0.76      0.54      0.54      1048
weighted avg       0.72      0.67      0.62      1048

           N    NEU  NONE  P
True/Pred
N          378  82   91     67
NEU          0  11    1      0
NONE         6   7   77      6
P           26  34   31    231

### Validation

              precision    recall  f1-score   support

           N       0.53      0.78      0.63        46
         NEU       0.00      0.00      0.00        15
        NONE       0.50      0.13      0.21        23
           P       0.53      0.68      0.60        34

   micro avg       0.53      0.53      0.53       118
   macro avg       0.39      0.40      0.36       118
weighted avg       0.46      0.53      0.46       118

           N   NEU  NONE  P
True/Pred
N          36  6    16    10
NEU         0  0     1     0
NONE        1  1     3     1
P           9  8     3    23

### Test

Accuracy: 0.5586975149957155
Loss: 1.108636352927755
              precision    recall  f1-score   support

           N       0.54      0.89      0.67       456
         NEU       0.00      0.00      0.00       148
        NONE       0.47      0.19      0.27       224
           P       0.63      0.60      0.61       339

   micro avg       0.56      0.56      0.56      1167
   macro avg       0.41      0.42      0.39      1167
weighted avg       0.48      0.56      0.49      1167

           N    NEU  NONE  P
True/Pred
N          407  103  132   110
NEU          1    0    1     1
NONE        13   10   43    26
P           35   35   48   202

### Fold number: 4. Name: 366c1b8287754638bdc020c2c8c1abaa

### Training

              precision    recall  f1-score   support

           N       0.60      0.92      0.73       410
         NEU       1.00      0.11      0.20       134
        NONE       0.78      0.36      0.49       201
           P       0.72      0.73      0.73       304

   micro avg       0.66      0.66      0.66      1049
   macro avg       0.77      0.53      0.54      1049
weighted avg       0.72      0.66      0.62      1049

           N    NEU  NONE  P
True/Pred
N          378  78   101    74
NEU          0  15     0     0
NONE         7   7    73     7
P           25  34    27   223

### Validation

              precision    recall  f1-score   support

           N       0.54      0.87      0.67        46
         NEU       0.00      0.00      0.00        15
        NONE       0.57      0.18      0.28        22
           P       0.60      0.62      0.61        34

   micro avg       0.56      0.56      0.56       117
   macro avg       0.43      0.42      0.39       117
weighted avg       0.49      0.56      0.49       117

           N   NEU  NONE  P
True/Pred
N          40  9    12    13
NEU         1  0     0     0
NONE        3  0     4     0
P           2  6     6    21

### Test

Accuracy: 0.5526992287917738
Loss: 1.1166200026358681
              precision    recall  f1-score   support

           N       0.52      0.90      0.66       456
         NEU       0.00      0.00      0.00       148
        NONE       0.46      0.18      0.26       224
           P       0.67      0.57      0.62       339

   micro avg       0.55      0.55      0.55      1167
   macro avg       0.41      0.41      0.38      1167
weighted avg       0.49      0.55      0.49      1167

           N    NEU  NONE  P
True/Pred
N          411  109  142   125
NEU          1    0    0     1
NONE        17   12   41    20
P           27   27   41   193

### Fold number: 5. Name: 50658a586e6f402c9ab95908de4c1107

### Training

              precision    recall  f1-score   support

           N       0.59      0.93      0.72       410
         NEU       1.00      0.10      0.18       134
        NONE       0.79      0.36      0.50       201
           P       0.73      0.70      0.71       304

   micro avg       0.65      0.65      0.65      1049
   macro avg       0.78      0.52      0.53      1049
weighted avg       0.72      0.65      0.61      1049

           N    NEU  NONE  P
True/Pred
N          382  81   103    86
NEU          0  13     0     0
NONE         8   6    73     5
P           20  34    25   213

### Validation

              precision    recall  f1-score   support

           N       0.53      0.85      0.66        46
         NEU       0.00      0.00      0.00        15
        NONE       0.38      0.23      0.29        22
           P       0.53      0.47      0.50        34

   micro avg       0.51      0.51      0.51       117
   macro avg       0.36      0.39      0.36       117
weighted avg       0.44      0.51      0.46       117

           N   NEU  NONE  P
True/Pred
N          39  9    12    13
NEU         0  0     0     1
NONE        1  3     5     4
P           6  3     5    16

### Test

Accuracy: 0.5501285347043702
Loss: 1.104917998976102
              precision    recall  f1-score   support

           N       0.52      0.89      0.66       456
         NEU       0.00      0.00      0.00       148
        NONE       0.48      0.21      0.29       224
           P       0.65      0.56      0.60       339

   micro avg       0.55      0.55      0.55      1167
   macro avg       0.41      0.41      0.39      1167
weighted avg       0.49      0.55      0.49      1167

           N    NEU  NONE  P
True/Pred
N          407  112  137   124
NEU          1    0    1     1
NONE        15    9   46    25
P           33   27   40   189

### Fold number: 6. Name: fb8ff30fc9b14073a7ca67c2f44e4e68

### Training

              precision    recall  f1-score   support

           N       0.60      0.94      0.73       410
         NEU       0.94      0.11      0.20       134
        NONE       0.80      0.36      0.49       201
           P       0.72      0.73      0.73       304

   micro avg       0.66      0.66      0.66      1049
   macro avg       0.77      0.53      0.54      1049
weighted avg       0.72      0.66      0.62      1049

           N    NEU  NONE  P
True/Pred
N          384  79   97     75
NEU          0  15    1      0
NONE         5   6   72      7
P           21  34   31    222

### Validation

              precision    recall  f1-score   support

           N       0.53      0.78      0.63        46
         NEU       0.00      0.00      0.00        15
        NONE       0.55      0.27      0.36        22
           P       0.59      0.65      0.62        34

   micro avg       0.55      0.55      0.55       117
   macro avg       0.42      0.43      0.40       117
weighted avg       0.48      0.55      0.50       117

           N   NEU  NONE  P
True/Pred
N          36  8    14    10
NEU         0  0     0     1
NONE        3  1     6     1
P           7  6     2    22

### Test

Accuracy: 0.5475578406169666
Loss: 1.1122040362052872
              precision    recall  f1-score   support

           N       0.52      0.87      0.65       456
         NEU       0.00      0.00      0.00       148
        NONE       0.46      0.21      0.28       224
           P       0.64      0.58      0.61       339

   micro avg       0.55      0.55      0.55      1167
   macro avg       0.41      0.41      0.39      1167
weighted avg       0.48      0.55      0.49      1167

           N    NEU  NONE  P
True/Pred
N          397  108  134   119
NEU          0    0    1     1
NONE        21   10   46    23
P           38   30   43   196

### Fold number: 7. Name: 47878591218f47a2804324d2cb276a1a

### Training

              precision    recall  f1-score   support

           N       0.61      0.94      0.74       411
         NEU       0.91      0.16      0.27       134
        NONE       0.77      0.37      0.50       201
           P       0.73      0.72      0.72       304

   micro avg       0.67      0.67      0.67      1050
   macro avg       0.75      0.55      0.56      1050
weighted avg       0.71      0.67      0.63      1050

           N    NEU  NONE  P
True/Pred
N          386  67   98     78
NEU          0  21    1      1
NONE         7   9   75      7
P           18  37   27    218

### Validation

              precision    recall  f1-score   support

           N       0.49      0.76      0.59        45
         NEU       0.00      0.00      0.00        15
        NONE       0.46      0.27      0.34        22
           P       0.58      0.56      0.57        34

   micro avg       0.51      0.51      0.51       116
   macro avg       0.38      0.40      0.38       116
weighted avg       0.44      0.51      0.46       116

           N   NEU  NONE  P
True/Pred
N          34  11   12    13
NEU         0   0    0     0
NONE        3   2    6     2
P           8   2    4    19

### Test

Accuracy: 0.5475578406169666
Loss: 1.1183309464041653
              precision    recall  f1-score   support

           N       0.52      0.88      0.66       456
         NEU       0.33      0.01      0.01       148
        NONE       0.46      0.21      0.28       224
           P       0.65      0.56      0.60       339

   micro avg       0.55      0.55      0.55      1167
   macro avg       0.49      0.41      0.39      1167
weighted avg       0.52      0.55      0.49      1167

           N    NEU  NONE  P
True/Pred
N          402  109  138   122
NEU          1    1    1     0
NONE        19    9   46    27
P           34   29   39   190

### Fold number: 8. Name: db16c625d68e4db1b946a02f5864fbd7

### Training

              precision    recall  f1-score   support

           N       0.62      0.91      0.74       411
         NEU       0.94      0.13      0.22       134
        NONE       0.85      0.35      0.50       201
           P       0.67      0.77      0.72       304

   micro avg       0.66      0.66      0.66      1050
   macro avg       0.77      0.54      0.54      1050
weighted avg       0.72      0.66      0.62      1050

           N    NEU  NONE  P
True/Pred
N          373  72   89     67
NEU          0  17    1      0
NONE         5   5   71      3
P           33  40   40    234

### Validation

              precision    recall  f1-score   support

           N       0.54      0.80      0.64        45
         NEU       0.00      0.00      0.00        15
        NONE       0.45      0.23      0.30        22
           P       0.59      0.65      0.62        34

   micro avg       0.54      0.54      0.54       116
   macro avg       0.40      0.42      0.39       116
weighted avg       0.47      0.54      0.49       116

           N   NEU  NONE  P
True/Pred
N          36  10   11    10
NEU         1   0    0     0
NONE        2   2    5     2
P           6   3    6    22

### Test

Accuracy: 0.5509854327335048
Loss: 1.1116960884473608
              precision    recall  f1-score   support

           N       0.54      0.87      0.67       456
         NEU       0.00      0.00      0.00       148
        NONE       0.46      0.19      0.27       224
           P       0.60      0.61      0.60       339

   micro avg       0.55      0.55      0.55      1167
   macro avg       0.40      0.42      0.38      1167
weighted avg       0.48      0.55      0.49      1167

           N    NEU  NONE  P
True/Pred
N          395  99   125   107
NEU          2   0     2     3
NONE        18   9    42    23
P           41  40    55   206

### Fold number: 9. Name: 18c6d37107fc402bb086e76127fc11da

### Training

              precision    recall  f1-score   support

           N       0.59      0.93      0.73       411
         NEU       0.88      0.11      0.20       134
        NONE       0.81      0.31      0.45       201
           P       0.72      0.74      0.73       305

   micro avg       0.65      0.65      0.65      1051
   macro avg       0.75      0.52      0.53      1051
weighted avg       0.71      0.65      0.61      1051

           N    NEU  NONE  P
True/Pred
N          384  80   108    74
NEU          0  15     1     1
NONE         4   6    62     5
P           23  33    30   225

### Validation

              precision    recall  f1-score   support

           N       0.53      0.84      0.65        45
         NEU       0.00      0.00      0.00        15
        NONE       0.80      0.18      0.30        22
           P       0.61      0.70      0.65        33

   micro avg       0.57      0.57      0.57       115
   macro avg       0.48      0.43      0.40       115
weighted avg       0.53      0.57      0.50       115

           N   NEU  NONE  P
True/Pred
N          38  9    15    10
NEU         0  0     0     0
NONE        1  0     4     0
P           6  6     3    23

### Test

Accuracy: 0.5449871465295629
Loss: 1.1132698545454205
              precision    recall  f1-score   support

           N       0.52      0.89      0.65       456
         NEU       0.50      0.01      0.03       148
        NONE       0.48      0.17      0.26       224
           P       0.63      0.56      0.60       339

   micro avg       0.54      0.54      0.54      1167
   macro avg       0.53      0.41      0.38      1167
weighted avg       0.54      0.54      0.48      1167

           N    NEU  NONE  P
True/Pred
N          404  108  139   128
NEU          1    2    0     1
NONE        15    8   39    19
P           36   30   46   191

### Fold number: 10. Name: 30cdb9e1f5ed49618c295b339fae8dfc

### Training

              precision    recall  f1-score   support

           N       0.61      0.92      0.73       411
         NEU       0.93      0.10      0.17       135
        NONE       0.81      0.38      0.52       201
           P       0.72      0.77      0.75       305

   micro avg       0.67      0.67      0.67      1052
   macro avg       0.77      0.54      0.54      1052
weighted avg       0.72      0.67      0.62      1052

           N    NEU  NONE  P
True/Pred
N          378  76   100    67
NEU          0  13     1     0
NONE         7   7    76     4
P           26  39    24   234

### Validation

              precision    recall  f1-score   support

           N       0.52      0.82      0.64        45
         NEU       0.50      0.07      0.12        14
        NONE       0.56      0.23      0.32        22
           P       0.47      0.45      0.46        33

   micro avg       0.51      0.51      0.51       114
   macro avg       0.51      0.39      0.39       114
weighted avg       0.51      0.51      0.46       114

           N   NEU  NONE  P
True/Pred
N          37  7    10    17
NEU         0  1     0     1
NONE        2  2     5     0
P           6  4     7    15

### Test

Accuracy: 0.5484147386461011
Loss: 1.1059641307626298
              precision    recall  f1-score   support

           N       0.53      0.88      0.66       456
         NEU       0.22      0.01      0.03       148
        NONE       0.46      0.20      0.28       224
           P       0.63      0.57      0.60       339

   micro avg       0.55      0.55      0.55      1167
   macro avg       0.46      0.42      0.39      1167
weighted avg       0.51      0.55      0.49      1167

           N    NEU  NONE  P
True/Pred
N          399  103  129   120
NEU          3    2    2     2
NONE        18   11   45    23
P           36   32   48   194

## 17. Creating models with embeddings: tweets.txt.usu.2_w.kvs

### Mean Accuracies and losses

   train_acc_mean  train_acc_stdev  val_acc_mean  val_acc_stdev
0  0.681246        0.004639         0.53939       0.050998

### Accuracies and losses by Stratified KFold (folds with balanced class distributions)

  model name                         train_acc  train_loss  val_acc   val_loss
0  22c91ea01b5c4145aaa1cbeccdd75805  0.676527   0.838268    0.483051  1.137235
1  9c8ad1d4a87742d89aa935e81c7b0ee9  0.685115   0.844211    0.500000  1.130760
2  df5d0dcc73b745c0b05f7f7dc385ec6b  0.679389   0.878757    0.576271  1.059987
3  99e3045aad5b49a98202e820d8155e70  0.682555   0.852323    0.606838  1.075842
4  88f0dd78a16845929e0219bc592153a5  0.685415   0.838772    0.581197  1.123219
5  cec0d6247dc143609eaa3eba089057b5  0.683508   0.835838    0.504274  1.199003
6  654747f349ae46c18dd0db6b20b1c516  0.677143   0.844453    0.543103  1.108995
7  542b44d890324ec79c5e6b6ffdb71ff9  0.682857   0.846159    0.551724  1.112476
8  66871f594a254eb9b53d68ad5d89f5ac  0.672693   0.876905    0.591304  1.033321
9  8280ebfb012b4ca2b167cbc7e10ed71b  0.687262   0.852140    0.456140  1.161782

## 17. tweets.txt.usu.2_w.kvs

### Fold number: 1. Name: 22c91ea01b5c4145aaa1cbeccdd75805

### Training

              precision    recall  f1-score   support

           N       0.62      0.91      0.74       410
         NEU       0.96      0.16      0.28       134
        NONE       0.78      0.38      0.51       200
           P       0.72      0.78      0.75       304

   micro avg       0.68      0.68      0.68      1048
   macro avg       0.77      0.56      0.57      1048
weighted avg       0.72      0.68      0.64      1048

           N    NEU  NONE  P
True/Pred
N          375  72   94     60
NEU          0  22    0      1
NONE         9   6   76      7
P           26  34   30    236

### Validation

              precision    recall  f1-score   support

           N       0.47      0.78      0.59        46
         NEU       0.20      0.07      0.10        15
        NONE       0.62      0.22      0.32        23
           P       0.54      0.44      0.48        34

   micro avg       0.48      0.48      0.48       118
   macro avg       0.46      0.38      0.37       118
weighted avg       0.48      0.48      0.44       118

           N   NEU  NONE  P
True/Pred
N          36  11   16    14
NEU         1   1    1     2
NONE        0   0    5     3
P           9   3    1    15

### Test

Accuracy: 0.5407026563838904
Loss: 1.0953021174042576
              precision    recall  f1-score   support

           N       0.52      0.87      0.65       456
         NEU       0.33      0.02      0.04       148
        NONE       0.42      0.17      0.24       224
           P       0.62      0.57      0.60       339

   micro avg       0.54      0.54      0.54      1167
   macro avg       0.48      0.41      0.38      1167
weighted avg       0.51      0.54      0.48      1167

           N    NEU  NONE  P
True/Pred
N          398  109  134   120
NEU          3    3    1     2
NONE        18    9   37    24
P           37   27   52   193

### Fold number: 2. Name: 9c8ad1d4a87742d89aa935e81c7b0ee9

### Training

              precision    recall  f1-score   support

           N       0.62      0.93      0.74       410
         NEU       0.97      0.23      0.37       134
        NONE       0.86      0.41      0.55       200
           P       0.73      0.74      0.74       304

   micro avg       0.69      0.69      0.69      1048
   macro avg       0.80      0.58      0.60      1048
weighted avg       0.74      0.69      0.66      1048

           N    NEU  NONE  P
True/Pred
N          380  68   90     74
NEU          0  31    1      0
NONE         4   5   81      4
P           26  30   28    226

### Validation

              precision    recall  f1-score   support

           N       0.51      0.80      0.63        46
         NEU       0.00      0.00      0.00        15
        NONE       0.36      0.17      0.24        23
           P       0.55      0.53      0.54        34

   micro avg       0.50      0.50      0.50       118
   macro avg       0.36      0.38      0.35       118
weighted avg       0.43      0.50      0.45       118

           N   NEU  NONE  P
True/Pred
N          37  10   13    12
NEU         0   0    0     2
NONE        4   1    4     2
P           5   4    6    18

### Test

Accuracy: 0.5441302485004285
Loss: 1.104834507394612
              precision    recall  f1-score   support

           N       0.53      0.87      0.65       456
         NEU       0.18      0.01      0.03       148
        NONE       0.44      0.20      0.27       224
           P       0.63      0.57      0.60       339

   micro avg       0.54      0.54      0.54      1167
   macro avg       0.45      0.41      0.39      1167
weighted avg       0.50      0.54      0.49      1167

           N    NEU  NONE  P
True/Pred
N          395  111  128   117
NEU          5    2    1     3
NONE        21    9   44    25
P           35   26   51   194

### Fold number: 3. Name: df5d0dcc73b745c0b05f7f7dc385ec6b

### Training

              precision    recall  f1-score   support

           N       0.63      0.91      0.74       410
         NEU       0.95      0.13      0.24       134
        NONE       0.82      0.45      0.58       200
           P       0.72      0.75      0.73       304

   micro avg       0.68      0.68      0.68      1048
   macro avg       0.78      0.56      0.57      1048
weighted avg       0.73      0.68      0.64      1048

           N    NEU  NONE  P
True/Pred
N          375  69   88     67
NEU          0  18    1      0
NONE         6   6   90      8
P           29  41   21    229

### Validation

              precision    recall  f1-score   support

           N       0.55      0.80      0.65        46
         NEU       0.00      0.00      0.00        15
        NONE       0.58      0.30      0.40        23
           P       0.62      0.71      0.66        34

   micro avg       0.58      0.58      0.58       118
   macro avg       0.44      0.45      0.43       118
weighted avg       0.51      0.58      0.52       118

           N   NEU  NONE  P
True/Pred
N          37  11   10     9
NEU         0   0    0     0
NONE        4   0    7     1
P           5   4    6    24

### Test

Accuracy: 0.5432733504712939
Loss: 1.104047598015049
              precision    recall  f1-score   support

           N       0.53      0.87      0.66       456
         NEU       0.18      0.01      0.03       148
        NONE       0.45      0.23      0.30       224
           P       0.63      0.55      0.59       339

   micro avg       0.54      0.54      0.54      1167
   macro avg       0.45      0.41      0.39      1167
weighted avg       0.50      0.54      0.49      1167

           N    NEU  NONE  P
True/Pred
N          395  109  123   122
NEU          5    2    1     3
NONE        23   12   51    28
P           33   25   49   186

### Fold number: 4. Name: 99e3045aad5b49a98202e820d8155e70

### Training

              precision    recall  f1-score   support

           N       0.62      0.92      0.74       410
         NEU       0.93      0.19      0.31       134
        NONE       0.83      0.44      0.57       201
           P       0.73      0.74      0.74       304

   micro avg       0.68      0.68      0.68      1049
   macro avg       0.78      0.57      0.59      1049
weighted avg       0.73      0.68      0.65      1049

           N    NEU  NONE  P
True/Pred
N          378  75   84     72
NEU          0  25    1      1
NONE         7   5   88      6
P           25  29   28    225

### Validation

              precision    recall  f1-score   support

           N       0.57      0.91      0.70        46
         NEU       0.00      0.00      0.00        15
        NONE       0.50      0.32      0.39        22
           P       0.76      0.65      0.70        34

   micro avg       0.61      0.61      0.61       117
   macro avg       0.46      0.47      0.45       117
weighted avg       0.54      0.61      0.55       117

           N   NEU  NONE  P
True/Pred
N          42  10   14     8
NEU         0   0    0     0
NONE        2   1    7     4
P           2   4    1    22

### Test

Accuracy: 0.5467009425878321
Loss: 1.1071959947204733
              precision    recall  f1-score   support

           N       0.54      0.86      0.66       456
         NEU       0.33      0.02      0.04       148
        NONE       0.43      0.24      0.31       224
           P       0.62      0.56      0.59       339

   micro avg       0.55      0.55      0.55      1167
   macro avg       0.48      0.42      0.40      1167
weighted avg       0.52      0.55      0.49      1167

           N    NEU  NONE  P
True/Pred
N          393  103  120   116
NEU          3    3    1     2
NONE        24   13   53    32
P           36   29   50   189

### Fold number: 5. Name: 88f0dd78a16845929e0219bc592153a5

### Training

              precision    recall  f1-score   support

           N       0.63      0.92      0.75       410
         NEU       0.90      0.21      0.34       134
        NONE       0.85      0.42      0.56       201
           P       0.71      0.75      0.73       304

   micro avg       0.69      0.69      0.69      1049
   macro avg       0.77      0.58      0.60      1049
weighted avg       0.73      0.69      0.66      1049

           N    NEU  NONE  P
True/Pred
N          377  69   84     67
NEU          0  28    1      2
NONE         7   2   85      6
P           26  35   31    229

### Validation

              precision    recall  f1-score   support

           N       0.61      0.80      0.69        46
         NEU       0.00      0.00      0.00        15
        NONE       0.46      0.27      0.34        22
           P       0.62      0.74      0.68        34

   micro avg       0.58      0.58      0.58       117
   macro avg       0.42      0.45      0.43       117
weighted avg       0.51      0.58      0.53       117

           N   NEU  NONE  P
True/Pred
N          37  6    11     7
NEU         2  0     0     1
NONE        4  2     6     1
P           3  7     5    25

### Test

Accuracy: 0.5458440445586975
Loss: 1.1049244307125652
              precision    recall  f1-score   support

           N       0.53      0.85      0.65       456
         NEU       0.22      0.01      0.03       148
        NONE       0.46      0.23      0.31       224
           P       0.62      0.58      0.60       339

   micro avg       0.55      0.55      0.55      1167
   macro avg       0.46      0.42      0.40      1167
weighted avg       0.50      0.55      0.49      1167

           N    NEU  NONE  P
True/Pred
N          388  106  122   114
NEU          4    2    2     1
NONE        24    9   52    29
P           40   31   48   195

### Fold number: 6. Name: cec0d6247dc143609eaa3eba089057b5

### Training

              precision    recall  f1-score   support

           N       0.64      0.92      0.75       410
         NEU       0.91      0.15      0.26       134
        NONE       0.82      0.41      0.55       201
           P       0.71      0.78      0.75       304

   micro avg       0.68      0.68      0.68      1049
   macro avg       0.77      0.57      0.58      1049
weighted avg       0.73      0.68      0.65      1049

           N    NEU  NONE  P
True/Pred
N          376  74   84     58
NEU          0  20    1      1
NONE         8   3   83      7
P           26  37   33    238

### Validation

              precision    recall  f1-score   support

           N       0.54      0.83      0.65        46
         NEU       0.00      0.00      0.00        15
        NONE       0.36      0.18      0.24        22
           P       0.50      0.50      0.50        34

   micro avg       0.50      0.50      0.50       117
   macro avg       0.35      0.38      0.35       117
weighted avg       0.42      0.50      0.45       117

           N   NEU  NONE  P
True/Pred
N          38  7    11    15
NEU         0  0     1     0
NONE        2  3     4     2
P           6  5     6    17

### Test

Accuracy: 0.5475578406169666
Loss: 1.0989361944263927
              precision    recall  f1-score   support

           N       0.53      0.86      0.66       456
         NEU       0.22      0.01      0.03       148
        NONE       0.44      0.22      0.30       224
           P       0.63      0.58      0.60       339

   micro avg       0.55      0.55      0.55      1167
   macro avg       0.46      0.42      0.40      1167
weighted avg       0.50      0.55      0.49      1167

           N    NEU  NONE  P
True/Pred
N          390  107  122   113
NEU          3    2    2     2
NONE        22   14   50    27
P           41   25   50   197

### Fold number: 7. Name: 654747f349ae46c18dd0db6b20b1c516

### Training

              precision    recall  f1-score   support

           N       0.61      0.92      0.74       411
         NEU       0.89      0.18      0.30       134
        NONE       0.80      0.42      0.55       201
           P       0.74      0.73      0.74       304

   micro avg       0.68      0.68      0.68      1050
   macro avg       0.76      0.56      0.58      1050
weighted avg       0.72      0.68      0.65      1050

           N    NEU  NONE  P
True/Pred
N          380  73   93     72
NEU          0  24    1      2
NONE         9   5   84      7
P           22  32   23    223

### Validation

              precision    recall  f1-score   support

           N       0.53      0.87      0.66        45
         NEU       0.00      0.00      0.00        15
        NONE       0.50      0.18      0.27        22
           P       0.59      0.59      0.59        34

   micro avg       0.54      0.54      0.54       116
   macro avg       0.40      0.41      0.38       116
weighted avg       0.47      0.54      0.48       116

           N   NEU  NONE  P
True/Pred
N          39  10   12    13
NEU         0   0    0     0
NONE        2   1    4     1
P           4   4    6    20

### Test

Accuracy: 0.5475578406169666
Loss: 1.093184014050543
              precision    recall  f1-score   support

           N       0.53      0.87      0.66       456
         NEU       0.31      0.03      0.06       148
        NONE       0.43      0.19      0.26       224
           P       0.64      0.57      0.61       339

   micro avg       0.55      0.55      0.55      1167
   macro avg       0.48      0.42      0.40      1167
weighted avg       0.52      0.55      0.49      1167

           N    NEU  NONE  P
True/Pred
N          398  107  130   116
NEU          5    5    2     4
NONE        20   11   42    25
P           33   25   50   194

### Fold number: 8. Name: 542b44d890324ec79c5e6b6ffdb71ff9

### Training

              precision    recall  f1-score   support

           N       0.63      0.92      0.75       411
         NEU       0.86      0.19      0.31       134
        NONE       0.81      0.40      0.53       201
           P       0.73      0.76      0.75       304

   micro avg       0.68      0.68      0.68      1050
   macro avg       0.76      0.57      0.58      1050
weighted avg       0.72      0.68      0.65      1050

           N    NEU  NONE  P
True/Pred
N          380  71   94     61
NEU          0  25    1      3
NONE         7   4   80      8
P           24  34   26    232

### Validation

              precision    recall  f1-score   support

           N       0.54      0.76      0.63        45
         NEU       0.67      0.13      0.22        15
        NONE       0.67      0.27      0.39        22
           P       0.54      0.65      0.59        34

   micro avg       0.55      0.55      0.55       116
   macro avg       0.60      0.45      0.46       116
weighted avg       0.58      0.55      0.52       116

           N   NEU  NONE  P
True/Pred
N          34  6    11    12
NEU         1  2     0     0
NONE        2  1     6     0
P           8  6     5    22

### Test

Accuracy: 0.5569837189374465
Loss: 1.094102573469042
              precision    recall  f1-score   support

           N       0.53      0.87      0.66       456
         NEU       0.33      0.03      0.05       148
        NONE       0.49      0.24      0.32       224
           P       0.65      0.58      0.61       339

   micro avg       0.56      0.56      0.56      1167
   macro avg       0.50      0.43      0.41      1167
weighted avg       0.53      0.56      0.50      1167

           N    NEU  NONE  P
True/Pred
N          396  105  127   116
NEU          6    4    0     2
NONE        20   12   53    24
P           34   27   44   197

### Fold number: 9. Name: 66871f594a254eb9b53d68ad5d89f5ac

### Training

              precision    recall  f1-score   support

           N       0.61      0.92      0.74       411
         NEU       0.90      0.14      0.25       134
        NONE       0.80      0.39      0.52       201
           P       0.73      0.76      0.74       305

   micro avg       0.67      0.67      0.67      1051
   macro avg       0.76      0.55      0.56      1051
weighted avg       0.72      0.67      0.64      1051

           N    NEU  NONE  P
True/Pred
N          379  77   94     67
NEU          0  19    1      1
NONE         7   6   78      6
P           25  32   28    231

### Validation

              precision    recall  f1-score   support

           N       0.56      0.84      0.67        45
         NEU       1.00      0.07      0.12        15
        NONE       0.70      0.32      0.44        22
           P       0.61      0.67      0.64        33

   micro avg       0.59      0.59      0.59       115
   macro avg       0.72      0.47      0.47       115
weighted avg       0.66      0.59      0.55       115

           N   NEU  NONE  P
True/Pred
N          38  8    13     9
NEU         0  1     0     0
NONE        0  1     7     2
P           7  5     2    22

### Test

Accuracy: 0.5389888603256212
Loss: 1.1018581119691482
              precision    recall  f1-score   support

           N       0.52      0.87      0.65       456
         NEU       0.14      0.01      0.01       148
        NONE       0.43      0.18      0.26       224
           P       0.62      0.57      0.59       339

   micro avg       0.54      0.54      0.54      1167
   macro avg       0.43      0.41      0.38      1167
weighted avg       0.48      0.54      0.48      1167

           N    NEU  NONE  P
True/Pred
N          395  106  129   123
NEU          4    1    1     1
NONE        21   11   41    23
P           36   30   53   192

### Fold number: 10. Name: 8280ebfb012b4ca2b167cbc7e10ed71b

### Training

              precision    recall  f1-score   support

           N       0.64      0.92      0.75       411
         NEU       0.92      0.18      0.30       135
        NONE       0.81      0.42      0.55       201
           P       0.72      0.77      0.75       305

   micro avg       0.69      0.69      0.69      1052
   macro avg       0.77      0.57      0.59      1052
weighted avg       0.73      0.69      0.65      1052

           N    NEU  NONE  P
True/Pred
N          379  74   83     60
NEU          0  24    1      1
NONE         6   6   84      8
P           26  31   33    236

### Validation

              precision    recall  f1-score   support

           N       0.49      0.73      0.58        45
         NEU       0.00      0.00      0.00        14
        NONE       0.45      0.23      0.30        22
           P       0.42      0.42      0.42        33

   micro avg       0.46      0.46      0.46       114
   macro avg       0.34      0.35      0.33       114
weighted avg       0.40      0.46      0.41       114

           N   NEU  NONE  P
True/Pred
N          33  7    11    17
NEU         0  0     0     2
NONE        4  2     5     0
P           8  5     6    14

### Test

Accuracy: 0.5475578406169666
Loss: 1.1084619395634856
              precision    recall  f1-score   support

           N       0.54      0.86      0.66       456
         NEU       0.25      0.01      0.03       148
        NONE       0.41      0.22      0.29       224
           P       0.63      0.58      0.60       339

   micro avg       0.55      0.55      0.55      1167
   macro avg       0.46      0.42      0.39      1167
weighted avg       0.50      0.55      0.49      1167

           N    NEU  NONE  P
True/Pred
N          392  106  123   109
NEU          3    2    1     2
NONE        26   12   49    32
P           35   28   51   196

## 18. Creating models with embeddings: tweets.txt.usu.1_w.kvs

### Mean Accuracies and losses

   train_acc_mean  train_acc_stdev  val_acc_mean  val_acc_stdev
0  0.700782        0.00495          0.543675      0.024916

### Accuracies and losses by Stratified KFold (folds with balanced class distributions)

  model name                         train_acc  train_loss  val_acc   val_loss
0  cfe8ed4a70f34d02ba1bc1125f96cdbc  0.700382   0.805876    0.576271  1.090490
1  eee293a98c9443d0890200ab359cf4e8  0.699427   0.838365    0.533898  1.106400
2  0d153f716bdb4911a3a76f5b6565226e  0.692748   0.841239    0.542373  1.052693
3  643250bc124e45e9b5e291042e7735db  0.700667   0.825162    0.495726  1.135462
4  dcaaf6331d3545d094d2be6df962cc95  0.704480   0.819548    0.564103  1.086523
5  d6cf9f1b99984f02b16c9a88e515ac2f  0.711153   0.806332    0.547009  1.127692
6  05b65ababb0b41509114fdf458644082  0.703810   0.838897    0.568966  1.099280
7  9585620da8724f878a6afc983704780b  0.698095   0.808196    0.560345  1.127477
8  b1bb783106034d05bec0311c610da26f  0.700285   0.827065    0.521739  1.122302
9  f9006a3cfb134be78d67dddd6e96db18  0.696768   0.838892    0.526316  1.106741

## 18. tweets.txt.usu.1_w.kvs

### Fold number: 1. Name: cfe8ed4a70f34d02ba1bc1125f96cdbc

### Training

              precision    recall  f1-score   support

           N       0.64      0.93      0.75       410
         NEU       0.97      0.24      0.38       134
        NONE       0.83      0.41      0.55       200
           P       0.75      0.79      0.77       304

   micro avg       0.70      0.70      0.70      1048
   macro avg       0.80      0.59      0.62      1048
weighted avg       0.75      0.70      0.67      1048

           N    NEU  NONE  P
True/Pred
N          380  69   91     58
NEU          0  32    0      1
NONE         8   3   83      6
P           22  30   26    239

### Validation

              precision    recall  f1-score   support

           N       0.59      0.78      0.67        46
         NEU       0.00      0.00      0.00        15
        NONE       0.64      0.39      0.49        23
           P       0.55      0.68      0.61        34

   micro avg       0.58      0.58      0.58       118
   macro avg       0.45      0.46      0.44       118
weighted avg       0.51      0.58      0.53       118

           N   NEU  NONE  P
True/Pred
N          36   4   12     9
NEU         1   0    0     0
NONE        2   1    9     2
P           7  10    2    23

### Test

Accuracy: 0.5484147386461011
Loss: 1.1136004670467599
              precision    recall  f1-score   support

           N       0.54      0.85      0.66       456
         NEU       0.21      0.02      0.04       148
        NONE       0.50      0.24      0.33       224
           P       0.61      0.58      0.59       339

   micro avg       0.55      0.55      0.55      1167
   macro avg       0.46      0.42      0.40      1167
weighted avg       0.51      0.55      0.50      1167

           N    NEU  NONE  P
True/Pred
N          388  96   117   123
NEU          4   3     4     3
NONE        22  14    54    18
P           42  35    49   195

### Fold number: 2. Name: eee293a98c9443d0890200ab359cf4e8

### Training

              precision    recall  f1-score   support

           N       0.64      0.94      0.76       410
         NEU       0.91      0.22      0.35       134
        NONE       0.82      0.40      0.54       200
           P       0.75      0.78      0.77       304

   micro avg       0.70      0.70      0.70      1048
   macro avg       0.78      0.59      0.60      1048
weighted avg       0.74      0.70      0.67      1048

           N    NEU  NONE  P
True/Pred
N          386  72   86     58
NEU          1  29    0      2
NONE         7   4   80      6
P           16  29   34    238

### Validation

              precision    recall  f1-score   support

           N       0.50      0.85      0.63        46
         NEU       0.00      0.00      0.00        15
        NONE       0.57      0.17      0.27        23
           P       0.61      0.59      0.60        34

   micro avg       0.53      0.53      0.53       118
   macro avg       0.42      0.40      0.37       118
weighted avg       0.48      0.53      0.47       118

           N   NEU  NONE  P
True/Pred
N          39  9    16    14
NEU         0  0     0     0
NONE        2  1     4     0
P           5  5     3    20

### Test

Accuracy: 0.5518423307626392
Loss: 1.109175270816343
              precision    recall  f1-score   support

           N       0.53      0.86      0.66       456
         NEU       0.18      0.01      0.03       148
        NONE       0.54      0.23      0.33       224
           P       0.62      0.58      0.60       339

   micro avg       0.55      0.55      0.55      1167
   macro avg       0.47      0.42      0.40      1167
weighted avg       0.51      0.55      0.50      1167

           N    NEU  NONE  P
True/Pred
N          394  103  121   124
NEU          3    2    0     6
NONE        18   13   52    13
P           41   30   51   196

### Fold number: 3. Name: 0d153f716bdb4911a3a76f5b6565226e

### Training

              precision    recall  f1-score   support

           N       0.63      0.92      0.75       410
         NEU       0.89      0.18      0.30       134
        NONE       0.85      0.44      0.58       200
           P       0.74      0.78      0.76       304

   micro avg       0.69      0.69      0.69      1048
   macro avg       0.78      0.58      0.60      1048
weighted avg       0.74      0.69      0.66      1048

           N    NEU  NONE  P
True/Pred
N          378  80   81     61
NEU          1  24    2      0
NONE         5   3   88      7
P           26  27   29    236

### Validation

              precision    recall  f1-score   support

           N       0.57      0.83      0.67        46
         NEU       0.67      0.13      0.22        15
        NONE       0.20      0.09      0.12        23
           P       0.58      0.65      0.61        34

   micro avg       0.54      0.54      0.54       118
   macro avg       0.50      0.42      0.41       118
weighted avg       0.51      0.54      0.49       118

           N   NEU  NONE  P
True/Pred
N          38  7    15     7
NEU         0  2     0     1
NONE        4  0     2     4
P           4  6     6    22

### Test

Accuracy: 0.5424164524421594
Loss: 1.116288474211403
              precision    recall  f1-score   support

           N       0.53      0.86      0.66       456
         NEU       0.08      0.01      0.01       148
        NONE       0.52      0.23      0.32       224
           P       0.60      0.55      0.57       339

   micro avg       0.54      0.54      0.54      1167
   macro avg       0.43      0.41      0.39      1167
weighted avg       0.49      0.54      0.49      1167

           N    NEU  NONE  P
True/Pred
N          394  104  121   125
NEU          3    1    2     7
NONE        17   10   52    21
P           42   33   49   186

### Fold number: 4. Name: 643250bc124e45e9b5e291042e7735db

### Training

              precision    recall  f1-score   support

           N       0.64      0.92      0.76       410
         NEU       0.93      0.21      0.34       134
        NONE       0.83      0.46      0.59       201
           P       0.75      0.78      0.76       304

   micro avg       0.70      0.70      0.70      1049
   macro avg       0.79      0.59      0.61      1049
weighted avg       0.74      0.70      0.67      1049

           N    NEU  NONE  P
True/Pred
N          378  73   80     59
NEU          1  28    0      1
NONE         9   3   92      7
P           22  30   29    237

### Validation

              precision    recall  f1-score   support

           N       0.48      0.78      0.60        46
         NEU       0.00      0.00      0.00        15
        NONE       0.45      0.23      0.30        22
           P       0.59      0.50      0.54        34

   micro avg       0.50      0.50      0.50       117
   macro avg       0.38      0.38      0.36       117
weighted avg       0.44      0.50      0.45       117

           N   NEU  NONE  P
True/Pred
N          36  10   14    15
NEU         1   0    0     1
NONE        2   3    5     1
P           7   2    3    17

### Test

Accuracy: 0.5544130248500428
Loss: 1.1089714557697048
              precision    recall  f1-score   support

           N       0.54      0.88      0.67       456
         NEU       0.20      0.01      0.03       148
        NONE       0.53      0.26      0.35       224
           P       0.61      0.55      0.58       339

   micro avg       0.55      0.55      0.55      1167
   macro avg       0.47      0.43      0.41      1167
weighted avg       0.51      0.55      0.50      1167

           N    NEU  NONE  P
True/Pred
N          400  98   113   128
NEU          2   2     2     4
NONE        15  16    59    21
P           39  32    50   186

### Fold number: 5. Name: dcaaf6331d3545d094d2be6df962cc95

### Training

              precision    recall  f1-score   support

           N       0.64      0.93      0.76       410
         NEU       0.94      0.24      0.38       134
        NONE       0.81      0.44      0.57       201
           P       0.77      0.78      0.78       304

   micro avg       0.70      0.70      0.70      1049
   macro avg       0.79      0.60      0.62      1049
weighted avg       0.75      0.70      0.68      1049

           N    NEU  NONE  P
True/Pred
N          383  73   87     58
NEU          0  32    1      1
NONE         7   5   88      9
P           20  24   25    236

### Validation

              precision    recall  f1-score   support

           N       0.54      0.80      0.64        46
         NEU       0.00      0.00      0.00        15
        NONE       0.69      0.41      0.51        22
           P       0.59      0.59      0.59        34

   micro avg       0.56      0.56      0.56       117
   macro avg       0.45      0.45      0.44       117
weighted avg       0.51      0.56      0.52       117

           N   NEU  NONE  P
True/Pred
N          37  9    11    12
NEU         0  0     0     1
NONE        2  1     9     1
P           7  5     2    20

### Test

Accuracy: 0.5526992287917738
Loss: 1.1045987308365661
              precision    recall  f1-score   support

           N       0.54      0.87      0.67       456
         NEU       0.36      0.03      0.05       148
        NONE       0.50      0.26      0.34       224
           P       0.61      0.55      0.58       339

   micro avg       0.55      0.55      0.55      1167
   macro avg       0.50      0.43      0.41      1167
weighted avg       0.53      0.55      0.50      1167

           N    NEU  NONE  P
True/Pred
N          397  99   118   123
NEU          2   4     1     4
NONE        18  14    58    26
P           39  31    47   186

### Fold number: 6. Name: d6cf9f1b99984f02b16c9a88e515ac2f

### Training

              precision    recall  f1-score   support

           N       0.65      0.90      0.76       410
         NEU       0.90      0.27      0.41       134
        NONE       0.80      0.49      0.61       201
           P       0.76      0.79      0.77       304

   micro avg       0.71      0.71      0.71      1049
   macro avg       0.78      0.61      0.64      1049
weighted avg       0.74      0.71      0.69      1049

           N    NEU  NONE  P
True/Pred
N          371  67   75     55
NEU          1  36    1      2
NONE        13   5   99      7
P           25  26   26    240

### Validation

              precision    recall  f1-score   support

           N       0.56      0.83      0.67        46
         NEU       0.00      0.00      0.00        15
        NONE       0.50      0.18      0.27        22
           P       0.55      0.65      0.59        34

   micro avg       0.55      0.55      0.55       117
   macro avg       0.40      0.41      0.38       117
weighted avg       0.47      0.55      0.49       117

           N   NEU  NONE  P
True/Pred
N          38  11   10     9
NEU         0   0    1     0
NONE        1   0    4     3
P           7   4    7    22

### Test

Accuracy: 0.5458440445586975
Loss: 1.1071467854815473
              precision    recall  f1-score   support

           N       0.54      0.85      0.66       456
         NEU       0.14      0.02      0.04       148
        NONE       0.48      0.26      0.34       224
           P       0.61      0.56      0.58       339

   micro avg       0.55      0.55      0.55      1167
   macro avg       0.44      0.42      0.40      1167
weighted avg       0.50      0.55      0.50      1167

           N    NEU  NONE  P
True/Pred
N          386  92   119   117
NEU          5   3     3    10
NONE        25  15    59    23
P           40  38    43   189

### Fold number: 7. Name: 05b65ababb0b41509114fdf458644082

### Training

              precision    recall  f1-score   support

           N       0.64      0.93      0.76       411
         NEU       0.96      0.19      0.31       134
        NONE       0.84      0.45      0.58       201
           P       0.75      0.80      0.77       304

   micro avg       0.70      0.70      0.70      1050
   macro avg       0.80      0.59      0.61      1050
weighted avg       0.75      0.70      0.67      1050

           N    NEU  NONE  P
True/Pred
N          382  73   81     57
NEU          0  25    1      0
NONE         6   6   90      5
P           23  30   29    242

### Validation

              precision    recall  f1-score   support

           N       0.55      0.84      0.67        45
         NEU       0.33      0.07      0.11        15
        NONE       0.58      0.32      0.41        22
           P       0.62      0.59      0.61        34

   micro avg       0.57      0.57      0.57       116
   macro avg       0.52      0.45      0.45       116
weighted avg       0.55      0.57      0.53       116

           N   NEU  NONE  P
True/Pred
N          38  9    11    11
NEU         0  1     0     2
NONE        3  1     7     1
P           4  4     4    20

### Test

Accuracy: 0.5509854327335048
Loss: 1.1124160605592013
              precision    recall  f1-score   support

           N       0.54      0.87      0.66       456
         NEU       0.27      0.03      0.05       148
        NONE       0.50      0.25      0.33       224
           P       0.62      0.55      0.58       339

   micro avg       0.55      0.55      0.55      1167
   macro avg       0.48      0.42      0.41      1167
weighted avg       0.52      0.55      0.50      1167

           N    NEU  NONE  P
True/Pred
N          395  91   122   128
NEU          5   4     2     4
NONE        19  18    56    19
P           37  35    44   188

### Fold number: 8. Name: 9585620da8724f878a6afc983704780b

### Training

              precision    recall  f1-score   support

           N       0.63      0.91      0.75       411
         NEU       0.91      0.22      0.36       134
        NONE       0.85      0.44      0.58       201
           P       0.75      0.79      0.77       304

   micro avg       0.70      0.70      0.70      1050
   macro avg       0.78      0.59      0.61      1050
weighted avg       0.74      0.70      0.67      1050

           N    NEU  NONE  P
True/Pred
N          375  73   87     57
NEU          0  30    2      1
NONE         7   3   88      6
P           29  28   24    240

### Validation

              precision    recall  f1-score   support

           N       0.57      0.89      0.70        45
         NEU       0.00      0.00      0.00        15
        NONE       0.53      0.36      0.43        22
           P       0.59      0.50      0.54        34

   micro avg       0.56      0.56      0.56       116
   macro avg       0.42      0.44      0.42       116
weighted avg       0.49      0.56      0.51       116

           N   NEU  NONE  P
True/Pred
N          40  11   6     13
NEU         0   0   1      1
NONE        2   2   8      3
P           3   2   7     17

### Test

Accuracy: 0.5569837189374465
Loss: 1.1134739338387438
              precision    recall  f1-score   support

           N       0.54      0.87      0.67       456
         NEU       0.24      0.03      0.05       148
        NONE       0.53      0.26      0.35       224
           P       0.63      0.56      0.59       339

   micro avg       0.56      0.56      0.56      1167
   macro avg       0.48      0.43      0.41      1167
weighted avg       0.52      0.56      0.51      1167

           N    NEU  NONE  P
True/Pred
N          396  98   119   120
NEU          5   4     2     6
NONE        17  14    59    22
P           38  32    44   191

### Fold number: 9. Name: b1bb783106034d05bec0311c610da26f

### Training

              precision    recall  f1-score   support

           N       0.65      0.92      0.76       411
         NEU       0.96      0.20      0.33       134
        NONE       0.84      0.44      0.58       201
           P       0.73      0.80      0.76       305

   micro avg       0.70      0.70      0.70      1051
   macro avg       0.79      0.59      0.61      1051
weighted avg       0.75      0.70      0.67      1051

           N    NEU  NONE  P
True/Pred
N          377  67   83     56
NEU          0  27    0      1
NONE         6   6   89      5
P           28  34   29    243

### Validation

              precision    recall  f1-score   support

           N       0.49      0.80      0.61        45
         NEU       0.33      0.07      0.11        15
        NONE       0.57      0.18      0.28        22
           P       0.59      0.58      0.58        33

   micro avg       0.52      0.52      0.52       115
   macro avg       0.50      0.41      0.40       115
weighted avg       0.52      0.52      0.47       115

           N   NEU  NONE  P
True/Pred
N          36  12   14    11
NEU         1   1    0     1
NONE        0   1    4     2
P           8   1    4    19

### Test

Accuracy: 0.5484147386461011
Loss: 1.1143781836842548
              precision    recall  f1-score   support

           N       0.54      0.85      0.66       456
         NEU       0.24      0.03      0.05       148
        NONE       0.50      0.25      0.33       224
           P       0.59      0.57      0.58       339

   micro avg       0.55      0.55      0.55      1167
   macro avg       0.47      0.42      0.41      1167
weighted avg       0.51      0.55      0.50      1167

           N    NEU  NONE  P
True/Pred
N          388  93   114   120
NEU          4   4     2     7
NONE        19  16    55    19
P           45  35    53   193

### Fold number: 10. Name: f9006a3cfb134be78d67dddd6e96db18

### Training

              precision    recall  f1-score   support

           N       0.64      0.91      0.75       411
         NEU       0.91      0.23      0.37       135
        NONE       0.78      0.45      0.57       201
           P       0.74      0.77      0.76       305

   micro avg       0.70      0.70      0.70      1052
   macro avg       0.77      0.59      0.61      1052
weighted avg       0.73      0.70      0.67      1052

           N    NEU  NONE  P
True/Pred
N          376  67   83     60
NEU          0  31    2      1
NONE         9   7   91      9
P           26  30   25    235

### Validation

              precision    recall  f1-score   support

           N       0.52      0.82      0.64        45
         NEU       0.50      0.07      0.12        14
        NONE       0.25      0.05      0.08        22
           P       0.57      0.64      0.60        33

   micro avg       0.53      0.53      0.53       114
   macro avg       0.46      0.39      0.36       114
weighted avg       0.48      0.53      0.46       114

           N   NEU  NONE  P
True/Pred
N          37  8    15    11
NEU         0  1     0     1
NONE        2  1     1     0
P           6  4     6    21

### Test

Accuracy: 0.5526992287917738
Loss: 1.1140468401457337
              precision    recall  f1-score   support

           N       0.53      0.84      0.65       456
         NEU       0.25      0.02      0.04       148
        NONE       0.49      0.23      0.32       224
           P       0.63      0.61      0.62       339

   micro avg       0.55      0.55      0.55      1167
   macro avg       0.47      0.43      0.41      1167
weighted avg       0.52      0.55      0.50      1167

           N    NEU  NONE  P
True/Pred
N          382  101  124   110
NEU          4    3    2     3
NONE        23   13   52    18
P           47   31   46   208

## 19. Creating models with embeddings: tweets.txt.usu.14_w.kvs

### Mean Accuracies and losses

   train_acc_mean  train_acc_stdev  val_acc_mean  val_acc_stdev
0  0.666949        0.005116         0.537713      0.027993

### Accuracies and losses by Stratified KFold (folds with balanced class distributions)

  model name                         train_acc  train_loss  val_acc   val_loss
0  35eddc923f6442519927fbce17677d00  0.669847   0.852212    0.500000  1.124532
1  642ae6e0f3d04af8971fb19ba1429bb7  0.661260   0.864027    0.525424  1.086307
2  6fab78991fe948c0b6de091d72780c0d  0.665076   0.879798    0.567797  1.045243
3  e21b3a8e2f9441be96ed298422438db7  0.663489   0.858779    0.547009  1.150556
4  8f51095d4e5f42bfa440698c04badbf0  0.658723   0.861957    0.581197  1.046828
5  1c22537bccb444a7994e70eb75aeedd6  0.667302   0.864436    0.521368  1.098543
6  c187328dfd16485796d2efccde65d0eb  0.667619   0.854175    0.534483  1.133677
7  105ad4d18daa4eb7957184a58722b3c3  0.667619   0.846437    0.560345  1.091489
8  ca9ec3b3ae99485696fde64b5fcdef89  0.675547   0.849060    0.495652  1.152958
9  65e8c454915a4f4fade1de0fe9add8ca  0.673004   0.849163    0.543860  1.088259

## 19. tweets.txt.usu.14_w.kvs

### Fold number: 1. Name: 35eddc923f6442519927fbce17677d00

### Training

              precision    recall  f1-score   support

           N       0.62      0.92      0.74       410
         NEU       0.90      0.13      0.23       134
        NONE       0.80      0.38      0.51       200
           P       0.72      0.76      0.74       304

   micro avg       0.67      0.67      0.67      1048
   macro avg       0.76      0.55      0.56      1048
weighted avg       0.72      0.67      0.63      1048

           N    NEU  NONE  P
True/Pred
N          379  75   92     68
NEU          0  18    2      0
NONE         6   7   75      6
P           25  34   31    230

### Validation

              precision    recall  f1-score   support

           N       0.51      0.78      0.62        46
         NEU       0.00      0.00      0.00        15
        NONE       0.62      0.22      0.32        23
           P       0.47      0.53      0.50        34

   micro avg       0.50      0.50      0.50       118
   macro avg       0.40      0.38      0.36       118
weighted avg       0.46      0.50      0.45       118

           N   NEU  NONE  P
True/Pred
N          36  8    13    14
NEU         0  0     0     1
NONE        1  1     5     1
P           9  6     5    18

### Test

Accuracy: 0.5578406169665809
Loss: 1.1009220913296878
              precision    recall  f1-score   support

           N       0.53      0.89      0.67       456
         NEU       0.33      0.01      0.01       148
        NONE       0.48      0.19      0.27       224
           P       0.64      0.60      0.62       339

   micro avg       0.56      0.56      0.56      1167
   macro avg       0.50      0.42      0.39      1167
weighted avg       0.53      0.56      0.49      1167

           N    NEU  NONE  P
True/Pred
N          404  104  134   114
NEU          1    1    0     1
NONE        17    8   42    20
P           34   35   48   204

### Fold number: 2. Name: 642ae6e0f3d04af8971fb19ba1429bb7

### Training

              precision    recall  f1-score   support

           N       0.60      0.94      0.73       410
         NEU       0.88      0.10      0.19       134
        NONE       0.85      0.35      0.50       200
           P       0.73      0.73      0.73       304

   micro avg       0.66      0.66      0.66      1048
   macro avg       0.76      0.53      0.54      1048
weighted avg       0.72      0.66      0.62      1048

           N    NEU  NONE  P
True/Pred
N          387  80   102    77
NEU          0  14     1     1
NONE         2   6    70     4
P           21  34    27   222

### Validation

              precision    recall  f1-score   support

           N       0.53      0.83      0.64        46
         NEU       0.00      0.00      0.00        15
        NONE       0.56      0.22      0.31        23
           P       0.51      0.56      0.54        34

   micro avg       0.53      0.53      0.53       118
   macro avg       0.40      0.40      0.37       118
weighted avg       0.46      0.53      0.47       118

           N   NEU  NONE  P
True/Pred
N          38  9    12    13
NEU         0  0     0     0
NONE        1  1     5     2
P           7  5     6    19

### Test

Accuracy: 0.5449871465295629
Loss: 1.1080608107192458
              precision    recall  f1-score   support

           N       0.52      0.88      0.65       456
         NEU       0.33      0.01      0.03       148
        NONE       0.45      0.17      0.25       224
           P       0.64      0.57      0.60       339

   micro avg       0.54      0.54      0.54      1167
   macro avg       0.49      0.41      0.38      1167
weighted avg       0.52      0.54      0.48      1167

           N    NEU  NONE  P
True/Pred
N          403  107  140   126
NEU          2    2    2     0
NONE        17    9   39    21
P           34   30   43   192

### Fold number: 3. Name: 6fab78991fe948c0b6de091d72780c0d

### Training

              precision    recall  f1-score   support

           N       0.62      0.94      0.75       410
         NEU       0.89      0.12      0.21       134
        NONE       0.82      0.34      0.48       200
           P       0.70      0.75      0.73       304

   micro avg       0.67      0.67      0.67      1048
   macro avg       0.76      0.54      0.54      1048
weighted avg       0.72      0.67      0.62      1048

           N    NEU  NONE  P
True/Pred
N          386  75   94     70
NEU          0  16    1      1
NONE         1   8   68      6
P           23  35   37    227

### Validation

              precision    recall  f1-score   support

           N       0.55      0.85      0.67        46
         NEU       0.00      0.00      0.00        15
        NONE       0.44      0.17      0.25        23
           P       0.63      0.71      0.67        34

   micro avg       0.57      0.57      0.57       118
   macro avg       0.41      0.43      0.40       118
weighted avg       0.48      0.57      0.50       118

           N   NEU  NONE  P
True/Pred
N          39  11   15     6
NEU         0   0    0     0
NONE        1   0    4     4
P           6   4    4    24

### Test

Accuracy: 0.5561268209083119
Loss: 1.1109829992455054
              precision    recall  f1-score   support

           N       0.54      0.88      0.67       456
         NEU       0.50      0.01      0.01       148
        NONE       0.44      0.18      0.25       224
           P       0.63      0.61      0.62       339

   micro avg       0.56      0.56      0.56      1167
   macro avg       0.53      0.42      0.39      1167
weighted avg       0.54      0.56      0.49      1167

           N    NEU  NONE  P
True/Pred
N          401  96   139   109
NEU          1   1     0     0
NONE        17  10    40    23
P           37  41    45   207

### Fold number: 4. Name: e21b3a8e2f9441be96ed298422438db7

### Training

              precision    recall  f1-score   support

           N       0.60      0.92      0.73       410
         NEU       1.00      0.11      0.20       134
        NONE       0.79      0.40      0.53       201
           P       0.73      0.73      0.73       304

   micro avg       0.66      0.66      0.66      1049
   macro avg       0.78      0.54      0.55      1049
weighted avg       0.73      0.66      0.62      1049

           N    NEU  NONE  P
True/Pred
N          379  77   96     75
NEU          0  15    0      0
NONE         7   7   80      7
P           24  35   25    222

### Validation

              precision    recall  f1-score   support

           N       0.54      0.85      0.66        46
         NEU       0.33      0.07      0.11        15
        NONE       0.70      0.32      0.44        22
           P       0.53      0.50      0.52        34

   micro avg       0.55      0.55      0.55       117
   macro avg       0.53      0.43      0.43       117
weighted avg       0.54      0.55      0.51       117

           N   NEU  NONE  P
True/Pred
N          39  9    9     15
NEU         0  1    1      1
NONE        2  0    7      1
P           5  5    5     17

### Test

Accuracy: 0.5458440445586975
Loss: 1.111996751606363
              precision    recall  f1-score   support

           N       0.53      0.88      0.66       456
         NEU       0.00      0.00      0.00       148
        NONE       0.46      0.21      0.28       224
           P       0.63      0.56      0.59       339

   micro avg       0.55      0.55      0.55      1167
   macro avg       0.40      0.41      0.38      1167
weighted avg       0.48      0.55      0.48      1167

           N    NEU  NONE  P
True/Pred
N          402  107  131   125
NEU          1    0    0     1
NONE        19   10   46    24
P           34   31   47   189

### Fold number: 5. Name: 8f51095d4e5f42bfa440698c04badbf0

### Training

              precision    recall  f1-score   support

           N       0.62      0.91      0.74       410
         NEU       0.88      0.10      0.19       134
        NONE       0.82      0.36      0.50       201
           P       0.67      0.76      0.71       304

   micro avg       0.66      0.66      0.66      1049
   macro avg       0.75      0.53      0.54      1049
weighted avg       0.71      0.66      0.62      1049

           N    NEU  NONE  P
True/Pred
N          374  69   90     68
NEU          0  14    1      1
NONE         4   7   73      5
P           32  44   37    230

### Validation

              precision    recall  f1-score   support

           N       0.54      0.87      0.67        46
         NEU       0.00      0.00      0.00        15
        NONE       0.55      0.27      0.36        22
           P       0.69      0.65      0.67        34

   micro avg       0.58      0.58      0.58       117
   macro avg       0.44      0.45      0.42       117
weighted avg       0.51      0.58      0.52       117

           N   NEU  NONE  P
True/Pred
N          40  10   12    12
NEU         0   0    0     0
NONE        3   2    6     0
P           3   3    4    22

### Test

Accuracy: 0.5492716366752356
Loss: 1.1108911442054465
              precision    recall  f1-score   support

           N       0.53      0.87      0.66       456
         NEU       0.00      0.00      0.00       148
        NONE       0.48      0.19      0.27       224
           P       0.61      0.60      0.61       339

   micro avg       0.55      0.55      0.55      1167
   macro avg       0.41      0.41      0.38      1167
weighted avg       0.48      0.55      0.49      1167

           N    NEU  NONE  P
True/Pred
N          395  104  131   117
NEU          1    0    0     0
NONE        18    9   42    18
P           42   35   51   204

### Fold number: 6. Name: 1c22537bccb444a7994e70eb75aeedd6

### Training

              precision    recall  f1-score   support

           N       0.62      0.93      0.74       410
         NEU       0.89      0.12      0.21       134
        NONE       0.80      0.37      0.51       201
           P       0.71      0.75      0.73       304

   micro avg       0.67      0.67      0.67      1049
   macro avg       0.76      0.54      0.55      1049
weighted avg       0.72      0.67      0.63      1049

           N    NEU  NONE  P
True/Pred
N          383  78   89     70
NEU          0  16    1      1
NONE         4   8   74      6
P           23  32   37    227

### Validation

              precision    recall  f1-score   support

           N       0.49      0.85      0.62        46
         NEU       0.50      0.07      0.12        15
        NONE       0.67      0.18      0.29        22
           P       0.57      0.50      0.53        34

   micro avg       0.52      0.52      0.52       117
   macro avg       0.56      0.40      0.39       117
weighted avg       0.55      0.52      0.47       117

           N   NEU  NONE  P
True/Pred
N          39  8    17    15
NEU         1  1     0     0
NONE        0  0     4     2
P           6  6     1    17

### Test

Accuracy: 0.5578406169665809
Loss: 1.102002036312026
              precision    recall  f1-score   support

           N       0.54      0.88      0.67       456
         NEU       0.00      0.00      0.00       148
        NONE       0.48      0.20      0.28       224
           P       0.64      0.61      0.62       339

   micro avg       0.56      0.56      0.56      1167
   macro avg       0.41      0.42      0.39      1167
weighted avg       0.49      0.56      0.50      1167

           N    NEU  NONE  P
True/Pred
N          400  106  131   109
NEU          2    0    1     1
NONE        16   10   45    23
P           38   32   47   206

### Fold number: 7. Name: c187328dfd16485796d2efccde65d0eb

### Training

              precision    recall  f1-score   support

           N       0.61      0.95      0.74       411
         NEU       0.86      0.14      0.24       134
        NONE       0.82      0.34      0.48       201
           P       0.73      0.74      0.73       304

   micro avg       0.67      0.67      0.67      1050
   macro avg       0.76      0.54      0.55      1050
weighted avg       0.72      0.67      0.63      1050

           N    NEU  NONE  P
True/Pred
N          389  75   100    73
NEU          1  19     1     1
NONE         3   6    69     6
P           18  34    31   224

### Validation

              precision    recall  f1-score   support

           N       0.52      0.84      0.64        45
         NEU       0.00      0.00      0.00        15
        NONE       0.67      0.27      0.39        22
           P       0.56      0.53      0.55        34

   micro avg       0.53      0.53      0.53       116
   macro avg       0.44      0.41      0.39       116
weighted avg       0.49      0.53      0.48       116

           N   NEU  NONE  P
True/Pred
N          38  10   11    14
NEU         1   0    0     1
NONE        0   2    6     1
P           6   3    5    18

### Test

Accuracy: 0.5526992287917738
Loss: 1.114947524432874
              precision    recall  f1-score   support

           N       0.53      0.89      0.66       456
         NEU       0.20      0.01      0.01       148
        NONE       0.48      0.20      0.28       224
           P       0.64      0.57      0.60       339

   micro avg       0.55      0.55      0.55      1167
   macro avg       0.46      0.42      0.39      1167
weighted avg       0.51      0.55      0.49      1167

           N    NEU  NONE  P
True/Pred
N          407  103  137   123
NEU          2    1    0     2
NONE        16   10   44    21
P           31   34   43   193

### Fold number: 8. Name: 105ad4d18daa4eb7957184a58722b3c3

### Training

              precision    recall  f1-score   support

           N       0.61      0.93      0.74       411
         NEU       0.86      0.14      0.24       134
        NONE       0.84      0.36      0.50       201
           P       0.71      0.75      0.73       304

   micro avg       0.67      0.67      0.67      1050
   macro avg       0.76      0.54      0.55      1050
weighted avg       0.72      0.67      0.63      1050

           N    NEU  NONE  P
True/Pred
N          382  74   98     68
NEU          0  19    1      2
NONE         4   4   72      6
P           25  37   30    228

### Validation

              precision    recall  f1-score   support

           N       0.58      0.82      0.68        45
         NEU       0.00      0.00      0.00        15
        NONE       0.50      0.23      0.31        22
           P       0.55      0.68      0.61        34

   micro avg       0.56      0.56      0.56       116
   macro avg       0.41      0.43      0.40       116
weighted avg       0.48      0.56      0.50       116

           N   NEU  NONE  P
True/Pred
N          37  7    11     9
NEU         0  0     0     0
NONE        1  2     5     2
P           7  6     6    23

### Test

Accuracy: 0.5535561268209083
Loss: 1.115172731573133
              precision    recall  f1-score   support

           N       0.53      0.87      0.66       456
         NEU       0.29      0.01      0.03       148
        NONE       0.46      0.17      0.25       224
           P       0.62      0.62      0.62       339

   micro avg       0.55      0.55      0.55      1167
   macro avg       0.48      0.42      0.39      1167
weighted avg       0.52      0.55      0.49      1167

           N    NEU  NONE  P
True/Pred
N          396  99   135   111
NEU          2   2     3     0
NONE        16  10    38    18
P           42  37    48   210

### Fold number: 9. Name: ca9ec3b3ae99485696fde64b5fcdef89

### Training

              precision    recall  f1-score   support

           N       0.63      0.93      0.75       411
         NEU       0.91      0.15      0.26       134
        NONE       0.80      0.37      0.51       201
           P       0.70      0.77      0.73       305

   micro avg       0.68      0.68      0.68      1051
   macro avg       0.76      0.55      0.56      1051
weighted avg       0.72      0.68      0.64      1051

           N    NEU  NONE  P
True/Pred
N          381  68   88     64
NEU          0  20    1      1
NONE         7   6   75      6
P           23  40   37    234

### Validation

              precision    recall  f1-score   support

           N       0.46      0.73      0.57        45
         NEU       0.00      0.00      0.00        15
        NONE       0.75      0.14      0.23        22
           P       0.55      0.64      0.59        33

   micro avg       0.50      0.50      0.50       115
   macro avg       0.44      0.38      0.35       115
weighted avg       0.48      0.50      0.44       115

           N   NEU  NONE  P
True/Pred
N          33  9    17    12
NEU         2  0     0     0
NONE        0  1     3     0
P          10  5     2    21

### Test

Accuracy: 0.5509854327335048
Loss: 1.1156492796829567
              precision    recall  f1-score   support

           N       0.54      0.87      0.66       456
         NEU       0.17      0.01      0.01       148
        NONE       0.45      0.18      0.26       224
           P       0.61      0.61      0.61       339

   micro avg       0.55      0.55      0.55      1167
   macro avg       0.44      0.42      0.39      1167
weighted avg       0.50      0.55      0.49      1167

           N    NEU  NONE  P
True/Pred
N          395  100  130   110
NEU          2    1    2     1
NONE        17   10   40    21
P           42   37   52   207

### Fold number: 10. Name: 65e8c454915a4f4fade1de0fe9add8ca

### Training

              precision    recall  f1-score   support

           N       0.62      0.94      0.74       411
         NEU       0.95      0.16      0.27       135
        NONE       0.80      0.36      0.50       201
           P       0.72      0.75      0.74       305

   micro avg       0.67      0.67      0.67      1052
   macro avg       0.77      0.55      0.56      1052
weighted avg       0.73      0.67      0.63      1052

           N    NEU  NONE  P
True/Pred
N          385  70   99     69
NEU          0  21    1      0
NONE         3   8   73      7
P           23  36   28    229

### Validation

              precision    recall  f1-score   support

           N       0.54      0.84      0.66        45
         NEU       0.00      0.00      0.00        14
        NONE       0.71      0.23      0.34        22
           P       0.56      0.58      0.57        33

   micro avg       0.54      0.54      0.54       114
   macro avg       0.45      0.41      0.39       114
weighted avg       0.51      0.54      0.49       114

           N   NEU  NONE  P
True/Pred
N          38  10   10    13
NEU         1   0    0     1
NONE        2   0    5     0
P           4   4    7    19

### Test

Accuracy: 0.5561268209083119
Loss: 1.118373870962354
              precision    recall  f1-score   support

           N       0.54      0.88      0.67       456
         NEU       0.33      0.01      0.01       148
        NONE       0.45      0.17      0.25       224
           P       0.62      0.62      0.62       339

   micro avg       0.56      0.56      0.56      1167
   macro avg       0.48      0.42      0.39      1167
weighted avg       0.52      0.56      0.49      1167

           N    NEU  NONE  P
True/Pred
N          401  101  128   110
NEU          2    1    0     0
NONE        17   10   38    20
P           36   36   58   209

## 20. Creating models with embeddings: tweets.txt.usu.4_w.kvs

### Mean Accuracies and losses

   train_acc_mean  train_acc_stdev  val_acc_mean  val_acc_stdev
0  0.666667        0.007045         0.527236      0.041937

### Accuracies and losses by Stratified KFold (folds with balanced class distributions)

  model name                         train_acc  train_loss  val_acc   val_loss
0  7623c29e65e043d7bd6371238ef63527  0.665076   0.867725    0.516949  1.095485
1  55db6c570b1340c58ec8e9229e5f434f  0.666985   0.875815    0.593220  1.030172
2  2175b01ed9104d3b8b5fa83693edabd5  0.658397   0.874196    0.567797  1.081187
3  80aa478868ad48b6a8338ca180f00500  0.670162   0.844631    0.512821  1.183326
4  0da2373a6dbd49148330e59718b2c3ac  0.661582   0.873498    0.572650  1.017776
5  763572780c2e4f399100eef02994d842  0.672069   0.861595    0.495726  1.095893
6  1b30f71981d64c1597277a5957d9b28e  0.671429   0.853540    0.543103  1.111367
7  58eaacc232764036813c5d91e0b84bfc  0.680000   0.842785    0.465517  1.183771
8  707b8a5592b847ab8031831e5d9ad0e4  0.656518   0.846376    0.478261  1.161322
9  df95de01666b4dc58252f6d1be02ecdb  0.664449   0.861551    0.526316  1.119024

## 20. tweets.txt.usu.4_w.kvs

### Fold number: 1. Name: 7623c29e65e043d7bd6371238ef63527

### Training

              precision    recall  f1-score   support

           N       0.61      0.93      0.74       410
         NEU       0.82      0.10      0.19       134
        NONE       0.84      0.39      0.53       200
           P       0.72      0.73      0.73       304

   micro avg       0.67      0.67      0.67      1048
   macro avg       0.75      0.54      0.54      1048
weighted avg       0.71      0.67      0.62      1048

           N    NEU  NONE  P
True/Pred
N          383  80   93     74
NEU          1  14    1      1
NONE         4   5   77      6
P           22  35   29    223

### Validation

              precision    recall  f1-score   support

           N       0.52      0.85      0.64        46
         NEU       0.50      0.07      0.12        15
        NONE       0.36      0.17      0.24        23
           P       0.57      0.50      0.53        34

   micro avg       0.52      0.52      0.52       118
   macro avg       0.49      0.40      0.38       118
weighted avg       0.50      0.52      0.47       118

           N   NEU  NONE  P
True/Pred
N          39  10   12    14
NEU         0   1    0     1
NONE        4   1    4     2
P           3   3    7    17

### Test

Accuracy: 0.5381319622964867
Loss: 1.1045724301917628
              precision    recall  f1-score   support

           N       0.52      0.87      0.65       456
         NEU       0.22      0.01      0.03       148
        NONE       0.46      0.21      0.29       224
           P       0.63      0.54      0.58       339

   micro avg       0.54      0.54      0.54      1167
   macro avg       0.46      0.41      0.39      1167
weighted avg       0.50      0.54      0.48      1167

           N    NEU  NONE  P
True/Pred
N          396  108  131   131
NEU          5    2    0     2
NONE        22   10   47    23
P           33   28   46   183

### Fold number: 2. Name: 55db6c570b1340c58ec8e9229e5f434f

### Training

              precision    recall  f1-score   support

           N       0.61      0.94      0.74       410
         NEU       1.00      0.13      0.24       134
        NONE       0.82      0.38      0.52       200
           P       0.72      0.72      0.72       304

   micro avg       0.67      0.67      0.67      1048
   macro avg       0.79      0.54      0.55      1048
weighted avg       0.73      0.67      0.63      1048

           N    NEU  NONE  P
True/Pred
N          386  80   89     77
NEU          0  18    0      0
NONE         6   3   75      7
P           18  33   36    220

### Validation

              precision    recall  f1-score   support

           N       0.58      0.83      0.68        46
         NEU       0.00      0.00      0.00        15
        NONE       0.78      0.30      0.44        23
           P       0.58      0.74      0.65        34

   micro avg       0.59      0.59      0.59       118
   macro avg       0.49      0.47      0.44       118
weighted avg       0.55      0.59      0.54       118

           N   NEU  NONE  P
True/Pred
N          38  9    10     8
NEU         0  0     0     1
NONE        2  0     7     0
P           6  6     6    25

### Test

Accuracy: 0.5518423307626392
Loss: 1.1056440379631771
              precision    recall  f1-score   support

           N       0.52      0.88      0.65       456
         NEU       0.20      0.01      0.01       148
        NONE       0.47      0.17      0.25       224
           P       0.66      0.61      0.63       339

   micro avg       0.55      0.55      0.55      1167
   macro avg       0.46      0.41      0.39      1167
weighted avg       0.51      0.55      0.49      1167

           N    NEU  NONE  P
True/Pred
N          399  111  140   117
NEU          2    1    2     0
NONE        17   10   38    16
P           38   26   44   206

### Fold number: 3. Name: 2175b01ed9104d3b8b5fa83693edabd5

### Training

              precision    recall  f1-score   support

           N       0.60      0.92      0.73       410
         NEU       0.95      0.16      0.27       134
        NONE       0.79      0.33      0.46       200
           P       0.73      0.74      0.73       304

   micro avg       0.66      0.66      0.66      1048
   macro avg       0.77      0.54      0.55      1048
weighted avg       0.72      0.66      0.62      1048

           N    NEU  NONE  P
True/Pred
N          379  78   105    73
NEU          0  21     0     1
NONE         9   3    66     6
P           22  32    29   224

### Validation

              precision    recall  f1-score   support

           N       0.55      0.78      0.64        46
         NEU       0.50      0.07      0.12        15
        NONE       0.60      0.39      0.47        23
           P       0.60      0.62      0.61        34

   micro avg       0.57      0.57      0.57       118
   macro avg       0.56      0.46      0.46       118
weighted avg       0.57      0.57      0.53       118

           N   NEU  NONE  P
True/Pred
N          36  11   10     9
NEU         1   1    0     0
NONE        2   0    9     4
P           7   3    4    21

### Test

Accuracy: 0.5458440445586975
Loss: 1.1039986181197872
              precision    recall  f1-score   support

           N       0.52      0.87      0.65       456
         NEU       0.17      0.01      0.01       148
        NONE       0.43      0.17      0.24       224
           P       0.65      0.60      0.62       339

   micro avg       0.55      0.55      0.55      1167
   macro avg       0.44      0.41      0.38      1167
weighted avg       0.50      0.55      0.48      1167

           N    NEU  NONE  P
True/Pred
N          395  110  142   114
NEU          4    1    1     0
NONE        19   10   38    22
P           38   27   43   203

### Fold number: 4. Name: 80aa478868ad48b6a8338ca180f00500

### Training

              precision    recall  f1-score   support

           N       0.63      0.92      0.75       410
         NEU       0.90      0.13      0.23       134
        NONE       0.77      0.42      0.54       201
           P       0.70      0.73      0.72       304

   micro avg       0.67      0.67      0.67      1049
   macro avg       0.75      0.55      0.56      1049
weighted avg       0.71      0.67      0.63      1049

           N    NEU  NONE  P
True/Pred
N          377  73   85     65
NEU          0  18    1      1
NONE         7   4   85     15
P           26  39   30    223

### Validation

              precision    recall  f1-score   support

           N       0.48      0.70      0.57        46
         NEU       0.00      0.00      0.00        15
        NONE       0.46      0.27      0.34        22
           P       0.59      0.65      0.62        34

   micro avg       0.51      0.51      0.51       117
   macro avg       0.38      0.40      0.38       117
weighted avg       0.45      0.51      0.47       117

           N   NEU  NONE  P
True/Pred
N          32  12   12    11
NEU         0   0    0     0
NONE        4   2    6     1
P          10   1    4    22

### Test

Accuracy: 0.5509854327335048
Loss: 1.100323219351829
              precision    recall  f1-score   support

           N       0.54      0.86      0.67       456
         NEU       0.10      0.01      0.01       148
        NONE       0.43      0.22      0.29       224
           P       0.62      0.60      0.61       339

   micro avg       0.55      0.55      0.55      1167
   macro avg       0.42      0.42      0.39      1167
weighted avg       0.49      0.55      0.49      1167

           N    NEU  NONE  P
True/Pred
N          391  104  121   103
NEU          3    1    1     5
NONE        22   14   49    29
P           40   29   53   202

### Fold number: 5. Name: 0da2373a6dbd49148330e59718b2c3ac

### Training

              precision    recall  f1-score   support

           N       0.60      0.93      0.73       410
         NEU       0.88      0.11      0.20       134
        NONE       0.84      0.39      0.54       201
           P       0.72      0.72      0.72       304

   micro avg       0.66      0.66      0.66      1049
   macro avg       0.76      0.54      0.55      1049
weighted avg       0.72      0.66      0.62      1049

           N    NEU  NONE  P
True/Pred
N          380  82   92     78
NEU          0  15    0      2
NONE         6   5   79      4
P           24  32   30    220

### Validation

              precision    recall  f1-score   support

           N       0.55      0.91      0.68        46
         NEU       0.00      0.00      0.00        15
        NONE       0.50      0.14      0.21        22
           P       0.67      0.65      0.66        34

   micro avg       0.57      0.57      0.57       117
   macro avg       0.43      0.42      0.39       117
weighted avg       0.50      0.57      0.50       117

           N   NEU  NONE  P
True/Pred
N          42  8    16    11
NEU         1  0     0     0
NONE        1  1     3     1
P           2  6     3    22

### Test

Accuracy: 0.5475578406169666
Loss: 1.1009119394349927
              precision    recall  f1-score   support

           N       0.53      0.88      0.66       456
         NEU       0.00      0.00      0.00       148
        NONE       0.44      0.20      0.28       224
           P       0.63      0.57      0.60       339

   micro avg       0.55      0.55      0.55      1167
   macro avg       0.40      0.41      0.38      1167
weighted avg       0.48      0.55      0.49      1167

           N    NEU  NONE  P
True/Pred
N          400  108  129   117
NEU          3    0    0     2
NONE        18   13   45    26
P           35   27   50   194

### Fold number: 6. Name: 763572780c2e4f399100eef02994d842

### Training

              precision    recall  f1-score   support

           N       0.61      0.93      0.74       410
         NEU       0.91      0.15      0.26       134
        NONE       0.79      0.39      0.52       201
           P       0.75      0.75      0.75       304

   micro avg       0.67      0.67      0.67      1049
   macro avg       0.76      0.55      0.56      1049
weighted avg       0.72      0.67      0.64      1049

           N    NEU  NONE  P
True/Pred
N          380  80   95     69
NEU          1  20    0      1
NONE         8   6   78      7
P           21  28   28    227

### Validation

              precision    recall  f1-score   support

           N       0.50      0.80      0.62        46
         NEU       0.00      0.00      0.00        15
        NONE       0.57      0.18      0.28        22
           P       0.47      0.50      0.49        34

   micro avg       0.50      0.50      0.50       117
   macro avg       0.39      0.37      0.34       117
weighted avg       0.44      0.50      0.44       117

           N   NEU  NONE  P
True/Pred
N          37  7    14    16
NEU         0  0     0     0
NONE        2  0     4     1
P           7  8     4    17

### Test

Accuracy: 0.5492716366752356
Loss: 1.1031393465755395
              precision    recall  f1-score   support

           N       0.52      0.88      0.66       456
         NEU       0.00      0.00      0.00       148
        NONE       0.46      0.21      0.28       224
           P       0.65      0.58      0.61       339

   micro avg       0.55      0.55      0.55      1167
   macro avg       0.41      0.41      0.39      1167
weighted avg       0.48      0.55      0.49      1167

           N    NEU  NONE  P
True/Pred
N          400  115  134   113
NEU          2    0    2     2
NONE        16   10   46    29
P           38   23   42   195

### Fold number: 7. Name: 1b30f71981d64c1597277a5957d9b28e

### Training

              precision    recall  f1-score   support

           N       0.62      0.93      0.74       411
         NEU       0.91      0.15      0.26       134
        NONE       0.80      0.40      0.54       201
           P       0.72      0.73      0.72       304

   micro avg       0.67      0.67      0.67      1050
   macro avg       0.76      0.55      0.56      1050
weighted avg       0.72      0.67      0.64      1050

           N    NEU  NONE  P
True/Pred
N          383  77   84     74
NEU          0  20    1      1
NONE         7   5   81      8
P           21  32   35    221

### Validation

              precision    recall  f1-score   support

           N       0.52      0.78      0.62        45
         NEU       0.00      0.00      0.00        15
        NONE       0.75      0.27      0.40        22
           P       0.56      0.65      0.60        34

   micro avg       0.54      0.54      0.54       116
   macro avg       0.46      0.42      0.41       116
weighted avg       0.51      0.54      0.49       116

           N   NEU  NONE  P
True/Pred
N          35  7    14    11
NEU         1  0     0     1
NONE        1  1     6     0
P           8  7     2    22

### Test

Accuracy: 0.5475578406169666
Loss: 1.1081205535417618
              precision    recall  f1-score   support

           N       0.53      0.86      0.65       456
         NEU       0.12      0.01      0.01       148
        NONE       0.43      0.19      0.26       224
           P       0.64      0.60      0.62       339

   micro avg       0.55      0.55      0.55      1167
   macro avg       0.43      0.41      0.39      1167
weighted avg       0.49      0.55      0.49      1167

           N    NEU  NONE  P
True/Pred
N          391  110  132   108
NEU          4    1    1     2
NONE        20   11   42    24
P           41   26   49   205

### Fold number: 8. Name: 58eaacc232764036813c5d91e0b84bfc

### Training

              precision    recall  f1-score   support

           N       0.62      0.94      0.75       411
         NEU       1.00      0.13      0.23       134
        NONE       0.81      0.43      0.56       201
           P       0.73      0.74      0.73       304

   micro avg       0.68      0.68      0.68      1050
   macro avg       0.79      0.56      0.57      1050
weighted avg       0.74      0.68      0.64      1050

           N    NEU  NONE  P
True/Pred
N          386  74   87     72
NEU          0  17    0      0
NONE         7   6   87      8
P           18  37   27    224

### Validation

              precision    recall  f1-score   support

           N       0.44      0.80      0.57        45
         NEU       0.00      0.00      0.00        15
        NONE       0.43      0.14      0.21        22
           P       0.56      0.44      0.49        34

   micro avg       0.47      0.47      0.47       116
   macro avg       0.36      0.34      0.32       116
weighted avg       0.42      0.47      0.41       116

           N   NEU  NONE  P
True/Pred
N          36  12   15    18
NEU         1   0    0     0
NONE        3   0    3     1
P           5   3    4    15

### Test

Accuracy: 0.5449871465295629
Loss: 1.1047500833288155
              precision    recall  f1-score   support

           N       0.52      0.88      0.65       456
         NEU       0.00      0.00      0.00       148
        NONE       0.45      0.20      0.28       224
           P       0.66      0.56      0.61       339

   micro avg       0.54      0.54      0.54      1167
   macro avg       0.41      0.41      0.38      1167
weighted avg       0.48      0.54      0.48      1167

           N    NEU  NONE  P
True/Pred
N          401  113  136   122
NEU          3    0    3     2
NONE        17   12   45    25
P           35   23   40   190

### Fold number: 9. Name: 707b8a5592b847ab8031831e5d9ad0e4

### Training

              precision    recall  f1-score   support

           N       0.59      0.92      0.72       411
         NEU       0.88      0.11      0.20       134
        NONE       0.80      0.39      0.52       201
           P       0.74      0.71      0.72       305

   micro avg       0.66      0.66      0.66      1051
   macro avg       0.75      0.53      0.54      1051
weighted avg       0.71      0.66      0.62      1051

           N    NEU  NONE  P
True/Pred
N          380  81   100    80
NEU          0  15     1     1
NONE         7   6    78     7
P           24  32    22   217

### Validation

              precision    recall  f1-score   support

           N       0.51      0.76      0.61        45
         NEU       0.00      0.00      0.00        15
        NONE       0.43      0.14      0.21        22
           P       0.45      0.55      0.49        33

   micro avg       0.48      0.48      0.48       115
   macro avg       0.35      0.36      0.33       115
weighted avg       0.41      0.48      0.42       115

           N   NEU  NONE  P
True/Pred
N          34  10    9    14
NEU         0   0    0     1
NONE        3   1    3     0
P           8   4   10    18

### Test

Accuracy: 0.5501285347043702
Loss: 1.1017077288200405
              precision    recall  f1-score   support

           N       0.52      0.88      0.65       456
         NEU       0.17      0.01      0.01       148
        NONE       0.44      0.20      0.28       224
           P       0.68      0.57      0.62       339

   micro avg       0.55      0.55      0.55      1167
   macro avg       0.45      0.42      0.39      1167
weighted avg       0.51      0.55      0.49      1167

           N    NEU  NONE  P
True/Pred
N          402  112  141   118
NEU          3    1    1     1
NONE        19   12   45    26
P           32   23   37   194

### Fold number: 10. Name: df95de01666b4dc58252f6d1be02ecdb

### Training

              precision    recall  f1-score   support

           N       0.60      0.94      0.73       411
         NEU       0.94      0.11      0.20       135
        NONE       0.86      0.38      0.53       201
           P       0.73      0.73      0.73       305

   micro avg       0.66      0.66      0.66      1052
   macro avg       0.78      0.54      0.55      1052
weighted avg       0.73      0.66      0.62      1052

           N    NEU  NONE  P
True/Pred
N          386  79   100    78
NEU          0  15     0     1
NONE         3   5    76     4
P           22  36    25   222

### Validation

              precision    recall  f1-score   support

           N       0.51      0.87      0.64        45
         NEU       0.00      0.00      0.00        14
        NONE       0.50      0.32      0.39        22
           P       0.61      0.42      0.50        33

   micro avg       0.53      0.53      0.53       114
   macro avg       0.41      0.40      0.38       114
weighted avg       0.48      0.53      0.47       114

           N   NEU  NONE  P
True/Pred
N          39  10   12    15
NEU         1   0    0     0
NONE        2   1    7     4
P           3   3    3    14

### Test

Accuracy: 0.5449871465295629
Loss: 1.1053220609819012
              precision    recall  f1-score   support

           N       0.51      0.88      0.65       456
         NEU       0.00      0.00      0.00       148
        NONE       0.47      0.22      0.30       224
           P       0.67      0.55      0.61       339

   micro avg       0.54      0.54      0.54      1167
   macro avg       0.41      0.41      0.39      1167
weighted avg       0.49      0.54      0.49      1167

           N    NEU  NONE  P
True/Pred
N          400  116  138   126
NEU          3    0    1     0
NONE        21    9   49    26
P           32   23   36   187

## 21. Creating models with embeddings: tweets.txt.usu.18_w.kvs

### Mean Accuracies and losses

   train_acc_mean  train_acc_stdev  val_acc_mean  val_acc_stdev
0  0.658283        0.005449         0.542365      0.039038

### Accuracies and losses by Stratified KFold (folds with balanced class distributions)

  model name                         train_acc  train_loss  val_acc   val_loss
0  c50ac9cad71948c0af075016474c9e2c  0.654580   0.870298    0.525424  1.089994
1  8efcab4f7f49484eabf94ed9c4d2f3d7  0.664122   0.850741    0.491525  1.203818
2  1ae716513b514a23bb18a992987ac906  0.657443   0.893135    0.525424  1.083652
3  850d6c9513c44123a77f354d16e61432  0.657769   0.882027    0.512821  1.113031
4  36ae0ccf3637424fa4e94fffca02727c  0.669209   0.836041    0.495726  1.195673
5  607e34cbc593408abeddb3ac85cade84  0.660629   0.880728    0.547009  1.113532
6  4c7ee91ede554b17996df3473df254e6  0.650476   0.887328    0.560345  1.061809
7  b987c7e23421470b9c9c7d8ef90d2926  0.655238   0.876596    0.568966  1.121935
8  ac890a4c2b4f4639808cec5e7c5e7c3e  0.653663   0.882320    0.608696  1.002157
9  82a0b14705464d61ad4f9f154f25e331  0.659696   0.874281    0.587719  1.106047

## 21. tweets.txt.usu.18_w.kvs

### Fold number: 1. Name: c50ac9cad71948c0af075016474c9e2c

### Training

              precision    recall  f1-score   support

           N       0.59      0.94      0.73       410
         NEU       0.94      0.12      0.21       134
        NONE       0.83      0.36      0.50       200
           P       0.73      0.70      0.71       304

   micro avg       0.65      0.65      0.65      1048
   macro avg       0.77      0.53      0.54      1048
weighted avg       0.72      0.65      0.61      1048

           N    NEU  NONE  P
True/Pred
N          384  79   104    82
NEU          0  16     0     1
NONE         4   4    72     7
P           22  35    24   214

### Validation

              precision    recall  f1-score   support

           N       0.51      0.78      0.62        46
         NEU       0.00      0.00      0.00        15
        NONE       0.50      0.17      0.26        23
           P       0.59      0.65      0.62        34

   micro avg       0.53      0.53      0.53       118
   macro avg       0.40      0.40      0.37       118
weighted avg       0.47      0.53      0.47       118

           N   NEU  NONE  P
True/Pred
N          36  9    15    10
NEU         2  0     0     1
NONE        3  0     4     1
P           5  6     4    22

### Test

Accuracy: 0.5475578406169666
Loss: 1.1180875892334685
              precision    recall  f1-score   support

           N       0.52      0.88      0.65       456
         NEU       0.25      0.01      0.01       148
        NONE       0.48      0.19      0.27       224
           P       0.64      0.58      0.61       339

   micro avg       0.55      0.55      0.55      1167
   macro avg       0.47      0.41      0.39      1167
weighted avg       0.51      0.55      0.49      1167

           N    NEU  NONE  P
True/Pred
N          399  110  137   122
NEU          2    1    0     1
NONE        15   12   42    19
P           40   25   45   197

### Fold number: 2. Name: 8efcab4f7f49484eabf94ed9c4d2f3d7

### Training

              precision    recall  f1-score   support

           N       0.60      0.93      0.73       410
         NEU       0.89      0.12      0.21       134
        NONE       0.83      0.41      0.54       200
           P       0.73      0.72      0.72       304

   micro avg       0.66      0.66      0.66      1048
   macro avg       0.76      0.54      0.55      1048
weighted avg       0.72      0.66      0.63      1048

           N    NEU  NONE  P
True/Pred
N          380  79   95     76
NEU          0  16    1      1
NONE         5   4   81      8
P           25  35   23    219

### Validation

              precision    recall  f1-score   support

           N       0.50      0.85      0.63        46
         NEU       0.00      0.00      0.00        15
        NONE       0.50      0.17      0.26        23
           P       0.47      0.44      0.45        34

   micro avg       0.49      0.49      0.49       118
   macro avg       0.37      0.37      0.34       118
weighted avg       0.43      0.49      0.43       118

           N   NEU  NONE  P
True/Pred
N          39  6    14    19
NEU         0  0     0     0
NONE        2  2     4     0
P           5  7     5    15

### Test

Accuracy: 0.5389888603256212
Loss: 1.1121852077563512
              precision    recall  f1-score   support

           N       0.51      0.88      0.65       456
         NEU       0.17      0.01      0.01       148
        NONE       0.52      0.20      0.29       224
           P       0.62      0.53      0.58       339

   micro avg       0.54      0.54      0.54      1167
   macro avg       0.46      0.41      0.38      1167
weighted avg       0.50      0.54      0.48      1167

           N    NEU  NONE  P
True/Pred
N          402  112  134   136
NEU          3    1    0     2
NONE        14    8   45    20
P           37   27   45   181

### Fold number: 3. Name: 1ae716513b514a23bb18a992987ac906

### Training

              precision    recall  f1-score   support

           N       0.60      0.94      0.73       410
         NEU       0.92      0.09      0.16       134
        NONE       0.85      0.34      0.49       200
           P       0.72      0.74      0.73       304

   micro avg       0.66      0.66      0.66      1048
   macro avg       0.77      0.53      0.53      1048
weighted avg       0.72      0.66      0.61      1048

           N    NEU  NONE  P
True/Pred
N          384  82   103    75
NEU          0  12     1     0
NONE         5   3    68     4
P           21  37    28   225

### Validation

              precision    recall  f1-score   support

           N       0.51      0.85      0.64        46
         NEU       0.00      0.00      0.00        15
        NONE       0.58      0.30      0.40        23
           P       0.53      0.47      0.50        34

   micro avg       0.53      0.53      0.53       118
   macro avg       0.41      0.41      0.38       118
weighted avg       0.47      0.53      0.47       118

           N   NEU  NONE  P
True/Pred
N          39  10   13    14
NEU         0   0    0     0
NONE        0   1    7     4
P           7   4    3    16

### Test

Accuracy: 0.5518423307626392
Loss: 1.1101420280227512
              precision    recall  f1-score   support

           N       0.53      0.88      0.66       456
         NEU       0.50      0.01      0.01       148
        NONE       0.49      0.17      0.26       224
           P       0.62      0.60      0.61       339

   micro avg       0.55      0.55      0.55      1167
   macro avg       0.54      0.41      0.38      1167
weighted avg       0.54      0.55      0.49      1167

           N    NEU  NONE  P
True/Pred
N          401  109  129   118
NEU          1    1    0     0
NONE        13    9   39    18
P           41   29   56   203

### Fold number: 4. Name: 850d6c9513c44123a77f354d16e61432

### Training

              precision    recall  f1-score   support

           N       0.59      0.95      0.73       410
         NEU       0.92      0.08      0.15       134
        NONE       0.89      0.36      0.51       201
           P       0.73      0.72      0.72       304

   micro avg       0.66      0.66      0.66      1049
   macro avg       0.78      0.53      0.53      1049
weighted avg       0.73      0.66      0.61      1049

           N    NEU  NONE  P
True/Pred
N          388  85   102    80
NEU          0  11     0     1
NONE         1   4    72     4
P           21  34    27   219

### Validation

              precision    recall  f1-score   support

           N       0.51      0.87      0.65        46
         NEU       0.00      0.00      0.00        15
        NONE       0.43      0.14      0.21        22
           P       0.53      0.50      0.52        34

   micro avg       0.51      0.51      0.51       117
   macro avg       0.37      0.38      0.34       117
weighted avg       0.44      0.51      0.44       117

           N   NEU  NONE  P
True/Pred
N          40  7    15    16
NEU         0  0     0     0
NONE        2  1     3     1
P           4  7     4    17

### Test

Accuracy: 0.5449871465295629
Loss: 1.1175908348172363
              precision    recall  f1-score   support

           N       0.53      0.88      0.66       456
         NEU       0.00      0.00      0.00       148
        NONE       0.46      0.17      0.25       224
           P       0.61      0.58      0.60       339

   micro avg       0.54      0.54      0.54      1167
   macro avg       0.40      0.41      0.38      1167
weighted avg       0.47      0.54      0.48      1167

           N    NEU  NONE  P
True/Pred
N          401  109  129   122
NEU          1    0    0     0
NONE        16    9   38    20
P           38   30   57   197

### Fold number: 5. Name: 36ae0ccf3637424fa4e94fffca02727c

### Training

              precision    recall  f1-score   support

           N       0.61      0.94      0.74       410
         NEU       0.87      0.15      0.25       134
        NONE       0.87      0.37      0.52       201
           P       0.72      0.73      0.73       304

   micro avg       0.67      0.67      0.67      1049
   macro avg       0.77      0.55      0.56      1049
weighted avg       0.73      0.67      0.63      1049

           N    NEU  NONE  P
True/Pred
N          386  73   100    75
NEU          0  20     1     2
NONE         2   4    74     5
P           22  37    26   222

### Validation

              precision    recall  f1-score   support

           N       0.48      0.74      0.58        46
         NEU       0.50      0.07      0.12        15
        NONE       0.43      0.14      0.21        22
           P       0.54      0.59      0.56        34

   micro avg       0.50      0.50      0.50       117
   macro avg       0.49      0.38      0.37       117
weighted avg       0.49      0.50      0.45       117

           N   NEU  NONE  P
True/Pred
N          34  8    17    12
NEU         1  1     0     0
NONE        1  1     3     2
P          10  5     2    20

### Test

Accuracy: 0.5432733504712939
Loss: 1.1117619730041506
              precision    recall  f1-score   support

           N       0.52      0.88      0.66       456
         NEU       0.00      0.00      0.00       148
        NONE       0.48      0.17      0.26       224
           P       0.61      0.58      0.59       339

   micro avg       0.54      0.54      0.54      1167
   macro avg       0.40      0.41      0.38      1167
weighted avg       0.47      0.54      0.48      1167

           N    NEU  NONE  P
True/Pred
N          399  105  134   124
NEU          2    0    1     1
NONE        15    9   39    18
P           40   34   50   196

### Fold number: 6. Name: 607e34cbc593408abeddb3ac85cade84

### Training

              precision    recall  f1-score   support

           N       0.60      0.93      0.73       410
         NEU       0.93      0.10      0.18       134
        NONE       0.80      0.38      0.52       201
           P       0.73      0.73      0.73       304

   micro avg       0.66      0.66      0.66      1049
   macro avg       0.76      0.53      0.54      1049
weighted avg       0.72      0.66      0.62      1049

           N    NEU  NONE  P
True/Pred
N          381  80   99     74
NEU          0  13    1      0
NONE         6   5   77      8
P           23  36   24    222

### Validation

              precision    recall  f1-score   support

           N       0.48      0.76      0.59        46
         NEU       0.00      0.00      0.00        15
        NONE       0.60      0.27      0.37        22
           P       0.68      0.68      0.68        34

   micro avg       0.55      0.55      0.55       117
   macro avg       0.44      0.43      0.41       117
weighted avg       0.50      0.55      0.50       117

           N   NEU  NONE  P
True/Pred
N          35  13   15    10
NEU         0   0    0     0
NONE        2   1    6     1
P           9   1    1    23

### Test

Accuracy: 0.5424164524421594
Loss: 1.1174323396149732
              precision    recall  f1-score   support

           N       0.53      0.86      0.66       456
         NEU       0.00      0.00      0.00       148
        NONE       0.43      0.18      0.25       224
           P       0.61      0.59      0.60       339

   micro avg       0.54      0.54      0.54      1167
   macro avg       0.39      0.41      0.38      1167
weighted avg       0.47      0.54      0.48      1167

           N    NEU  NONE  P
True/Pred
N          394  103  132   116
NEU          1    0    0     0
NONE        18   11   40    24
P           43   34   52   199

### Fold number: 7. Name: 4c7ee91ede554b17996df3473df254e6

### Training

              precision    recall  f1-score   support

           N       0.59      0.93      0.72       411
         NEU       0.93      0.10      0.19       134
        NONE       0.84      0.36      0.50       201
           P       0.72      0.71      0.71       304

   micro avg       0.65      0.65      0.65      1050
   macro avg       0.77      0.52      0.53      1050
weighted avg       0.72      0.65      0.61      1050

           N    NEU  NONE  P
True/Pred
N          382  84   101    82
NEU          0  14     1     0
NONE         5   2    72     7
P           24  34    27   215

### Validation

              precision    recall  f1-score   support

           N       0.55      0.93      0.69        45
         NEU       0.00      0.00      0.00        15
        NONE       0.75      0.14      0.23        22
           P       0.61      0.59      0.60        34

   micro avg       0.56      0.56      0.56       116
   macro avg       0.48      0.41      0.38       116
weighted avg       0.53      0.56      0.49       116

           N   NEU  NONE  P
True/Pred
N          42  9    14    12
NEU         0  0     0     2
NONE        0  1     3     0
P           3  5     5    20

### Test

Accuracy: 0.5372750642673522
Loss: 1.120651763468845
              precision    recall  f1-score   support

           N       0.52      0.88      0.65       456
         NEU       0.25      0.01      0.01       148
        NONE       0.46      0.15      0.23       224
           P       0.61      0.57      0.59       339

   micro avg       0.54      0.54      0.54      1167
   macro avg       0.46      0.40      0.37      1167
weighted avg       0.50      0.54      0.47      1167

           N    NEU  NONE  P
True/Pred
N          400  107  137   128
NEU          2    1    0     1
NONE        14    8   34    18
P           40   32   53   192

### Fold number: 8. Name: b987c7e23421470b9c9c7d8ef90d2926

### Training

              precision    recall  f1-score   support

           N       0.59      0.94      0.73       411
         NEU       0.92      0.08      0.15       134
        NONE       0.80      0.35      0.49       201
           P       0.74      0.73      0.73       304

   micro avg       0.66      0.66      0.66      1050
   macro avg       0.76      0.52      0.52      1050
weighted avg       0.72      0.66      0.61      1050

           N    NEU  NONE  P
True/Pred
N          385  80   108    76
NEU          0  11     1     0
NONE         4   7    71     7
P           22  36    21   221

### Validation

              precision    recall  f1-score   support

           N       0.55      0.91      0.68        45
         NEU       0.00      0.00      0.00        15
        NONE       0.56      0.23      0.32        22
           P       0.62      0.59      0.61        34

   micro avg       0.57      0.57      0.57       116
   macro avg       0.43      0.43      0.40       116
weighted avg       0.50      0.57      0.50       116

           N   NEU  NONE  P
True/Pred
N          41  11   9     14
NEU         0   0   0      0
NONE        3   1   5      0
P           1   3   8     20

### Test

Accuracy: 0.5458440445586975
Loss: 1.1143328517099278
              precision    recall  f1-score   support

           N       0.53      0.89      0.66       456
         NEU       0.33      0.01      0.01       148
        NONE       0.44      0.18      0.25       224
           P       0.63      0.57      0.60       339

   micro avg       0.55      0.55      0.55      1167
   macro avg       0.48      0.41      0.38      1167
weighted avg       0.51      0.55      0.48      1167

           N    NEU  NONE  P
True/Pred
N          404  105  135   123
NEU          1    1    0     1
NONE        16   12   40    23
P           35   30   49   192

### Fold number: 9. Name: ac890a4c2b4f4639808cec5e7c5e7c3e

### Training

              precision    recall  f1-score   support

           N       0.60      0.94      0.73       411
         NEU       0.87      0.10      0.17       134
        NONE       0.82      0.33      0.47       201
           P       0.72      0.72      0.72       305

   micro avg       0.65      0.65      0.65      1051
   macro avg       0.75      0.52      0.52      1051
weighted avg       0.71      0.65      0.61      1051

           N    NEU  NONE  P
True/Pred
N          388  79   108    77
NEU          0  13     1     1
NONE         3   4    66     7
P           20  38    26   220

### Validation

              precision    recall  f1-score   support

           N       0.52      0.82      0.64        45
         NEU       0.50      0.07      0.12        15
        NONE       0.90      0.41      0.56        22
           P       0.72      0.70      0.71        33

   micro avg       0.61      0.61      0.61       115
   macro avg       0.66      0.50      0.51       115
weighted avg       0.65      0.61      0.58       115

           N   NEU  NONE  P
True/Pred
N          37  13   11    10
NEU         1   1    0     0
NONE        1   0    9     0
P           6   1    2    23

### Test

Accuracy: 0.5458440445586975
Loss: 1.1144148300815666
              precision    recall  f1-score   support

           N       0.52      0.88      0.65       456
         NEU       0.20      0.01      0.01       148
        NONE       0.47      0.18      0.26       224
           P       0.64      0.58      0.61       339

   micro avg       0.55      0.55      0.55      1167
   macro avg       0.46      0.41      0.38      1167
weighted avg       0.50      0.55      0.48      1167

           N    NEU  NONE  P
True/Pred
N          400  113  136   122
NEU          1    1    3     0
NONE        15   10   40    21
P           40   24   45   196

### Fold number: 10. Name: 82a0b14705464d61ad4f9f154f25e331

### Training

              precision    recall  f1-score   support

           N       0.60      0.92      0.73       411
         NEU       0.88      0.10      0.19       135
        NONE       0.82      0.38      0.52       201
           P       0.72      0.73      0.73       305

   micro avg       0.66      0.66      0.66      1052
   macro avg       0.75      0.54      0.54      1052
weighted avg       0.71      0.66      0.62      1052

           N    NEU  NONE  P
True/Pred
N          380  75   101    76
NEU          0  14     1     1
NONE         7   5    77     5
P           24  41    22   223

### Validation

              precision    recall  f1-score   support

           N       0.56      0.91      0.69        45
         NEU       1.00      0.07      0.13        14
        NONE       0.55      0.27      0.36        22
           P       0.66      0.58      0.61        33

   micro avg       0.59      0.59      0.59       114
   macro avg       0.69      0.46      0.45       114
weighted avg       0.64      0.59      0.54       114

           N   NEU  NONE  P
True/Pred
N          41  9    12    11
NEU         0  1     0     0
NONE        1  1     6     3
P           3  3     4    19

### Test

Accuracy: 0.5535561268209083
Loss: 1.1122228018428013
              precision    recall  f1-score   support

           N       0.53      0.88      0.67       456
         NEU       0.00      0.00      0.00       148
        NONE       0.47      0.20      0.28       224
           P       0.63      0.59      0.61       339

   micro avg       0.55      0.55      0.55      1167
   macro avg       0.41      0.42      0.39      1167
weighted avg       0.48      0.55      0.49      1167

           N    NEU  NONE  P
True/Pred
N          401  107  129   113
NEU          2    0    0     3
NONE        17   11   44    22
P           36   30   51   201

## 22. Creating models with embeddings: tweets.txt.usu.20_w.kvs

### Mean Accuracies and losses

   train_acc_mean  train_acc_stdev  val_acc_mean  val_acc_stdev
0  0.653037        0.006608         0.531692      0.049414

### Accuracies and losses by Stratified KFold (folds with balanced class distributions)

  model name                         train_acc  train_loss  val_acc   val_loss
0  a35faa045e1742709adb4d31210d1b0e  0.648855   0.887179    0.483051  1.161171
1  597a3de65749487faf6c4ff2e58b5aa5  0.645992   0.884066    0.567797  1.115330
2  f439f1cc175d4bc5bc858d9293ae3a30  0.653626   0.905705    0.550847  1.091670
3  c52a045e47094dc2a45b1dc5c5bb0897  0.660629   0.866701    0.427350  1.198525
4  058d1b3e23104ed39383fb337ffbecdc  0.657769   0.887436    0.564103  1.058461
5  29be2070c0f9462fad7c2fd8de099263  0.653003   0.892067    0.555556  1.059020
6  c01a650d7bfb491fb89fdf8e46fc2f22  0.640952   0.902727    0.586207  1.063648
7  33e98e51f41947e98acb6d6539170020  0.651429   0.875401    0.560345  1.054156
8  b12e85034a22442f8a4c024c96f07db0  0.655566   0.872642    0.530435  1.190074
9  6de6e1fb928f41679b643aec9a4f3848  0.662548   0.905059    0.491228  1.113036

## 22. tweets.txt.usu.20_w.kvs

### Fold number: 1. Name: a35faa045e1742709adb4d31210d1b0e

### Training

              precision    recall  f1-score   support

           N       0.58      0.93      0.71       410
         NEU       0.88      0.10      0.19       134
        NONE       0.85      0.36      0.51       200
           P       0.73      0.70      0.72       304

   micro avg       0.65      0.65      0.65      1048
   macro avg       0.76      0.52      0.53      1048
weighted avg       0.71      0.65      0.61      1048

           N    NEU  NONE  P
True/Pred
N          381  86   103    86
NEU          0  14     1     1
NONE         5   4    72     4
P           24  30    24   213

### Validation

              precision    recall  f1-score   support

           N       0.49      0.83      0.62        46
         NEU       0.00      0.00      0.00        15
        NONE       0.29      0.09      0.13        23
           P       0.50      0.50      0.50        34

   micro avg       0.48      0.48      0.48       118
   macro avg       0.32      0.35      0.31       118
weighted avg       0.39      0.48      0.41       118

           N   NEU  NONE  P
True/Pred
N          38  8    15    16
NEU         0  0     0     0
NONE        2  2     2     1
P           6  5     6    17

### Test

Accuracy: 0.5295629820051414
Loss: 1.1173047138237457
              precision    recall  f1-score   support

           N       0.50      0.88      0.64       456
         NEU       0.00      0.00      0.00       148
        NONE       0.42      0.16      0.23       224
           P       0.65      0.53      0.58       339

   micro avg       0.53      0.53      0.53      1167
   macro avg       0.39      0.39      0.36      1167
weighted avg       0.46      0.53      0.46      1167

           N    NEU  NONE  P
True/Pred
N          401  116  148   134
NEU          1    0    1     0
NONE        17    9   36    24
P           37   23   39   181

### Fold number: 2. Name: 597a3de65749487faf6c4ff2e58b5aa5

### Training

              precision    recall  f1-score   support

           N       0.59      0.93      0.72       410
         NEU       0.92      0.08      0.15       134
        NONE       0.79      0.33      0.46       200
           P       0.71      0.72      0.72       304

   micro avg       0.65      0.65      0.65      1048
   macro avg       0.75      0.52      0.51      1048
weighted avg       0.71      0.65      0.60      1048

           N    NEU  NONE  P
True/Pred
N          381  80   106    78
NEU          0  11     1     0
NONE         4   7    66     7
P           25  36    27   219

### Validation

              precision    recall  f1-score   support

           N       0.54      0.91      0.68        46
         NEU       0.00      0.00      0.00        15
        NONE       0.67      0.26      0.38        23
           P       0.61      0.56      0.58        34

   micro avg       0.57      0.57      0.57       118
   macro avg       0.45      0.43      0.41       118
weighted avg       0.52      0.57      0.51       118

           N   NEU  NONE  P
True/Pred
N          42  10   12    14
NEU         0   0    0     0
NONE        1   1    6     1
P           3   4    5    19

### Test

Accuracy: 0.5535561268209083
Loss: 1.1129405237516974
              precision    recall  f1-score   support

           N       0.52      0.89      0.66       456
         NEU       1.00      0.01      0.01       148
        NONE       0.51      0.21      0.29       224
           P       0.65      0.58      0.61       339

   micro avg       0.55      0.55      0.55      1167
   macro avg       0.67      0.42      0.39      1167
weighted avg       0.62      0.55      0.49      1167

           N    NEU  NONE  P
True/Pred
N          404  111  135   126
NEU          0    1    0     0
NONE        18    8   46    18
P           34   28   43   195

### Fold number: 3. Name: f439f1cc175d4bc5bc858d9293ae3a30

### Training

              precision    recall  f1-score   support

           N       0.61      0.93      0.73       410
         NEU       0.93      0.10      0.18       134
        NONE       0.80      0.34      0.48       200
           P       0.69      0.73      0.71       304

   micro avg       0.65      0.65      0.65      1048
   macro avg       0.76      0.53      0.53      1048
weighted avg       0.71      0.65      0.61      1048

           N    NEU  NONE  P
True/Pred
N          381  73   97     76
NEU          0  13    1      0
NONE         5   6   69      6
P           24  42   33    222

### Validation

              precision    recall  f1-score   support

           N       0.51      0.78      0.62        46
         NEU       0.50      0.07      0.12        15
        NONE       0.70      0.30      0.42        23
           P       0.58      0.62      0.60        34

   micro avg       0.55      0.55      0.55       118
   macro avg       0.57      0.44      0.44       118
weighted avg       0.57      0.55      0.51       118

           N   NEU  NONE  P
True/Pred
N          36  9    13    12
NEU         1  1     0     0
NONE        1  1     7     1
P           8  4     3    21

### Test

Accuracy: 0.5398457583547558
Loss: 1.111866185469076
              precision    recall  f1-score   support

           N       0.52      0.87      0.65       456
         NEU       0.00      0.00      0.00       148
        NONE       0.42      0.17      0.24       224
           P       0.62      0.58      0.60       339

   micro avg       0.54      0.54      0.54      1167
   macro avg       0.39      0.40      0.37      1167
weighted avg       0.46      0.54      0.47      1167

           N    NEU  NONE  P
True/Pred
N          395  104  140   119
NEU          0    0    0     0
NONE        19   10   37    22
P           42   34   47   198

### Fold number: 4. Name: c52a045e47094dc2a45b1dc5c5bb0897

### Training

              precision    recall  f1-score   support

           N       0.60      0.93      0.73       410
         NEU       0.88      0.11      0.20       134
        NONE       0.82      0.37      0.51       201
           P       0.73      0.72      0.73       304

   micro avg       0.66      0.66      0.66      1049
   macro avg       0.76      0.54      0.54      1049
weighted avg       0.72      0.66      0.62      1049

           N    NEU  NONE  P
True/Pred
N          383  82   99     76
NEU          0  15    1      1
NONE         5   4   75      7
P           22  33   26    220

### Validation

              precision    recall  f1-score   support

           N       0.43      0.76      0.55        46
         NEU       0.00      0.00      0.00        15
        NONE       0.43      0.14      0.21        22
           P       0.41      0.35      0.38        34

   micro avg       0.43      0.43      0.43       117
   macro avg       0.32      0.31      0.28       117
weighted avg       0.37      0.43      0.37       117

           N   NEU  NONE  P
True/Pred
N          35  9    16    21
NEU         0  0     0     0
NONE        2  1     3     1
P           9  5     3    12

### Test

Accuracy: 0.5432733504712939
Loss: 1.1126385257675333
              precision    recall  f1-score   support

           N       0.52      0.88      0.65       456
         NEU       0.00      0.00      0.00       148
        NONE       0.52      0.21      0.29       224
           P       0.64      0.56      0.59       339

   micro avg       0.54      0.54      0.54      1167
   macro avg       0.42      0.41      0.38      1167
weighted avg       0.49      0.54      0.48      1167

           N    NEU  NONE  P
True/Pred
N          399  109  137   129
NEU          4    0    1     2
NONE        15    9   46    19
P           38   30   40   189

### Fold number: 5. Name: 058d1b3e23104ed39383fb337ffbecdc

### Training

              precision    recall  f1-score   support

           N       0.60      0.93      0.73       410
         NEU       0.88      0.11      0.20       134
        NONE       0.82      0.34      0.48       201
           P       0.71      0.73      0.72       304

   micro avg       0.66      0.66      0.66      1049
   macro avg       0.75      0.53      0.53      1049
weighted avg       0.71      0.66      0.61      1049

           N    NEU  NONE  P
True/Pred
N          383  79   100    73
NEU          0  15     1     1
NONE         5   3    69     7
P           22  37    31   223

### Validation

              precision    recall  f1-score   support

           N       0.53      0.87      0.66        46
         NEU       0.00      0.00      0.00        15
        NONE       0.80      0.18      0.30        22
           P       0.61      0.65      0.63        34

   micro avg       0.56      0.56      0.56       117
   macro avg       0.48      0.42      0.40       117
weighted avg       0.53      0.56      0.50       117

           N   NEU  NONE  P
True/Pred
N          40  12   12    12
NEU         0   0    0     0
NONE        1   0    4     0
P           5   3    6    22

### Test

Accuracy: 0.5441302485004285
Loss: 1.118841174154728
              precision    recall  f1-score   support

           N       0.53      0.87      0.65       456
         NEU       0.25      0.01      0.01       148
        NONE       0.46      0.17      0.25       224
           P       0.61      0.59      0.60       339

   micro avg       0.54      0.54      0.54      1167
   macro avg       0.46      0.41      0.38      1167
weighted avg       0.50      0.54      0.48      1167

           N    NEU  NONE  P
True/Pred
N          395  105  135   116
NEU          0    1    2     1
NONE        16    8   39    22
P           45   34   48   200

### Fold number: 6. Name: 29be2070c0f9462fad7c2fd8de099263

### Training

              precision    recall  f1-score   support

           N       0.60      0.94      0.74       410
         NEU       0.86      0.09      0.16       134
        NONE       0.82      0.36      0.50       201
           P       0.70      0.70      0.70       304

   micro avg       0.65      0.65      0.65      1049
   macro avg       0.75      0.52      0.52      1049
weighted avg       0.71      0.65      0.61      1049

           N    NEU  NONE  P
True/Pred
N          387  79   95     82
NEU          0  12    1      1
NONE         3   6   72      7
P           20  37   33    214

### Validation

              precision    recall  f1-score   support

           N       0.51      0.91      0.66        46
         NEU       0.00      0.00      0.00        15
        NONE       1.00      0.18      0.31        22
           P       0.63      0.56      0.59        34

   micro avg       0.56      0.56      0.56       117
   macro avg       0.54      0.41      0.39       117
weighted avg       0.57      0.56      0.49       117

           N   NEU  NONE  P
True/Pred
N          42  9    17    14
NEU         0  0     0     1
NONE        0  0     4     0
P           4  6     1    19

### Test

Accuracy: 0.5407026563838904
Loss: 1.1095305050318482
              precision    recall  f1-score   support

           N       0.52      0.88      0.66       456
         NEU       0.33      0.01      0.01       148
        NONE       0.42      0.16      0.23       224
           P       0.62      0.56      0.59       339

   micro avg       0.54      0.54      0.54      1167
   macro avg       0.47      0.40      0.37      1167
weighted avg       0.51      0.54      0.47      1167

           N    NEU  NONE  P
True/Pred
N          403  105  138   123
NEU          0    1    1     1
NONE        16   10   36    24
P           37   32   49   191

### Fold number: 7. Name: c01a650d7bfb491fb89fdf8e46fc2f22

### Training

              precision    recall  f1-score   support

           N       0.58      0.93      0.72       411
         NEU       1.00      0.07      0.13       134
        NONE       0.84      0.35      0.50       201
           P       0.70      0.69      0.70       304

   micro avg       0.64      0.64      0.64      1050
   macro avg       0.78      0.51      0.51      1050
weighted avg       0.72      0.64      0.59      1050

           N    NEU  NONE  P
True/Pred
N          383  84   102    89
NEU          0   9     0     0
NONE         3   6    71     5
P           25  35    28   210

### Validation

              precision    recall  f1-score   support

           N       0.59      0.87      0.70        45
         NEU       0.00      0.00      0.00        15
        NONE       0.50      0.27      0.35        22
           P       0.62      0.68      0.65        34

   micro avg       0.59      0.59      0.59       116
   macro avg       0.43      0.45      0.43       116
weighted avg       0.51      0.59      0.53       116

           N   NEU  NONE  P
True/Pred
N          39  9    10     8
NEU         0  0     0     1
NONE        3  1     6     2
P           3  5     6    23

### Test

Accuracy: 0.5329905741216795
Loss: 1.1172030467734801
              precision    recall  f1-score   support

           N       0.50      0.89      0.64       456
         NEU       0.00      0.00      0.00       148
        NONE       0.48      0.17      0.25       224
           P       0.63      0.53      0.58       339

   micro avg       0.53      0.53      0.53      1167
   macro avg       0.40      0.40      0.37      1167
weighted avg       0.47      0.53      0.47      1167

           N    NEU  NONE  P
True/Pred
N          404  115  146   138
NEU          1    0    0     0
NONE        13    7   38    21
P           38   26   40   180

### Fold number: 8. Name: 33e98e51f41947e98acb6d6539170020

### Training

              precision    recall  f1-score   support

           N       0.60      0.92      0.73       411
         NEU       1.00      0.10      0.18       134
        NONE       0.79      0.36      0.49       201
           P       0.70      0.72      0.71       304

   micro avg       0.65      0.65      0.65      1050
   macro avg       0.77      0.53      0.53      1050
weighted avg       0.72      0.65      0.61      1050

           N    NEU  NONE  P
True/Pred
N          379  78   97     78
NEU          0  13    0      0
NONE         7   6   72      6
P           25  37   32    220

### Validation

              precision    recall  f1-score   support

           N       0.53      0.87      0.66        45
         NEU       0.00      0.00      0.00        15
        NONE       1.00      0.18      0.31        22
           P       0.59      0.65      0.62        34

   micro avg       0.56      0.56      0.56       116
   macro avg       0.53      0.42      0.40       116
weighted avg       0.57      0.56      0.50       116

           N   NEU  NONE  P
True/Pred
N          39  9    13    12
NEU         1  0     1     0
NONE        0  0     4     0
P           5  6     4    22

### Test

Accuracy: 0.5586975149957155
Loss: 1.1066494794094426
              precision    recall  f1-score   support

           N       0.53      0.88      0.66       456
         NEU       0.33      0.01      0.01       148
        NONE       0.51      0.22      0.31       224
           P       0.64      0.59      0.62       339

   micro avg       0.56      0.56      0.56      1167
   macro avg       0.50      0.42      0.40      1167
weighted avg       0.53      0.56      0.50      1167

           N    NEU  NONE  P
True/Pred
N          401  104  134   116
NEU          1    1    1     0
NONE        14   11   49    22
P           40   32   40   201

### Fold number: 9. Name: b12e85034a22442f8a4c024c96f07db0

### Training

              precision    recall  f1-score   support

           N       0.60      0.92      0.72       411
         NEU       0.92      0.09      0.16       134
        NONE       0.84      0.38      0.53       201
           P       0.71      0.73      0.72       305

   micro avg       0.66      0.66      0.66      1051
   macro avg       0.77      0.53      0.53      1051
weighted avg       0.72      0.66      0.61      1051

           N    NEU  NONE  P
True/Pred
N          378  83   95     79
NEU          0  12    1      0
NONE         5   6   77      4
P           28  33   28    222

### Validation

              precision    recall  f1-score   support

           N       0.54      0.84      0.66        45
         NEU       0.00      0.00      0.00        15
        NONE       0.44      0.18      0.26        22
           P       0.54      0.58      0.56        33

   micro avg       0.53      0.53      0.53       115
   macro avg       0.38      0.40      0.37       115
weighted avg       0.45      0.53      0.47       115

           N   NEU  NONE  P
True/Pred
N          38  6    15    11
NEU         1  0     0     0
NONE        1  1     4     3
P           5  8     3    19

### Test

Accuracy: 0.5552699228791774
Loss: 1.1118227485714482
              precision    recall  f1-score   support

           N       0.53      0.89      0.67       456
         NEU       1.00      0.01      0.01       148
        NONE       0.47      0.22      0.30       224
           P       0.64      0.57      0.60       339

   micro avg       0.56      0.56      0.56      1167
   macro avg       0.66      0.42      0.39      1167
weighted avg       0.61      0.56      0.49      1167

           N    NEU  NONE  P
True/Pred
N          406  104  131   119
NEU          0    1    0     0
NONE        16   11   49    28
P           34   32   44   192

### Fold number: 10. Name: 6de6e1fb928f41679b643aec9a4f3848

### Training

              precision    recall  f1-score   support

           N       0.61      0.94      0.74       411
         NEU       0.94      0.11      0.20       135
        NONE       0.82      0.36      0.50       201
           P       0.72      0.72      0.72       305

   micro avg       0.66      0.66      0.66      1052
   macro avg       0.77      0.54      0.54      1052
weighted avg       0.72      0.66      0.62      1052

           N    NEU  NONE  P
True/Pred
N          388  78   97     78
NEU          0  15    1      0
NONE         4   6   73      6
P           19  36   30    221

### Validation

              precision    recall  f1-score   support

           N       0.48      0.78      0.59        45
         NEU       0.00      0.00      0.00        14
        NONE       0.38      0.14      0.20        22
           P       0.56      0.55      0.55        33

   micro avg       0.49      0.49      0.49       114
   macro avg       0.35      0.36      0.34       114
weighted avg       0.42      0.49      0.43       114

           N   NEU  NONE  P
True/Pred
N          35  12   13    13
NEU         0   0    0     1
NONE        3   1    3     1
P           7   1    6    18

### Test

Accuracy: 0.5355612682090831
Loss: 1.1165888175405247
              precision    recall  f1-score   support

           N       0.51      0.88      0.65       456
         NEU       0.00      0.00      0.00       148
        NONE       0.45      0.17      0.25       224
           P       0.62      0.55      0.58       339

   micro avg       0.54      0.54      0.54      1167
   macro avg       0.40      0.40      0.37      1167
weighted avg       0.47      0.54      0.47      1167

           N    NEU  NONE  P
True/Pred
N          401  109  137   133
NEU          1    0    2     1
NONE        17   10   39    20
P           37   29   46   185

## 23. Creating models with embeddings: SBW-vectors-300-min5-skipgram.bin

### Mean Accuracies and losses

   train_acc_mean  train_acc_stdev  val_acc_mean  val_acc_stdev
0  0.391081        0.000263         0.391088      0.002379

### Accuracies and losses by Stratified KFold (folds with balanced class distributions)

  model name                         train_acc  train_loss  val_acc   val_loss
0  23b34878c5fd42eb984fdbf0df16ccdb  0.391221   1.214471    0.389831  1.323943
1  ce9bdc1f27ce450ba9bcdd3b8542412d  0.391221   1.276491    0.389831  1.357187
2  10fcedfe9be4490d85625e41d0de6523  0.391221   1.265897    0.389831  1.363495
3  606cbf4909234d2ab029537822a1067c  0.390848   1.261578    0.393162  1.342423
4  731ce5a91c6b410abe4a7affa0ca5c43  0.390848   1.282083    0.393162  1.427742
5  86da9622f5734f05aaac206312595256  0.390848   1.332700    0.393162  1.484570
6  9484574efbc44c86bb3cbcf01f609749  0.391429   1.216598    0.387931  1.324331
7  d7ecd38c085a475cbba15225c9f75ba0  0.391429   1.242457    0.387931  1.328274
8  0ccdaa4a7f9348b0b41c57fceaf638ae  0.391056   1.390094    0.391304  1.523193
9  3d88cac2ec174649b4ae2c38aae6e217  0.390684   1.302364    0.394737  1.422256

## 23. SBW-vectors-300-min5-skipgram.bin

### Fold number: 1. Name: 23b34878c5fd42eb984fdbf0df16ccdb

### Training

              precision    recall  f1-score   support

           N       0.39      1.00      0.56       410
         NEU       0.00      0.00      0.00       134
        NONE       0.00      0.00      0.00       200
           P       0.00      0.00      0.00       304

   micro avg       0.39      0.39      0.39      1048
   macro avg       0.10      0.25      0.14      1048
weighted avg       0.15      0.39      0.22      1048

           N    NEU  NONE  P
True/Pred
N          410  134  200   304
NEU          0    0    0     0
NONE         0    0    0     0
P            0    0    0     0

### Validation

              precision    recall  f1-score   support

           N       0.39      1.00      0.56        46
         NEU       0.00      0.00      0.00        15
        NONE       0.00      0.00      0.00        23
           P       0.00      0.00      0.00        34

   micro avg       0.39      0.39      0.39       118
   macro avg       0.10      0.25      0.14       118
weighted avg       0.15      0.39      0.22       118

           N   NEU  NONE  P
True/Pred
N          46  15   23    34
NEU         0   0    0     0
NONE        0   0    0     0
P           0   0    0     0

### Test

Accuracy: 0.390745501285347
Loss: 1.346310563462489
              precision    recall  f1-score   support

           N       0.39      1.00      0.56       456
         NEU       0.00      0.00      0.00       148
        NONE       0.00      0.00      0.00       224
           P       0.00      0.00      0.00       339

   micro avg       0.39      0.39      0.39      1167
   macro avg       0.10      0.25      0.14      1167
weighted avg       0.15      0.39      0.22      1167

           N    NEU  NONE  P
True/Pred
N          456  148  224   339
NEU          0    0    0     0
NONE         0    0    0     0
P            0    0    0     0

### Fold number: 2. Name: ce9bdc1f27ce450ba9bcdd3b8542412d

### Training

              precision    recall  f1-score   support

           N       0.39      1.00      0.56       410
         NEU       0.00      0.00      0.00       134
        NONE       0.00      0.00      0.00       200
           P       0.00      0.00      0.00       304

   micro avg       0.39      0.39      0.39      1048
   macro avg       0.10      0.25      0.14      1048
weighted avg       0.15      0.39      0.22      1048

           N    NEU  NONE  P
True/Pred
N          410  134  200   304
NEU          0    0    0     0
NONE         0    0    0     0
P            0    0    0     0

### Validation

              precision    recall  f1-score   support

           N       0.39      1.00      0.56        46
         NEU       0.00      0.00      0.00        15
        NONE       0.00      0.00      0.00        23
           P       0.00      0.00      0.00        34

   micro avg       0.39      0.39      0.39       118
   macro avg       0.10      0.25      0.14       118
weighted avg       0.15      0.39      0.22       118

           N   NEU  NONE  P
True/Pred
N          46  15   23    34
NEU         0   0    0     0
NONE        0   0    0     0
P           0   0    0     0

### Test

Accuracy: 0.390745501285347
Loss: 1.3720826554281458
              precision    recall  f1-score   support

           N       0.39      1.00      0.56       456
         NEU       0.00      0.00      0.00       148
        NONE       0.00      0.00      0.00       224
           P       0.00      0.00      0.00       339

   micro avg       0.39      0.39      0.39      1167
   macro avg       0.10      0.25      0.14      1167
weighted avg       0.15      0.39      0.22      1167

           N    NEU  NONE  P
True/Pred
N          456  148  224   339
NEU          0    0    0     0
NONE         0    0    0     0
P            0    0    0     0

### Fold number: 3. Name: 10fcedfe9be4490d85625e41d0de6523

### Training

              precision    recall  f1-score   support

           N       0.39      1.00      0.56       410
         NEU       0.00      0.00      0.00       134
        NONE       0.00      0.00      0.00       200
           P       0.00      0.00      0.00       304

   micro avg       0.39      0.39      0.39      1048
   macro avg       0.10      0.25      0.14      1048
weighted avg       0.15      0.39      0.22      1048

           N    NEU  NONE  P
True/Pred
N          410  134  200   304
NEU          0    0    0     0
NONE         0    0    0     0
P            0    0    0     0

### Validation

              precision    recall  f1-score   support

           N       0.39      1.00      0.56        46
         NEU       0.00      0.00      0.00        15
        NONE       0.00      0.00      0.00        23
           P       0.00      0.00      0.00        34

   micro avg       0.39      0.39      0.39       118
   macro avg       0.10      0.25      0.14       118
weighted avg       0.15      0.39      0.22       118

           N   NEU  NONE  P
True/Pred
N          46  15   23    34
NEU         0   0    0     0
NONE        0   0    0     0
P           0   0    0     0

### Test

Accuracy: 0.390745501285347
Loss: 1.3784439451725983
              precision    recall  f1-score   support

           N       0.39      1.00      0.56       456
         NEU       0.00      0.00      0.00       148
        NONE       0.00      0.00      0.00       224
           P       0.00      0.00      0.00       339

   micro avg       0.39      0.39      0.39      1167
   macro avg       0.10      0.25      0.14      1167
weighted avg       0.15      0.39      0.22      1167

           N    NEU  NONE  P
True/Pred
N          456  148  224   339
NEU          0    0    0     0
NONE         0    0    0     0
P            0    0    0     0

### Fold number: 4. Name: 606cbf4909234d2ab029537822a1067c

### Training

              precision    recall  f1-score   support

           N       0.39      1.00      0.56       410
         NEU       0.00      0.00      0.00       134
        NONE       0.00      0.00      0.00       201
           P       0.00      0.00      0.00       304

   micro avg       0.39      0.39      0.39      1049
   macro avg       0.10      0.25      0.14      1049
weighted avg       0.15      0.39      0.22      1049

           N    NEU  NONE  P
True/Pred
N          410  134  201   304
NEU          0    0    0     0
NONE         0    0    0     0
P            0    0    0     0

### Validation

              precision    recall  f1-score   support

           N       0.39      1.00      0.56        46
         NEU       0.00      0.00      0.00        15
        NONE       0.00      0.00      0.00        22
           P       0.00      0.00      0.00        34

   micro avg       0.39      0.39      0.39       117
   macro avg       0.10      0.25      0.14       117
weighted avg       0.15      0.39      0.22       117

           N   NEU  NONE  P
True/Pred
N          46  15   22    34
NEU         0   0    0     0
NONE        0   0    0     0
P           0   0    0     0

### Test

Accuracy: 0.390745501285347
Loss: 1.3670377770278992
              precision    recall  f1-score   support

           N       0.39      1.00      0.56       456
         NEU       0.00      0.00      0.00       148
        NONE       0.00      0.00      0.00       224
           P       0.00      0.00      0.00       339

   micro avg       0.39      0.39      0.39      1167
   macro avg       0.10      0.25      0.14      1167
weighted avg       0.15      0.39      0.22      1167

           N    NEU  NONE  P
True/Pred
N          456  148  224   339
NEU          0    0    0     0
NONE         0    0    0     0
P            0    0    0     0

### Fold number: 5. Name: 731ce5a91c6b410abe4a7affa0ca5c43

### Training

              precision    recall  f1-score   support

           N       0.39      1.00      0.56       410
         NEU       0.00      0.00      0.00       134
        NONE       0.00      0.00      0.00       201
           P       0.00      0.00      0.00       304

   micro avg       0.39      0.39      0.39      1049
   macro avg       0.10      0.25      0.14      1049
weighted avg       0.15      0.39      0.22      1049

           N    NEU  NONE  P
True/Pred
N          410  134  201   304
NEU          0    0    0     0
NONE         0    0    0     0
P            0    0    0     0

### Validation

              precision    recall  f1-score   support

           N       0.39      1.00      0.56        46
         NEU       0.00      0.00      0.00        15
        NONE       0.00      0.00      0.00        22
           P       0.00      0.00      0.00        34

   micro avg       0.39      0.39      0.39       117
   macro avg       0.10      0.25      0.14       117
weighted avg       0.15      0.39      0.22       117

           N   NEU  NONE  P
True/Pred
N          46  15   22    34
NEU         0   0    0     0
NONE        0   0    0     0
P           0   0    0     0

### Test

Accuracy: 0.390745501285347
Loss: 1.4051042691913245
              precision    recall  f1-score   support

           N       0.39      1.00      0.56       456
         NEU       0.00      0.00      0.00       148
        NONE       0.00      0.00      0.00       224
           P       0.00      0.00      0.00       339

   micro avg       0.39      0.39      0.39      1167
   macro avg       0.10      0.25      0.14      1167
weighted avg       0.15      0.39      0.22      1167

           N    NEU  NONE  P
True/Pred
N          456  148  224   339
NEU          0    0    0     0
NONE         0    0    0     0
P            0    0    0     0

### Fold number: 6. Name: 86da9622f5734f05aaac206312595256

### Training

              precision    recall  f1-score   support

           N       0.39      1.00      0.56       410
         NEU       0.00      0.00      0.00       134
        NONE       0.00      0.00      0.00       201
           P       0.00      0.00      0.00       304

   micro avg       0.39      0.39      0.39      1049
   macro avg       0.10      0.25      0.14      1049
weighted avg       0.15      0.39      0.22      1049

           N    NEU  NONE  P
True/Pred
N          410  134  201   304
NEU          0    0    0     0
NONE         0    0    0     0
P            0    0    0     0

### Validation

              precision    recall  f1-score   support

           N       0.39      1.00      0.56        46
         NEU       0.00      0.00      0.00        15
        NONE       0.00      0.00      0.00        22
           P       0.00      0.00      0.00        34

   micro avg       0.39      0.39      0.39       117
   macro avg       0.10      0.25      0.14       117
weighted avg       0.15      0.39      0.22       117

           N   NEU  NONE  P
True/Pred
N          46  15   22    34
NEU         0   0    0     0
NONE        0   0    0     0
P           0   0    0     0

### Test

Accuracy: 0.390745501285347
Loss: 1.4669219139526692
              precision    recall  f1-score   support

           N       0.39      1.00      0.56       456
         NEU       0.00      0.00      0.00       148
        NONE       0.00      0.00      0.00       224
           P       0.00      0.00      0.00       339

   micro avg       0.39      0.39      0.39      1167
   macro avg       0.10      0.25      0.14      1167
weighted avg       0.15      0.39      0.22      1167

           N    NEU  NONE  P
True/Pred
N          456  148  224   339
NEU          0    0    0     0
NONE         0    0    0     0
P            0    0    0     0

### Fold number: 7. Name: 9484574efbc44c86bb3cbcf01f609749

### Training

              precision    recall  f1-score   support

           N       0.39      1.00      0.56       411
         NEU       0.00      0.00      0.00       134
        NONE       0.00      0.00      0.00       201
           P       0.00      0.00      0.00       304

   micro avg       0.39      0.39      0.39      1050
   macro avg       0.10      0.25      0.14      1050
weighted avg       0.15      0.39      0.22      1050

           N    NEU  NONE  P
True/Pred
N          411  134  201   304
NEU          0    0    0     0
NONE         0    0    0     0
P            0    0    0     0

### Validation

              precision    recall  f1-score   support

           N       0.39      1.00      0.56        45
         NEU       0.00      0.00      0.00        15
        NONE       0.00      0.00      0.00        22
           P       0.00      0.00      0.00        34

   micro avg       0.39      0.39      0.39       116
   macro avg       0.10      0.25      0.14       116
weighted avg       0.15      0.39      0.22       116

           N   NEU  NONE  P
True/Pred
N          45  15   22    34
NEU         0   0    0     0
NONE        0   0    0     0
P           0   0    0     0

### Test

Accuracy: 0.390745501285347
Loss: 1.3240919525287187
              precision    recall  f1-score   support

           N       0.39      1.00      0.56       456
         NEU       0.00      0.00      0.00       148
        NONE       0.00      0.00      0.00       224
           P       0.00      0.00      0.00       339

   micro avg       0.39      0.39      0.39      1167
   macro avg       0.10      0.25      0.14      1167
weighted avg       0.15      0.39      0.22      1167

           N    NEU  NONE  P
True/Pred
N          456  148  224   339
NEU          0    0    0     0
NONE         0    0    0     0
P            0    0    0     0

### Fold number: 8. Name: d7ecd38c085a475cbba15225c9f75ba0

### Training

              precision    recall  f1-score   support

           N       0.39      1.00      0.56       411
         NEU       0.00      0.00      0.00       134
        NONE       0.00      0.00      0.00       201
           P       0.00      0.00      0.00       304

   micro avg       0.39      0.39      0.39      1050
   macro avg       0.10      0.25      0.14      1050
weighted avg       0.15      0.39      0.22      1050

           N    NEU  NONE  P
True/Pred
N          411  134  201   304
NEU          0    0    0     0
NONE         0    0    0     0
P            0    0    0     0

### Validation

              precision    recall  f1-score   support

           N       0.39      1.00      0.56        45
         NEU       0.00      0.00      0.00        15
        NONE       0.00      0.00      0.00        22
           P       0.00      0.00      0.00        34

   micro avg       0.39      0.39      0.39       116
   macro avg       0.10      0.25      0.14       116
weighted avg       0.15      0.39      0.22       116

           N   NEU  NONE  P
True/Pred
N          45  15   22    34
NEU         0   0    0     0
NONE        0   0    0     0
P           0   0    0     0

### Test

Accuracy: 0.390745501285347
Loss: 1.343356107765456
              precision    recall  f1-score   support

           N       0.39      1.00      0.56       456
         NEU       0.00      0.00      0.00       148
        NONE       0.00      0.00      0.00       224
           P       0.00      0.00      0.00       339

   micro avg       0.39      0.39      0.39      1167
   macro avg       0.10      0.25      0.14      1167
weighted avg       0.15      0.39      0.22      1167

           N    NEU  NONE  P
True/Pred
N          456  148  224   339
NEU          0    0    0     0
NONE         0    0    0     0
P            0    0    0     0

### Fold number: 9. Name: 0ccdaa4a7f9348b0b41c57fceaf638ae

### Training

              precision    recall  f1-score   support

           N       0.39      1.00      0.56       411
         NEU       0.00      0.00      0.00       134
        NONE       0.00      0.00      0.00       201
           P       0.00      0.00      0.00       305

   micro avg       0.39      0.39      0.39      1051
   macro avg       0.10      0.25      0.14      1051
weighted avg       0.15      0.39      0.22      1051

           N    NEU  NONE  P
True/Pred
N          411  134  201   305
NEU          0    0    0     0
NONE         0    0    0     0
P            0    0    0     0

### Validation

              precision    recall  f1-score   support

           N       0.39      1.00      0.56        45
         NEU       0.00      0.00      0.00        15
        NONE       0.00      0.00      0.00        22
           P       0.00      0.00      0.00        33

   micro avg       0.39      0.39      0.39       115
   macro avg       0.10      0.25      0.14       115
weighted avg       0.15      0.39      0.22       115

           N   NEU  NONE  P
True/Pred
N          45  15   22    33
NEU         0   0    0     0
NONE        0   0    0     0
P           0   0    0     0

### Test

Accuracy: 0.390745501285347
Loss: 1.4957846038645561
              precision    recall  f1-score   support

           N       0.39      1.00      0.56       456
         NEU       0.00      0.00      0.00       148
        NONE       0.00      0.00      0.00       224
           P       0.00      0.00      0.00       339

   micro avg       0.39      0.39      0.39      1167
   macro avg       0.10      0.25      0.14      1167
weighted avg       0.15      0.39      0.22      1167

           N    NEU  NONE  P
True/Pred
N          456  148  224   339
NEU          0    0    0     0
NONE         0    0    0     0
P            0    0    0     0

### Fold number: 10. Name: 3d88cac2ec174649b4ae2c38aae6e217

### Training

              precision    recall  f1-score   support

           N       0.39      1.00      0.56       411
         NEU       0.00      0.00      0.00       135
        NONE       0.00      0.00      0.00       201
           P       0.00      0.00      0.00       305

   micro avg       0.39      0.39      0.39      1052
   macro avg       0.10      0.25      0.14      1052
weighted avg       0.15      0.39      0.22      1052

           N    NEU  NONE  P
True/Pred
N          411  135  201   305
NEU          0    0    0     0
NONE         0    0    0     0
P            0    0    0     0

### Validation

              precision    recall  f1-score   support

           N       0.39      1.00      0.57        45
         NEU       0.00      0.00      0.00        14
        NONE       0.00      0.00      0.00        22
           P       0.00      0.00      0.00        33

   micro avg       0.39      0.39      0.39       114
   macro avg       0.10      0.25      0.14       114
weighted avg       0.16      0.39      0.22       114

           N   NEU  NONE  P
True/Pred
N          45  14   22    33
NEU         0   0    0     0
NONE        0   0    0     0
P           0   0    0     0

### Test

Accuracy: 0.390745501285347
Loss: 1.4184624535147772
              precision    recall  f1-score   support

           N       0.39      1.00      0.56       456
         NEU       0.00      0.00      0.00       148
        NONE       0.00      0.00      0.00       224
           P       0.00      0.00      0.00       339

   micro avg       0.39      0.39      0.39      1167
   macro avg       0.10      0.25      0.14      1167
weighted avg       0.15      0.39      0.22      1167

           N    NEU  NONE  P
True/Pred
N          456  148  224   339
NEU          0    0    0     0
NONE         0    0    0     0
P            0    0    0     0

'   \nfor i, word_vector_name in enumerate(word_vector_names): \n    lab_report = lab_reports[i]\n    show_statistics_by_model(i, word_vector_name, lab_report)\n'

In [8]:
word_vector = wv_rep.get("SBW-vectors-300-min5-skipgram.bin")
wv_service = WordVectorsService(word_vector)
input = ClassifierInput(comments, wv_service)
lab_report = classification_lab_report(i+1, input, lab)
model_architecture_summary(lab_report)
show_statistics_by_model(i, word_vector.name, ClassifierInput(test_comments, wv_service), lab_report)

## 23. Creating models with embeddings: SBW-vectors-300-min5-skipgram.bin

### Mean Accuracies and losses

   train_acc_mean  train_acc_stdev  val_acc_mean  val_acc_stdev
0  0.391081        0.000263         0.391088      0.002379

### Accuracies and losses by Stratified KFold (folds with balanced class distributions)

  model name                         train_acc  train_loss  val_acc   val_loss
0  77f0303b6d1d44ffbfb9c32dce1224cb  0.391221   1.238149    0.389831  1.323360
1  a93ac5c4884848b187ae98779e0c8c7b  0.391221   1.224852    0.389831  1.346273
2  2f995521f90544b49fe2ac4b6dfd3611  0.391221   1.226612    0.389831  1.335113
3  dd41802825bb41dda29710168af72fb0  0.390848   1.203139    0.393162  1.303305
4  240c270c971943489f50f147c9b9cb97  0.390848   1.269602    0.393162  1.395872
5  cf3cf8f2000a4ee0ab4a70e4f83e713d  0.390848   1.253225    0.393162  1.368907
6  e530252cd5cc4831aef6aaf78ab1e1ca  0.391429   1.252414    0.387931  1.417186
7  87474ba3320844eabaad9bcc5d6338f8  0.391429   1.222942    0.387931  1.311300
8  cdfb50ebdba34a1eb488bbf1758261bd  0.391056   1.350308    0.391304  1.447111
9  56365bd5bb3244c3b96349e8941bf34c  0.390684   1.287106    0.394737  1.396504

## 23. SBW-vectors-300-min5-skipgram.bin

### Fold number: 1. Name: 77f0303b6d1d44ffbfb9c32dce1224cb

### Training

              precision    recall  f1-score   support

           N       0.39      1.00      0.56       410
         NEU       0.00      0.00      0.00       134
        NONE       0.00      0.00      0.00       200
           P       0.00      0.00      0.00       304

   micro avg       0.39      0.39      0.39      1048
   macro avg       0.10      0.25      0.14      1048
weighted avg       0.15      0.39      0.22      1048

           N    NEU  NONE  P
True/Pred
N          410  134  200   304
NEU          0    0    0     0
NONE         0    0    0     0
P            0    0    0     0

### Validation

              precision    recall  f1-score   support

           N       0.39      1.00      0.56        46
         NEU       0.00      0.00      0.00        15
        NONE       0.00      0.00      0.00        23
           P       0.00      0.00      0.00        34

   micro avg       0.39      0.39      0.39       118
   macro avg       0.10      0.25      0.14       118
weighted avg       0.15      0.39      0.22       118

           N   NEU  NONE  P
True/Pred
N          46  15   23    34
NEU         0   0    0     0
NONE        0   0    0     0
P           0   0    0     0

### Test

Accuracy: 0.390745501285347
Loss: 1.3443130777662737
              precision    recall  f1-score   support

           N       0.39      1.00      0.56       456
         NEU       0.00      0.00      0.00       148
        NONE       0.00      0.00      0.00       224
           P       0.00      0.00      0.00       339

   micro avg       0.39      0.39      0.39      1167
   macro avg       0.10      0.25      0.14      1167
weighted avg       0.15      0.39      0.22      1167

           N    NEU  NONE  P
True/Pred
N          456  148  224   339
NEU          0    0    0     0
NONE         0    0    0     0
P            0    0    0     0

### Fold number: 2. Name: a93ac5c4884848b187ae98779e0c8c7b

### Training

              precision    recall  f1-score   support

           N       0.39      1.00      0.56       410
         NEU       0.00      0.00      0.00       134
        NONE       0.00      0.00      0.00       200
           P       0.00      0.00      0.00       304

   micro avg       0.39      0.39      0.39      1048
   macro avg       0.10      0.25      0.14      1048
weighted avg       0.15      0.39      0.22      1048

           N    NEU  NONE  P
True/Pred
N          410  134  200   304
NEU          0    0    0     0
NONE         0    0    0     0
P            0    0    0     0

### Validation

              precision    recall  f1-score   support

           N       0.39      1.00      0.56        46
         NEU       0.00      0.00      0.00        15
        NONE       0.00      0.00      0.00        23
           P       0.00      0.00      0.00        34

   micro avg       0.39      0.39      0.39       118
   macro avg       0.10      0.25      0.14       118
weighted avg       0.15      0.39      0.22       118

           N   NEU  NONE  P
True/Pred
N          46  15   23    34
NEU         0   0    0     0
NONE        0   0    0     0
P           0   0    0     0

### Test

Accuracy: 0.390745501285347
Loss: 1.3179127771461419
              precision    recall  f1-score   support

           N       0.39      1.00      0.56       456
         NEU       0.00      0.00      0.00       148
        NONE       0.00      0.00      0.00       224
           P       0.00      0.00      0.00       339

   micro avg       0.39      0.39      0.39      1167
   macro avg       0.10      0.25      0.14      1167
weighted avg       0.15      0.39      0.22      1167

           N    NEU  NONE  P
True/Pred
N          456  148  224   339
NEU          0    0    0     0
NONE         0    0    0     0
P            0    0    0     0

### Fold number: 3. Name: 2f995521f90544b49fe2ac4b6dfd3611

### Training

              precision    recall  f1-score   support

           N       0.39      1.00      0.56       410
         NEU       0.00      0.00      0.00       134
        NONE       0.00      0.00      0.00       200
           P       0.00      0.00      0.00       304

   micro avg       0.39      0.39      0.39      1048
   macro avg       0.10      0.25      0.14      1048
weighted avg       0.15      0.39      0.22      1048

           N    NEU  NONE  P
True/Pred
N          410  134  200   304
NEU          0    0    0     0
NONE         0    0    0     0
P            0    0    0     0

### Validation

              precision    recall  f1-score   support

           N       0.39      1.00      0.56        46
         NEU       0.00      0.00      0.00        15
        NONE       0.00      0.00      0.00        23
           P       0.00      0.00      0.00        34

   micro avg       0.39      0.39      0.39       118
   macro avg       0.10      0.25      0.14       118
weighted avg       0.15      0.39      0.22       118

           N   NEU  NONE  P
True/Pred
N          46  15   23    34
NEU         0   0    0     0
NONE        0   0    0     0
P           0   0    0     0

### Test

Accuracy: 0.390745501285347
Loss: 1.3253803719093424
              precision    recall  f1-score   support

           N       0.39      1.00      0.56       456
         NEU       0.00      0.00      0.00       148
        NONE       0.00      0.00      0.00       224
           P       0.00      0.00      0.00       339

   micro avg       0.39      0.39      0.39      1167
   macro avg       0.10      0.25      0.14      1167
weighted avg       0.15      0.39      0.22      1167

           N    NEU  NONE  P
True/Pred
N          456  148  224   339
NEU          0    0    0     0
NONE         0    0    0     0
P            0    0    0     0

### Fold number: 4. Name: dd41802825bb41dda29710168af72fb0

### Training

              precision    recall  f1-score   support

           N       0.39      1.00      0.56       410
         NEU       0.00      0.00      0.00       134
        NONE       0.00      0.00      0.00       201
           P       0.00      0.00      0.00       304

   micro avg       0.39      0.39      0.39      1049
   macro avg       0.10      0.25      0.14      1049
weighted avg       0.15      0.39      0.22      1049

           N    NEU  NONE  P
True/Pred
N          410  134  201   304
NEU          0    0    0     0
NONE         0    0    0     0
P            0    0    0     0

### Validation

              precision    recall  f1-score   support

           N       0.39      1.00      0.56        46
         NEU       0.00      0.00      0.00        15
        NONE       0.00      0.00      0.00        22
           P       0.00      0.00      0.00        34

   micro avg       0.39      0.39      0.39       117
   macro avg       0.10      0.25      0.14       117
weighted avg       0.15      0.39      0.22       117

           N   NEU  NONE  P
True/Pred
N          46  15   22    34
NEU         0   0    0     0
NONE        0   0    0     0
P           0   0    0     0

### Test

Accuracy: 0.390745501285347
Loss: 1.3181974830135454
              precision    recall  f1-score   support

           N       0.39      1.00      0.56       456
         NEU       0.00      0.00      0.00       148
        NONE       0.00      0.00      0.00       224
           P       0.00      0.00      0.00       339

   micro avg       0.39      0.39      0.39      1167
   macro avg       0.10      0.25      0.14      1167
weighted avg       0.15      0.39      0.22      1167

           N    NEU  NONE  P
True/Pred
N          456  148  224   339
NEU          0    0    0     0
NONE         0    0    0     0
P            0    0    0     0

### Fold number: 5. Name: 240c270c971943489f50f147c9b9cb97

### Training

              precision    recall  f1-score   support

           N       0.39      1.00      0.56       410
         NEU       0.00      0.00      0.00       134
        NONE       0.00      0.00      0.00       201
           P       0.00      0.00      0.00       304

   micro avg       0.39      0.39      0.39      1049
   macro avg       0.10      0.25      0.14      1049
weighted avg       0.15      0.39      0.22      1049

           N    NEU  NONE  P
True/Pred
N          410  134  201   304
NEU          0    0    0     0
NONE         0    0    0     0
P            0    0    0     0

### Validation

              precision    recall  f1-score   support

           N       0.39      1.00      0.56        46
         NEU       0.00      0.00      0.00        15
        NONE       0.00      0.00      0.00        22
           P       0.00      0.00      0.00        34

   micro avg       0.39      0.39      0.39       117
   macro avg       0.10      0.25      0.14       117
weighted avg       0.15      0.39      0.22       117

           N   NEU  NONE  P
True/Pred
N          46  15   22    34
NEU         0   0    0     0
NONE        0   0    0     0
P           0   0    0     0

### Test

Accuracy: 0.390745501285347
Loss: 1.3758859236609025
              precision    recall  f1-score   support

           N       0.39      1.00      0.56       456
         NEU       0.00      0.00      0.00       148
        NONE       0.00      0.00      0.00       224
           P       0.00      0.00      0.00       339

   micro avg       0.39      0.39      0.39      1167
   macro avg       0.10      0.25      0.14      1167
weighted avg       0.15      0.39      0.22      1167

           N    NEU  NONE  P
True/Pred
N          456  148  224   339
NEU          0    0    0     0
NONE         0    0    0     0
P            0    0    0     0

### Fold number: 6. Name: cf3cf8f2000a4ee0ab4a70e4f83e713d

### Training

              precision    recall  f1-score   support

           N       0.39      1.00      0.56       410
         NEU       0.00      0.00      0.00       134
        NONE       0.00      0.00      0.00       201
           P       0.00      0.00      0.00       304

   micro avg       0.39      0.39      0.39      1049
   macro avg       0.10      0.25      0.14      1049
weighted avg       0.15      0.39      0.22      1049

           N    NEU  NONE  P
True/Pred
N          410  134  201   304
NEU          0    0    0     0
NONE         0    0    0     0
P            0    0    0     0

### Validation

              precision    recall  f1-score   support

           N       0.39      1.00      0.56        46
         NEU       0.00      0.00      0.00        15
        NONE       0.00      0.00      0.00        22
           P       0.00      0.00      0.00        34

   micro avg       0.39      0.39      0.39       117
   macro avg       0.10      0.25      0.14       117
weighted avg       0.15      0.39      0.22       117

           N   NEU  NONE  P
True/Pred
N          46  15   22    34
NEU         0   0    0     0
NONE        0   0    0     0
P           0   0    0     0

### Test

Accuracy: 0.390745501285347
Loss: 1.3597759771126021
              precision    recall  f1-score   support

           N       0.39      1.00      0.56       456
         NEU       0.00      0.00      0.00       148
        NONE       0.00      0.00      0.00       224
           P       0.00      0.00      0.00       339

   micro avg       0.39      0.39      0.39      1167
   macro avg       0.10      0.25      0.14      1167
weighted avg       0.15      0.39      0.22      1167

           N    NEU  NONE  P
True/Pred
N          456  148  224   339
NEU          0    0    0     0
NONE         0    0    0     0
P            0    0    0     0

### Fold number: 7. Name: e530252cd5cc4831aef6aaf78ab1e1ca

### Training

              precision    recall  f1-score   support

           N       0.39      1.00      0.56       411
         NEU       0.00      0.00      0.00       134
        NONE       0.00      0.00      0.00       201
           P       0.00      0.00      0.00       304

   micro avg       0.39      0.39      0.39      1050
   macro avg       0.10      0.25      0.14      1050
weighted avg       0.15      0.39      0.22      1050

           N    NEU  NONE  P
True/Pred
N          411  134  201   304
NEU          0    0    0     0
NONE         0    0    0     0
P            0    0    0     0

### Validation

              precision    recall  f1-score   support

           N       0.39      1.00      0.56        45
         NEU       0.00      0.00      0.00        15
        NONE       0.00      0.00      0.00        22
           P       0.00      0.00      0.00        34

   micro avg       0.39      0.39      0.39       116
   macro avg       0.10      0.25      0.14       116
weighted avg       0.15      0.39      0.22       116

           N   NEU  NONE  P
True/Pred
N          45  15   22    34
NEU         0   0    0     0
NONE        0   0    0     0
P           0   0    0     0

### Test

Accuracy: 0.390745501285347
Loss: 1.4121294956258843
              precision    recall  f1-score   support

           N       0.39      1.00      0.56       456
         NEU       0.00      0.00      0.00       148
        NONE       0.00      0.00      0.00       224
           P       0.00      0.00      0.00       339

   micro avg       0.39      0.39      0.39      1167
   macro avg       0.10      0.25      0.14      1167
weighted avg       0.15      0.39      0.22      1167

           N    NEU  NONE  P
True/Pred
N          456  148  224   339
NEU          0    0    0     0
NONE         0    0    0     0
P            0    0    0     0

### Fold number: 8. Name: 87474ba3320844eabaad9bcc5d6338f8

### Training

              precision    recall  f1-score   support

           N       0.39      1.00      0.56       411
         NEU       0.00      0.00      0.00       134
        NONE       0.00      0.00      0.00       201
           P       0.00      0.00      0.00       304

   micro avg       0.39      0.39      0.39      1050
   macro avg       0.10      0.25      0.14      1050
weighted avg       0.15      0.39      0.22      1050

           N    NEU  NONE  P
True/Pred
N          411  134  201   304
NEU          0    0    0     0
NONE         0    0    0     0
P            0    0    0     0

### Validation

              precision    recall  f1-score   support

           N       0.39      1.00      0.56        45
         NEU       0.00      0.00      0.00        15
        NONE       0.00      0.00      0.00        22
           P       0.00      0.00      0.00        34

   micro avg       0.39      0.39      0.39       116
   macro avg       0.10      0.25      0.14       116
weighted avg       0.15      0.39      0.22       116

           N   NEU  NONE  P
True/Pred
N          45  15   22    34
NEU         0   0    0     0
NONE        0   0    0     0
P           0   0    0     0

### Test

Accuracy: 0.390745501285347
Loss: 1.3240084020738732
              precision    recall  f1-score   support

           N       0.39      1.00      0.56       456
         NEU       0.00      0.00      0.00       148
        NONE       0.00      0.00      0.00       224
           P       0.00      0.00      0.00       339

   micro avg       0.39      0.39      0.39      1167
   macro avg       0.10      0.25      0.14      1167
weighted avg       0.15      0.39      0.22      1167

           N    NEU  NONE  P
True/Pred
N          456  148  224   339
NEU          0    0    0     0
NONE         0    0    0     0
P            0    0    0     0

### Fold number: 9. Name: cdfb50ebdba34a1eb488bbf1758261bd

### Training

              precision    recall  f1-score   support

           N       0.39      1.00      0.56       411
         NEU       0.00      0.00      0.00       134
        NONE       0.00      0.00      0.00       201
           P       0.00      0.00      0.00       305

   micro avg       0.39      0.39      0.39      1051
   macro avg       0.10      0.25      0.14      1051
weighted avg       0.15      0.39      0.22      1051

           N    NEU  NONE  P
True/Pred
N          411  134  201   305
NEU          0    0    0     0
NONE         0    0    0     0
P            0    0    0     0

### Validation

              precision    recall  f1-score   support

           N       0.39      1.00      0.56        45
         NEU       0.00      0.00      0.00        15
        NONE       0.00      0.00      0.00        22
           P       0.00      0.00      0.00        33

   micro avg       0.39      0.39      0.39       115
   macro avg       0.10      0.25      0.14       115
weighted avg       0.15      0.39      0.22       115

           N   NEU  NONE  P
True/Pred
N          45  15   22    33
NEU         0   0    0     0
NONE        0   0    0     0
P           0   0    0     0

### Test

Accuracy: 0.390745501285347
Loss: 1.453578070491589
              precision    recall  f1-score   support

           N       0.39      1.00      0.56       456
         NEU       0.00      0.00      0.00       148
        NONE       0.00      0.00      0.00       224
           P       0.00      0.00      0.00       339

   micro avg       0.39      0.39      0.39      1167
   macro avg       0.10      0.25      0.14      1167
weighted avg       0.15      0.39      0.22      1167

           N    NEU  NONE  P
True/Pred
N          456  148  224   339
NEU          0    0    0     0
NONE         0    0    0     0
P            0    0    0     0

### Fold number: 10. Name: 56365bd5bb3244c3b96349e8941bf34c

### Training

              precision    recall  f1-score   support

           N       0.39      1.00      0.56       411
         NEU       0.00      0.00      0.00       135
        NONE       0.00      0.00      0.00       201
           P       0.00      0.00      0.00       305

   micro avg       0.39      0.39      0.39      1052
   macro avg       0.10      0.25      0.14      1052
weighted avg       0.15      0.39      0.22      1052

           N    NEU  NONE  P
True/Pred
N          411  135  201   305
NEU          0    0    0     0
NONE         0    0    0     0
P            0    0    0     0

### Validation

              precision    recall  f1-score   support

           N       0.39      1.00      0.57        45
         NEU       0.00      0.00      0.00        14
        NONE       0.00      0.00      0.00        22
           P       0.00      0.00      0.00        33

   micro avg       0.39      0.39      0.39       114
   macro avg       0.10      0.25      0.14       114
weighted avg       0.16      0.39      0.22       114

           N   NEU  NONE  P
True/Pred
N          45  14   22    33
NEU         0   0    0     0
NONE        0   0    0     0
P           0   0    0     0

### Test

Accuracy: 0.390745501285347
Loss: 1.3986251895414301
              precision    recall  f1-score   support

           N       0.39      1.00      0.56       456
         NEU       0.00      0.00      0.00       148
        NONE       0.00      0.00      0.00       224
           P       0.00      0.00      0.00       339

   micro avg       0.39      0.39      0.39      1167
   macro avg       0.10      0.25      0.14      1167
weighted avg       0.15      0.39      0.22      1167

           N    NEU  NONE  P
True/Pred
N          456  148  224   339
NEU          0    0    0     0
NONE         0    0    0     0
P            0    0    0     0