In [1]:
import sys
import os
from pprint import pprint
sys.path.append(os.path.abspath("../../../"))
import warnings
warnings.filterwarnings('ignore')
from IPython.display import display, HTML
from IPython.display import Markdown
import ipywidgets as iw
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf

In [2]:
import usure.common.logging as usurelogging
from usure.config import config
from usure.classification.infrastructure import (
     BasicSentenceCleaner 
    ,FileLabeledCommentsDao
    ,FileWordVectorsRep)
from usure.classification.core import SvmLab, ClassifierInput, LabReport, WordVectorsService
from usure.classification.infrastructure import FileModelDao
import usure.classification.ui.utils as ui

Using TensorFlow backend.

In [3]:
%%javascript
IPython.OutputArea.prototype._should_scroll = lines => false

In [4]:
pd.set_option('colheader_justify', 'left')
pd.set_option('display.max_colwidth', 200)

In [5]:
cleaner = BasicSentenceCleaner(config.assets)
comments_dao = FileLabeledCommentsDao(config.classification, cleaner)
wv_rep = FileWordVectorsRep(config.embeddings)
model_dao = FileModelDao(config.models)
comments = comments_dao.get("intertass-CR-train-tagged.xml")

In [6]:
def classification_lab_report(word_vector_no, input, lab):
    display(Markdown(f'## {word_vector_no}. Creating models with embeddings: {input.embeddings_name}'))
    lab_report = lab.train_by_stratifiedkfold(input, folds=10)
    return lab_report

def model_architecture_summary(lab_report):
    display(Markdown(f'### Mean Accuracies and losses'))
    display(lab_report.summary)
    display(Markdown(f'### Accuracies and losses by Stratified KFold (folds with balanced class distributions)'))
    model_reports_df = ui.model_reports_to_DataFrame(lab_report.model_reports)
    display(model_reports_df) 
    
def show_statistics_by_model(word_vector_no, word_vector_name, lab_report):
    """Shows statistics by models created by every folds"""
    display(Markdown(f'## {word_vector_no}. {word_vector_name}'))
    for fold_no, model_report in enumerate(lab_report.model_reports):
        display(Markdown(f'### Fold number: {fold_no+1}. Name: {model_report.name}'))
        ui.plot_learning_curves_if_epoches(model_report)
        display(Markdown(f'### Training'))
        print(model_report.training.classification_report)
        confu_mtx = model_report.training.confusion_matrix
        display(confu_mtx)
        display(Markdown(f'### Validation'))
        print(model_report.validation.classification_report)
        confu_mtx = model_report.validation.confusion_matrix
        display(confu_mtx)

In [7]:
#%matplotlib notebook
display(Markdown(f'# Support Vector Machine'))
word_vectors = wv_rep.get_all()
word_vector_names = []
lab_reports = []
#word_vectors = [word_vectors.__next__()] #comment!!!!!
for i, word_vector in enumerate(word_vectors):
    wv_service = WordVectorsService(word_vector)
    input = ClassifierInput(comments, wv_service)
    lab = SvmLab( model_dao)
    lab_report = classification_lab_report(i+1, input, lab)
    model_architecture_summary(lab_report)
    word_vector_names.append(word_vector.name)
    lab_reports.append(lab_report)
    
for i, word_vector_name in enumerate(word_vector_names): 
    lab_report = lab_reports[i]
    show_statistics_by_model(i+1, word_vector_name, lab_report)

# Support Vector Machine

## 1. Creating models with embeddings: CorpusFBCR2013.txt.usu.bw.kvs

### Mean Accuracies and losses

   train_acc_mean  train_acc_stdev  val_acc_mean  val_acc_stdev
0  0.408057        0.002867         0.403841      0.015049

### Accuracies and losses by Stratified KFold (folds with balanced class distributions)

  model name                         train_acc  train_loss  val_acc   val_loss
0  98c2fa71694a4a7ba151c3d512f9bcc8  0.408078   0.985859    0.390244  1.134116
1  08247f2bf2be4e8e813a44508308477e  0.410292   0.990475    0.395062  1.154724
2  4d9e4767ed3b4d5da54675f6bd9052c0  0.410292   0.968375    0.395062  1.222579
3  33f9e515c8e14719adc115ad86e8495f  0.407510   0.964417    0.407407  1.205762
4  219024e4afd24691aef35255e4519c04  0.408333   0.976080    0.400000  1.201904
5  e08608c2f5a14f4fa0ad471121948376  0.411928   0.952635    0.392405  1.244408
6  ba107fc3fb354e3d93690607aefc4daf  0.403606   0.976608    0.430380  1.166590
7  d3bd1ce46b2044cba5ba8dec63a389d8  0.406380   0.989296    0.405063  1.144410
8  8640a735e51b4e398454a2f774493c28  0.403606   0.988640    0.430380  1.167686
9  2d311b3f160947688c1b23d207086449  0.410541   0.965753    0.392405  1.176593

## 2. Creating models with embeddings: CorpusFBCR2013.txt.usu.sw.kvs

### Mean Accuracies and losses

   train_acc_mean  train_acc_stdev  val_acc_mean  val_acc_stdev
0  0.413331        0.00486          0.406154      0.017429

### Accuracies and losses by Stratified KFold (folds with balanced class distributions)

  model name                         train_acc  train_loss  val_acc   val_loss
0  cd8a01103be24bc09f28c11d9b12c16e  0.413649   0.979893    0.402439  1.180580
1  962f00fc0fa14820891619855abfbb48  0.420028   0.990978    0.395062  1.228926
2  c066fce92d224166ad04446f960e969a  0.404729   1.006897    0.432099  1.111526
3  3e142aa5706e4e7981678872fd3929cb  0.407510   0.980326    0.432099  1.094275
4  e31d88e77db446b592c21c0246b9034f  0.413889   0.985143    0.412500  1.226613
5  d6f091a47a1a4532ba4acd5e914011e9  0.416089   0.973915    0.392405  1.168904
6  e4734c2dcd4442ee97009988d83299c1  0.413315   0.958603    0.405063  1.194745
7  30a0aa1a96454c32af15d6250182bd50  0.417476   0.992369    0.392405  1.202042
8  3d326efa32134d93b50973a1f39f4173  0.417476   1.004124    0.379747  1.250311
9  d09dbc5980ce46c5af13d3992ea6435d  0.409154   0.997592    0.417722  1.166506

## 3. Creating models with embeddings: tweets.txt.usu.bw.kvs

### Mean Accuracies and losses

   train_acc_mean  train_acc_stdev  val_acc_mean  val_acc_stdev
0  0.434028        0.004571         0.426363      0.023807

### Accuracies and losses by Stratified KFold (folds with balanced class distributions)

  model name                         train_acc  train_loss  val_acc   val_loss
0  f52bbeda12814986b8f42c878800e506  0.426184   0.925532    0.451220  1.153242
1  fe1c93b5907b46e0a8db778063f027c3  0.438108   0.919831    0.407407  1.202950
2  b3a5fc83270947998f9f9bd75e6eadeb  0.440890   0.950924    0.395062  1.134493
3  cb57aff3f06a4c8aa7c7b0c12a4f18dc  0.433936   0.932978    0.407407  1.120709
4  cc1bc6b7bce5469ab3c2d97c94051efc  0.437500   0.923503    0.400000  1.175159
5  962353b0057e4a8bb1e458f4aa4bce56  0.428571   0.943155    0.430380  1.009841
6  9c9f0bbce272493eb36517335b399a17  0.435506   0.934251    0.430380  1.115744
7  d9ee598fe40e4f6b8c90fb6652f585f2  0.434119   0.922791    0.430380  1.223152
8  2344bff3d821491589f919a09382b481  0.435506   0.928114    0.443038  1.180226
9  8e1ae6bec16e4818ab6514cb0f380f70  0.429958   0.948695    0.468354  1.154103

## 4. Creating models with embeddings: tweets.txt.usu.sw.kvs

### Mean Accuracies and losses

   train_acc_mean  train_acc_stdev  val_acc_mean  val_acc_stdev
0  0.434584        0.002878         0.42755       0.015698

### Accuracies and losses by Stratified KFold (folds with balanced class distributions)

  model name                         train_acc  train_loss  val_acc   val_loss
0  21148407fad744fe99a2ebf7b1d943f0  0.437326   0.933324    0.439024  1.212614
1  b732ca89644a4b2bac24a16b6c23e8f6  0.428373   0.918486    0.419753  1.089943
2  50410968467f4e5cac451b7d5c68c4e6  0.438108   0.927497    0.419753  1.135816
3  1a8c8d4a64864a26b19c86afd5e0e77b  0.433936   0.963256    0.419753  1.151035
4  fd3b843fe86243b6896602bb37090a7a  0.436111   0.936267    0.400000  1.089532
5  4b17bc4dcb3a457bb4a018347f060c63  0.432732   0.924014    0.455696  1.107666
6  d7cf7e652b3a4dc6960fcc4a8b391f3b  0.432732   0.945433    0.443038  1.057757
7  b350ab7cd8f249688697152ece68800e  0.434119   0.905973    0.430380  1.206583
8  92e41ab50ac640a8bc566e035dc46da7  0.436893   0.908070    0.430380  1.159005
9  bf677336f9344e15a629ffef001784b3  0.435506   0.926352    0.417722  1.150757

## 5. Creating models with embeddings: SBW-vectors-300-min5.bin

### Mean Accuracies and losses

   train_acc_mean  train_acc_stdev  val_acc_mean  val_acc_stdev
0  0.410837        0.006376         0.402591      0.014671

### Accuracies and losses by Stratified KFold (folds with balanced class distributions)

  model name                         train_acc  train_loss  val_acc   val_loss
0  b4d7f3e155074ede8236c260442a44fb  0.413649   1.056378    0.402439  1.207595
1  3ee072be04dd41b89376b75103695eab  0.411683   1.067963    0.382716  1.193721
2  ace7847716f74ecbbb7182ffb74250c1  0.418637   1.038125    0.382716  1.249096
3  50152a64ef6b4541b6b787043d4399d4  0.408901   1.063708    0.407407  1.210020
4  e7b0ddcc37574967b3f76df4f4dc85ab  0.416667   1.043720    0.400000  1.234607
5  722a8c988bb845dc8b7116bc78744ed4  0.407767   1.056312    0.405063  1.119937
6  7b0b85940ec84ed48662c39dd763303d  0.398058   1.045650    0.430380  1.117157
7  3423c78b96394098ae617cb6c1584333  0.403606   1.053197    0.417722  1.085120
8  db7b6011745248518fc9615b62511724  0.413315   1.049830    0.405063  1.226377
9  d79093221ccf430fa22e633855f5de6e  0.416089   1.024794    0.392405  1.271555

## 1. CorpusFBCR2013.txt.usu.bw.kvs

### Fold number: 1. Name: 98c2fa71694a4a7ba151c3d512f9bcc8

### Training

              precision    recall  f1-score   support

           N       0.40      1.00      0.57       279
         NEU       0.00      0.00      0.00        84
        NONE       0.00      0.00      0.00       148
           P       0.83      0.07      0.13       207

   micro avg       0.41      0.41      0.41       718
   macro avg       0.31      0.27      0.18       718
weighted avg       0.39      0.41      0.26       718

           N    NEU  NONE  P
Pred/True
N          278  0    0      1
NEU         83  0    0      1
NONE       147  0    0      1
P          192  0    0     15

### Validation

              precision    recall  f1-score   support

           N       0.39      1.00      0.56        32
         NEU       0.00      0.00      0.00        10
        NONE       0.00      0.00      0.00        17
           P       0.00      0.00      0.00        23

   micro avg       0.39      0.39      0.39        82
   macro avg       0.10      0.25      0.14        82
weighted avg       0.15      0.39      0.22        82

           N   NEU  NONE  P
Pred/True
N          32  0    0     0
NEU        10  0    0     0
NONE       17  0    0     0
P          23  0    0     0

### Fold number: 2. Name: 08247f2bf2be4e8e813a44508308477e

### Training

              precision    recall  f1-score   support

           N       0.40      1.00      0.57       280
         NEU       0.00      0.00      0.00        84
        NONE       0.00      0.00      0.00       148
           P       0.83      0.07      0.13       207

   micro avg       0.41      0.41      0.41       719
   macro avg       0.31      0.27      0.18       719
weighted avg       0.40      0.41      0.26       719

           N    NEU  NONE  P
Pred/True
N          280  0    0      0
NEU         83  0    0      1
NONE       146  0    0      2
P          192  0    0     15

### Validation

              precision    recall  f1-score   support

           N       0.39      1.00      0.56        31
         NEU       0.00      0.00      0.00        10
        NONE       0.00      0.00      0.00        17
           P       1.00      0.04      0.08        23

   micro avg       0.40      0.40      0.40        81
   macro avg       0.35      0.26      0.16        81
weighted avg       0.43      0.40      0.24        81

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU        10  0    0     0
NONE       17  0    0     0
P          22  0    0     1

### Fold number: 3. Name: 4d9e4767ed3b4d5da54675f6bd9052c0

### Training

              precision    recall  f1-score   support

           N       0.40      1.00      0.57       280
         NEU       0.00      0.00      0.00        84
        NONE       0.00      0.00      0.00       148
           P       0.84      0.08      0.14       207

   micro avg       0.41      0.41      0.41       719
   macro avg       0.31      0.27      0.18       719
weighted avg       0.40      0.41      0.26       719

           N    NEU  NONE  P
Pred/True
N          279  0    0      1
NEU         83  0    0      1
NONE       147  0    0      1
P          191  0    0     16

### Validation

              precision    recall  f1-score   support

           N       0.39      1.00      0.56        31
         NEU       0.00      0.00      0.00        10
        NONE       0.00      0.00      0.00        17
           P       0.50      0.04      0.08        23

   micro avg       0.40      0.40      0.40        81
   macro avg       0.22      0.26      0.16        81
weighted avg       0.29      0.40      0.24        81

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU        10  0    0     0
NONE       16  0    0     1
P          22  0    0     1

### Fold number: 4. Name: 33f9e515c8e14719adc115ad86e8495f

### Training

              precision    recall  f1-score   support

           N       0.40      1.00      0.57       280
         NEU       0.00      0.00      0.00        84
        NONE       0.00      0.00      0.00       148
           P       0.82      0.07      0.12       207

   micro avg       0.41      0.41      0.41       719
   macro avg       0.31      0.27      0.17       719
weighted avg       0.39      0.41      0.26       719

           N    NEU  NONE  P
Pred/True
N          279  0    0      1
NEU         83  0    0      1
NONE       147  0    0      1
P          193  0    0     14

### Validation

              precision    recall  f1-score   support

           N       0.39      1.00      0.56        31
         NEU       0.00      0.00      0.00        10
        NONE       0.00      0.00      0.00        17
           P       1.00      0.09      0.16        23

   micro avg       0.41      0.41      0.41        81
   macro avg       0.35      0.27      0.18        81
weighted avg       0.43      0.41      0.26        81

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU        10  0    0     0
NONE       17  0    0     0
P          21  0    0     2

### Fold number: 5. Name: 219024e4afd24691aef35255e4519c04

### Training

              precision    recall  f1-score   support

           N       0.40      1.00      0.57       280
         NEU       0.00      0.00      0.00        85
        NONE       0.00      0.00      0.00       148
           P       0.79      0.07      0.13       207

   micro avg       0.41      0.41      0.41       720
   macro avg       0.30      0.27      0.18       720
weighted avg       0.38      0.41      0.26       720

           N    NEU  NONE  P
Pred/True
N          279  0    0      1
NEU         84  0    0      1
NONE       146  0    0      2
P          192  0    0     15

### Validation

              precision    recall  f1-score   support

           N       0.39      1.00      0.56        31
         NEU       0.00      0.00      0.00         9
        NONE       0.00      0.00      0.00        17
           P       1.00      0.04      0.08        23

   micro avg       0.40      0.40      0.40        80
   macro avg       0.35      0.26      0.16        80
weighted avg       0.44      0.40      0.24        80

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU         9  0    0     0
NONE       17  0    0     0
P          22  0    0     1

### Fold number: 6. Name: e08608c2f5a14f4fa0ad471121948376

### Training

              precision    recall  f1-score   support

           N       0.40      1.00      0.57       280
         NEU       0.00      0.00      0.00        85
        NONE       0.00      0.00      0.00       149
           P       0.85      0.08      0.15       207

   micro avg       0.41      0.41      0.41       721
   macro avg       0.31      0.27      0.18       721
weighted avg       0.40      0.41      0.26       721

           N    NEU  NONE  P
Pred/True
N          280  0    0      0
NEU         84  0    0      1
NONE       147  0    0      2
P          190  0    0     17

### Validation

              precision    recall  f1-score   support

           N       0.39      0.97      0.56        31
         NEU       0.00      0.00      0.00         9
        NONE       0.00      0.00      0.00        16
           P       0.50      0.04      0.08        23

   micro avg       0.39      0.39      0.39        79
   macro avg       0.22      0.25      0.16        79
weighted avg       0.30      0.39      0.24        79

           N   NEU  NONE  P
Pred/True
N          30  0    0     1
NEU         9  0    0     0
NONE       16  0    0     0
P          22  0    0     1

### Fold number: 7. Name: ba107fc3fb354e3d93690607aefc4daf

### Training

              precision    recall  f1-score   support

           N       0.39      1.00      0.57       280
         NEU       0.00      0.00      0.00        85
        NONE       0.00      0.00      0.00       149
           P       0.92      0.05      0.10       207

   micro avg       0.40      0.40      0.40       721
   macro avg       0.33      0.26      0.17       721
weighted avg       0.42      0.40      0.25       721

           N    NEU  NONE  P
Pred/True
N          280  0    0      0
NEU         85  0    0      0
NONE       148  0    0      1
P          196  0    0     11

### Validation

              precision    recall  f1-score   support

           N       0.41      1.00      0.58        31
         NEU       0.00      0.00      0.00         9
        NONE       0.00      0.00      0.00        16
           P       1.00      0.13      0.23        23

   micro avg       0.43      0.43      0.43        79
   macro avg       0.35      0.28      0.20        79
weighted avg       0.45      0.43      0.29        79

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU         9  0    0     0
NONE       16  0    0     0
P          20  0    0     3

### Fold number: 8. Name: d3bd1ce46b2044cba5ba8dec63a389d8

### Training

              precision    recall  f1-score   support

           N       0.40      1.00      0.57       280
         NEU       0.00      0.00      0.00        85
        NONE       0.00      0.00      0.00       149
           P       0.87      0.06      0.12       207

   micro avg       0.41      0.41      0.41       721
   macro avg       0.32      0.27      0.17       721
weighted avg       0.40      0.41      0.25       721

           N    NEU  NONE  P
Pred/True
N          280  0    0      0
NEU         84  0    0      1
NONE       148  0    0      1
P          194  0    0     13

### Validation

              precision    recall  f1-score   support

           N       0.40      1.00      0.57        31
         NEU       0.00      0.00      0.00         9
        NONE       0.00      0.00      0.00        16
           P       1.00      0.04      0.08        23

   micro avg       0.41      0.41      0.41        79
   macro avg       0.35      0.26      0.16        79
weighted avg       0.45      0.41      0.25        79

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU         9  0    0     0
NONE       16  0    0     0
P          22  0    0     1

### Fold number: 9. Name: 8640a735e51b4e398454a2f774493c28

### Training

              precision    recall  f1-score   support

           N       0.39      1.00      0.57       280
         NEU       0.00      0.00      0.00        85
        NONE       0.00      0.00      0.00       149
           P       0.86      0.06      0.11       207

   micro avg       0.40      0.40      0.40       721
   macro avg       0.31      0.26      0.17       721
weighted avg       0.40      0.40      0.25       721

           N    NEU  NONE  P
Pred/True
N          279  0    0      1
NEU         85  0    0      0
NONE       148  0    0      1
P          195  0    0     12

### Validation

              precision    recall  f1-score   support

           N       0.41      1.00      0.58        31
         NEU       0.00      0.00      0.00         9
        NONE       0.00      0.00      0.00        16
           P       0.75      0.13      0.22        23

   micro avg       0.43      0.43      0.43        79
   macro avg       0.29      0.28      0.20        79
weighted avg       0.38      0.43      0.29        79

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU         8  0    0     1
NONE       16  0    0     0
P          20  0    0     3

### Fold number: 10. Name: 2d311b3f160947688c1b23d207086449

### Training

              precision    recall  f1-score   support

           N       0.40      1.00      0.57       280
         NEU       0.00      0.00      0.00        85
        NONE       0.00      0.00      0.00       149
           P       0.81      0.08      0.15       207

   micro avg       0.41      0.41      0.41       721
   macro avg       0.30      0.27      0.18       721
weighted avg       0.39      0.41      0.26       721

           N    NEU  NONE  P
Pred/True
N          279  0    0      1
NEU         84  0    0      1
NONE       147  0    0      2
P          190  0    0     17

### Validation

              precision    recall  f1-score   support

           N       0.39      1.00      0.56        31
         NEU       0.00      0.00      0.00         9
        NONE       0.00      0.00      0.00        16
           P       0.00      0.00      0.00        23

   micro avg       0.39      0.39      0.39        79
   macro avg       0.10      0.25      0.14        79
weighted avg       0.15      0.39      0.22        79

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU         9  0    0     0
NONE       16  0    0     0
P          23  0    0     0

## 2. CorpusFBCR2013.txt.usu.sw.kvs

### Fold number: 1. Name: cd8a01103be24bc09f28c11d9b12c16e

### Training

              precision    recall  f1-score   support

           N       0.40      0.99      0.57       279
         NEU       0.00      0.00      0.00        84
        NONE       0.00      0.00      0.00       148
           P       0.80      0.10      0.17       207

   micro avg       0.41      0.41      0.41       718
   macro avg       0.30      0.27      0.19       718
weighted avg       0.39      0.41      0.27       718

           N    NEU  NONE  P
Pred/True
N          277  0    0      2
NEU         83  0    0      1
NONE       146  0    0      2
P          187  0    0     20

### Validation

              precision    recall  f1-score   support

           N       0.40      1.00      0.57        32
         NEU       0.00      0.00      0.00        10
        NONE       0.00      0.00      0.00        17
           P       0.50      0.04      0.08        23

   micro avg       0.40      0.40      0.40        82
   macro avg       0.23      0.26      0.16        82
weighted avg       0.30      0.40      0.25        82

           N   NEU  NONE  P
Pred/True
N          32  0    0     0
NEU        10  0    0     0
NONE       16  0    0     1
P          22  0    0     1

### Fold number: 2. Name: 962f00fc0fa14820891619855abfbb48

### Training

              precision    recall  f1-score   support

           N       0.40      0.99      0.57       280
         NEU       0.00      0.00      0.00        84
        NONE       0.00      0.00      0.00       148
           P       0.80      0.12      0.20       207

   micro avg       0.42      0.42      0.42       719
   macro avg       0.30      0.28      0.19       719
weighted avg       0.39      0.42      0.28       719

           N    NEU  NONE  P
Pred/True
N          278  0    0      2
NEU         83  0    0      1
NONE       145  0    0      3
P          183  0    0     24

### Validation

              precision    recall  f1-score   support

           N       0.39      1.00      0.56        31
         NEU       0.00      0.00      0.00        10
        NONE       0.00      0.00      0.00        17
           P       1.00      0.04      0.08        23

   micro avg       0.40      0.40      0.40        81
   macro avg       0.35      0.26      0.16        81
weighted avg       0.43      0.40      0.24        81

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU        10  0    0     0
NONE       17  0    0     0
P          22  0    0     1

### Fold number: 3. Name: c066fce92d224166ad04446f960e969a

### Training

              precision    recall  f1-score   support

           N       0.40      0.99      0.57       280
         NEU       0.00      0.00      0.00        84
        NONE       0.00      0.00      0.00       148
           P       0.76      0.06      0.12       207

   micro avg       0.40      0.40      0.40       719
   macro avg       0.29      0.26      0.17       719
weighted avg       0.37      0.40      0.25       719

           N    NEU  NONE  P
Pred/True
N          278  0    0      2
NEU         83  0    0      1
NONE       147  0    0      1
P          194  0    0     13

### Validation

              precision    recall  f1-score   support

           N       0.40      1.00      0.57        31
         NEU       0.00      0.00      0.00        10
        NONE       0.00      0.00      0.00        17
           P       1.00      0.17      0.30        23

   micro avg       0.43      0.43      0.43        81
   macro avg       0.35      0.29      0.22        81
weighted avg       0.44      0.43      0.30        81

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU        10  0    0     0
NONE       17  0    0     0
P          19  0    0     4

### Fold number: 4. Name: 3e142aa5706e4e7981678872fd3929cb

### Training

              precision    recall  f1-score   support

           N       0.40      1.00      0.57       280
         NEU       0.00      0.00      0.00        84
        NONE       0.00      0.00      0.00       148
           P       0.82      0.07      0.12       207

   micro avg       0.41      0.41      0.41       719
   macro avg       0.31      0.27      0.17       719
weighted avg       0.39      0.41      0.26       719

           N    NEU  NONE  P
Pred/True
N          279  0    0      1
NEU         83  0    0      1
NONE       147  0    0      1
P          193  0    0     14

### Validation

              precision    recall  f1-score   support

           N       0.40      1.00      0.57        31
         NEU       0.00      0.00      0.00        10
        NONE       0.00      0.00      0.00        17
           P       1.00      0.17      0.30        23

   micro avg       0.43      0.43      0.43        81
   macro avg       0.35      0.29      0.22        81
weighted avg       0.44      0.43      0.30        81

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU        10  0    0     0
NONE       17  0    0     0
P          19  0    0     4

### Fold number: 5. Name: e31d88e77db446b592c21c0246b9034f

### Training

              precision    recall  f1-score   support

           N       0.40      0.99      0.57       280
         NEU       0.00      0.00      0.00        85
        NONE       0.00      0.00      0.00       148
           P       0.80      0.10      0.17       207

   micro avg       0.41      0.41      0.41       720
   macro avg       0.30      0.27      0.19       720
weighted avg       0.39      0.41      0.27       720

           N    NEU  NONE  P
Pred/True
N          278  0    0      2
NEU         85  0    0      0
NONE       145  0    0      3
P          187  0    0     20

### Validation

              precision    recall  f1-score   support

           N       0.40      1.00      0.57        31
         NEU       0.00      0.00      0.00         9
        NONE       0.00      0.00      0.00        17
           P       0.67      0.09      0.15        23

   micro avg       0.41      0.41      0.41        80
   macro avg       0.27      0.27      0.18        80
weighted avg       0.35      0.41      0.27        80

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU         8  0    0     1
NONE       17  0    0     0
P          21  0    0     2

### Fold number: 6. Name: d6f091a47a1a4532ba4acd5e914011e9

### Training

              precision    recall  f1-score   support

           N       0.40      0.99      0.57       280
         NEU       0.00      0.00      0.00        85
        NONE       0.00      0.00      0.00       149
           P       0.81      0.11      0.19       207

   micro avg       0.42      0.42      0.42       721
   macro avg       0.30      0.27      0.19       721
weighted avg       0.39      0.42      0.28       721

           N    NEU  NONE  P
Pred/True
N          278  0    0      2
NEU         84  0    0      1
NONE       147  0    0      2
P          185  0    0     22

### Validation

              precision    recall  f1-score   support

           N       0.40      1.00      0.57        31
         NEU       0.00      0.00      0.00         9
        NONE       0.00      0.00      0.00        16
           P       0.00      0.00      0.00        23

   micro avg       0.39      0.39      0.39        79
   macro avg       0.10      0.25      0.14        79
weighted avg       0.16      0.39      0.22        79

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU         9  0    0     0
NONE       15  0    0     1
P          23  0    0     0

### Fold number: 7. Name: e4734c2dcd4442ee97009988d83299c1

### Training

              precision    recall  f1-score   support

           N       0.40      0.99      0.57       280
         NEU       0.00      0.00      0.00        85
        NONE       0.00      0.00      0.00       149
           P       0.61      0.10      0.17       207

   micro avg       0.41      0.41      0.41       721
   macro avg       0.25      0.27      0.19       721
weighted avg       0.33      0.41      0.27       721

           N    NEU  NONE  P
Pred/True
N          278  0    0      2
NEU         83  0    0      2
NONE       140  0    0      9
P          187  0    0     20

### Validation

              precision    recall  f1-score   support

           N       0.40      1.00      0.57        31
         NEU       0.00      0.00      0.00         9
        NONE       0.00      0.00      0.00        16
           P       0.50      0.04      0.08        23

   micro avg       0.41      0.41      0.41        79
   macro avg       0.23      0.26      0.16        79
weighted avg       0.30      0.41      0.25        79

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU         9  0    0     0
NONE       15  0    0     1
P          22  0    0     1

### Fold number: 8. Name: 30a0aa1a96454c32af15d6250182bd50

### Training

              precision    recall  f1-score   support

           N       0.41      0.99      0.58       280
         NEU       0.00      0.00      0.00        85
        NONE       0.00      0.00      0.00       149
           P       0.64      0.11      0.19       207

   micro avg       0.42      0.42      0.42       721
   macro avg       0.26      0.28      0.19       721
weighted avg       0.34      0.42      0.28       721

           N    NEU  NONE  P
Pred/True
N          278  0    0      2
NEU         83  0    0      2
NONE       140  0    0      9
P          184  0    0     23

### Validation

              precision    recall  f1-score   support

           N       0.40      1.00      0.57        31
         NEU       0.00      0.00      0.00         9
        NONE       0.00      0.00      0.00        16
           P       0.00      0.00      0.00        23

   micro avg       0.39      0.39      0.39        79
   macro avg       0.10      0.25      0.14        79
weighted avg       0.16      0.39      0.23        79

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU         9  0    0     0
NONE       14  0    0     2
P          23  0    0     0

### Fold number: 9. Name: 3d326efa32134d93b50973a1f39f4173

### Training

              precision    recall  f1-score   support

           N       0.41      1.00      0.58       280
         NEU       0.00      0.00      0.00        85
        NONE       0.00      0.00      0.00       149
           P       0.62      0.10      0.17       207

   micro avg       0.42      0.42      0.42       721
   macro avg       0.26      0.28      0.19       721
weighted avg       0.34      0.42      0.27       721

           N    NEU  NONE  P
Pred/True
N          280  0    0      0
NEU         83  0    0      2
NONE       138  0    0     11
P          186  0    0     21

### Validation

              precision    recall  f1-score   support

           N       0.38      0.94      0.54        31
         NEU       0.00      0.00      0.00         9
        NONE       0.00      0.00      0.00        16
           P       0.33      0.04      0.08        23

   micro avg       0.38      0.38      0.38        79
   macro avg       0.18      0.24      0.15        79
weighted avg       0.25      0.38      0.24        79

           N   NEU  NONE  P
Pred/True
N          29  0    0     2
NEU         9  0    0     0
NONE       16  0    0     0
P          22  0    0     1

### Fold number: 10. Name: d09dbc5980ce46c5af13d3992ea6435d

### Training

              precision    recall  f1-score   support

           N       0.40      0.99      0.57       280
         NEU       0.00      0.00      0.00        85
        NONE       0.00      0.00      0.00       149
           P       0.77      0.08      0.15       207

   micro avg       0.41      0.41      0.41       721
   macro avg       0.29      0.27      0.18       721
weighted avg       0.38      0.41      0.26       721

           N    NEU  NONE  P
Pred/True
N          278  0    0      2
NEU         84  0    0      1
NONE       147  0    0      2
P          190  0    0     17

### Validation

              precision    recall  f1-score   support

           N       0.40      1.00      0.57        31
         NEU       0.00      0.00      0.00         9
        NONE       0.00      0.00      0.00        16
           P       1.00      0.09      0.16        23

   micro avg       0.42      0.42      0.42        79
   macro avg       0.35      0.27      0.18        79
weighted avg       0.45      0.42      0.27        79

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU         9  0    0     0
NONE       16  0    0     0
P          21  0    0     2

## 3. tweets.txt.usu.bw.kvs

### Fold number: 1. Name: f52bbeda12814986b8f42c878800e506

### Training

              precision    recall  f1-score   support

           N       0.41      1.00      0.58       279
         NEU       0.00      0.00      0.00        84
        NONE       0.00      0.00      0.00       148
           P       0.64      0.14      0.22       207

   micro avg       0.43      0.43      0.43       718
   macro avg       0.26      0.28      0.20       718
weighted avg       0.34      0.43      0.29       718

           N    NEU  NONE  P
Pred/True
N          278  0    0      1
NEU         82  0    0      2
NONE       135  0    0     13
P          179  0    0     28

### Validation

              precision    recall  f1-score   support

           N       0.42      1.00      0.59        32
         NEU       0.00      0.00      0.00        10
        NONE       0.00      0.00      0.00        17
           P       1.00      0.22      0.36        23

   micro avg       0.45      0.45      0.45        82
   macro avg       0.35      0.30      0.24        82
weighted avg       0.44      0.45      0.33        82

           N   NEU  NONE  P
Pred/True
N          32  0    0     0
NEU        10  0    0     0
NONE       17  0    0     0
P          18  0    0     5

### Fold number: 2. Name: fe1c93b5907b46e0a8db778063f027c3

### Training

              precision    recall  f1-score   support

           N       0.42      1.00      0.59       280
         NEU       0.00      0.00      0.00        84
        NONE       0.00      0.00      0.00       148
           P       0.73      0.17      0.28       207

   micro avg       0.44      0.44      0.44       719
   macro avg       0.29      0.29      0.22       719
weighted avg       0.37      0.44      0.31       719

           N    NEU  NONE  P
Pred/True
N          279  0    0      1
NEU         83  0    0      1
NONE       137  0    0     11
P          171  0    0     36

### Validation

              precision    recall  f1-score   support

           N       0.41      1.00      0.58        31
         NEU       0.00      0.00      0.00        10
        NONE       0.00      0.00      0.00        17
           P       0.33      0.09      0.14        23

   micro avg       0.41      0.41      0.41        81
   macro avg       0.19      0.27      0.18        81
weighted avg       0.25      0.41      0.26        81

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU         9  0    0     1
NONE       14  0    0     3
P          21  0    0     2

### Fold number: 3. Name: b3a5fc83270947998f9f9bd75e6eadeb

### Training

              precision    recall  f1-score   support

           N       0.42      1.00      0.59       280
         NEU       0.00      0.00      0.00        84
        NONE       0.00      0.00      0.00       148
           P       0.70      0.18      0.29       207

   micro avg       0.44      0.44      0.44       719
   macro avg       0.28      0.30      0.22       719
weighted avg       0.37      0.44      0.31       719

           N    NEU  NONE  P
Pred/True
N          279  0    0      1
NEU         82  0    0      2
NONE       135  0    0     13
P          169  0    0     38

### Validation

              precision    recall  f1-score   support

           N       0.39      1.00      0.56        31
         NEU       0.00      0.00      0.00        10
        NONE       0.00      0.00      0.00        17
           P       1.00      0.04      0.08        23

   micro avg       0.40      0.40      0.40        81
   macro avg       0.35      0.26      0.16        81
weighted avg       0.43      0.40      0.24        81

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU        10  0    0     0
NONE       17  0    0     0
P          22  0    0     1

### Fold number: 4. Name: cb57aff3f06a4c8aa7c7b0c12a4f18dc

### Training

              precision    recall  f1-score   support

           N       0.41      1.00      0.58       280
         NEU       0.00      0.00      0.00        84
        NONE       0.00      0.00      0.00       148
           P       0.73      0.16      0.26       207

   micro avg       0.43      0.43      0.43       719
   macro avg       0.29      0.29      0.21       719
weighted avg       0.37      0.43      0.30       719

           N    NEU  NONE  P
Pred/True
N          279  0    0      1
NEU         83  0    0      1
NONE       138  0    0     10
P          174  0    0     33

### Validation

              precision    recall  f1-score   support

           N       0.41      1.00      0.58        31
         NEU       0.00      0.00      0.00        10
        NONE       0.00      0.00      0.00        17
           P       0.33      0.09      0.14        23

   micro avg       0.41      0.41      0.41        81
   macro avg       0.19      0.27      0.18        81
weighted avg       0.25      0.41      0.26        81

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU         9  0    0     1
NONE       14  0    0     3
P          21  0    0     2

### Fold number: 5. Name: cc1bc6b7bce5469ab3c2d97c94051efc

### Training

              precision    recall  f1-score   support

           N       0.42      1.00      0.59       280
         NEU       0.00      0.00      0.00        85
        NONE       0.00      0.00      0.00       148
           P       0.70      0.17      0.27       207

   micro avg       0.44      0.44      0.44       720
   macro avg       0.28      0.29      0.22       720
weighted avg       0.36      0.44      0.31       720

           N    NEU  NONE  P
Pred/True
N          280  0    0      0
NEU         83  0    0      2
NONE       135  0    0     13
P          172  0    0     35

### Validation

              precision    recall  f1-score   support

           N       0.39      0.97      0.56        31
         NEU       0.00      0.00      0.00         9
        NONE       0.00      0.00      0.00        17
           P       0.50      0.09      0.15        23

   micro avg       0.40      0.40      0.40        80
   macro avg       0.22      0.26      0.18        80
weighted avg       0.30      0.40      0.26        80

           N   NEU  NONE  P
Pred/True
N          30  0    0     1
NEU         9  0    0     0
NONE       16  0    0     1
P          21  0    0     2

### Fold number: 6. Name: 962353b0057e4a8bb1e458f4aa4bce56

### Training

              precision    recall  f1-score   support

           N       0.41      1.00      0.58       280
         NEU       0.00      0.00      0.00        85
        NONE       0.00      0.00      0.00       149
           P       0.70      0.14      0.24       207

   micro avg       0.43      0.43      0.43       721
   macro avg       0.28      0.29      0.21       721
weighted avg       0.36      0.43      0.30       721

           N    NEU  NONE  P
Pred/True
N          279  0    0      1
NEU         83  0    0      2
NONE       139  0    0     10
P          177  0    0     30

### Validation

              precision    recall  f1-score   support

           N       0.42      1.00      0.59        31
         NEU       0.00      0.00      0.00         9
        NONE       0.00      0.00      0.00        16
           P       0.60      0.13      0.21        23

   micro avg       0.43      0.43      0.43        79
   macro avg       0.25      0.28      0.20        79
weighted avg       0.34      0.43      0.29        79

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU         9  0    0     0
NONE       14  0    0     2
P          20  0    0     3

### Fold number: 7. Name: 9c9f0bbce272493eb36517335b399a17

### Training

              precision    recall  f1-score   support

           N       0.42      1.00      0.59       280
         NEU       0.00      0.00      0.00        85
        NONE       0.00      0.00      0.00       149
           P       0.69      0.17      0.27       207

   micro avg       0.44      0.44      0.44       721
   macro avg       0.28      0.29      0.21       721
weighted avg       0.36      0.44      0.31       721

           N    NEU  NONE  P
Pred/True
N          279  0    0      1
NEU         83  0    0      2
NONE       136  0    0     13
P          172  0    0     35

### Validation

              precision    recall  f1-score   support

           N       0.41      1.00      0.58        31
         NEU       0.00      0.00      0.00         9
        NONE       0.00      0.00      0.00        16
           P       1.00      0.13      0.23        23

   micro avg       0.43      0.43      0.43        79
   macro avg       0.35      0.28      0.20        79
weighted avg       0.45      0.43      0.29        79

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU         9  0    0     0
NONE       16  0    0     0
P          20  0    0     3

### Fold number: 8. Name: d9ee598fe40e4f6b8c90fb6652f585f2

### Training

              precision    recall  f1-score   support

           N       0.42      1.00      0.59       280
         NEU       0.00      0.00      0.00        85
        NONE       0.00      0.00      0.00       149
           P       0.69      0.16      0.27       207

   micro avg       0.43      0.43      0.43       721
   macro avg       0.28      0.29      0.21       721
weighted avg       0.36      0.43      0.30       721

           N    NEU  NONE  P
Pred/True
N          279  0    0      1
NEU         83  0    0      2
NONE       137  0    0     12
P          173  0    0     34

### Validation

              precision    recall  f1-score   support

           N       0.41      1.00      0.58        31
         NEU       0.00      0.00      0.00         9
        NONE       0.00      0.00      0.00        16
           P       0.75      0.13      0.22        23

   micro avg       0.43      0.43      0.43        79
   macro avg       0.29      0.28      0.20        79
weighted avg       0.38      0.43      0.29        79

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU         9  0    0     0
NONE       15  0    0     1
P          20  0    0     3

### Fold number: 9. Name: 2344bff3d821491589f919a09382b481

### Training

              precision    recall  f1-score   support

           N       0.42      1.00      0.59       280
         NEU       0.00      0.00      0.00        85
        NONE       0.00      0.00      0.00       149
           P       0.71      0.17      0.27       207

   micro avg       0.44      0.44      0.44       721
   macro avg       0.28      0.29      0.21       721
weighted avg       0.37      0.44      0.31       721

           N    NEU  NONE  P
Pred/True
N          279  0    0      1
NEU         83  0    0      2
NONE       138  0    0     11
P          172  0    0     35

### Validation

              precision    recall  f1-score   support

           N       0.42      1.00      0.60        31
         NEU       0.00      0.00      0.00         9
        NONE       0.00      0.00      0.00        16
           P       0.67      0.17      0.28        23

   micro avg       0.44      0.44      0.44        79
   macro avg       0.27      0.29      0.22        79
weighted avg       0.36      0.44      0.31        79

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU         9  0    0     0
NONE       14  0    0     2
P          19  0    0     4

### Fold number: 10. Name: 8e1ae6bec16e4818ab6514cb0f380f70

### Training

              precision    recall  f1-score   support

           N       0.41      1.00      0.58       280
         NEU       0.00      0.00      0.00        85
        NONE       0.00      0.00      0.00       149
           P       0.67      0.15      0.25       207

   micro avg       0.43      0.43      0.43       721
   macro avg       0.27      0.29      0.21       721
weighted avg       0.35      0.43      0.30       721

           N    NEU  NONE  P
Pred/True
N          279  0    0      1
NEU         83  0    0      2
NONE       137  0    0     12
P          176  0    0     31

### Validation

              precision    recall  f1-score   support

           N       0.43      1.00      0.60        31
         NEU       0.00      0.00      0.00         9
        NONE       0.00      0.00      0.00        16
           P       0.86      0.26      0.40        23

   micro avg       0.47      0.47      0.47        79
   macro avg       0.32      0.32      0.25        79
weighted avg       0.42      0.47      0.35        79

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU         9  0    0     0
NONE       15  0    0     1
P          17  0    0     6

## 4. tweets.txt.usu.sw.kvs

### Fold number: 1. Name: 21148407fad744fe99a2ebf7b1d943f0

### Training

              precision    recall  f1-score   support

           N       0.42      1.00      0.59       279
         NEU       0.00      0.00      0.00        84
        NONE       0.00      0.00      0.00       148
           P       0.69      0.17      0.28       207

   micro avg       0.44      0.44      0.44       718
   macro avg       0.28      0.29      0.22       718
weighted avg       0.36      0.44      0.31       718

           N    NEU  NONE  P
Pred/True
N          278  0    0      1
NEU         82  0    0      2
NONE       135  0    0     13
P          171  0    0     36

### Validation

              precision    recall  f1-score   support

           N       0.42      1.00      0.59        32
         NEU       0.00      0.00      0.00        10
        NONE       0.00      0.00      0.00        17
           P       0.80      0.17      0.29        23

   micro avg       0.44      0.44      0.44        82
   macro avg       0.30      0.29      0.22        82
weighted avg       0.39      0.44      0.31        82

           N   NEU  NONE  P
Pred/True
N          32  0    0     0
NEU        10  0    0     0
NONE       16  0    0     1
P          19  0    0     4

### Fold number: 2. Name: b732ca89644a4b2bac24a16b6c23e8f6

### Training

              precision    recall  f1-score   support

           N       0.41      1.00      0.58       280
         NEU       0.00      0.00      0.00        84
        NONE       0.00      0.00      0.00       148
           P       0.66      0.14      0.23       207

   micro avg       0.43      0.43      0.43       719
   macro avg       0.27      0.28      0.20       719
weighted avg       0.35      0.43      0.29       719

           N    NEU  NONE  P
Pred/True
N          279  0    0      1
NEU         82  0    0      2
NONE       136  0    0     12
P          178  0    0     29

### Validation

              precision    recall  f1-score   support

           N       0.40      1.00      0.57        31
         NEU       0.00      0.00      0.00        10
        NONE       0.00      0.00      0.00        17
           P       1.00      0.13      0.23        23

   micro avg       0.42      0.42      0.42        81
   macro avg       0.35      0.28      0.20        81
weighted avg       0.44      0.42      0.28        81

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU        10  0    0     0
NONE       17  0    0     0
P          20  0    0     3

### Fold number: 3. Name: 50410968467f4e5cac451b7d5c68c4e6

### Training

              precision    recall  f1-score   support

           N       0.42      1.00      0.59       280
         NEU       0.00      0.00      0.00        84
        NONE       0.00      0.00      0.00       148
           P       0.72      0.17      0.28       207

   micro avg       0.44      0.44      0.44       719
   macro avg       0.28      0.29      0.22       719
weighted avg       0.37      0.44      0.31       719

           N    NEU  NONE  P
Pred/True
N          279  0    0      1
NEU         82  0    0      2
NONE       137  0    0     11
P          171  0    0     36

### Validation

              precision    recall  f1-score   support

           N       0.41      1.00      0.58        31
         NEU       0.00      0.00      0.00        10
        NONE       0.00      0.00      0.00        17
           P       0.50      0.13      0.21        23

   micro avg       0.42      0.42      0.42        81
   macro avg       0.23      0.28      0.20        81
weighted avg       0.30      0.42      0.28        81

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU        10  0    0     0
NONE       14  0    0     3
P          20  0    0     3

### Fold number: 4. Name: 1a8c8d4a64864a26b19c86afd5e0e77b

### Training

              precision    recall  f1-score   support

           N       0.42      1.00      0.59       280
         NEU       0.00      0.00      0.00        84
        NONE       0.00      0.00      0.00       148
           P       0.69      0.16      0.26       207

   micro avg       0.43      0.43      0.43       719
   macro avg       0.28      0.29      0.21       719
weighted avg       0.36      0.43      0.30       719

           N    NEU  NONE  P
Pred/True
N          279  0    0      1
NEU         83  0    0      1
NONE       135  0    0     13
P          174  0    0     33

### Validation

              precision    recall  f1-score   support

           N       0.40      1.00      0.57        31
         NEU       0.00      0.00      0.00        10
        NONE       0.00      0.00      0.00        17
           P       0.75      0.13      0.22        23

   micro avg       0.42      0.42      0.42        81
   macro avg       0.29      0.28      0.20        81
weighted avg       0.37      0.42      0.28        81

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU         9  0    0     1
NONE       17  0    0     0
P          20  0    0     3

### Fold number: 5. Name: fd3b843fe86243b6896602bb37090a7a

### Training

              precision    recall  f1-score   support

           N       0.42      1.00      0.59       280
         NEU       0.00      0.00      0.00        85
        NONE       0.00      0.00      0.00       148
           P       0.70      0.17      0.27       207

   micro avg       0.44      0.44      0.44       720
   macro avg       0.28      0.29      0.21       720
weighted avg       0.36      0.44      0.31       720

           N    NEU  NONE  P
Pred/True
N          279  0    0      1
NEU         84  0    0      1
NONE       135  0    0     13
P          172  0    0     35

### Validation

              precision    recall  f1-score   support

           N       0.40      1.00      0.57        31
         NEU       0.00      0.00      0.00         9
        NONE       0.00      0.00      0.00        17
           P       0.33      0.04      0.08        23

   micro avg       0.40      0.40      0.40        80
   macro avg       0.18      0.26      0.16        80
weighted avg       0.25      0.40      0.24        80

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU         8  0    0     1
NONE       16  0    0     1
P          22  0    0     1

### Fold number: 6. Name: 4b17bc4dcb3a457bb4a018347f060c63

### Training

              precision    recall  f1-score   support

           N       0.41      1.00      0.59       280
         NEU       0.00      0.00      0.00        85
        NONE       0.00      0.00      0.00       149
           P       0.70      0.15      0.25       207

   micro avg       0.43      0.43      0.43       721
   macro avg       0.28      0.29      0.21       721
weighted avg       0.36      0.43      0.30       721

           N    NEU  NONE  P
Pred/True
N          280  0    0      0
NEU         83  0    0      2
NONE       137  0    0     12
P          175  0    0     32

### Validation

              precision    recall  f1-score   support

           N       0.42      0.97      0.59        31
         NEU       0.00      0.00      0.00         9
        NONE       0.00      0.00      0.00        16
           P       0.75      0.26      0.39        23

   micro avg       0.46      0.46      0.46        79
   macro avg       0.29      0.31      0.24        79
weighted avg       0.38      0.46      0.34        79

           N   NEU  NONE  P
Pred/True
N          30  0    0     1
NEU         9  0    0     0
NONE       15  0    0     1
P          17  0    0     6

### Fold number: 7. Name: d7cf7e652b3a4dc6960fcc4a8b391f3b

### Training

              precision    recall  f1-score   support

           N       0.41      1.00      0.58       280
         NEU       0.00      0.00      0.00        85
        NONE       0.00      0.00      0.00       149
           P       0.72      0.16      0.26       207

   micro avg       0.43      0.43      0.43       721
   macro avg       0.28      0.29      0.21       721
weighted avg       0.37      0.43      0.30       721

           N    NEU  NONE  P
Pred/True
N          279  0    0      1
NEU         83  0    0      2
NONE       139  0    0     10
P          174  0    0     33

### Validation

              precision    recall  f1-score   support

           N       0.44      1.00      0.61        31
         NEU       0.00      0.00      0.00         9
        NONE       0.00      0.00      0.00        16
           P       0.50      0.17      0.26        23

   micro avg       0.44      0.44      0.44        79
   macro avg       0.23      0.29      0.22        79
weighted avg       0.32      0.44      0.31        79

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU         9  0    0     0
NONE       12  0    0     4
P          19  0    0     4

### Fold number: 8. Name: b350ab7cd8f249688697152ece68800e

### Training

              precision    recall  f1-score   support

           N       0.42      1.00      0.59       280
         NEU       0.00      0.00      0.00        85
        NONE       0.00      0.00      0.00       149
           P       0.69      0.16      0.27       207

   micro avg       0.43      0.43      0.43       721
   macro avg       0.28      0.29      0.21       721
weighted avg       0.36      0.43      0.30       721

           N    NEU  NONE  P
Pred/True
N          279  0    0      1
NEU         83  0    0      2
NONE       137  0    0     12
P          173  0    0     34

### Validation

              precision    recall  f1-score   support

           N       0.41      1.00      0.58        31
         NEU       0.00      0.00      0.00         9
        NONE       0.00      0.00      0.00        16
           P       0.75      0.13      0.22        23

   micro avg       0.43      0.43      0.43        79
   macro avg       0.29      0.28      0.20        79
weighted avg       0.38      0.43      0.29        79

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU         9  0    0     0
NONE       15  0    0     1
P          20  0    0     3

### Fold number: 9. Name: 92e41ab50ac640a8bc566e035dc46da7

### Training

              precision    recall  f1-score   support

           N       0.42      1.00      0.59       280
         NEU       0.00      0.00      0.00        85
        NONE       0.00      0.00      0.00       149
           P       0.72      0.17      0.28       207

   micro avg       0.44      0.44      0.44       721
   macro avg       0.28      0.29      0.22       721
weighted avg       0.37      0.44      0.31       721

           N    NEU  NONE  P
Pred/True
N          279  0    0      1
NEU         83  0    0      2
NONE       138  0    0     11
P          171  0    0     36

### Validation

              precision    recall  f1-score   support

           N       0.42      1.00      0.59        31
         NEU       0.00      0.00      0.00         9
        NONE       0.00      0.00      0.00        16
           P       0.60      0.13      0.21        23

   micro avg       0.43      0.43      0.43        79
   macro avg       0.25      0.28      0.20        79
weighted avg       0.34      0.43      0.29        79

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU         9  0    0     0
NONE       14  0    0     2
P          20  0    0     3

### Fold number: 10. Name: bf677336f9344e15a629ffef001784b3

### Training

              precision    recall  f1-score   support

           N       0.42      1.00      0.59       280
         NEU       0.00      0.00      0.00        85
        NONE       0.00      0.00      0.00       149
           P       0.70      0.17      0.27       207

   micro avg       0.44      0.44      0.44       721
   macro avg       0.28      0.29      0.21       721
weighted avg       0.36      0.44      0.31       721

           N    NEU  NONE  P
Pred/True
N          279  0    0      1
NEU         83  0    0      2
NONE       137  0    0     12
P          172  0    0     35

### Validation

              precision    recall  f1-score   support

           N       0.41      1.00      0.58        31
         NEU       0.00      0.00      0.00         9
        NONE       0.00      0.00      0.00        16
           P       0.67      0.09      0.15        23

   micro avg       0.42      0.42      0.42        79
   macro avg       0.27      0.27      0.18        79
weighted avg       0.35      0.42      0.27        79

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU         9  0    0     0
NONE       15  0    0     1
P          21  0    0     2

## 5. SBW-vectors-300-min5.bin

### Fold number: 1. Name: b4d7f3e155074ede8236c260442a44fb

### Training

              precision    recall  f1-score   support

           N       0.40      1.00      0.57       279
         NEU       0.00      0.00      0.00        84
        NONE       0.00      0.00      0.00       148
           P       0.86      0.09      0.16       207

   micro avg       0.41      0.41      0.41       718
   macro avg       0.31      0.27      0.18       718
weighted avg       0.40      0.41      0.27       718

           N    NEU  NONE  P
Pred/True
N          279  0    0      0
NEU         83  0    0      1
NONE       146  0    0      2
P          189  0    0     18

### Validation

              precision    recall  f1-score   support

           N       0.41      1.00      0.58        32
         NEU       0.00      0.00      0.00        10
        NONE       0.00      0.00      0.00        17
           P       0.33      0.04      0.08        23

   micro avg       0.40      0.40      0.40        82
   macro avg       0.18      0.26      0.16        82
weighted avg       0.25      0.40      0.25        82

           N   NEU  NONE  P
Pred/True
N          32  0    0     0
NEU        10  0    0     0
NONE       15  0    0     2
P          22  0    0     1

### Fold number: 2. Name: 3ee072be04dd41b89376b75103695eab

### Training

              precision    recall  f1-score   support

           N       0.40      1.00      0.57       280
         NEU       0.00      0.00      0.00        84
        NONE       0.00      0.00      0.00       148
           P       0.80      0.08      0.14       207

   micro avg       0.41      0.41      0.41       719
   macro avg       0.30      0.27      0.18       719
weighted avg       0.39      0.41      0.26       719

           N    NEU  NONE  P
Pred/True
N          280  0    0      0
NEU         83  0    0      1
NONE       145  0    0      3
P          191  0    0     16

### Validation

              precision    recall  f1-score   support

           N       0.38      1.00      0.55        31
         NEU       0.00      0.00      0.00        10
        NONE       0.00      0.00      0.00        17
           P       0.00      0.00      0.00        23

   micro avg       0.38      0.38      0.38        81
   macro avg       0.10      0.25      0.14        81
weighted avg       0.15      0.38      0.21        81

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU        10  0    0     0
NONE       17  0    0     0
P          23  0    0     0

### Fold number: 3. Name: ace7847716f74ecbbb7182ffb74250c1

### Training

              precision    recall  f1-score   support

           N       0.40      1.00      0.58       280
         NEU       0.00      0.00      0.00        84
        NONE       0.00      0.00      0.00       148
           P       0.81      0.10      0.18       207

   micro avg       0.42      0.42      0.42       719
   macro avg       0.30      0.28      0.19       719
weighted avg       0.39      0.42      0.28       719

           N    NEU  NONE  P
Pred/True
N          280  0    0      0
NEU         82  0    0      2
NONE       145  0    0      3
P          186  0    0     21

### Validation

              precision    recall  f1-score   support

           N       0.38      1.00      0.55        31
         NEU       0.00      0.00      0.00        10
        NONE       0.00      0.00      0.00        17
           P       0.00      0.00      0.00        23

   micro avg       0.38      0.38      0.38        81
   macro avg       0.10      0.25      0.14        81
weighted avg       0.15      0.38      0.21        81

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU        10  0    0     0
NONE       17  0    0     0
P          23  0    0     0

### Fold number: 4. Name: 50152a64ef6b4541b6b787043d4399d4

### Training

              precision    recall  f1-score   support

           N       0.40      1.00      0.57       280
         NEU       0.00      0.00      0.00        84
        NONE       0.00      0.00      0.00       148
           P       0.88      0.07      0.13       207

   micro avg       0.41      0.41      0.41       719
   macro avg       0.32      0.27      0.17       719
weighted avg       0.41      0.41      0.26       719

           N    NEU  NONE  P
Pred/True
N          280  0    0      0
NEU         83  0    0      1
NONE       147  0    0      1
P          193  0    0     14

### Validation

              precision    recall  f1-score   support

           N       0.40      1.00      0.57        31
         NEU       0.00      0.00      0.00        10
        NONE       0.00      0.00      0.00        17
           P       0.67      0.09      0.15        23

   micro avg       0.41      0.41      0.41        81
   macro avg       0.27      0.27      0.18        81
weighted avg       0.34      0.41      0.26        81

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU        10  0    0     0
NONE       16  0    0     1
P          21  0    0     2

### Fold number: 5. Name: e7b0ddcc37574967b3f76df4f4dc85ab

### Training

              precision    recall  f1-score   support

           N       0.40      1.00      0.57       280
         NEU       0.00      0.00      0.00        85
        NONE       0.00      0.00      0.00       148
           P       0.80      0.10      0.17       207

   micro avg       0.42      0.42      0.42       720
   macro avg       0.30      0.27      0.19       720
weighted avg       0.39      0.42      0.27       720

           N    NEU  NONE  P
Pred/True
N          280  0    0      0
NEU         84  0    0      1
NONE       144  0    0      4
P          187  0    0     20

### Validation

              precision    recall  f1-score   support

           N       0.39      1.00      0.56        31
         NEU       0.00      0.00      0.00         9
        NONE       0.00      0.00      0.00        17
           P       1.00      0.04      0.08        23

   micro avg       0.40      0.40      0.40        80
   macro avg       0.35      0.26      0.16        80
weighted avg       0.44      0.40      0.24        80

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU         9  0    0     0
NONE       17  0    0     0
P          22  0    0     1

### Fold number: 6. Name: 722a8c988bb845dc8b7116bc78744ed4

### Training

              precision    recall  f1-score   support

           N       0.40      1.00      0.57       280
         NEU       0.00      0.00      0.00        85
        NONE       0.00      0.00      0.00       149
           P       0.93      0.07      0.13       207

   micro avg       0.41      0.41      0.41       721
   macro avg       0.33      0.27      0.17       721
weighted avg       0.42      0.41      0.26       721

           N    NEU  NONE  P
Pred/True
N          280  0    0      0
NEU         85  0    0      0
NONE       148  0    0      1
P          193  0    0     14

### Validation

              precision    recall  f1-score   support

           N       0.40      1.00      0.57        31
         NEU       0.00      0.00      0.00         9
        NONE       0.00      0.00      0.00        16
           P       0.50      0.04      0.08        23

   micro avg       0.41      0.41      0.41        79
   macro avg       0.23      0.26      0.16        79
weighted avg       0.30      0.41      0.25        79

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU         8  0    0     1
NONE       16  0    0     0
P          22  0    0     1

### Fold number: 7. Name: 7b0b85940ec84ed48662c39dd763303d

### Training

              precision    recall  f1-score   support

           N       0.39      1.00      0.56       280
         NEU       0.00      0.00      0.00        85
        NONE       0.00      0.00      0.00       149
           P       1.00      0.03      0.07       207

   micro avg       0.40      0.40      0.40       721
   macro avg       0.35      0.26      0.16       721
weighted avg       0.44      0.40      0.24       721

           N    NEU  NONE  P
Pred/True
N          280  0    0     0
NEU         85  0    0     0
NONE       149  0    0     0
P          200  0    0     7

### Validation

              precision    recall  f1-score   support

           N       0.41      1.00      0.58        31
         NEU       0.00      0.00      0.00         9
        NONE       0.00      0.00      0.00        16
           P       1.00      0.13      0.23        23

   micro avg       0.43      0.43      0.43        79
   macro avg       0.35      0.28      0.20        79
weighted avg       0.45      0.43      0.29        79

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU         9  0    0     0
NONE       16  0    0     0
P          20  0    0     3

### Fold number: 8. Name: 3423c78b96394098ae617cb6c1584333

### Training

              precision    recall  f1-score   support

           N       0.40      1.00      0.57       280
         NEU       0.00      0.00      0.00        85
        NONE       0.00      0.00      0.00       149
           P       0.85      0.05      0.10       207

   micro avg       0.40      0.40      0.40       721
   macro avg       0.31      0.26      0.17       721
weighted avg       0.40      0.40      0.25       721

           N    NEU  NONE  P
Pred/True
N          280  0    0      0
NEU         84  0    0      1
NONE       148  0    0      1
P          196  0    0     11

### Validation

              precision    recall  f1-score   support

           N       0.41      1.00      0.58        31
         NEU       0.00      0.00      0.00         9
        NONE       0.00      0.00      0.00        16
           P       0.67      0.09      0.15        23

   micro avg       0.42      0.42      0.42        79
   macro avg       0.27      0.27      0.18        79
weighted avg       0.35      0.42      0.27        79

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU         9  0    0     0
NONE       15  0    0     1
P          21  0    0     2

### Fold number: 9. Name: db7b6011745248518fc9615b62511724

### Training

              precision    recall  f1-score   support

           N       0.40      1.00      0.57       280
         NEU       0.00      0.00      0.00        85
        NONE       0.00      0.00      0.00       149
           P       0.86      0.09      0.16       207

   micro avg       0.41      0.41      0.41       721
   macro avg       0.31      0.27      0.18       721
weighted avg       0.40      0.41      0.27       721

           N    NEU  NONE  P
Pred/True
N          280  0    0      0
NEU         84  0    0      1
NONE       147  0    0      2
P          189  0    0     18

### Validation

              precision    recall  f1-score   support

           N       0.40      1.00      0.57        31
         NEU       0.00      0.00      0.00         9
        NONE       0.00      0.00      0.00        16
           P       1.00      0.04      0.08        23

   micro avg       0.41      0.41      0.41        79
   macro avg       0.35      0.26      0.16        79
weighted avg       0.45      0.41      0.25        79

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU         9  0    0     0
NONE       16  0    0     0
P          22  0    0     1

### Fold number: 10. Name: d79093221ccf430fa22e633855f5de6e

### Training

              precision    recall  f1-score   support

           N       0.40      1.00      0.57       280
         NEU       0.00      0.00      0.00        85
        NONE       0.00      0.00      0.00       149
           P       0.77      0.10      0.17       207

   micro avg       0.42      0.42      0.42       721
   macro avg       0.29      0.27      0.19       721
weighted avg       0.38      0.42      0.27       721

           N    NEU  NONE  P
Pred/True
N          280  0    0      0
NEU         83  0    0      2
NONE       145  0    0      4
P          187  0    0     20

### Validation

              precision    recall  f1-score   support

           N       0.39      1.00      0.56        31
         NEU       0.00      0.00      0.00         9
        NONE       0.00      0.00      0.00        16
           P       0.00      0.00      0.00        23

   micro avg       0.39      0.39      0.39        79
   macro avg       0.10      0.25      0.14        79
weighted avg       0.15      0.39      0.22        79

           N   NEU  NONE  P
Pred/True
N          31  0    0     0
NEU         9  0    0     0
NONE       16  0    0     0
P          23  0    0     0