In [40]:
import sys
import os
os.chdir(os.path.abspath("../../../"))
import ipywidgets as widgets
from ipywidgets import interact, interactive, fixed, interact_manual, HBox
from IPython.display import display, Markdown
import pandas as pd
pd.options.display.float_format = '{:,.3f}'.format

In [41]:
from usure.preprocessing.core import Corpus, CorpusRep
from usure.preprocessing.infrastructure import FileCorpusRep, StopwordsRep, EmoticonRep
import usure.common.logging as usurelogging
from usure.config import config

In [42]:
#config.set_to_test_mode()
corpus_rep = FileCorpusRep(config.unpreprocessed)
pre_corpus_rep = FileCorpusRep(config.preprocessed)

In [47]:
def describe_corpus(corpus):
    display(Markdown(f"### {corpus.name}"))
    corpus = list(corpus)
    df = pd.DataFrame({"text":corpus})
    df["length"] = df["text"].apply(lambda text: len(str.split(text)))
    display(df.describe())

In [50]:
get_alls = [corpus_rep.get_all, pre_corpus_rep.get_all]
for get_all in get_alls:
    for corpus in get_all():
        describe_corpus(corpus)

### CorpusFBCR2013.txt

             length
count 1,945,250.000
mean         19.588
std          24.792
min           0.000
25%           6.000
50%          12.000
75%          24.000
max       1,198.000

### tweets.txt

              length
count 35,000,007.000
mean          10.022
std            6.029
min            1.000
25%            5.000
50%            9.000
75%           14.000
max           70.000

### CorpusFBCR2013.txt.usu

             length
count 1,872,621.000
mean          8.018
std           9.527
min           1.000
25%           3.000
50%           5.000
75%          10.000
max         648.000

### tweets.txt.usu

              length
count 33,973,823.000
mean           4.049
std            2.540
min            1.000
25%            2.000
50%            3.000
75%            5.000
max           47.000